<ng-template [ngIf]="listeSediNavbarLoaded$ | async">
    <nav class="navbar navbar-expand-lg bg-navbar text-light">
        <div class="clearfix w-100">
            <!-- Zona Sinistra -->
            <div class="float-left">
                <div class="clearfix">
                    <!-- Bottoni Sinistra -->
                    <div class="float-left mr-5">
                        <button class="btn btn-light mr-2" (click)="onToggleSidebar()">
                            <i class="fas fa-bars"></i>
                        </button>
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Vai alla lista Chiamate/Interventi"
                                placement="right"
                                [routerLink]="['/' + RoutesPath.Home]"
                                [class.btn-nav-selected]="!(mezziInServizioStatus$ | async) && !(schedeContattoStatus$ | async) && !(codaChiamateStatus$ | async) && url === '/home'"
                                (click)="onChiamateInterventi()">
                            <i class="fas fa-home"></i>
                        </button>
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Visualizza Mezzi in Servizio"
                                placement="right"
                                [class.cursor-not-allowed]="disabledMezziInServizio"
                                [class.btn-nav-selected]="(mezziInServizioStatus$ | async) && url === '/home'"
                                [disabled]="disabledMezziInServizio"
                                (click)="toggleMezziInSerivizo()">
                            <i class="fas fa-truck"></i>
                        </button>
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Visualizza Coda Chiamate"
                                placement="right"
                                [class.btn-nav-selected]="(codaChiamateStatus$ | async) && url === '/home'"
                                (click)="toggleCodaChiamate()">
                            <i class="fas fa-phone mr-1"></i>
                            <i class="fas fa-list"></i>
                        </button>
                    </div>
                    <!-- Treeview -->
                    <ng-template [ngIf]="listeSediNavbarLoaded$ | async">
                        <div class="float-left mr-5">
                            <app-unita-operativa [colorButton]="colorButtonUnitaOperativa"
                                                 [cache]="true">
                            </app-unita-operativa>
                        </div>
                    </ng-template>
                    <!-- Turno -->
                    <div class="float-left mr-5">
                        <app-turno [turno]="turnoCalendario" [turnoExtra]="turnoExtra"></app-turno>
                    </div>
                    <!-- Data/Ora -->
                    <div class="float-left mr-5">
                        <app-clock [time]="time"></app-clock>
                    </div>
                </div>
            </div>
            <!-- Zona Destra -->
            <div class="float-right">
                <div class="clearfix">
                    <!-- Operatore e Bottono Destra -->
                    <div class="float-right">
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Visualizza Trasferimenti Chiamate"
                                [routerLink]="['/' + RoutesPath.TrasferimentoChiamata]"
                                [class.btn-nav-selected]="url === '/trasferimento-chiamata'"
                                [routerLinkActive]="['btn-light-nav', 'text-dark']">
                            <i class="fas fa-exchange"></i>
                        </button>
                        <button class="btn btn-light"
                                ngbTooltip="Visualizza Rubrica"
                                [routerLink]="['/' + RoutesPath.Rubrica]"
                                [class.btn-nav-selected]="url === '/rubrica' || url === '/pos'"
                                [routerLinkActive]="['btn-light-nav', 'text-dark']">
                            <i class="fas fa-address-book"></i>
                        </button>
                        <app-notifiche [listaNotifiche]="listaNotifiche$ | async"
                                       [nuoveNotifiche]="nuoveNotifiche$ | async"
                                       (notificheLette)="setNotificheLette()">
                        </app-notifiche>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</ng-template>
