
.btn-view-mode-on {
  background-color: #bb8961 !important;
  color: #fff !important;
}

.btn-view-mode-off {
  background-color: #fff;
  color: #bb8961;
}

.btn-sun-border {
  border: 1px solid #c4c4c4;
  border-right: 0;
  border-radius: 12px 0 0 12px;
}

.btn-moon-border {
  border: 1px solid #c4c4c4;
  border-right: 0;
  border-radius: 0 12px 12px 0;
}
