<ng-template [ngIf]="listeSediNavbarLoaded$ | async">
    <nav class="navbar navbar-expand-lg bg-navbar text-light">
        <div class="clearfix w-100">
            <div class="row">
                <!-- Zona Sinistra -->
                <div [class.col-8]="!doubleMonitor"
                     [class.col-4]="doubleMonitor">
                    <div class="clearfix">
                        <!-- Bottoni Sinistra -->
                        <div class="float-left mr-5">
                            <button class="btn btn-light mr-2" (click)="onToggleSidebar()">
                                <i class="fas fa-bars"></i>
                            </button>
                            <button class="btn btn-light mr-2"
                                    ngbTooltip="Vai alla lista Chiamate/Interventi"
                                    placement="right"
                                    [routerLink]="['/' + RoutesPath.Home]"
                                    [class.btn-nav-selected]="!(colorButtonView?.backupViewComponent?.view?.mezziInServizio?.active && (mapsIsActive$ | async)) && !(mezziInServizioStatus$ | async) && !(schedeContattoStatus$ | async) && !(codaChiamateStatus$ | async) && url === '/home'"
                                    (click)="onChiamateInterventi()">
                                <i class="fas fa-home"></i>
                            </button>
                            <button class="btn btn-light mr-2"
                                    ngbTooltip="Visualizza Mezzi in Servizio"
                                    placement="right"
                                    [class.btn-nav-selected]="((mezziInServizioStatus$ | async) || (colorButtonView?.backupViewComponent?.view?.mezziInServizio?.active && (mapsIsActive$ | async)))&& url === '/home'"
                                    [class.cursor-not-allowed]="disabledMezziInServizio"
                                    [disabled]="disabledMezziInServizio"
                                    [disableTooltip]="disabledMezziInServizio"
                                    (click)="toggleMezziInSerivizo()">
                                <i class="fas fa-truck"></i>
                            </button>
                            <button class="btn btn-light mr-2"
                                    ngbTooltip="Visualizza Coda Chiamate"
                                    placement="right"
                                    [class.btn-nav-selected]="(codaChiamateStatus$ | async) && url === '/home'"
                                    (click)="toggleCodaChiamate()">
                                <i class="fas fa-phone-alt mr-1"></i>
                                <i class="fas fa-list"></i>
                            </button>
                        </div>
                        <!-- Treeview -->
                        <ng-template [ngIf]="listeSediNavbarLoaded$ | async">
                            <div class="float-left mr-5">
                                <app-unita-operativa [colorButton]="colorButtonUnitaOperativa"
                                                     [cache]="true">
                                </app-unita-operativa>
                            </div>
                        </ng-template>
                        <!-- Turno -->
                        <div class="float-left mr-5 d-inline-flex">
                            <app-turno [turno]="turnoCalendario" [turnoExtra]="turnoExtra"></app-turno>
                            <!-- Countdown fine turno -->
                            <div class="ml-2 py-2" style="max-width: 50px; min-width: 50px">
                            <span *ngIf="(minutiCambioTurno >= 0) && (secondiCambioTurno >= 0)"
                                  ngbTooltip="Tempo rimanente al cambio turno" placement="bottom">
                                {{minutiCambioTurno}}:{{secondiCambioTurno}}</span>
                            </div>
                        </div>
                        <!-- Data/Ora -->
                        <div class="float-left mr-5">
                            <app-clock [time]="time"></app-clock>
                        </div>
                    </div>
                </div>
                <!-- Zona Destra -->
                <div [class.col-4]="!doubleMonitor"
                     [class.col-2]="doubleMonitor">
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Visualizza Gestione Emergenze"
                                [routerLink]="['/' + RoutesPath.ZoneEmergenza]"
                                [class.btn-nav-selected]="url.indexOf('/zone-emergenza') !== -1"
                                [routerLinkActive]="['btn-light-nav', 'text-dark']"
                                [class.cursor-not-allowed]="disabledZoneEmergenza"
                                [disabled]="disabledZoneEmergenza"
                                [disableTooltip]="disabledZoneEmergenza">
                            <i class="fas fa-exclamation-triangle"></i>
                        </button>
                        <button class="btn btn-light mr-2"
                                ngbTooltip="Visualizza Rubrica"
                                [routerLink]="['/' + RoutesPath.Rubrica]"
                                [class.btn-nav-selected]="url === '/rubrica' || url === '/pos'"
                                [routerLinkActive]="['btn-light-nav', 'text-dark']">
                            <i class="fas fa-address-book"></i>
                        </button>
                        <app-notifiche [listaNotifiche]="listaNotifiche$ | async"
                                       [nuoveNotifiche]="nuoveNotifiche$ | async"
                                       [nightMode]="nightMode"
                                       (notificheLette)="setNotificheLette()"
                                       (notificaSelezionata)="onNotificaSelezionata($event)">
                        </app-notifiche>
                        <i class="fas fa-question-circle cursor-pointer"
                           ngbTooltip="Visualizza Manuale Utente"
                           placement="left"
                           (click)="goToManuale()">
                        </i>
                    </div>
                </div>
                <div *ngIf="doubleMonitor" class="offset-6"></div>
            </div>
        </div>
    </nav>
</ng-template>
