<div class="row mt-2">
    <div class="col-12 pt-1 px-0">
        <div *ngIf="richiesta" class="col-12 mb-2">
            <div class="w-100 rounded card-shadow" [ngClass]="cardClasses(richiesta)">
                <app-sintesi-richiesta [richiesta]="richiesta" [fissata]="false" [espanso]="true" [partenza]="true"
                                       [listaEventi]="true" [modificabile]="false"
                                       (dismissNuovaPartenza)="dismissPartenza()"></app-sintesi-richiesta>
            </div>
        </div>
        <div class="col-12">
            <app-composizione-filterbar [filtri]="filtri$ | async"></app-composizione-filterbar>
        </div>
        <div *ngIf="richiesta && preAccoppiati.length > 0 && compPartenzaMode === Composizione.Veloce" class="col-12">
            <app-composizione-veloce [richiesta]="richiesta" [preAccoppiati]="preAccoppiati"
                                     [dismissEvents]="dismissPartenzaSubject.asObservable()"
                                     (sendDirection)="onSendDirection($event)" (clearDirection)="onClearDirection()"
                                     (centraMappa)="centraMappa()">
            </app-composizione-veloce>
        </div>
        <div *ngIf="preAccoppiati.length <= 0" class="align-center-custom">
            <i class="fa fa-spinner fa-3x fa-spin"></i>
            <h6 class="m-0 mt-2">Caricamento...</h6>
        </div>
        <div *ngIf="richiesta && mezziComposizione.length > 0 && squadreComposizione.length > 0 && compPartenzaMode === Composizione.Avanzata" class="col-12">
            <app-composizione-avanzata [richiesta]="richiesta" [mezziComposizione]="mezziComposizione"
                                       [squadreComposizione]="squadreComposizione"
                                       [dismissEvents]="dismissPartenzaSubject.asObservable()"
                                       (sendDirection)="onSendDirection($event)"
                                       (clearDirection)="onClearDirection()"
                                       (centraMappa)="centraMappa()"></app-composizione-avanzata>
        </div>
        <div *ngIf="mezziComposizione.length <= 0 || squadreComposizione.length <= 0" class="align-center-custom">
            <i class="fa fa-spinner fa-3x fa-spin"></i>
            <h6 class="m-0 mt-2">Caricamento...</h6>
        </div>
    </div>
</div>
