<div class="row mt-1">
    <div class="col-12">
        <div *ngIf="richiesta" class="mb-2">
            <div class="w-100 rounded card-shadow" [ngClass]="cardClasses(richiesta)">
                <app-sintesi-richiesta [richiesta]="richiesta"
                                       [fissata]="false"
                                       [isEspanso]="true"
                                       [partenza]="true"
                                       [modificabile]="false"
                                       [gestibile]="false"
                                       [inGestione]="false"
                                       [boxAzioni]="false"
                                       (eventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                                       (actionMezzo)="onActionMezzo($event)">
                </app-sintesi-richiesta>
            </div>
        </div>
        <div class="py-1">
            <app-filterbar-composizione [filtri]="filtri$ | async"
                                        [competenze]="richiesta.competenze"
                                        [disableComposizioneMode]="loadingListe"
                                        [composizionePartenza]="true"
                                        [prenotato]="prenotato"
                                        (confirmPrenota)="onPrenota($event)">
            </app-filterbar-composizione>
        </div>
        <div *ngIf="richiesta && compPartenzaMode === Composizione.Veloce" class="px-3">
            <app-composizione-veloce [richiesta]="richiesta"
                                     [loadingInvioPartenza]="loadingInvioPartenza$ | async"
                                     [boxAttivi]="boxAttivi"
                                     (sendDirection)="onSendDirection($event)"
                                     (clearDirection)="onClearDirection()"
                                     (centraMappa)="centraMappa()">
            </app-composizione-veloce>
        </div>
        <div *ngIf="richiesta && compPartenzaMode === Composizione.Avanzata" class="px-3">
            <app-composizione-avanzata [richiesta]="richiesta"
                                       [loadingInvioPartenza]="loadingInvioPartenza$ | async"
                                       [boxAttivi]="boxAttivi"
                                       (sendDirection)="onSendDirection($event)"
                                       (clearDirection)="onClearDirection()"
                                       (centraMappa)="centraMappa()"
                                       (sganciamento)="onSganciamento($event)"
                                       (changeRicercaSquadre)="changeRicercaSquadre($event)"
                                       (changeRicercaMezzi)="changeRicercaMezzi($event)">
            </app-composizione-avanzata>
        </div>
    </div>
</div>
