<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'AREA DOCUMENTALE - SELEZIONA CATEGORIA' }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px;"
            (click)="close('ko')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body pb-3">
    <div class="row justify-content-center">
        <div class="col-3"
             (click)="goToPos(); $event.stopPropagation()">
            <div class="box-azione"
                 style="height: fit-content">
                <div class="d-inline-block bg-white p-2 mx-3 mt-3 mb-2">
                    <i class="fas fa-fw fa-file text-secondary"></i>
                </div>
                <div class="mb-1 px-3" style="height: 30px">POS</div>
                <div class="mb-3 px-3" style="height: 60px; font-weight: 300; ">
                    Documenti POS.
                </div>
            </div>
        </div>
        <div *ngFor="let f of filtriAreaDocumentale"
             class="col-3"
             (click)="visalizzaDocumentiByCategoria(f.codice); $event.stopPropagation()">
            <div class="box-azione"
                 style="height: fit-content">
                <div class="d-inline-block bg-white p-2 mx-3 mt-3 mb-2">
                    <i class="fas fa-fw fa-file text-secondary"></i>
                </div>
                <div class="mb-1 px-3" style="height: 30px">{{ f.descrizione }}</div>
                <div class="mb-3 px-3" style="height: 60px; font-weight: 300; ">
                    Documenti {{ f.descrizione }}.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row w-100">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder" style="width: 10%"
                    (click)="close('ko')">
                {{ 'Chiudi'.toLocaleUpperCase() }}
            </button>
        </div>
    </div>
</div>
