<div>
  <div class="modal-header">
    <h4 class="modal-title font-weight-bolder text-uppercase" id="modal-basic-title"><i
        class="fa fa-fw fa-{{icona.descrizione}} text-{{icona.colore}}"></i> {{titolo}}</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
      (click)="modal.dismiss('cross')">
      <span class="text-danger"><i class="fa fa-times"></i></span>
    </button>
  </div>
  <div *ngIf="richiestaDa" class="modal-body">
    <app-sintesi-richiesta [richiesta]="richiestaDa" [fissata]="false" [fissabile]="false" [espanso]="true"
      [gestibile]="false" [modificabile]="false" [espandibile]="false" [listaEventi]="false"
      [composizionePartenza]="false" [idDaSganciare]="idDaSganciare" ></app-sintesi-richiesta>
  </div>
  <div class="modal-footer">
    <button style="min-width:126px; font-weight: 600;" type="button" class="btn btn-lg btn-secondary text-uppercase"
      (click)="modal.close(bottoni[0].type)">{{bottoni[0].descrizione}}</button>
      <button style="min-width:142px; font-weight: 600;" type="button" class="btn btn-lg btn-danger text-uppercase"
      (click)="modal.close(bottoni[1].type)">{{bottoni[1].descrizione}}</button>
  </div>
</div>
