<div *ngIf="personaleQty" class="row px-2 pt-2 pb-0 box-personale">
    <div class="col-12">
        <!-- Funzionario in Servizio -->
        <div class="row">
            <div class="clearfix float-left ml-4">
                <i class="fas fa-users mb-2 mr-1"></i>
                <span class="font-weight-bold"
                      ngbTooltip="Personale attualmente in servizio">Personale in servizio: </span>
                        <span class="font-weight-bold"
                      (click)="onClickServizi()">{{personaleQty?.totale}}</span>
            </div>
            <div class="clearfix float-right ml-4 ml-auto text-right">
                <ng-template #funzionariGuardia>
                    <!-- Funzionario Guardia -->
                    <div *ngIf="personalePresenze.guardia">
                        <div class="h6">Funz. Guardia</div>
                        <div *ngIf="personalePresenze.guardia[0]?.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fas fa-user mr-1"></i>
                            {{personalePresenze.guardia[0].descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.guardia[0]?.qualifica" title="Qualifica" class="h6">
                            <i class="fas fa-cog mr-1"></i>
                            {{personalePresenze.guardia[0].qualifica}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.guardia?.length">
                        <div class="h6 font-weight-bold">Nessun Funzionario</div>
                    </div>

                    <hr class="m-0 mb-2">

                    <!-- Capo Turno -->
                    <div *ngFor="let capoTurno of personalePresenze.capoTurno">
                        <div class="h6">Capo Turno</div>
                        <div *ngIf="capoTurno.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fas fa-user mr-1"></i>
                            {{capoTurno?.descrizione}}
                        </div>
                        <div *ngIf="capoTurno.qualifica" title="Qualifica" class="h6">
                            <i class="fas fa-cog mr-1"></i>
                            {{capoTurno?.qualifica}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.capoTurno?.length">
                        <div class="h6 font-weight-bold">Nessun Capo Turno</div>
                    </div>
                </ng-template>

                <!-- Tecnici Guardia -->
                <ng-template #tecniciGuardia>
                    <div *ngIf="personalePresenze.primoTecnico">
                        <div class="h6">Tecnico</div>
                        <div *ngIf="personalePresenze.primoTecnico.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fas fa-user mr-1"></i>
                            {{personalePresenze.primoTecnico?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.primoTecnico.qualifica" title="Qualifica"
                             class="h6">
                            <i class="fas fa-cog mr-1"></i>
                            {{personalePresenze.primoTecnico?.qualifica}}
                        </div>
                    </div>
                    <div *ngIf="personalePresenze.secondoTecnico" class="mt-1">
                        <div class="h6">Tecnico</div>
                        <div *ngIf="personalePresenze.secondoTecnico.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fas fa-user mr-1"></i>
                            {{personalePresenze.secondoTecnico?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.secondoTecnico.qualifica" title="Qualifica"
                             class="h6">
                            <i class="fas fa-cog mr-1"></i>
                            {{personalePresenze.secondoTecnico?.qualifica}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.primoTecnico && !personalePresenze.secondoTecnico">
                        <div class="h6 font-weight-bold">Nessun Tecnico di Guardia</div>
                    </div>
                </ng-template>
            </div>
        </div>
        <hr class="m-0 mb-2">
    </div>
    <!-- sinistra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block n-li-box h6" ngbTooltip="Squadre attualmente in servizio"
                                      placement="top">Squadre</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col px-0 text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('squadreServizio')"><span
                                    class="position-relative badge badge-mod-secondary h6 w-75">
                              <i *ngIf="personaleDiff" class="blink-i-aggregate fas"
                                 [ngClass]="realDiff('squadreServizio')"></i>{{personaleQty?.squadreServizio}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col pr-0">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block n-li-box h6" ngbTooltip="Squadre impegnate sugli interventi"
                                      placement="bottom">Impegnate</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col px-0 text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('squadreAssegnate')"><span
                                    class="position-relative badge badge-mod-danger h6 w-75">
                      <i *ngIf="personaleDiff" class="blink-i-aggregate fas"
                         [ngClass]="realDiff('squadreAssegnate')"></i>{{personaleQty?.squadreAssegnate}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- destra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0">
                        <ul class="list-unstyled m-0">
                            <li><span
                                    class="d-inline-block n-li-box h6"
                                    ngbTooltip="Funzionari di guardia"
                                    placement="top">{{personaleQty?.funzionari | personale:'funzionari'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col px-0 text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('funzionari')" [ngbPopover]="funzionariGuardia"
                                triggers="mouseenter:mouseleave" container="body"
                                placement="bottom"><span
                                    class="position-relative badge badge-mod-secondary h6 w-75"><i
                                    *ngIf="personaleDiff" class="blink-i-aggregate fas"
                                    [ngClass]="realDiff('funzionari')"></i>{{personaleQty?.funzionari}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col pr-0">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block n-li-box h6"
                                      ngbTooltip="Tecnici di guardia"
                                      placement="bottom">{{personaleQty?.tecnici | personale:'tecnici'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col px-0 text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('tecnici')" [ngbPopover]="tecniciGuardia"
                                triggers="mouseenter:mouseleave" container="body"
                                placement="bottom"><span
                                    class="position-relative badge badge-mod-secondary h6 w-75"><i
                                    *ngIf="personaleDiff" class="blink-i-aggregate fas"
                                    [ngClass]="realDiff('tecnici')"></i>{{personaleQty?.tecnici}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!personaleQty" class="box-personale">
    <app-partial-loader></app-partial-loader>
</div>
