<div *ngIf="personaleQty" class="row p-2">
    <div class="col-12">
        <!-- Funzionario in Servizio -->
        <div class="row">
            <div class="col-7">
                <i class="fa fa-users mb-2 mr-1"></i>
                <span class="font-weight-bold"
                      ngbTooltip="Personale attualmente in servizio">Personale in servizio: </span>
                <span class="font-weight-bold"
                   (click)="clickServizi.emit('openModal')">{{personaleQty?.totale}}</span>
            </div>
            <div class="col-5 ml-auto text-right text-secondary">
                <ng-template #funzionariGuardia>
                    <!-- Funzionario Guardia -->
                    <div *ngIf="personalePresenze.funGuardia">
                        <div class="h6">Funz. Guardia</div>
                        <div *ngIf="personalePresenze.funGuardia.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fa fa-user mr-1"></i>
                            {{personalePresenze.funGuardia?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.funGuardia.qualifica" title="Qualifica" class="h6 text-secondary">
                            <i class="fa fa-cog mr-1 text-secondary"></i>
                            {{personalePresenze.funGuardia?.qualifica}}
                        </div>
                        <div *ngIf="personalePresenze.funGuardia.telefono" title="Telefono" class="h6 text-secondary">
                            <i class="fa fa-mobile mr-1"></i>
                            {{personalePresenze.funGuardia?.telefono}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.funGuardia">
                        <div class="h6 font-weight-bold">Nessun Funzionario</div>
                    </div>

                    <hr class="m-0 mb-2">

                    <!-- Capo Turno -->
                    <div *ngIf="personalePresenze.capoTurno">
                        <div class="h6">Capo Turno</div>
                        <div *ngIf="personalePresenze.capoTurno.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fa fa-user mr-1"></i>
                            {{personalePresenze.capoTurno?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.capoTurno.qualifica" title="Qualifica" class="h6 text-secondary">
                            <i class="fa fa-cog mr-1 text-secondary"></i>
                            {{personalePresenze.capoTurno?.qualifica}}
                        </div>
                        <div *ngIf="personalePresenze.capoTurno.telefono" title="Telefono" class="h6 text-secondary">
                            <i class="fa fa-mobile mr-1"></i>
                            {{personalePresenze.capoTurno?.telefono}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.capoTurno">
                        <div class="h6 font-weight-bold">Nessun Capo Turno</div>
                    </div>
                </ng-template>

                <!-- Tecnici Guardia -->
                <ng-template #tecniciGuardia>
                    <div *ngIf="personalePresenze.tecnicoGuardia1">
                        <div *ngIf="personalePresenze.tecnicoGuardia1.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fa fa-user mr-1"></i>
                            {{personalePresenze.tecnicoGuardia1?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.tecnicoGuardia1.qualifica" title="Qualifica"
                             class="h6 text-secondary">
                            <i class="fa fa-cog mr-1 text-secondary"></i>
                            {{personalePresenze.tecnicoGuardia1?.qualifica}}
                        </div>
                        <div *ngIf="personalePresenze.tecnicoGuardia1.telefono" title="Telefono"
                             class="h6 text-secondary">
                            <i class="fa fa-mobile mr-1"></i>
                            {{personalePresenze.tecnicoGuardia1?.telefono}}
                        </div>
                    </div>
                    <div *ngIf="personalePresenze.tecnicoGuardia2" class="mt-1">
                        <div *ngIf="personalePresenze.tecnicoGuardia2.descrizione" title="Nominativo" class="h6 mb-2">
                            <i class="fa fa-user mr-1"></i>
                            {{personalePresenze.tecnicoGuardia2?.descrizione}}
                        </div>
                        <div *ngIf="personalePresenze.tecnicoGuardia2.qualifica" title="Qualifica"
                             class="h6 text-secondary">
                            <i class="fa fa-cog mr-1 text-secondary"></i>
                            {{personalePresenze.tecnicoGuardia2?.qualifica}}
                        </div>
                        <div *ngIf="personalePresenze.tecnicoGuardia2.telefono" title="Telefono"
                             class="h6 text-secondary">
                            <i class="fa fa-mobile mr-1"></i>
                            {{personalePresenze.tecnicoGuardia2?.telefono}}
                        </div>
                    </div>
                    <div *ngIf="!personalePresenze.tecnicoGuardia1 && !personalePresenze.tecnicoGuardia2">
                        <div class="h6 font-weight-bold">Nessun Tecnico di Guardia</div>
                    </div>
                </ng-template>
            </div>
        </div>
        <hr class="m-0 mb-2">
    </div>
    <!-- sinistra -->
    <div class="col-7">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-7 pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6" ngbTooltip="Squadre attualmente in servizio">Squadre in servizio</span>
                            </li>
                            <li><span class="d-inline-block h6" ngbTooltip="Squadre impegnate sugli interventi">di cui impegnate</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-5 px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('squadreServizio')"><span
                                    class="position-relative badge badge-secondary h6 w-50"><i *ngIf="personaleDiff"
                                                                                               class="blink-i-aggregate fa"
                                                                                               [ngClass]="realDiff('squadreServizio')"></i>{{personaleQty?.squadreServizio}}</span>
                            </li>
                            <li [ngClass]="checkDiff('squadreAssegnate')"><span
                                    class="position-relative badge badge-success h6 w-50"><i *ngIf="personaleDiff"
                                                                                             class="blink-i-aggregate fa"
                                                                                             [ngClass]="realDiff('squadreAssegnate')"></i>{{personaleQty?.squadreAssegnate}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- destra -->
    <div class="col-5">
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span
                                    class="d-inline-block h6"
                                    ngbTooltip="Funzionari di guardia">{{personaleQty?.funzionari | personale:'funzionari'}}</span>
                            </li>
                            <li><span class="d-inline-block h6"
                                      ngbTooltip="Tecnici di guardia">{{personaleQty?.tecnici | personale:'tecnici'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li [ngClass]="checkDiff('funzionari')" [ngbPopover]="funzionariGuardia"
                                triggers="mouseenter:mouseleave" container="body"
                                placement="bottom"><span
                                    class="position-relative badge badge-dark cursor-pointer h6 w-75"><i
                                    *ngIf="personaleDiff" class="blink-i-aggregate fa"
                                    [ngClass]="realDiff('funzionari')"></i>{{personaleQty?.funzionari}}</span></li>
                            <li [ngClass]="checkDiff('tecnici')" [ngbPopover]="tecniciGuardia"
                                triggers="mouseenter:mouseleave" container="body"
                                placement="bottom"><span
                                    class="position-relative badge badge-secondary cursor-pointer h6 w-75"><i
                                    *ngIf="personaleDiff" class="blink-i-aggregate fa"
                                    [ngClass]="realDiff('tecnici')"></i>{{personaleQty?.tecnici}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!personaleQty" class="row" style="min-height: 113px">
    <div class="w-100 text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw my-4"></i>
    </div>
</div>
