<div class="text-center">
    <h5>Lista dettagli tipologia:</h5>
    <div class="mt-3">
        <app-checkbox *ngFor="let dettaglioTipologia of dettagliTipologie"
                      [checkboxState]="{
                  id: dettaglioTipologia.codice,
                  status: dettaglioTipologia.codice === codDettaglioTipologiaSelezionato,
                  label: dettaglioTipologia.descrizione}"
                      (checkbox)="onCheckDettaglioTipologia(dettaglioTipologia.codice)">
        </app-checkbox>
    </div>
</div>
