<div ngbDropdown class="mt-2 mr-2">
  <button class="btn button-menu" id="dropdownConfig" ngbDropdownToggle><i class="fa fa-bars"></i>
  </button>
  <div id="menu-mappa" ngbDropdownMenu class="px-2">
    <button *ngFor="let voce of filtroMarker" class="btn dropdown-item mb-1" [ngClass]="{'voce-green': voce.isActive, 'filtro-hover': !voce.isActive}" appDebounceClick (debounceClick)="onSelected(voce.id)" [debounceTime]="300">
      <i class="pr-2 h3 {{voce.picture}}"></i>{{voce.name}}
    </button>
  </div>
</div>
