<div ngbDropdown class="mt-2 mr-2">
    <button class="btn button-menu" id="dropdownConfig" ngbDropdownToggle><i class="fa fa-bars"></i>
    </button>
    <div id="menu-mappa" ngbDropdownMenu class="px-2">
        <app-filtri-markers-richieste [filtroRichieste]="filtroRichieste$ | async"
                                      (changePriorita)="changePriorita($event)"
                                      (changeStati)="changeStatiRichiesta($event)"></app-filtri-markers-richieste>
        <hr class="my-2">
        <app-filtri-markers-mezzi [filtroMezziAttivi]="filtroMezzi$ | async"
                                  [genereMezzo]="generiMezzi$ | async"
                                  (changeStati)="changeStatiMezzi($event)"
                                  (changeGenere)="changeGenere($event)"></app-filtri-markers-mezzi>
    </div>
</div>
