<div ngbDropdown class="mt-2 mr-2">
    <button class="btn button-menu" id="dropdownConfig" ngbDropdownToggle [ngClass]="{'filtro-attivo': filtriAttivi}">
        <ng-container *ngIf="!filtriAttivi else filtriAttiviTp">
            <i class="fa fa-bars"></i>
        </ng-container>
        <ng-template #filtriAttiviTp>
            <i class="fa fa-filter"></i>
        </ng-template>
    </button>
    <div id="menu-mappa" ngbDropdownMenu class="px-2">
        <app-filtri-markers-richieste [filtroRichieste]="filtroRichieste$ | async"
                                      (changePriorita)="changePriorita($event)"
                                      (changeStati)="changeStatiRichiesta($event)"></app-filtri-markers-richieste>
        <hr class="my-2">
        <app-filtri-markers-mezzi [filtroMezziAttivi]="filtroMezzi$ | async"
                                  [genereMezzo]="generiMezzi$ | async"
                                  (changeStati)="changeStatiMezzi($event)"
                                  (changeGenere)="changeGenere($event)"></app-filtri-markers-mezzi>
        <ng-container *ngIf="scStatus$ | async">
            <hr class="my-2">
            <app-filtri-sc [statoFiltro]="(filtroSC$ | async).mostraGestite" (toggleSC)="toggleGestitaSC()"></app-filtri-sc>
        </ng-container>
    </div>
</div>
