<div class="clearfix">
    <div class="float-left">
        <div class="clearfix">
            <div class="float-left mr-4">
                <app-tasto-chiamata [colorButtonChiamata]="colorButton.chiamata"
                                    [richiestaModifica]="richiestaModifica$ | async"
                                    [disabled]="permessiFeature.SchedaTelefonata | checkPermission"
                                    (startChiamata)="toggleChiamata()">
                </app-tasto-chiamata>
            </div>
            <div class="float-left mr-3">
                <app-filtri-richieste *ngIf="richiesteStatus$ | async"
                                      [nightMode]="nightMode"
                                      [filtri]="filtriRichieste$ | async"
                                      [filtriAttiviToolTip]="filtriAttiviToolTip$ | async"
                                      [filtriSelezionati]="filtriRichiesteSelezionati$ | async"
                                      [disableFilters]="loadingRichieste$ | async"
                                      (filtroSelezionato)="onSelezioneFiltroRichieste($event)"
                                      (filtroDeselezionato)="onDeselezioneFiltroRichieste($event)"
                                      (filtriReset)="eliminaFiltriAttiviRichieste()">
                </app-filtri-richieste>
                <app-filtri-schede-contatto *ngIf="schedeContattoStatus$ | async"
                                            [nightMode]="nightMode"
                                            [filtri]="filtriSchedeContatto$ | async"
                                            [filtriSelezionati]="filtriSelezionatiSchedeContatto$ | async"
                                            [disableFilters]="loadingSchedeContatto$ | async"
                                            (filtroSelezionato)="onSelezioneFiltroSchedeContatto($event)"
                                            (filtriReset)="eliminaFiltriAttiviSchedeContatto()">
                </app-filtri-schede-contatto>
                <app-filtri-mezzi-servizio *ngIf="mezziInServizioStatus$ | async"
                                           [filtri]="filtriMezziInServizio$ | async"
                                           [nightMode]="nightMode"
                                           [filtriSelezionati]="filtriSelezionatiMezziInServizio$ | async"
                                           [disableFilters]="loadingMezziInServizio$ | async"
                                           (filtroSelezionato)="onSelezioneFiltroMezziInServizio($event)"
                                           (filtriReset)="eliminaFiltriAttiviMezziInServizio()">
                </app-filtri-mezzi-servizio>
            </div>
            <div class="float-left mr-4">
                <app-ricerca
                        *ngIf="((chiamataStatus$ | async) === false) && ((codaChiamateStatus$ | async) === false) && ((composizioneStatus$ | async) === false) && ((modificaRichiestaStatus$ | async) === false) && ((mapsStatus$ | async) === false)"
                        [ricerca]="ricerca$ | async"
                        [debounce]="true"
                        [placeholder]="getRicercaPlaceholder()"
                        [disableSearch]="!!(richiesteStatus$ | async)"
                        (search)="onSearch($event)">
                </app-ricerca>
            </div>
        </div>
    </div>
    <div class="float-right">
        <div class="clearfix">
            <div *ngIf="(((chiamataStatus$ | async) === false) && ((codaChiamateStatus$ | async) === false) && ((modificaRichiestaStatus$ | async) === false)) && ((schedeContattoStatus$ | async) === false) && ((mezziInServizioStatus$ | async) === false) && ((mapsStatus$ | async) || doubleMonitor)"
                 class="float-left mr-3">
                <app-filtri-mappa [filtroMarker]="filtroMarker$ | async"></app-filtri-mappa>
            </div>
            <div *ngIf="((codaChiamateStatus$ | async) === false) && ((composizioneStatus$ | async) === false) && ((chiamataStatus$ | async) === false) && ((modificaRichiestaStatus$ | async) === false) && ((schedeContattoStatus$ | async) === false) && ((mezziInServizioStatus$ | async) === false) && !doubleMonitor"
                 class="float-left">
                <app-view-mode [colorButtonView]="colorButton.buttonView"
                               [nightMode]="nightMode"
                               [stateSwitch]="(stateSwitch$ | async)"
                               [mapStatus]="(mapsStatus$ | async)"
                               (toggleMeteo)="onMeteoSwitch($event)"
                               (buttonView)="switchView($event)">
                </app-view-mode>
            </div>
        </div>
    </div>
</div>
