<div class="row">
    <div [ngClass]="(filterBarCol$ | async)">
        <div class="row">
            <div class="col-3 text-left">
                <app-tasto-chiamata [colorButtonChiamata]="colorButton.chiamata" (startChiamata)="toggleChiamata()">
                </app-tasto-chiamata>
            </div>
            <div *ngIf="!(composizioneStatus$ | async)" class="col-2 px-0 text-left">
                <app-filtri-richieste [filtri]="(filtri$ | async)" [filtriSelezionati]="(filtriSelezionati$ | async)"
                                      (filtroSelezionato)="onSelezioneFiltro($event)"
                                      (filtroDeselezionato)="onDeselezioneFiltro($event)"
                                      (filtriReset)="eliminaFiltriAttivi()">
                </app-filtri-richieste>
            </div>
            <div *ngIf="!(composizioneStatus$ | async)" class="col-7 px-0">
                <app-ricerca-richieste (search)="onSearch($event)">
                </app-ricerca-richieste>
            </div>
            <div *ngIf="(composizioneStatus$ | async)" class="col-4 ml-auto">
                <app-tasto-comp-partenza (cambioModalita)="compPartenzaSwitch($event)"
                                         [compPartenzaMode]="(composizioneMode$ | async)">
                </app-tasto-comp-partenza>
            </div>
        </div>
    </div>
    <div *ngIf="!(composizioneStatus$ | async)" class="col-2">
        <div class="row">
            <div class="col-12">
                <app-view-mode [colorButtonView]="colorButton.buttonView"
                               (buttonView)="switchView($event)">
                </app-view-mode>
            </div>
        </div>
    </div>
    <div [ngClass]="(filterBarCol$ | async)">
        <div class="row">
            <div class="col-3">
                <!--spazio disponibile-->
            </div>
            <div class="col-4 pr-0">
                <app-marker-meteo-switch [stateSwitch]="(stateSwitch$ | async)" (change)="onChange($event)">
                </app-marker-meteo-switch>
            </div>
            <div class="col-5">
                <app-filtri-mappa></app-filtri-mappa>
            </div>
        </div>
    </div>
</div>
