<div class="row">
    <div class="col-6">
        <h3 class="d-inline-block mb-0">
            <i class="fa fa-list"></i>
            Dettagli Tipologie
        </h3>
        <button class="btn btn-sm btn-primary ml-3 mb-2" (click)="onAddDettaglioTipologia()">
            <i class="fa fa-plus"></i>
            Aggiungi Dettaglio
        </button>
    </div>
    <div class="col">
        <label for="filtriDettagliTipologie" class="d-none">Filtro Tipologia</label>
        <ng-select id="filtriDettagliTipologie"
                   placeholder="Filtra per tipologia"
                   [items]="['Incendio Normale (generico) (1)']">
        </ng-select>
    </div>
    <div class="col text-right">
        <label for="ricercaDettagliTipologie" class="d-none">Ricerca Dettagli Tipologie</label>
        <input id="ricercaDettagliTipologie"
               type="text"
               placeholder="Cerca un Dettaglio Tipologia"
               [disabled]="!dettagliTipologie?.length">
    </div>
    <div *ngIf="dettagliTipologie?.length" class="col-12 mt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width:10%">Codice Tipologia</th>
                <th scope="col" style="width:10%">Sede</th>
                <th scope="col" style="width:10%">Codice Dettaglio</th>
                <th scope="col" style="width:35%">Descrizione</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dettaglioTipologia of dettagliTipologie">
                <th scope="row" style="width:10%">{{ dettaglioTipologia.codiceTipologia }}</th>
                <td style="width:10%">{{ dettaglioTipologia.codSede }}</td>
                <td style="width:10%">{{ dettaglioTipologia.codiceDettaglioTipologia }}</td>
                <td style="width:35%">{{ dettaglioTipologia.descrizione }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!dettagliTipologie?.length" class="col-12 mt-2">
        <div class="alert alert-danger mb-0">
            <i class="fa fa-exclamation-triangle"></i>
            Nessun Dettaglio Tipologia presente
        </div>
    </div>
    <div *ngIf="dettagliTipologie?.length" class="col-12 text-right">
        <pagination-controls class="mt-1 mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'">
        </pagination-controls>
    </div>
</div>
