<div class="row">
  <!-- Loader (!richieste) -->
  <div *ngIf="!richieste" class="mx-auto my-5">
    <img src="../../../assets/img/pink_loader_resized.gif">
  </div>

  <!-- Singola Richiesta Selezionata  -->
  <div *ngIf="richiestaFissata" class="col-12 px-0">
    <app-richiesta-fissata [richiestaFissata]="richiestaFissata" [richiestaFissataState]='richiestaSelezionataState'></app-richiesta-fissata>
  </div>

  <!-- Lista di singole Richieste -->
  <div class="col-12 pt-1 mt-2 px-0 scroll-y" [ngClass]="{'m-h-750': !richiestaSelezionata, 'm-h-600': richiestaSelezionata}" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="50">
    <div *ngFor="let r of richieste | filterBy: ricercaS.searchTerm" class="col-6big">
      <div *ngIf="r !== richiestaFissata" class="w-100 rounded card-shadow" [ngClass]="cardShadowClass(r)">
        <app-sintesi-richiesta [richiesta]="r" (richiestaClick)="localizzaClick(r)" (eventiRichiesta)="visualizzaEventiRichiesta(r)" (click)="richiestaClick(r)" (mouseover)="richiestaHoverIn(r)" (mouseout)="richiestaHoverOut(r)"></app-sintesi-richiesta>
      </div>
    </div>
  </div>
</div>