.badge-notify{
	background:red;
	position: absolute;
	top: -8px;
	left: 12px;
	font-size: .6em;
}
.col-6big {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

#listaRichieste{
	max-height: 700px;
	overflow-y: scroll;
}

.card-shadow{
    -webkit-box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
    box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
}
.card-shadow-primary{
    -webkit-box-shadow: 2px 0px 2px .5px #007bff;
    -moz-box-shadow: 2px 0px 2px .5px #007bff;
    box-shadow: 2px 0px 2px .5px #007bff;
}
.card-shadow-success{
    -webkit-box-shadow: 2px 0px 2px .5px #28a745;
    -moz-box-shadow: 2px 0px 2px .5px #28a745;
    box-shadow: 2px 0px 2px .5px #28a745;
}
.card-shadow-danger{
    -webkit-box-shadow: 2px 0px 2px .5px #dc3545;
    -moz-box-shadow: 2px 0px 2px .5px #dc3545;
    box-shadow: 2px 0px 2px .5px #dc3545;
}
.card-shadow-warning{
    -webkit-box-shadow: 2px 0px 2px .5px #ffc107;
    -moz-box-shadow: 2px 0px 2px .5px #ffc107;
    box-shadow: 2px 0px 2px .5px #ffc107;
}

.m-h-750{
	max-height: 804px;
}

.m-h-600{
	max-height: 664px;
}

.scroll-y{
	overflow-y: scroll;
}

.scroll-y::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

@media (min-width: 2560px) {
	.col-6big {
		width: 50%;
		float: left;
	}
}

@media (max-width: 2559px) {
	.col-6big {
		width: 100%;
		float: left;
	}
}