<form class="m-0" autocomplete="off">
    <div class="input-group">
        <label for="ricercaTrasferimentoChiamata" class="d-none"></label>
        <input id="ricercaTrasferimentoChiamata"
               name="ricercaRichieste"
               [(ngModel)]="ricerca"
               style="font-size: 21px"
               class="form-control"
               type="text"
               placeholder="Cerca per Codice Chiamata"
               appDebounceKeyUp
               [debounceTime]="600"
               (debounceKeyUp)="ricercaChange.emit(ricerca)">
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</form>
