<div class="row">
  <div class="col-md-6">
    <button class="btn" type="button" (click)="expandAll()" >Espandi tutto</button>
    <button class="btn" type="button" (click)="collapseAll()" >Chiudi tutto</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p-tree [value]="primeNgTrees" selectionMode="single" [(selection)]="selectedFile" 
    (onNodeSelect)="nodeSelect($event)">
    </p-tree>
  </div>
  <div class="col-md-3" style="font-weight: bold">
   Ricorsivo
    <p-inputSwitch onLabel="SI" offLabel="NO" (onChange)="ricorsivoSelect()"></p-inputSwitch>
  </div>
  <div class="col-md-2" style="font-style: italic; font-size: 70%">
      [Le modifiche avranno effetto su tutti i nodi figli del nodo selezionato]
  </div>
</div>

