<table *ngIf="zoneEmergenza?.length"
       class="table table-striped bg-white">
    <thead>
    <tr>
        <th scope="col" style="width:19%">Azioni</th>
        <th scope="col" style="width:14%">Codice Emergenza</th>
        <th scope="col" style="width:10%">Cod. Sede Richiedente</th>
        <th scope="col" style="width:10%">Tipologia</th>
        <th scope="col" style="width:36%">Indirizzo</th>
        <th scope="col" style="width:23%">Descrizione</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zE of zoneEmergenza">
        <td style="width:19%" class="align-middle">
            <button class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Annulla Emergenza"
                    placement="right"
                    (click)="onDelete(zE)">
                <i class="fas fa-trash"></i>
            </button>
            <button class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Modifica Emergenza"
                    placement="right"
                    (click)="onEdit(zE)">
                <i class="fas fa-edit"></i>
            </button>
            <button *ngIf="isDirRegionale"
                    class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Allerta Dir. Regionale"
                    placement="right"
                    (click)="onAllertaCON(zE)">
                <i class="fas fa-exclamation-triangle"></i>
            </button>
            <button *ngIf="isDirRegionale || isCON"
                    class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Colonne Mobili: Fase 1"
                    placement="right"
                    (click)="onColonneMobili(zE, '1')">
                <i class="fas fa-plus"></i>
                F.1
            </button>
            <button *ngIf="isDirRegionale || isCON"
                    class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Colonne Mobili: Fase 2"
                    placement="right"
                    [disabled]="!zE.listaModuliImmediata"
                    (click)="onColonneMobili(zE, '2')">
                <i class="fas fa-plus"></i>
                F.2
            </button>
            <button *ngIf="isDirRegionale || isCON"
                    class="btn btn-sm float-left mr-2"
                    [class.btn-outline-dark]="!nightMode"
                    [class.btn-outline-light]="nightMode"
                    ngbTooltip="Colonne Mobili: Fase 3"
                    placement="right"
                    [disabled]="!zE.listaModuliImmediata || !zE.listaModuliPotInt"
                    (click)="onColonneMobili(zE, '3')">
                <i class="fas fa-plus"></i>
                F.3
            </button>
        </td>
        <td style="width:14%" class="align-middle cursor-pointer"
            (click)="onDetail(zE)">
            {{ zE?.codEmergenza }}
        </td>
        <td style="width:10%" class="align-middle">
            {{ zE?.codComandoRichiedente }}
        </td>
        <td style="width:10%" class="align-middle">
            {{ zE?.tipologia?.emergenza[0] }}
        </td>
        <td style="width:36%" class="align-middle">
            {{ zE?.localita.indirizzo }} - Lat: {{ zE?.localita.coordinate.latitudine }} -
            Lon: {{ zE?.localita.coordinate.longitudine }}
        </td>
        <td style="width:23%" class="align-middle">
            {{ zE?.descrizione ? zE?.descrizione : 'Nessuna Descrizione' }}
        </td>
    </tr>
    </tbody>
</table>
<div *ngIf="zoneEmergenza?.length <= 0">
    <div class="alert alert-danger">
        <ng-template [ngIf]="!loading">Nessuna Emergenza trovata</ng-template>
        <ng-template [ngIf]="loading">Caricamento Emergenze in corso...</ng-template>
    </div>
</div>
<div *ngIf="zoneEmergenza?.length > 0" class="d-flex justify-content-between pt-2 px-2">
    <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="totalItems"
            [maxSize]="5"
            [disabled]="loading"
            (pageChange)="pageChange.emit($event)">
    </ngb-pagination>
</div>
