div {
    font-size: .95rem !important;
    font-weight: normal !important;
}

button {
    font-size: .95rem !important;
    font-weight: normal !important;
}

i {
    font-size: .95rem !important;
    font-weight: 700 !important;
}

.fas {
    font-size: .95rem !important;
    font-weight: 700 !important;
}

.azioni-emergenza-CON {
    width: 10%;
}

.azioni-emergenza-dir-regionale {
    width: 11%;
}

.azioni-emergenza-default {
    width: 6%;
}
