<div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-sintesi-richiesta></app-sintesi-richiesta>
  </div>
</div>