<table class="table table-striped bg-white">
    <thead>
    <tr>
        <th scope="col" style="width:12%"><i class="fas fa-bolt mr-2"></i>Azioni</th>
        <th scope="col" style="width:22%"><i class="fas fa-file mr-2"></i>Nome</th>
        <th scope="col" style="width:22%"><i class="fas fa-file mr-2"></i>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of documenti">
        <td style="width:12%" class="align-middle">
            <div class="d-inline-block float-left mr-2"
                 [ngbTooltip]="tooltipLockedConcorrenza"
                 placement="left"
                 [disableTooltip]="!(tipoConcorrenzaEnum.EliminaPianiDiscendenti | checkConcorrenzaLocked: [d.id])">
                <button class="btn btn-sm btn-danger font-weight-bold"
                        ngbTooltip="Rimuovi Documento"
                        placement="bottom"
                        [disabled]="(tipoConcorrenzaEnum.EliminaPianiDiscendenti | checkConcorrenzaLocked: [d.id])"
                        (click)="onDeleteDocumento(d?.id, d?.descrizioneDocumento, d?.descrizioneCategoria)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            <div class="d-inline-block float-left mr-2"
                 [ngbTooltip]="tooltipLockedConcorrenza"
                 placement="left"
                 [disableTooltip]="!(tipoConcorrenzaEnum.ModificaPianiDiscendenti | checkConcorrenzaLocked: [d.id])">
                <button class="btn btn-sm btn-info font-weight-bold"
                        ngbTooltip="Modifica Documento"
                        placement="bottom"
                        [disabled]="(tipoConcorrenzaEnum.ModificaPianiDiscendenti | checkConcorrenzaLocked: [d.id])"
                        (click)="onEditDocumento(d)">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
            <button class="btn btn-sm btn-success font-weight-bold float-left"
                    ngbTooltip="Scarica Documento"
                    placement="bottom"
                    (click)="onDownloadDocumento(d)">
                <i class="fas fa-download"></i>
            </button>

            <ng-template #tooltipLockedConcorrenza>
                <i class="fas fa-lock mr-1"></i>
                {{ getTooltipConcorrenzaText(d) }}
            </ng-template>
        </td>
        <td style="width:22%" class="align-middle">
            <a class="font-weight-bold mt-1 pt-1 text-uppercase text-truncate"
               href="javascript:void(0)"
               (click)="onViewDocumento(d)">
                {{ d?.descrizioneDocumento }}
            </a>
        </td>
        <td style="width:22%" class="align-middle">
            <span class="font-weight-bold mt-1 pt-1 text-uppercase text-truncate">
                {{ d?.descrizioneCategoria }}
            </span>
        </td>
    </tr>
    <tr *ngIf="documenti?.length <= 0">
        <td class="align-middle" style="width:22%">
            <ng-template [ngIf]="!loading">Nessun Documento trovato</ng-template>
            <ng-template [ngIf]="loading">Caricamento risultati in corso...</ng-template>
        </td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div *ngIf="documenti?.length > 0" class="d-flex justify-content-between pt-2 px-2">
    <app-select-elementi-per-pagina [pageSize]="pageSize"
                                    [pageSizes]="pageSizes"
                                    [placeholderElementi]="'documenti'"
                                    (pageSizeChange)="pageSizeChange.emit($event)">
    </app-select-elementi-per-pagina>
    <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="totalItems"
            [maxSize]="5"
            [disabled]="loading"
            (pageChange)="pageChange.emit($event)">
    </ngb-pagination>
</div>
