<div class="modal-header">
  <h4 class="modal-title" style="font-weight: 700">
    {{ 'SELEZIONA FILTRO PER ' + titolo | uppercase }}
  </h4>
  <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
          (click)="chiudiModalFiltriTipologia('ko')">
    <i class="fas fa-times text-danger"></i>
  </button>
</div>

<div class="modal-body pb-0">
  <div class="row pt-4" style="justify-content: center; font-size: x-large">
    <div class="clearfix form-check">
      <input (click)="onCheckFiltro('DaA')" class="checkbox-size" type="checkbox" id="DaA" name="DaA"
             [checked]="prefix['DaA']">
      <label class="ml-1 mb-0" for="DaA" style="cursor: pointer">Da - A</label>
    </div>
    <div class="clearfix mx-5">
      <input (click)="onCheckFiltro('Del')" class="checkbox-size" type="checkbox" id="Del" name="Del"
             [checked]="prefix['Del']">
      <label class="ml-1 mb-0" for="Del" style="cursor: pointer">Del Giorno</label>
    </div>
    <div class="clearfix">
      <input (click)="onCheckFiltro('Turno')"  class="checkbox-size" type="checkbox" id="Turno" name="Turno"
             [checked]="prefix['Turno']">
      <label class="ml-1 mb-0" for="Turno" style="cursor: pointer">Turno Corrente</label>
    </div>
  </div>

  <div class="row" style="margin-top: 30px; justify-content: center; padding-bottom: 20px;">
      <form *ngIf="prefix['Del']" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="aaaa-mm-gg"
                   name="dp" [displayMonths]="1" [navigation]="navigation" [outsideDays]="outsideDays" [(ngModel)]="todayDate"
                   [showWeekNumbers]="false" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-no-hover calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </form>
      <form *ngIf="prefix['DaA']" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [startDate]="fromDate" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>

                  <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
          </ng-template>
        </div>
      </div>
    </form>
      <form *ngIf="prefix['Turno']" class="form-inline">
      <div class="form-group">
        <span class="position-relative badge badge-primary border-info-aggregate" style="font-size: xx-large;">Turno: {{ turnoCalendario.corrente}} </span>
      </div>
    </form>
  </div>
</div>

<div *ngIf="disableConferma && prefix['DaA']" class="alert alert-danger mb-0" role="alert">
  Selezionare data di fine periodo.
</div>

<div class="modal-footer" style="place-content: space-between;">
  <button type="button" class="btn btn-lg btn-success btn-no-hover font-weight-bolder" aria-label="Close"
          (click)="chiudiModalFiltriTipologia('ok')">
    {{ 'Applica Filtro' | uppercase }}
  </button>
  <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-2" aria-label="Close"
          (click)="chiudiModalFiltriTipologia('ko')">
    {{ 'Chiudi' | uppercase }}
  </button>
</div>

