<ng-container *ngIf="sediNavbarVisible">
    <app-shared-treeview [items]="items"
                         [testoSedeSelezionata$]="testoSedeSelezionata$"
                         [tastoConferma$]="tastoConferma$"
                         [placement]="'bottom-left'"
                         [colorButton]="colorButton"
                         [visualizzaTasti]="true"
                         [cache]="cache"
                         (annullaSelezione)="onAnnulla()"
                         (confermaSelezione)="onConferma()"
                         (patchSelezione)="onPatch($event)">
    </app-shared-treeview>
</ng-container>
