<ng-container *ngIf="sediNavbarVisible">
    <app-shared-treeview [items]="items" [testoSedeSelezionata$]="testoSedeSelezionata$"
                         [tastoConferma$]="tastoConferma$"
                         [placement]="'bottom-left'"
                         (annullaSelezione)="onAnnulla()" (confermaSelezione)="onConferma()"
                         (patchSelezione)="onPatch($event)" [colorButton]="colorButton"
                         [visualizzaTasti]="true">
    </app-shared-treeview>
</ng-container>
