<div class="row">
    <div class="col-2 text center pr-0">
        <img alt="comando-avatar" src="assets/img/comando-avatar.svg">
    </div>
    <div class="col-10 pl-0">
        <app-shared-treeview [items]="items" [sedeSelezionata]="sedeSelezionata$" [tastoConferma]="tastoConferma"
                             [placement]="'bottom-left'"
                             (annullaSelezione)="onAnnulla()" (confermaSelezione)="onConferma()"
                             (patchSelezione)="onPatch($event)" [colorButton]="colorButton">
        </app-shared-treeview>
    </div>
</div>
