<div class="row h-100">
    <div *ngIf="centroMappa" class="col-12 h-100">
        <div class="col-12 h-100">
            <app-partial-loader *ngIf="areaMappaLoading$ | async"></app-partial-loader>
            <app-map-esri [activeRoute]="activeRoute"
                          [pCenter]="centroMappa"
                          [idRichiestaSelezionata]="idRichiestaSelezionata$ | async"
                          [richiestaModifica]="richiestaModifica$ | async"
                          [richiestaGestione]="richiestaGestione$ | async"
                          [chiamateMarkers]="chiamataMarkers$ | async"
                          [sediMarkers]="sediMarkers$ | async"
                          [direction]="direction$ | async"
                          [filtriRichiesteSelezionati]="filtriRichiesteSelezionati$ | async"
                          [schedeContattoStatus]="schedeContattoStatus$ | async"
                          [composizionePartenzaStatus]="composizioneStatus$ | async"
                          [mezziInServizioStatus]="mezziInServizioStatus$ | async"
                          [areaMappaLoading]="areaMappaLoading$ | async"
                          [tastoChiamataMappaActive]="tastoChiamataMappaActive"
                          [tastoZonaEmergenzaMappaActive]="tastoZonaEmergenzaMappaActive"
                          (mapIsLoaded)="mapIsLoaded($event.areaMappa, $event?.spatialReference)">
            </app-map-esri>
        </div>
    </div>
</div>
