<div class="row h-100">
    <div *ngIf="centroMappa" class="col-12 h-100">
        <div class="col-12 h-100">
            <app-map-esri [activeRoute]="activeRoute"
                          [pCenter]="centroMappa"
                          [idRichiestaSelezionata]="idRichiestaSelezionata$ | async"
                          [richiestaModifica]="richiestaModifica$ | async"
                          [richiestaGestione]="richiestaGestione$ | async"
                          [richiesteStatus]="richiesteStatus$ | async"
                          [richiestaComposizione]="richiestaComposizione$ | async"
                          [chiamateMarkers]="chiamataMarkers$ | async"
                          [direction]="direction$ | async"
                          [filtriRichiesteSelezionati]="filtriRichiesteSelezionati$ | async"
                          [schedeContattoStatus]="schedeContattoStatus$ | async"
                          [composizionePartenzaStatus]="composizioneStatus$ | async"
                          [mezziInServizioStatus]="mezziInServizioStatus$ | async"
                          [idMezzoInServizioSelezionato]="idMezzoInServizioSelezionato$ | async"
                          [idSchedaContattoSelezionata]="idSchedaContattoSelezionata$ | async"
                          [tastoChiamataMappaActive]="tastoChiamataMappaActive"
                          [tastoZonaEmergenzaMappaActive]="tastoZonaEmergenzaMappaActive"
                          [travelDataNuovaPartenza]="travelDataNuovaPartenza$ | async"
                          [visualizzaPercorsiRichiesta]="visualizzaPercorsiRichiesta"
                          (mapIsLoaded)="mapIsLoaded($event.areaMappa, $event?.spatialReference)">
            </app-map-esri>
        </div>
    </div>
</div>
