<div class="modal-header">
    <h4 class="mb-0">
        Scheda Contatto
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="close('ko')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-secondary btn-no-hover text-right"
            (click)="close('ko')">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>

