<div class="text-right pr-0">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary w-75" (click)="richieste()"><i
                class="fa fa-calendar-plus-o pr-1"></i>Richieste</button>
        <button type="button" class="btn btn-outline-primary w-75" (click)="mezzi()"><i class="fa fa-truck pr-1"></i>Mezzi</button>
        <button type="button" class="btn btn-outline-primary w-75" (click)="sedi()"><i class="fa fa-university pr-1"></i>Sedi
        </button>
    </div>
</div>