
<div class="row">
  <div class="col-md-6" >
    
    <p-fieldset legend="Dove" >
      <app-unita-operativa></app-unita-operativa>
    </p-fieldset>
   </div>
  
  <div class="col-md-6">
    <p-fieldset legend="Chi">
      <app-cerca-nominativo [risultatiRicerca]="risRic"></app-cerca-nominativo>
    </p-fieldset>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    <p-fieldset legend="Cosa">
      <app-ruoli-permessi></app-ruoli-permessi>
    </p-fieldset>
  </div>
  
  <div class="col-md-6">
    <p-fieldset legend="Quando">
      <app-durata></app-durata>
    </p-fieldset>
    <br>
    <br>
    <div class="offset-md-5">
      <button type="button" class="btn btn-success btn-lg" (click)="assegnaPermesso()">Conferma</button>
    </div>
    
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-5">
    <p-confirmDialog></p-confirmDialog>
  </div>
</div>

<br>

<div class="row">
  <p-fieldset legend="Permessi assegnati" [toggleable]="true">
    <div class="row">
      <div class="col-md-12">
          <p-dataTable [value]="permessiAssegnati">
          <p-column field="descrizioneUtente" header="Nominativo"></p-column>
          <p-column field="descrizionePermesso" header="Descrizione"></p-column>
          <p-column field="descrizioneUnitaOperativa" header="Unità Operativa"></p-column>
          <p-column field="dataInizioPermesso" header="Data inizio" [style]="{'text-align': 'center'}">
            <ng-template let-col let-bol="rowData" pTemplate="body">
                <span>
                  {{bol[col.field] | friendlyDate:20}}
                </span>
            </ng-template>
          </p-column>
          <p-column field="dataFinePermesso" header="Data fine" [style]="{'text-align': 'center'}">
            <ng-template let-col let-bol="rowData" pTemplate="body">
              <span>
                {{bol[col.field] | friendlyDate:20}}
              </span>
            </ng-template>
          </p-column>
          <p-column field="ricorsivo" header="Ricorsivo" [style]="{'text-align': 'center'}">
              <ng-template let-col let-bol="rowData" pTemplate="body">
                <div *ngIf="bol[col.field]">
                <i class="fa fa-check" aria-hidden="true" title="Permesso ricorsivo" ></i>
                </div>
                <div *ngIf="!bol[col.field]">
                <i class="fa fa-times" aria-hidden="true" title="Permesso non ricorsivo"></i>
                </div>
              </ng-template>  
          </p-column>

          <p-column field="Azioni" header="Azioni" [style]="{'text-align': 'center'}">
            <ng-template let-col let-bol="rowData" pTemplate="body">
              <a href="#" (click)="eliminaPermesso()">
              <i class="fa fa-trash" aria-hidden="true" title="Elimina il permesso"></i>
            </a>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </p-fieldset>
</div>








