<div class="section">
  <div class="row">
      <div class="col col-md-2">
      </div>
      <div class="col col-md-2">
          <p-growl [value]="msgs"></p-growl>
      </div>
  </div>
  <div class="row">
    <div class="col col-md-3">
        <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" 
       (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>

      <div style="margin-top:8px">
          Selected Node: { selectedFile ? selectedFile.label : 'none' }
      </div>
    </div>
    <!--<div class="col col-md-2">
        <button pButton type="text" label="Expand all" (click)="expandAll()"></button>
        <button pButton type="text" label="Collapse all" (click)="collapseAll()"></button>
    </div>-->
    <div class="col col-md-4">
         <button type="button" class="btn btn-sm" (click)="expandAll()">Expand all</button>
         <button type="button" class="btn btn-sm" (click)="collapseAll()">Collapse all</button>
    </div>
  </div>
</div>










