<div class="modal-header">
    <h4 class="modal-title">{{ getTitle() | uppercase }}</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="onDismiss()">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>

<div class="modal-body height py-4 px-5">
    <form [formGroup]="modificaPartenzaForm" ngxsForm="modificaPartenzaModal.modificaPartenzaForm"
          autocomplete="off">
        <!-- operatore e sede -->
        <div class="d-inline-flex mb-3">
            <button class="btn btn-sm btn-block btn-light btn-no-hover ml-2 info-user"
                    style="margin-left: 0px !important;"
                    ngbTooltip="Visualizza Operatore" [ngbPopover]="operatore">
                <i class="fa fa-user"></i>
            </button>
            <button class="btn btn-sm btn-light btn-no-hover ml-2 info-user"
                    ngbTooltip="Visualizza Sede" [ngbPopover]="sede">
                <i class="fa fa-building-o"></i>
            </button>
        </div>
        <ng-template #operatore>
            <small class="d-block font-weight-bold">Operatore:</small>
            <div class="clearfix">
                <div class="float-left">
                    <input id="operatore" formControlName="operatore" class="form-control" placeholder="Opeatore"
                           style="background: none; border: none">
                </div>
            </div>
        </ng-template>
        <ng-template #sede>
            <small class="d-block font-weight-bold">Sede:</small>
            <div class="clearfix">
                <div class="float-left">
                    <input id="sede" formControlName="sede" class="form-control" placeholder="Sede"
                           style="background: none; border: none">
                </div>
            </div>
        </ng-template>
        <!-- anteprima mezzo e squadra/e -->
        <app-box-anteprima-partenza [partenza]="partenza" [inSostituzione]="inSostituzione"
                                    (modificaPartenza)="openSostituzioneModal()" [nonModificabile]="nonModificabile"
                                    (listaSquadrePartenza)="onListaSquadrePartenza()"></app-box-anteprima-partenza>
        <h4 *ngIf="!hideBox" class="my-3" style="text-align-last: center;">In sostituzione con</h4>                            
        <!-- anteprima mezzo e squadra/e sostitutive-->
        <app-box-anteprima-partenza [partenza]="partenza" [hideBox]="hideBox" [boxSostitutivo]="boxSostitutivo" [nuovoMezzo]="nuovoMezzo" [nuoveSquadre]="nuoveSquadre"
        [nonModificabile]="true" (annullaPartenza)="annullaPartenza()"
        (listaSquadrePartenza)="onListaSquadrePartenza()"></app-box-anteprima-partenza>
        <!-- sequenza eventi -->
        <div class="my-4" style="display: flex; justify-content: center;">
            <label id="sequenzaEventi">Crea sequenza Eventi
                <small class="text-danger">*</small>
            </label>
            <button class="btn btn-sm btn-block btn-info btn-no-hover ml-2" (click)="onAddSequenza()"
                    ngbTooltip="Aggiungi evento" style="max-width: fit-content;">
                <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-danger btn-no-hover ml-2" (click)="onRemoveSequenza()"
                    ngbTooltip="Rimuovi evento" style="max-width: fit-content;">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <div *ngIf="sequenze?.length > 0" class="card mb-4" style="width: 33.5rem; margin-left: 85px;">
            <ul class="list-group list-group-flush" style="max-height: 500px;"
                [class.overflow-test]="sequenze?.length > 3">
                <li *ngFor="let sequenza of sequenze; let index = index" class="list-group-item"
                    style="display: inline-flex; place-content: space-between;">
                    <ng-select [items]="listaStatoMezzo"
                               bindLabel="name"
                               [multiple]="false"
                               placeholder="Seleziona stato Mezzo"
                               [(ngModel)]="sequenze[index].stato"
                               [ngModelOptions]="{standalone: true}"
                               style="min-width: 220px; align-self: center;"
                    >
                    </ng-select>
                    <div class="md-form md-outline" id="default-picker" style="display: flex;">
                        <ngb-timepicker [(ngModel)]="sequenze[index].time" [ngModelOptions]="{standalone: true}"
                                        style="margin-left: 25px;" [seconds]="true" ></ngb-timepicker>
                        <i class="fa fa-clock-o" style="align-self: center; padding-left: 10px; font-size: 25px;"
                           size="small"></i>
                        <small class="text-muted" style="display: flex; transform: translate(-229px, 109px); min-width: fit-content;" >* Il cambio di stato risulterà alle {{sequenza.time.hour <= 9 ? '0' + sequenza.time.hour : sequenza.time.hour}}:{{sequenza.time.minute <= 9 ? '0' + sequenza.time.minute : sequenza.time.minute}}:{{sequenza.time.second <= 9 ? '0' + sequenza.time.second : sequenza.time.second}}. </small>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <div class="row">
        <h6 class="text-danger col">* Campi Obbligatori</h6>
        <div *ngIf="!hideBox" class="text-danger col" style="text-align-last: right;"><b class="alert-save-mod" ngbTooltip="Clicca su Salva per confermare le modifiche">
            Le modifiche non sono ancora salvate!</b></div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-secondary btn-no-hover" (click)="closeModal('ko')">
        {{ 'Annulla' | uppercase }}
    </button>
    <button type="button" class="btn btn-lg btn-danger btn-no-hover" ngbTooltip="Riempi tutti i campi obbligatori"
            [disableTooltip]="formValid" (click)="onConferma()">
        {{ 'Salva' | uppercase }}
    </button>
</div>
