<div class="modal-header">
  <h4 class="modal-title">{{ getTitle() | uppercase }}</h4>
  <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
          (click)="onDismiss()">
      <i class="fa fa-times text-danger"></i>
  </button>
</div>

  <div class="modal-body height py-4 px-5">
      <form [formGroup]="modificaPartenzaForm" ngxsForm="modificaPartenzaModal.modificaPartenzaForm"
            autocomplete="off">
          <div class="form-group">
              <label for="operatore">Operatore
                  <small class="text-danger">*</small>
              </label>
              <input id="operatore" formControlName="operatore" class="form-control" placeholder="Opeatore">
          </div>
          <div class="form-group">
            <label for="nuovoMezzo">
                Seleziona Nuovo Mezzo
                <small class="text-danger">*</small>
            </label>
            <ng-select
                    id="nuovoMezzo"
                    formControlName="nuovoMezzo"
                    [items]=""
                    [clearable]="false"
                    placeholder=""
                    [closeOnSelect]="true"
                    [notFoundText]="''">
            </ng-select>
          </div>
      </form>
      <h6 class="text-danger">* Campi Obbligatori</h6>
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-secondary btn-no-hover" (click)="closeModal('ko')">
      {{ 'Annulla' | uppercase }}
  </button>
  <button type="button" class="btn btn-lg btn-danger btn-no-hover" ngbTooltip="Riempi tutti i campi obbligatori"
          [disableTooltip]="formValid" [disabled]="!formValid" (click)="onConferma()">
      {{ 'Conferma' | uppercase }}
  </button>
</div>
