.required-collapse  {
    margin-left: 5px;
    position: relative;
    top: -5px;
}

.border-partenza-box  {
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    padding: 15px;
}

.overflow-test  {
    overflow: auto;
}

.font-box-partenza  {
    font-size: 20px;
}

.info-user {
    max-width: fit-content; 
    border-style: solid; 
    border: 1px solid rgba(0,0,0,0.125);
}