*.bak
/.idea/.name
/.idea/Sala Operativa 115.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
src/frontend/batch.bat
src/backendCore/SO115Core/SO115App.API/bin
src/backendCore/SO115Core/SO115App.API/obj
src/backendCore/SO115Core/SO115App.API.CompositionRoot/bin
src/backendCore/SO115Core/SO115App.API.CompositionRoot/obj
src/backendCore/SO115Core/SO115App.API.Models/bin
src/backendCore/SO115Core/SO115App.API.Models/obj
src/backendCore/SO115Core/SO115App.API.SOVVF.FakeImplementations/bin
src/backendCore/SO115Core/SO115App.API.SOVVF.FakeImplementations/obj
/src/backendCore/SO115Core/.vs/SO115App.API/v16/Server/sqlite3/db.lock
/src/backendCore/SO115Core/.vs/SO115App.API/v16/Server/sqlite3/storage.ide
/src/backendCore/SO115Core/.vs/SO115App.API/v16/Server/sqlite3/storage.ide-shm
/src/backendCore/SO115Core/.vs/SO115App.API/v16/Server/sqlite3/storage.ide-wal
