################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/
/src/.idea/
/src/backendCore/SO115Core
*.cmd
/backend/SO115App.API/*.txt
/src/backend/SO115App.API/*.txt
