<div class="row bg-form-richiesta"
     [ngClass]="{ 'mt-2 h-100 shadow-lg mt-1': !apertoFromMappa }">
    <!-- FORM RICHIESTA -->
    <div class="col-8"
         [ngClass]="{ 'border-right border-secondary': apertoFromMappa }">
        <form [formGroup]="richiestaForm"
              ngxsForm="schedaTelefonata.richiestaForm"
              autocomplete="off">
            <!-- TIPOLOGIA  -->
            <div class="row">
                <div class="col-12 px-0">
                    <div class="px-2 mb-2 bg-secondary font-weight-bold" style="color: #ffffff">TIPOLOGIA</div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-1">
                        <div class="clearfix">
                            <div class="float-left w-75">
                                <label class="d-none">Tipologia intervento</label>
                                <div class="required-field">
                                    <ng-select class="border"
                                               [class.errore]="submitted && !checkTipologie()"
                                               bindLabel="codiceDescrizione"
                                               bindValue="codice"
                                               clearAllText="Clear"
                                               placeholder="Seleziona Tipologia Intervento"
                                               formControlName="codTipologia"
                                               [notFoundText]="'Nessuna tipologia trovata con i parametri di ricerca'"
                                               [items]="tipologie"
                                               [multiple]="false"
                                               [closeOnSelect]="true"
                                               [hideSelected]="true"
                                               (ngModelChange)="onChangeTipologia($event)">
                                    </ng-select>
                                </div>
                                <div *ngIf="submitted && !checkTipologie()" class="text-danger">
                                    <small>Almeno una tipologia è richiesta</small>
                                </div>
                            </div>
                            <div class="float-left w-25 px-2">
                                <button class="btn btn-primary btn-block btn-no-hover" (click)="openTriage()"
                                        [disabled]="!f.dettaglioTipologia.value || modifica">
                                    {{ 'Inizia Triage' | uppercase }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div *ngIf="!loadingDettagliTipologia" class="form-group mb-1">
                        <div class="clearfix">
                            <div class="float-left w-75">
                                <label class="d-none">Dettaglio tipologia</label>
                                <div class="">
                                    <ng-select class="border"
                                               bindLabel="descrizione"
                                               clearAllText="Clear"
                                               placeholder="Seleziona Dettaglio Tipologia"
                                               formControlName="dettaglioTipologia"
                                               [notFoundText]="'Nessun dettaglio tipologia trovato'"
                                               [items]="dettagliTipologia"
                                               [multiple]="false"
                                               [closeOnSelect]="true"
                                               [searchable]="false"
                                               [hideSelected]="true"
                                               [readonly]="!f.codTipologia.value"
                                               (change)="onChangeDettaglioTipologia($event)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loadingDettagliTipologia" class="font-xlarge pl-2 pt-1">
                        <i class="fas fa-spinner fa-spin mr-2"></i>
                        Recupero Dettaglio Tipologia
                    </div>
                </div>
            </div>
            <!-- INDIRIZZO  -->
            <div class="row">
                <div class="col-12 px-0">
                    <div class="px-2 my-2 bg-secondary font-weight-bold" style="color: #ffffff">INDIRIZZO</div>
                </div>
                <div class="col-5">
                    <div class="form-group mb-0">
                        <ng-container *ngIf="!apertoFromMappa">
                            <app-ricerca-indirizzo
                                    [indirizzo]="f?.indirizzo?.value"
                                    [requiredFieldClass]="f?.indirizzo?._rawValidators[0]?.name === 'required'"
                                    [invalid]="!!(submitted && (f.indirizzo.errors || !(f.latitudine.value && f.longitudine.value)))"
                                    (changeIndirizzo)="modificaIndirizzo($event)"
                                    (selectCandidate)="reducerIndirizzo($event)">
                            </app-ricerca-indirizzo>
                        </ng-container>
                        <ng-container *ngIf="apertoFromMappa">
                            <label class="d-none" for="indirizzo">Indirizzo</label>
                            <input id="indirizzo"
                                   class="form-control"
                                   [class.is-invalid]="submitted && f.indirizzo.errors"
                                   type="text"
                                   placeholder="Indirizzo"
                                   formControlName="indirizzo">
                        </ng-container>
                        <div *ngIf="submitted && (f.indirizzo.errors || !(f.latitudine.value && f.longitudine.value))"
                             class="invalid-feedback">
                            <div *ngIf="onMsgIndirizzo() as messaggio">{{messaggio}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="clearfix">
                        <div class="float-left form-group w-25 mr-1 mb-0">
                            <label for="latitudine"
                                   class="d-none">Latitudine</label>
                            <input id="latitudine"
                                   class="form-control"
                                   [class.required-field]="!apertoFromMappa"
                                   [class.is-invalid]="submitted && f.latitudine.errors"
                                   type="tel"
                                   placeholder="Latitudine"
                                   formControlName="latitudine"
                                   appDebounceKeyUp
                                   [debounceTime]="1000"
                                   (debounceKeyUp)="onChangeCoordinate()"
                                   (keypress)="checkInputPattern($event, 'LAT_LON')"
                                   (paste)="checkInputPattern($event, 'LAT_LON')">
                            <div *ngIf="submitted && f.latitudine.errors" class="invalid-feedback">
                                <div *ngIf="f.latitudine.errors.required">La latitudine è richiesta</div>
                                <div *ngIf="f.latitudine.errors.pattern">La latitudine non è corretta</div>
                            </div>
                        </div>
                        <div class="float-left form-group w-25 mb-0">
                            <label class="d-none" for="longitudine">Longitudine</label>
                            <input id="longitudine"
                                   class="form-control"
                                   [class.required-field]="!apertoFromMappa"
                                   [class.is-invalid]="submitted && f.longitudine.errors"
                                   type="tel"
                                   placeholder="Longitudine"
                                   formControlName="longitudine"
                                   appDebounceKeyUp
                                   [debounceTime]="1000"
                                   (debounceKeyUp)="onChangeCoordinate()"
                                   (keypress)="checkInputPattern($event, 'LAT_LON')"
                                   (paste)="checkInputPattern($event, 'LAT_LON')">
                            <div *ngIf="submitted && f.longitudine.errors" class="invalid-feedback">
                                <div *ngIf="f.longitudine.errors.required">La longitudine è richiesta</div>
                                <div *ngIf="f.longitudine.errors.pattern">La longitudine non è corretta</div>
                            </div>
                        </div>
                        <div class="float-left mx-2">
                            <label class="d-none">Copia</label>
                            <button type="button" class="btn btn-secondary btn-no-hover"
                                    [ngbTooltip]="coordsTooltip"
                                    placement="bottom"
                                    (click)="onCopiaCoordinate()"
                                    [disabled]="!(f.latitudine.value && f.longitudine.value)">
                                <i class="fas fa-clipboard"></i>
                            </button>
                            <ng-template #coordsTooltip>
                                Copia: {{ f.latitudine.value }}
                                - {{ f.longitudine.value }}
                            </ng-template>
                        </div>
                        <!-- COMPETENZE -->
                        <ng-template [ngIf]="!loadingCompetenze && competenze?.length">
                            <div class="float-left"
                                 style="font-size: xx-large">
                                <app-competenza *ngFor="let c of competenze; let i = index"
                                                [competenza]="c" [i]="i">
                                </app-competenza>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="loadingCompetenze">
                            <div class="font-xlarge pl-2 pt-1">
                                <i class="fas fa-spinner fa-spin mr-2"></i>
                                Recupero Competenze
                            </div>
                        </ng-template>
                        <!-- COMPETENZE RICHIESTA -->
                        <ng-template [ngIf]="!loadingCompetenze && !competenze?.length && richiestaModifica?.competenze?.length">
                            <div class="float-left"
                                 style="font-size: xx-large">
                                <app-competenza *ngFor="let c of richiestaModifica?.competenze; let i = index"
                                                [competenza]="c" [i]="i">
                                </app-competenza>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- NOTE INDIRIZZO -->
            <ng-container *ngIf="!apertoFromMappa">
                <div class="row">
                    <div class="col-12">
                        <label class="d-none" for="noteIndirizzo">Note Indirizzo</label>
                        <textarea id="noteIndirizzo"
                                  class="form-control my-2"
                                  [class.is-invalid]="submitted && f.noteIndirizzo.errors"
                                  placeholder="Inserisci le Note Indirizzo"
                                  formControlName="noteIndirizzo"
                                  style="max-height: 50px; min-height: 50px;"
                                  role="presentation">
                    </textarea>
                    </div>
                </div>
            </ng-container>
            <!-- RICHIEDENTE  -->
            <div class="row">
                <div class="col-9">
                    <!-- RICHIEDENTE  -->
                    <div class="row px-2 my-2 bg-secondary font-weight-bold" style="color: #ffffff">RICHIEDENTE</div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <div class="form-group mb-1">
                                <label class="d-none" for="nominativo">Nominativo</label>
                                <input id="nominativo"
                                       class="form-control required-field"
                                       [class.is-invalid]="submitted && f.nominativo.errors"
                                       type="text"
                                       (keyup)="checkNominativoSchedaContatto()"
                                       placeholder="Nominativo"
                                       formControlName="nominativo"
                                       role="presentation">
                                <div *ngIf="submitted && f.nominativo.errors" class="invalid-feedback">
                                    <div *ngIf="f.nominativo.errors.required">Il Nominativo è richiesto</div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="form-group mb-1">
                                <label class="d-none" for="telefono">Telefono</label>
                                <input id="telefono" type="tel" placeholder="Inserisci il Telefono"
                                       formControlName="telefono" (keypress)="checkInputPattern($event, 'PHONE')"
                                       (keyup)="checkNumeroSchedaContatto()"
                                       (paste)="checkInputPattern($event, 'PHONE')"
                                       class="form-control required-field"
                                       [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
                                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                                    <div *ngIf="f.telefono.errors.required">Il Telefono è richiesto</div>
                                    <div *ngIf="f.telefono.errors.pattern">Il Telefono è non è corretto</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="!apertoFromMappa">
                        <div class="row mb-2">
                            <div class="col-4">
                                <label class="d-none" for="palazzo">Palazzo</label>
                                <input id="palazzo" type="text" placeholder="Palazzo/Citofono/Info"
                                       formControlName="palazzo"
                                       class="form-control">
                            </div>
                            <div class="col-2 px-1">
                                <label class="d-none" for="scala">Scala</label>
                                <input id="scala" type="text" placeholder="Scala" formControlName="scala"
                                       class="form-control">
                            </div>
                            <div class="col-2 px-1">
                                <label class="d-none" for="piano">Piano</label>
                                <input id="piano" type="text" placeholder="Piano" formControlName="piano"
                                       class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.piano.errors }">
                                <div *ngIf="submitted && f.piano.errors" class="invalid-feedback">
                                    <div *ngIf="f.piano.errors.required">Il Piano è richiesto</div>
                                </div>
                            </div>
                            <div class="col-2 px-1">
                                <label class="d-none" for="interno">Interno</label>
                                <input id="interno" type="text" placeholder="Interno" formControlName="interno"
                                       class="form-control">
                            </div>
                            <div class="col-2 pl-1">
                                <ng-template [ngIf]="f?.codSchedaContatto?.value">
                                    <label class="d-none" for="contatto">Contatto</label>
                                    <input id="contatto" type="text" placeholder="Contatto"
                                           formControlName="codSchedaContatto"
                                           class="form-control">
                                </ng-template>
                                <ng-template [ngIf]="!f?.codSchedaContatto?.value">
                                    <button class="btn btn-secondary btn-block btn-no-hover"
                                            (click)="openModalSchedeContatto()">S. Contatto
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-1">
                    <!-- 112  -->
                    <div class="row my-2 bg-secondary" style="padding: 15px"></div>
                    <div class="row">
                        <div class="col wrapper-grid custom-control custom-radio"
                             [class.opacity-50]="loadingSchedaRichiesta">
                            <div class="d-none">Numeri</div>
                            <div class="d-inline-block pl-2" style="font-size: 18px;">
                                <div style="width: max-content; display: inline-grid; margin-left: 5px">
                                    <div class="d-inline-block">
                                        <input id="112"
                                               type="checkbox"
                                               name="112"
                                               [checked]="scorciatoieTelefono[112]"
                                               (click)="onCheckScorciatoiaNumero('112')"
                                               [disabled]="loadingSchedaRichiesta">
                                        <label for="112"
                                               class="ml-1 mb-0"
                                               style="cursor: pointer">112</label>
                                    </div>
                                    <div class="d-inline-block">
                                        <input id="113"
                                               type="checkbox"
                                               name="113"
                                               [checked]="scorciatoieTelefono[113]"
                                               (click)="onCheckScorciatoiaNumero('113')"
                                               [disabled]="loadingSchedaRichiesta">
                                        <label for="113"
                                               class="ml-1 mb-0"
                                               style="cursor: pointer">113</label>
                                    </div>
                                    <div class="d-inline-block">
                                        <input id="118"
                                               type="checkbox"
                                               name="118"
                                               [checked]="scorciatoieTelefono[118]"
                                               (click)="onCheckScorciatoiaNumero('118')"
                                               [disabled]="loadingSchedaRichiesta">
                                        <label for="118"
                                               class="ml-1 mb-0"
                                               style="cursor: pointer">118</label>
                                    </div>
                                    <div class="d-inline-block">
                                        <input (click)="onCheckScorciatoiaNumero('VV.UU.')" type="checkbox" id="VV.UU."
                                               name="VV.UU."
                                               [checked]="scorciatoieTelefono['VV.UU.']"
                                               [disabled]="loadingSchedaRichiesta">
                                        <label class="ml-1 mb-0" for="VV.UU." style="cursor: pointer">VV.UU.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="!apertoFromMappa">
                    <div class="col-2">
                        <div class="row my-2 bg-secondary" style="padding: 15px">
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- NOTE  -->
            <ng-container *ngIf="!apertoFromMappa">
                <div class="row p-2 my-2 bg-secondary"></div>
                <div class="row mb-5">
                    <div class="col-8">
                        <div class="row">
                            <div *ngIf="richiestaModifica?.codiceRichiesta" class="col-4 mb-2 pr-2">
                                <div class="input-group">
                                    <label class="d-none" for="boschi">Boschi</label>
                                    <input id="boschi"
                                           [class.is-invalid]="submitted && f.boschi.errors"
                                           type="number"
                                           min="0"
                                           placeholder="Inserisci HA"
                                           formControlName="boschi"
                                           class="form-control">
                                    <span class="input-group-text h6" id="boschi-group-text">
                                        Boschi
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="richiestaModifica?.codiceRichiesta" class="col-4 text-center px-1">
                                <div class="input-group">
                                    <label class="d-none" for="campi">Campi</label>
                                    <input id="campi"
                                           [class.is-invalid]="submitted && f.campi.errors"
                                           type="number"
                                           min="0"
                                           placeholder="Inserisci HA"
                                           formControlName="campi"
                                           class="form-control">
                                    <span class="input-group-text h6" id="campi-group-text">
                                        Campi
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="richiestaModifica?.codiceRichiesta" class="col-4 text-center pl-2">
                                <div class="input-group">
                                    <label class="d-none" for="sterpaglie">Sterpaglie</label>
                                    <input id="sterpaglie"
                                           [class.is-invalid]="submitted && f.sterpaglie.errors"
                                           type="number"
                                           min="0"
                                           placeholder="Inserisci HA"
                                           formControlName="sterpaglie"
                                           class="form-control">
                                    <span class="input-group-text h6" id="sterpaglie-group-text">
                                        Sterpaglie
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label class="d-none" for="notePubbliche">Note Pubbliche</label>
                                <textarea id="notePubbliche"
                                          class="form-control area-size"
                                          [class.is-invalid]="submitted && f.notePubbliche.errors"
                                          placeholder="Inserisci le Note Pubbliche"
                                          formControlName="notePubbliche">
                                </textarea>
                            </div>
                            <div class="col-6 text-center">
                                <label class="d-none" for="notePrivate">Note Private</label>
                                <textarea id="notePrivate"
                                          [class.is-invalid]="submitted && f.notePrivate.errors"
                                          type="text"
                                          placeholder="Inserisci le Note Private"
                                          formControlName="notePrivate" class="form-control area-size">
                                </textarea>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="d-none" for="zoneEmergenza">Codice emergenza</label>
                                    <input id="zoneEmergenza"
                                           [class.is-invalid]="submitted && f.zoneEmergenza.errors"
                                           type="text"
                                           placeholder="Inserisci il Codice Emergenza"
                                           formControlName="zoneEmergenza" class="form-control">
                                </div>
                                <div class="form-group mb-2">
                                    <label class="d-none" for="etichette">Tag</label>
                                    <tag-input id="etichette"
                                               [removable]="!loadingSchedaRichiesta"
                                               formControlName="etichette"
                                               [modelAsStrings]="true"
                                               [placeholder]="'Inserisci Tag'"
                                               [secondaryPlaceholder]="'Inserisci tag'"></tag-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="wrapper-grid mt-1">
                            <app-checkbox
                                    [checkboxState]="getCheckboxEsercitazioneState()"
                                    (checkbox)="setEsercitazioneValue()">
                            </app-checkbox>
                        </div>
                        <div class="wrapper-grid mt-1"
                             ngbTooltip="Necessaria la compilazione dei campi obbligatori"
                             [disableTooltip]="!formIsInvalid()">
                            <app-checkbox
                                    [checkboxState]="getCheckboxUrgenzaState()"
                                    (click)="setUrgenza()">
                            </app-checkbox>
                        </div>
                        <div *ngIf="richiestaModifica?.stato === StatoRichiesta.Chiamata"
                             class="wrapper-grid mt-3">
                            <span class="mb-0 h5">Priorità</span>
                            <span class="pl-2"
                                  style="font-size: 18px;">
                          <ngb-rating [starTemplate]="t"
                                      [rate]="richiestaModifica.prioritaRichiesta"
                                      [max]="4"
                                      (rateChange)="onChangePrioritaRichiesta($event)"
                                      style="display: inline-grid !important; transform: rotate(180deg)"></ngb-rating>
                          <ng-template #t
                                       let-fill="fill"
                                       let-index="index">
                          <span class="circle"
                                [class.filled]="fill === 100"
                                [class.bad]="index > 2 && fill === 100">
                            <i class="fas fa-circle mr-1"></i>
                          </span>
                          </ng-template>
                          <span style="width: max-content; display: inline-grid; margin-left: 8px">
                              <span>Alta</span>
                              <span>Media</span>
                              <span>Bassa</span>
                              <span>Nessuna</span>
                          </span>
                        </span>
                            <span *ngIf="submitted && f.prioritaRichiesta.errors"
                                  class="form-text small">
                            <span *ngIf="f.prioritaRichiesta.errors.required"
                                  class="text-danger">
                                La priorità è richiesta
                            </span>
                        </span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- BOTTONI -->
            <div class="clearfix"
                 [class.py-3]="apertoFromMappa">
                <div class="row-creazione">
                    <ng-template [ngIf]="!modifica">
                        <button class="btn btn-primary btn-no-hover btn-xlarge" style="width: 25%"
                                [disabled]="loadingCompetenze || !competenze?.length || disabledInviaPartenza || formIsInvalid()"
                                [ngClass]="{'cursor-not-allowed': disabledInviaPartenza}"
                                (click)="impostaAzioneChiamata(AzioneChiamataEnum.InviaPartenza)"
                                ngbTooltip="Invia Partenza"
                                placement="top">
                            Conferma e Invia Partenza
                        </button>
                        <button class="btn btn-danger btn-no-hover btn-xlarge btn-creazione"
                                [disabled]="loadingCompetenze || !competenze?.length || formIsInvalid()"
                                (click)="impostaAzioneChiamata(AzioneChiamataEnum.MettiInCoda)"
                                ngbTooltip="Metti In Coda"
                                placement="top">
                            Conferma
                        </button>
                        <ng-container *ngIf="!apertoFromMappa">
                            <button class="btn btn-outline-secondary btn-no-hover btn-xlarge btn-creazione"
                                    type="button"
                                    [disabled]="loadingCompetenze || !competenze?.length || formIsInvalid()"
                                    (click)="onInAttesa()">
                                <i class="fas fa-pause mr-1"></i>
                                In Attesa
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!apertoFromMappa">
                            <button class="btn btn-outline-secondary btn-no-hover btn-xlarge btn-creazione" style="width: 19%"
                                    type="button"
                                    (click)="onResetChiamata()">
                                <i class="fas fa-recycle mr-1"></i>
                                Ripulisci Campi
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!apertoFromMappa">
                            <button type="button" class="btn btn-outline-danger btn-no-hover btn-xlarge btn-creazione"
                                    (click)="onAnnullaChiamata()">
                                Torna Indietro
                            </button>
                        </ng-container>
                        <ng-container *ngIf="apertoFromMappa">
                            <button type="button" class="btn btn-outline-danger btn-no-hover btn-xlarge"
                                    (click)="onAnnullaChiamataFromMappa()">
                                Chiudi
                            </button>
                        </ng-container>
                    </ng-template>
                </div>
                <div class="row-modifica">
                    <ng-template [ngIf]="modifica">
                        <button type="button" class="btn btn-outline-danger btn-no-hover btn-xlarge btn-modifica"
                                (click)="onChiudiModifica()">
                            Annulla Modifiche
                        </button>
                        <button class="btn btn-success btn-no-hover btn-xlarge btn-modifica"
                                [disabled]="!richiestaModifica?.competenze?.length || formIsInvalid()"
                                (click)="impostaAzioneChiamata(AzioneChiamataEnum.Modifica)"
                                ngbTooltip="Conferma Modifica"
                                placement="top">
                            Salva e Chiudi
                        </button>
                        <button class="btn btn-primary btn-no-hover btn-xlarge btn-modifica"
                                style="min-width: 100px; width: 400px"
                                [disabled]="loadingCompetenze || !competenze?.length || disabledInviaPartenza || formIsInvalid()"
                                [ngClass]="{'cursor-not-allowed': disabledInviaPartenza}"
                                (click)="impostaAzioneChiamata(AzioneChiamataEnum.InviaPartenza)"
                                ngbTooltip="Invia Partenza"
                                placement="top">
                            Salva e Invia Partenza
                        </button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
    <!-- Resoconto triage -->

    <div class="col-4 h-100 scroll-y py-3"
         [class.bg-resoconto-triage]="!apertoFromMappa">
        <div class="px-2 mb-2 bg-secondary font-weight-bold" style="color: #ffffff">INFO AGGIUNTIVE</div>
        <div>
            <app-triage-summary [tipologia]="getTipologia(f.codTipologia.value)"
                                [dettaglioTipologia]="f.dettaglioTipologia?.value"
                                [codSchedaContatto]="schedaContatto?.codiceScheda"
                                [dettaglioSchedaContatto]="schedaContattoDettaglio"
                                [countInterventiProssimita]="countInterventiProssimita"
                                [interventiProssimita]="interventiProssimita"
                                [countInterventiStessaVia]="countInterventiStessaVia"
                                [interventiStessaVia]="interventiStessaVia"
                                [countInterventiChiusiStessoIndirizzo]="countInterventiChiusiStessoIndirizzo"
                                [interventiChiusiStessoIndirizzo]="interventiChiusiStessoIndirizzo"
                                [triageSummary]="getTipologia(f.codTipologia.value) ? triageSummary : null"
                                [pos]="getTipologia(f.codTipologia.value) ? pos : null"
                                [schedaContatto]="schedaContatto">
            </app-triage-summary>
        </div>
    </div>
</div>
