<div class="container-fluid pt-4 pb-2">
    <div class="row">
        <div [class.col-12]="!doubleMonitor"
             [class.col-6]="doubleMonitor">
            <div class="row">
                <div class="col-12 col-md-9 mx-auto mb-2">
                    <h2>
                        <i class="far fa-file-alt"></i>
                        {{ descCategoria }}
                    </h2>
                </div>
                <div class="col-12 col-md-9 mx-auto mb-2">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary mb-2 font-weight-bold"
                                    (click)="onAddDocumento()">
                                <i class="fas fa-plus mr-1"></i>
                                Aggiungi Documento
                            </button>
                        </div>
                        <div class="col-4">
                            <app-ricerca-area-documentale [loading]="loading$ | async"
                                                          (ricercaChange)="onRicercaDocumenti($event)">
                            </app-ricerca-area-documentale>
                        </div>
                    </div>
                </div>
                <div *ngIf="ricerca" class="col-12 col-md-9 mx-auto pl-4">
                    <app-risultati-ricerca [ricerca]="ricerca">
                    </app-risultati-ricerca>
                </div>
                <div class="col-12 col-md-9 mx-auto">
                    <app-tabella-documenti [documenti]="documenti$ | async"
                                           [page]="page$ | async"
                                           [pageSize]="pageSize$ | async"
                                           [pageSizes]="pageSizes$ | async"
                                           [totalItems]="totalItems$ | async"
                                           [loading]="loading$ | async"
                                           (download)="onDownloadDocumento($event)"
                                           (view)="onViewDocumento($event)"
                                           (editDocumento)="onEditDocumento($event)"
                                           (deleteDocumento)="onDeleteDocumento($event)"
                                           (pageChange)="onPageChange($event)"
                                           (pageSizeChange)="onPageSizeChange($event)">
                    </app-tabella-documenti>
                </div>
            </div>
        </div>
        <div *ngIf="doubleMonitor" class="col-6">
            <div class="mt-2"
                 style="height:920px">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
