<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'Creazione DOA' | uppercase }}
    </h4>
    <button type="button"
            class="btn btn-light close"
            style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <span class="text-danger"><i class="fas fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="doaForm" ngxsForm="zoneEmergenza.doaForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome"
                   class="form-control"
                   type="text"
                   placeholder="Nome"
                   formControlName="nome">
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="latitudine">Indirizzo</label>
                    <app-ricerca-indirizzo [indirizzo]="f.indirizzo?.value"
                                           [requiredFieldClass]="false"
                                           (selectCandidate)="onSetIndirizzo($event)">
                    </app-ricerca-indirizzo>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="latitudine">Latitudine</label>
                    <input id="latitudine"
                           class="form-control"
                           type="tel"
                           placeholder="Latitudine"
                           formControlName="latitudine">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="longitudine">Longitudine</label>
                    <input id="longitudine"
                           class="form-control"
                           type="tel"
                           placeholder="Longitudine"
                           formControlName="longitudine">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="listaModuliColonnaMobile">Moduli Colonna Mobile</label>
            <ng-select id="listaModuliColonnaMobile"
                       [items]="moduli"
                       bindLabel="nomeModulo"
                       [multiple]="true"
                       [disabled]="!moduli?.length"
                       placeholder="Moduli Colonna Mobile"
                       formControlName="listaModuliColonnaMobile">
                <ng-template ng-label-tmp let-item="item">
                    <b>{{ item.nomeModulo }}</b> - {{ item.codComando }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    <b>{{ item.nomeModulo }}</b> - {{ item.codComando }}
                </ng-template>
            </ng-select>
        </div>
        <ng-container *ngIf="!moduli?.length">
            <div class="alert alert-danger">
                Non ci sono moduli associati, la selezione è obbligatoria.
                <button class="btn btn-outline-light"
                        (click)="onColonneMobili()">
                    Associa Moduli
                </button>
            </div>
        </ng-container>
        <div class="form-group">
            <label for="listaComuniInteressati">Lista Comuni Interessati</label>
            <ng-select id="listaComuniInteressati"
                       [items]="['Comune 1', 'Comune 2', 'Comune 3', 'Comune 4']"
                       [multiple]="true"
                       [hideSelected]="true"
                       placeholder="Lista Comuni Interessati"
                       formControlName="listaComuniInteressati">
            </ng-select>
        </div>
    </form>
</div>
<div class="modal-footer" style="place-content: space-between;">
    <button class="btn btn-lg btn-danger text-right btn-no-hover font-weight-bold"
            [disabled]="!doaForm?.valid"
            (click)="onInserisciDoa()">
        {{ 'Conferma' | uppercase }}
    </button>
    <button class="btn btn-lg btn-secondary text-right btn-no-hover font-weight-bold"
            (click)="close('ko')">
        {{ 'Annulla' | uppercase }}
    </button>
</div>
