<div class="row px-0">
    <app-partial-loader *ngIf="loadingMezziInServizio$ | async"></app-partial-loader>
    <div class="col-12 border-bottom border-light shadown-sm scroll-y"
         [class.m-h-683-mezziinservizio]="boxAttivi"
         [class.m-h-788-mezziinservizio]="!boxAttivi"
         [class.mt-2]="!ricerca">
        <ng-template [ngIf]="ricerca">
            <app-risultati-ricerca [ricerca]="ricerca"></app-risultati-ricerca>
        </ng-template>
        <div *ngIf="mezziInServizio" class="row">
            <div *ngFor="let m of mezziInServizio" class="col-6 pl-4 mb-1">
                <app-mezzo-in-servizio [mezzoInServizio]="m" [idMezzoInServizioHover]="idMezzoInServizioHover"
                                       [nightMode]="nightMode"
                                       [idMezzoInServizioSelezionato]="idMezzoInServizioSelezionato"
                                       [loading]="(loadingActionMezzo$ | async)"
                                       (hoverIn)="hoverIn($event)" (hoverOut)="hoverOut()"
                                       (selezionato)="selezionato($event)"
                                       (dettaglioRichiesta)="onDettaglioRichiesta($event)"
                                       (visualizzaEventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                                       (actionMezzo)="onActionMezzo($event.a, $event.b)"></app-mezzo-in-servizio>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="text-right">
            <pagination-controls class="mt-1 mb-0"
                                 [previousLabel]="'Precedente'"
                                 [nextLabel]="'Successiva'"
                                 (pageChange)="onPageChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>
