<div class="modal-header text-primary">
    <h2 class="font-weight-bolder mb-0">
        <i class="fa fa-newspaper-o mr-1"></i>
        {{ 'novità della nuova versione' | uppercase }}
    </h2>
</div>
<div class="modal-body">
    <div class="h2 font-weight-bolder text-center mt-2 mb-3">
        {{ 'È stata creata una pagina per consultare le informazioni sugli aggiornamenti.' }}
    </div>
    <div class="text-center mb-4">
        <button class="btn btn-no-hover btn-lg btn-success font-weight-bolder" (click)="goToChangelog()">
            {{ 'Vai alle informazioni sugli aggiornamenti' | uppercase }}
        </button>
    </div>
    <h5 class="text-danger mt-1 mb-2">
        <i class="fa fa-exclamation-triangle mr-1"></i>
        Questo aggiornamento ha richiesto il reset della base dati, tutti i dati sono stati eliminati
    </h5>
</div>
<div class="modal-footer">
    <button class="btn btn-no-hover btn-lg btn-danger font-weight-bolder" (click)="close()">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>

