<div class="modal-header text-primary">
    <h2 class="font-weight-bolder mb-0">
        <i class="fa fa-newspaper-o mr-1"></i>
        {{ 'novità della nuova versione' | uppercase }}
    </h2>
</div>
<div class="modal-body">
    <div class="h2 font-weight-bolder text-center mt-2 mb-3">
        {{ 'È stata creata una pagina per consultare le informazioni sugli aggiornamenti.' }}
    </div>
    <div class="text-center mb-4">
        <button class="btn btn-no-hover btn-lg btn-success font-weight-bolder" (click)="goToChangelog()">
            {{ 'Vai alle informazioni sugli aggiornamenti' | uppercase }}
        </button>
    </div>
    <div class="alert alert-danger font-weight-bolder mt-1 mb-2 d-none">
        <i class="fa fa-exclamation-triangle mr-1"></i>
        Questo aggiornamento ha richiesto il reset della base dati, tutti i dati sono stati eliminati (È stato
        effettuato un backup dei dati qualora ci fosse la necessità di effettuare analisi).
    </div>
    <div class="alert alert-success font-weight-bold mt-1 mb-2 d-none">
        <i class="fa fa-info-circle mr-1"></i>
        Volevamo ringraziarvi per la partecipazione, ad oggi sono stati registrati circa <b>1500 utenti</b> e sono state
        inserite più di <b>1100 richieste di assistenza</b>.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-no-hover btn-lg btn-danger font-weight-bolder" (click)="close()">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>

