<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" (openChange)="onToggleDropdown($event)"
     placement="bottom-left">
    <button class="btn mx-2" [ngbTooltip]="getTooltip()" style="position:relative;" [ngClass]="getClasses()"
            (click)="listaNotifiche?.length > 0 && myDrop.toggle()" ngbDropdownAnchor>
        <i class="fa fa-bell-o"></i>
        <div *ngIf="nuoveNotifiche" class="position-absolute badge badge-danger px-1" style="top:2px; right:4px;">
            {{ nuoveNotifiche }}
        </div>
    </button>
    <div ngbDropdownMenu style="width: 330px; max-height:400px; overflow: auto" class="my-0">
        <div class="text-center mt-3 mb-2">
            <h4 class="font-weight-bold mb-0">Notifiche</h4>
        </div>
        <div *ngFor="let notifica of listaNotifiche; let i = index" class="position-relative pl-3 pr-2 pt-4 pb-2"
             [ngClass]="{'border-bottom': listaNotifiche?.length > 1 && (i + 1) !== listaNotifiche?.length, 'border-bottom-0': (i + 1) === listaNotifiche?.length, 'cursor-pointer bg-light': this.active === i }"
             (mouseenter)="setActive(i)" (mouseleave)="clearActive()" (click)="onSelezione(notifica)">
            <h5 class="font-weight-bolder my-1">{{ notifica.titolo }}</h5>
            <h6 class="mb-1">{{ notifica.descrizione }}</h6>
            <div class="text-center">
                <i class="fa fa-info-circle mr-2"></i>
                <small class="text-muted">{{ notifica.tipo | tipoNotifica }}</small>
            </div>
            <small class="position-absolute text-muted" style="top:6px; left:14px">
                <i class="fa fa-clock-o"></i>
                {{ notifica.data | date: 'dd/MM HH:mm:ss' }}
            </small>
            <small *ngIf="(i + 1) <= nuoveNotifiche" class="position-absolute text-primary"
                   style="top:5px; right:8px">
                <i class="fa fa-dot-circle-o"></i>
                Nuova
            </small>
        </div>
    </div>
</div>
