<div #myDrop="ngbDropdown"
     class="d-inline-block"
     ngbDropdown
     (openChange)="onToggleDropdown($event)">
    <button class="btn mr-2"
            [ngClass]="getClasses()"
            style="position:relative;"
            [ngbTooltip]="getTooltip()"
            placement="left"
            (click)="listaNotifiche?.length > 0 && myDrop.toggle()" ngbDropdownAnchor>
        <i class="far fa-bell"></i>
        <div *ngIf="nuoveNotifiche" class="position-absolute badge badge-danger px-1" style="top:2px; right:4px;">
            {{ nuoveNotifiche }}
        </div>
    </button>
    <div ngbDropdownMenu
         class="my-0 dropdown-menu-right"
         style="width: 330px; max-height:400px; overflow: auto">
        <div class="text-center mt-3 mb-2">
            <h4 class="font-weight-bold mb-0">Notifiche</h4>
        </div>
        <div *ngFor="let notifica of listaNotifiche; let i = index"
             class="position-relative pl-3 pr-2 pt-4 pb-2"
             [ngClass]="{'border-bottom': listaNotifiche?.length > 1 && (i + 1) !== listaNotifiche?.length, 'border-bottom-0': (i + 1) === listaNotifiche?.length, 'cursor-pointer bg-light': (this.active === i) && !nightMode }"
             (mouseenter)="setActive(i)"
             (mouseleave)="clearActive()"
             (click)="onSelezione(notifica)">
            <h5 class="font-weight-bolder my-1">{{ notifica.titolo }}</h5>
            <h6 class="mb-1">{{ notifica.descrizione }}</h6>
            <div class="text-center">
                <i class="fas fa-info-circle mr-2"></i>
                <small class="text-muted">{{ notifica.tipo | tipoNotifica }}</small>
            </div>
            <small class="position-absolute text-muted" style="top:6px; left:14px">
                <i class="far fa-clock"></i>
                {{ notifica.data | date: 'dd/MM HH:mm:ss' }}
            </small>
            <small *ngIf="(i + 1) <= nuoveNotifiche" class="position-absolute text-primary"
                   style="top:5px; right:8px">
                <i class="fas fa-dot-circle-o"></i>
                Nuova
            </small>
        </div>
    </div>
</div>
