<div class="row">
  <!-- Loader (!richieste) -->
  <div *ngIf="loaderRichieste" class="mx-auto my-5">
    <img src="../../../assets/img/pink_loader_resized.gif">
  </div>

  <!-- Singola Richiesta Fissata  -->
  <div class="col-12 pl-0 pr-4">
    <app-richiesta-fissata (tornaNellaLista)="rimettiNellaLista($event)" (eventiRichiesta)="visualizzaEventiRichiesta($event)"></app-richiesta-fissata>
  </div>
  <!-- Lista di singole Richieste -->
  <div class="col-12 pt-1 px-0 m-h-750 scroll-y" detect-scroll (onScroll)="nuoveRichieste($event)" [bottomOffset]="1">
    <div *ngFor="let r of richieste | filterBy: ricercaS.searchTerm" class="col-6big">
      <div class="w-100 rounded card-shadow" [ngClass]="cardShadowClass(r)">
        <app-sintesi-richiesta [richiesta]="r" [fissata]="false" (mouseover)="richiestaHoverIn(r)" (mouseout)="richiestaHoverOut(r)"
          (fissaInAlto)="fissaInAlto($event)" (clickRichiesta)="richiestaClick($event)" (doubleClickRichiesta)="richiestaDoubleClick($event)"
          (eventiRichiesta)="visualizzaEventiRichiesta($event)"></app-sintesi-richiesta>
      </div>
      <!-- <div *ngIf="richiestaFissata" class="col-6big card">
        <i class="fa fa-star"></i> Sono una richiesta fissata -> {{ r.codice }}
      </div> -->
    </div>
  </div>
  <div *ngIf="loaderNuoveRichieste" class="col-12 text-center mt-1">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
  </div>
</div>