.h-info-window {
    min-width: 260px;
}

.s-info-window {
    font-size: small !important;
    font-weight: normal !important;
}

.guida {
    color: #bbbbbb;
}

.circle-font {
    font-size: small !important;
    color: #e2e2e2;
}

.filled {
    color: #9b9b9b;
}

.bad {
    color: #c23535;
}
