<ngx-charts-bar-horizontal-2d
        [results]="data"
        [view]="view"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [xAxisLabel]="xAxisLabel"
        [xAxisTickFormatting]="formatXAxisTick"
        [yAxis]="showYAxis"
        [yAxisLabel]="yAxisLabel"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [barPadding]="barPadding"
        [groupPadding]="groupPadding"
        [showGridLines]="showGridLines"
        [showDataLabel]="showDataLabel"
        [dataLabelFormatting]="formatDataLabel"
        [roundDomains]="roundDomains"
        [noBarWhenZero]="noBarWhenZero"
        [roundEdges]="roundEdges"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
</ngx-charts-bar-horizontal-2d>
