<div class="container-fluid bg-dark" style="height:100vh">
    <div class="row">
        <div class="col-3 mx-auto my-5 px-3 bg-white rounded">
            <div class="w-75 mx-auto text-center my-3">
                <img class="img-fluid" src="assets/img/wallpaper_originale.png">
            </div>
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1 class="display-1 font-weight-bold" style="color: #C50030">404</h1>
                    <h4 class="font-300" style="color: #DE002F">Siamo spiacenti la pagina non esiste.</h4>
                    <button routerLink="/home" class="btn btn-lg btn-primary btn-rounded my-3">Torna alla home</button>
                </div>
            </div>
        </div>
    </div>
</div>