<div class="mt-3 text-center">
    <div class="row">
        <div class="col-8 p-2">
            <div class="form-inline">
                <button class="btn btn-secondary mx-2" (click)="centroMilano()">Milano</button>
                <button class="btn btn-secondary mx-2" (click)="centroRoma()">Roma</button>
                <button class="btn btn-secondary mx-2" (click)="nuovoCentro()">Centro</button>
                <button class="btn btn-secondary mx-2" (click)="calcolaCentro()">Calcola</button>
                <button class="btn btn-secondary mx-2" (click)="startDirection()">Direzioni: yes</button>
                <button class="btn btn-secondary mx-2" (click)="stopDirection()">Direzioni: no</button>
                <button class="btn btn-secondary mx-2" (click)="addRandomMarker()"><i class="fa fa-plus"></i></button>
                <button class="btn btn-secondary mx-2" (click)="removeLastMarker()"><i class="fa fa-minus"></i></button>
                <input [(ngModel)]="testS" class="form-control w-25" type="text">
                <button class="btn btn-secondary mx-2" (click)="getMarker(testS)"><i class="fa fa-check"></i></button>
            </div>
        </div>
        <div class="col-4 ml-auto">
            <div *ngIf="markerSelezionato && markerSelezionato.id">
                <div class="card bg-light border p-2">
                    <div>Marker {{markerSelezionato.id}}:
                        <button class="btn btn-primary mx-2" (click)="changeMarkerColor()"><i
                                class="fa fa-paint-brush"></i></button>
                        <button class="btn btn-primary mr-2" (click)="changeMarkerSize()"><i
                                class="fa fa-arrows-alt"></i></button>
                        <button class="btn btn-primary mr-2" (click)="changeMarkerAnimation()"><i
                                class="fa fa-cog fa-spin"></i></button>
                        <button class="btn btn-primary mr-2" (click)="removeMarker()"><i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>