<div style="margin-right: -10px"
     [class.small]="!bigText"
     [class.big]="bigText"
     [ngbTooltip]="tooltipMessage"
     [disableTooltip]="!tooltipMessage"
     (click)="container.emit()">
    <input id="{{typeName}}{{checkboxState.label}}"
           type="checkbox"
           [checked]="checkboxState.status"
           [disabled]="checkboxState?.disabled || (checkboxState?.disableFiltri && (checkboxState?.id !== 'Chiuse'))"
           (click)="onCheck()"/>
    <label for="{{typeName}}{{checkboxState.label}}"
           [innerHTML]="labelFormat()"
           [class.disable-checkbox]="checkboxState?.disabled || (checkboxState?.disableFiltri && (checkboxState?.id !== 'Chiuse'))"></label>
</div>
