<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'coda chiamate di ' + descDistaccamento | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="close({ status:'ko' })">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>

<div class="modal-body px-1">
    <div class="d-flex justify-content-end mb-4 px-2">
        <div class="card bg-dark-light w-25">
            <div class="card-header">
                <span class="font-weight-bold">{{ squadre?.length }}</span> {{ (!squadre.length || squadre?.length > 1 ? 'squadre' : 'squadra') | uppercase }}
            </div>
            <div class="card-body p-2 scroll-y"
                 style="max-height: 200px">
                <ng-container *ngIf="squadre?.length">
                    <div *ngFor="let s of squadre"
                         class="d-flex justify-content-between align-items-center font-xxlarge px-3">
                        <div class="">
                            {{ s.nome }} ({{ s?.turno }})
                        </div>
                        <div class="">
                            <app-icona-stato [stato]="_nomeStatiSquadra(s.stato)"></app-icona-stato>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!squadre?.length">
                    <div class="alert alert-danger mb-0">
                        Nessuna squadra su {{ descDistaccamento }}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="px-2">
        <div class="card bg-dark-light">
            <div class="card-header">
                <span class="font-weight-bold">{{ richieste?.length }}</span> {{ (!richieste.length || richieste?.length > 1 ? 'Interventi' : 'Intervento') | uppercase }}
            </div>
            <div class="card-body p-2 scroll-y" style="max-height: 350px">
                <ng-container *ngIf="richieste?.length">
                    <div *ngFor="let r of richieste"
                         class="border-bottom">
                        <app-sintesi-richiesta [richiesta]="r"
                                               [modificabile]="false"
                                               [gestibile]="false"
                                               [disabledComposizionePartenza]="(permessiFeature.ComposizionePartenzaRichiesta | checkPermissionRichiesta: r.codUOCompetenza : r.codSOCompetente : r.codSOAllertate) || (tipoConcorrenzaEnum.InvioPartenza | checkConcorrenzaLocked: [r.codice]) || r.stato === statoRichiesta.Chiusa"
                                               (nuovaPartenza)="onNuovaPartenza($event)">
                        </app-sintesi-richiesta>
                    </div>
                </ng-container>
                <ng-container *ngIf="!richieste?.length">
                    <div class="alert alert-danger mb-0">
                        Nessuna Chiamata su {{ descDistaccamento }}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-2"
            (click)="close({ status:'ko' })">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>
