ngb-accordion {
  .card {
    padding-bottom: 1rem;
    border: none;
  }

  .card-header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f0f0f0;
  }

  .card-body {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.dropdownAnnulla {
  border-color: #dc3545 !important;
}

.dropdownAnnulla button:hover {
  background-color: #dc3545 !important;
  color: white;
}

.dropdownConferma {
  border-color: #28a745 !important;
}

.dropdownConferma button:hover {
  background-color: #28a745 !important;
  color: white;
}

.dropdownTipologiaRichiedente {
  border-color: #007bff !important;
}

.dropdownTipologiaRichiedente button:hover {
  background-color: #007bff !important;
  color: white;
}

.dropdown-menu {
  min-width: 200px !important;
}

.ng-select.errore {
  .ng-select-container {
    border-color: #dc3545 !important;
  }
}
