<div class="row mt-2 h-100">
  <app-partial-loader *ngIf="loading"></app-partial-loader>
  <div class="col-12 pt-2 mx-auto rounded status_chiamata card-shadow-danger">
    <form [formGroup]="chiamataForm" ngxsForm="schedaTelefonata.nuovaRichiestaForm" autocomplete="off">
      <div class="row">
        <div class="col-5">
          <ng-template #rilevante>
            <div *ngIf="f.rilevanzaGrave?.value">Intervento Rilevante</div>
            <div *ngIf="f.rilevanzaStArCu?.value">Intervento Rilevante Storico Artistico
              Culturale
            </div>
          </ng-template>
          <h3 class="mb-0">
            Chiamata in corso...
            <span *ngIf="f.rilevanzaGrave?.value || f.rilevanzaStArCu?.value"
                  class="d-inline-block mr-1 text-danger"
                  [ngbTooltip]="rilevante" placement="bottom">
                            <i *ngIf="f.rilevanzaGrave?.value" class="fa fa-exclamation mr-2"></i>
                            <i *ngIf="f.rilevanzaStArCu?.value" class="fa fa-university"></i>
                        </span>
          </h3>
        </div>
        <div class="col-4">
          <!-- Spazio libero -->
        </div>
        <div class="col-3 float-right text-right font-xlarge">
          <span class="mr-2 h5 font-weight-normal">Priorità</span>
          <ngb-rating [formControl]="f.prioritaRichiesta" [starTemplate]="t" [max]="5"></ngb-rating>
          <ng-template #t let-fill="fill" let-index="index">
            <span class="circle" [class.filled]="fill === 100" [class.bad]="index > 2 && fill === 100">
              <i class="fa fa-circle mr-1"></i>
            </span>
          </ng-template>
          <span *ngIf="submitted && f.prioritaRichiesta.errors" class="form-text small">
            <div *ngIf="f.prioritaRichiesta.errors.required" class="text-danger">La priorità è richiesta</div>
          </span>
        </div>
      </div>
      <hr class="mt-1 mb-2">
      <div class="form-group mb-2">
        <!-- TIPOLOGIA  -->
        <div class="row p-2 my-2 bg-secondary text-white font-xlarge font-weight-bold">TIPOLOGIA</div>
        <label class="d-none">Tipologia intervento</label>
        <div class="required-field">
          <ng-select class="border font-xlarge test-ng-select"
                     [ngClass]="{'errore': submitted && checkTipologie()}"
                     bindLabel="codiceDescrizione"
                     bindValue="codice"
                     clearAllText="Clear"
                     placeholder="Seleziona Tipologia Intervento"
                     formControlName="selectedTipologie"
                     [notFoundText]="'Nessuna tipologia trovata con i parametri di ricerca'"
                     [items]="tipologie"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     (add)="onAddTipologia($event)"
                     (remove)="onRemoveTipologia($event)">
          </ng-select>
        </div>
        <div *ngIf="submitted && checkTipologie()" class="text-danger">
          <small>Almeno una tipologia è richiesta</small>
        </div>
      </div>
      <!-- INDIRIZZO  -->
      <div class="row p-2 my-2 bg-secondary text-white font-xlarge font-weight-bold">INDIRIZZO</div>
      <div class="row">
        <div class="col-6">
          <div class="form-group mb-2">
            <label class="d-none" for="indirizzo">Indirizzo</label>
            <input id="indirizzo" ngx-google-places-autocomplete type="text" formControlName="indirizzo"
                   class="form-control font-xlarge required-field"
                   [ngClass]="{ 'is-invalid': submitted && (f.indirizzo.errors || !coordinate) }"
                   placeholder="Ricerca indirizzo" [options]="ngxGooglePlacesOptions"
                   (onAddressChange)="onCercaIndirizzo($event)"
                   role="presentation"
            >
            <div *ngIf="submitted && (f.indirizzo.errors || !coordinate)" class="invalid-feedback">
              <div *ngIf="onMsgIndirizzo() as messaggio">{{messaggio}}</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group d-inline-block mb-2" style="width:38%; margin-right: 2%">
            <label class="d-none" for="latitudine">Latitudine</label>
            <input id="latitudine" type="tel" placeholder="Latitudine" formControlName="latitudine"
                   (keypress)="checkInputPattern($event, 'LAT_LON')"
                   (paste)="checkInputPattern($event, 'LAT_LON')"
                   class="form-control font-xlarge required-field" [ngClass]="{ 'is-invalid': submitted && f.latitudine.errors }"/>
            <div *ngIf="submitted && f.latitudine.errors" class="invalid-feedback">
              <div *ngIf="f.latitudine.errors.required">La latitudine è richiesta</div>
              <div *ngIf="f.latitudine.errors.pattern">La latitudine non è corretta</div>
            </div>
          </div>
          <div class="form-group d-inline-block mb-2" style="width:38%; margin-right: 2%">
            <label class="d-none" for="longitudine">Longitudine</label>
            <input id="longitudine" type="tel" placeholder="Longitudine" formControlName="longitudine"
                   (keypress)="checkInputPattern($event, 'LAT_LON')"
                   (paste)="checkInputPattern($event, 'LAT_LON')"
                   class="form-control font-xlarge required-field" [ngClass]="{ 'is-invalid': submitted && f.longitudine.errors }"/>
            <div *ngIf="submitted && f.longitudine.errors" class="invalid-feedback">
              <div *ngIf="f.longitudine.errors.required">La longitudine è richiesta</div>
              <div *ngIf="f.longitudine.errors.pattern">La longitudine non è corretta</div>
            </div>
          </div>
          <div class="d-inline-block mb-2" style="width:20%">
            <label class="d-none">Copia</label>
            <button type="button" class="btn btn-block btn-secondary btn-no-hover font-xlarge" [ngbTooltip]="coordsTooltip"
                    placement="bottom"
                    (click)="onCopiaIndirizzo()" [disabled]="!coordinate">
              <i class="fa fa-clipboard"></i>
            </button>

            <ng-template #coordsTooltip>
              Copia: {{coordinate.latitudine}}
              - {{coordinate.longitudine}}
            </ng-template>
          </div>
        </div>
        <div class="col-2">
          <label class="d-none" for="piano">Piano</label>
          <input id="piano" type="text" placeholder="Piano" formControlName="piano"
                 class="form-control font-xlarge"
                 [ngClass]="{ 'is-invalid': submitted && f.piano.errors }"/>
          <div *ngIf="submitted && f.piano.errors" class="invalid-feedback">
            <div *ngIf="f.piano.errors.required">Il Piano è richiesto</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <!-- RICHIEDENTE  -->
          <div class="row p-2 my-2 bg-secondary text-white font-xlarge font-weight-bold">RICHIEDENTE</div>
          <div class="row mb-2">
            <div class="col-8">
              <div class="form-group mb-1">
                <label class="d-none" for="nominativo">Nominativo</label>
                <input id="nominativo" type="text" placeholder="Nominativo"
                       formControlName="nominativo" class="form-control font-xlarge required-field"
                       [ngClass]="{ 'is-invalid': submitted && f.nominativo.errors }"
                       role="presentation"/>
                <div *ngIf="submitted && f.nominativo.errors" class="invalid-feedback">
                  <div *ngIf="f.nominativo.errors.required">Il Nominativo è richiesto</div>
                </div>
              </div>
            </div>
            <div class="col pl-0">
              <div class="form-group mb-1">
                <label class="d-none" for="telefono">Telefono</label>
                <input id="telefono" type="tel" placeholder="Inserisci il Telefono"
                       formControlName="telefono" (keypress)="checkInputPattern($event, 'PHONE')"
                       (paste)="checkInputPattern($event, 'PHONE')"
                       class="form-control font-xlarge required-field" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"/>
                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                  <div *ngIf="f.telefono.errors.required">Il Telefono è richiesto</div>
                  <div *ngIf="f.telefono.errors.pattern">Il Telefono è non è corretto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <!-- ENTI INTERVENUTI  -->
          <div class="row p-2 my-2 bg-secondary text-white font-xlarge font-weight-bold">ENTI INTERVENUTI</div>
          <div class="row">
            <div class="col-12">
              <div class="float-left w-75">
                <div class="form-group m-0">
                  <label class="d-none" for="listaEnti">Enti Intervenuti</label>
                  <ng-select
                    class="font-xlarge"
                    id="listaEnti"
                    formControlName="listaEnti"
                    [items]="enti"
                    bindLabel="descrizione"
                    bindValue="codice"
                    clearAllText="Clear"
                    [multiple]="true"
                    placeholder="Enti Intervenuti"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [notFoundText]="'Nessun ente trovato con i parametri di ricerca'"
                    (add)="onAddEnti($event)"
                    (remove)="onRemoveEnti($event)">
                  </ng-select>
                </div>
              </div>
              <div class="float-left w-25">
                <div class="px-2">
                  <button class="btn btn-sm btn-block btn-primary btn-no-hover font-xlarge"
                          (click)="onAggiungiNuovoEnte()">
                    <i class="fa fa-plus mr-1"></i>
                    Nuovo ente
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- NOTE  -->
      <div class="row p-2 my-2 bg-secondary"></div>
      <div class="row">
        <div class="col">
          <div class="form-group mb-2">
            <label class="d-none" for="descrizione">Motivazione</label>
            <textarea id="descrizione" placeholder="Inserisci la Motivazione"
                      formControlName="descrizione"
                      class="form-control font-xlarge area-size"
                      [ngClass]="{ 'is-invalid': submitted && f.descrizione.errors}"></textarea>
            <!--                        <div *ngIf="submitted && f.descrizione.errors" class="invalid-feedback">-->
            <!--                            <div *ngIf="f.descrizione.errors.required">La Motivazione è richiesta</div>-->
            <!--                        </div>-->
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-2">
            <label class="d-none" for="noteIndirizzo">Note Indirizzo</label>
            <textarea id="noteIndirizzo" placeholder="Inserisci le Note"
                      formControlName="noteIndirizzo"
                      class="form-control font-xlarge area-size"
                      [ngClass]="{ 'is-invalid': submitted && f.noteIndirizzo.errors}"
                      role="presentation"
            ></textarea>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            <div class="form-group mb-2">
              <label class="d-none" for="notePubbliche">Note Pubbliche</label>
              <textarea id="notePubbliche" placeholder="Inserisci le Note Pubbliche"
                        formControlName="notePubbliche" class="form-control font-xlarge area-size"
                        [ngClass]="{ 'is-invalid': submitted && f.notePubbliche.errors}"></textarea>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-2">
              <label class="d-none" for="notePrivate">Note Private</label>
              <textarea id="notePrivate" type="text" placeholder="Inserisci le Note Private"
                        formControlName="notePrivate" class="form-control font-xlarge area-size"
                        [ngClass]="{ 'is-invalid': submitted && f.notePrivate.errors}"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group mb-2">
              <label class="d-none" for="zoneEmergenza">Codice emergenza</label>
              <input id="zoneEmergenza" type="text"
                     placeholder="Inserisci il Codice Emergenza"
                     formControlName="zoneEmergenza" class="form-control font-xlarge"
                     [ngClass]="{ 'is-invalid': submitted && f.zoneEmergenza.errors}"/>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mb-2">
              <label class="d-none" for="etichette">Tag</label>
              <tag-input id="etichette" formControlName="etichette" class="font-xlarge" [modelAsStrings]="true"
                         [placeholder]="'Inserisci tag'"
                         [secondaryPlaceholder]="'Inserisci tag'"></tag-input>
            </div>
          </div>
        </div>
        <div class="row d-none">
          <div class="col-2 pl-0" style="padding-top: 2rem !important">
            <div class="form-group m-0 float-right">
                            <span class="d-inline-block mt-1 mr-2">
                              <ui-switch size="small" color="#dc3545" [checked]="f.rilevanzaGrave?.value === true"
                                         (change)="setRilevanza()"></ui-switch>
                            </span>
              <span class="d-inline-block mb-1">Rilevante</span>
            </div>
          </div>
          <div class="col-4 pr-0" style="padding-top: 2rem !important">
            <div class="form-group m-0">
                            <span class="d-inline-block mt-1 mr-2">
                                <ui-switch size="small" color="#dc3545" [checked]="f.rilevanzaStArCu?.value === true"
                                           (change)="setRilevanzaStArCu()"></ui-switch>
                            </span>
              <span class="d-inline-block mb-1">Storico Artistico e Culturale</span>
            </div>
          </div>
        </div>
        <!--
        <ng-select class="border"
        bindLabel="codiceDescrizione"
        bindValue="codice"
        clearAllText="Clear">
         </ng-select>
        -->
        <!--<div class="row"></div>
            <div class="col-12">-->
        <!--<app-selezione-tipi-terreno-->
        <!--(tipiTerrenoSelezionati)="onTerreniSelezionati($event)"></app-selezione-tipi-terreno>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row mt-4 mb-3">
        <div class="col-7">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-danger btn-no-hover btn-xlarge" (click)="onAnnullaChiamata()">Annulla
            </button>
            <div class="btn-group" ngbDropdown autoClose="outside" placement="top" role="group">
              <button class="btn btn-outline-danger dropdown-toggle-split btn-no-hover" ngbDropdownToggle></button>
              <div class="dropdown-menu dropdownAnnulla" ngbDropdownMenu>
                <button class="dropdown-item"
                        (click)="impostaAzioneChiamata(AzioneChiamataEnum.FalsoAllarme)">Falso
                  allarme
                </button>
                <button class="dropdown-item"
                        (click)="impostaAzioneChiamata(AzioneChiamataEnum.InterventoNonPiuNecessario)">
                  Non più necessario
                </button>
                <button class="dropdown-item"
                        (click)="impostaAzioneChiamata(AzioneChiamataEnum.InterventoDuplicato)">
                  Duplicato
                </button>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-secondary ml-2 mr-2 btn-no-hover btn-xlarge" type="button" (click)="onResetChiamata()">
            <i class="fa fa-recycle mr-1"></i>Ripulisci Campi
          </button>
        </div>
        <div class="col-5 text-right">
          <button class="btn btn-primary btn-no-hover mr-2 btn-xlarge" style="min-width: 100px"
                  [disabled]="disabledInviaPartenza"
                  [ngClass]="{'cursor-not-allowed': disabledInviaPartenza}"
                  (click)="impostaAzioneChiamata(AzioneChiamataEnum.InviaPartenza)"
                  ngbTooltip="Invia Partenza">
            <!--<i class="fa fa-truck"></i>--> Invio Partenza
          </button>
          <button class="btn btn-success btn-no-hover btn-xlarge" style="min-width: 100px"
                  (click)="impostaAzioneChiamata(AzioneChiamataEnum.MettiInCoda)" ngbTooltip="Metti In Coda">
            <!--<i class="fa fa-check"></i>--> Conferma Chiamata
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
