<div class="row h-100">
    <app-partial-loader *ngIf="loading"></app-partial-loader>
    <div class="col-12 mx-auto h-100">
        <div class="row h-100 border-top border-white">
            <!-- FORM -->
            <div class="col-10">
                <form [formGroup]="chiamataForm" ngxsForm="schedaTelefonata.nuovaRichiestaForm" autocomplete="off">
                    <!-- HEADER => data/ora/operatore -->
                    <div class="row">
                        <div class="col-12 bg-dark text-white border-bottom border-white py-2">
                            <div class="clearfix">
                                <div class="float-left w-25">
                                    <span class="font-weight-bolder mr-1">Numero Chiamata</span>
                                    321321321
                                </div>
                                <div class="float-left w-25">
                                    <span class="font-weight-bolder mr-1">Data Chiamata</span>
                                    12/12/2012
                                </div>
                                <div class="float-left w-25">
                                    <span class="font-weight-bolder mr-1">Ora Chiamata</span>
                                    13:30
                                </div>
                                <div class="float-left w-25">
                                    <span class="font-weight-bolder mr-1">Operatore</span>
                                    Andrea Milani
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TIPOLOGIA -->
                    <div class="row">
                        <div class="col-12 bg-danger border-bottom py-1">
                            <h5 class="font-weight-bolder text-white pl-2 m-0">
                                {{ 'tipologia' | uppercase }}
                            </h5>
                        </div>
                        <div class="col-12 bg-lightdanger pt-2 pb-1">
                            <div class="clearfix">
                                <div class="float-left w-100">
                                    <div class="form-control-lg w-100 p-0 mb-0">
                                        <label class="d-none">Tipologia Intervento</label>
                                        <ng-select [ngClass]="{'errore': submitted && checkTipologie()}"
                                                   bindLabel="codiceDescrizione"
                                                   bindValue="codice"
                                                   clearAllText="Clear"
                                                   placeholder="Clicca qui per selezionare una Tipologia Intervento"
                                                   formControlName="selectedTipologie"
                                                   [notFoundText]="'Nessuna tipologia trovata con i parametri di ricerca'"
                                                   [items]="tipologie"
                                                   [multiple]="true"
                                                   [closeOnSelect]="true"
                                                   [hideSelected]="true"
                                                   (add)="onAddTipologia($event)"
                                                   (remove)="onRemoveTipologia($event)">
                                        </ng-select>
                                        <div *ngIf="submitted && checkTipologie()" class="text-danger">
                                            <small>Almeno una tipologia è richiesta</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- INDIRIZZO -->
                    <div class="row">
                        <div class="col-12 bg-danger border-bottom py-1">
                            <h5 class="font-weight-bolder text-white pl-2 m-0">
                                {{ 'indirizzo' | uppercase }}
                            </h5>
                        </div>
                        <div class="col-12 bg-lightdanger py-2">
                            <div class="clearfix">
                                <!-- RICERCA GOOGLE SELECT -->
                                <div class="float-left w-75">
                                    <div class="form-group-lg w-100 p-0 mb-0">
                                        <label for="indirizzo" class="d-none">Indirizzo Intervento</label>
                                        <input id="indirizzo" ngx-google-places-autocomplete
                                               class="form-control-lg w-100"
                                               [ngClass]="{ 'is-invalid': submitted && (f.indirizzo.errors || !coordinate) }"
                                               type="text"
                                               role="presentation"
                                               placeholder="Indirizzo"
                                               formControlName="indirizzo"
                                               [options]="ngxGooglePlacesOptions"
                                               (onAddressChange)="onCercaIndirizzo($event)"
                                               [required]="true">
                                        <div *ngIf="submitted && (f.indirizzo.errors || !coordinate)"
                                             class="invalid-feedback">
                                            <div *ngIf="onMsgIndirizzo() as messaggio">{{messaggio}}</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CIVICO / KM -->
                                <div class="float-left w-25">
                                    <div class="clearfix">
                                        <!-- SELECT CIVICO / KM -->
                                        <div class="float-left w-50">
                                            <div class="form-control-lg p-0 mb-0">
                                                <label for="civicokmSelect" class="d-none">Civico/Km Select</label>
                                                <!-- <ng-select id="civicokmSelect" class="form-control-lg"
                                                           [items]="['CIVICO', 'KM']"
                                                           [clearable]="false"
                                                           [searchable]="false"
                                                           [(ngModel)]="civicokm"
                                                           [ngModelOptions]="{standalone: true}">
                                                </ng-select> -->
                                                <select id="civicokmSelect" name="civicokmSelect" [(ngModel)]="civicokm"
                                                        [ngModelOptions]="{standalone: true}" style="margin-left: 10px;height: inherit;">
                                                    <option value="CIVICO" [selected]="civicokm === 'CIVICO'">CIVICO
                                                    </option>
                                                    <option value="KM" [selected]="civicokm === 'KM'">KM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- INPUT SELECT CIVICO / KM -->
                                        <div class="float-left w-50">
                                            <div class="form-group-lg p-0 mb-0">
                                                <ng-template [ngIf]="civicokm === 'CIVICO'">
                                                    <label for="civico" class="d-none">Civico Indirizzo</label>
                                                    <input id="civico" class="form-control-lg w-100"
                                                           [ngClass]="{ 'is-invalid': submitted && (f.indirizzo.errors || !coordinate) }"
                                                           type="text" placeholder="Civico">
                                                </ng-template>
                                                <ng-template [ngIf]="civicokm === 'KM'">
                                                    <label for="km" class="d-none">Km Indirizzo</label>
                                                    <input id="km" class="form-control-lg w-100"
                                                           [ngClass]="{ 'is-invalid': submitted && (f.indirizzo.errors || !coordinate) }"
                                                           type="text" placeholder="Km">
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- COORDINATE -->
                        <div class="col-12 bg-lightdanger py-2">
                            <div class="clearfix">
                                <!-- LATITUDINE -->
                                <div class="float-left pr-2">
                                    <div class="form-group-lg">
                                        <label for="latitudine" class="d-none">Latitudine</label>
                                        <input id="latitudine"
                                               class="form-control-lg"
                                               [ngClass]="{ 'is-invalid': submitted && f.latitudine.errors }"
                                               type="tel"
                                               placeholder="Latitudine"
                                               formControlName="latitudine"
                                               (keypress)="checkInputPattern($event, 'LAT_LON')"
                                               (paste)="checkInputPattern($event, 'LAT_LON')"
                                               [required]="true"/>
                                        <div *ngIf="submitted && f.latitudine.errors" class="invalid-feedback">
                                            <div *ngIf="f.latitudine.errors.required">La latitudine è
                                                richiesta
                                            </div>
                                            <div *ngIf="f.latitudine.errors.pattern">La latitudine non è
                                                corretta
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- LONGITUDINE -->
                                <div class="float-left px-2">
                                    <div class="form-group-lg">
                                        <label for="longitudine" class="d-none">Longitudine</label>
                                        <input id="longitudine"
                                               class="form-control-lg"
                                               [ngClass]="{ 'is-invalid': submitted && f.longitudine.errors }"
                                               type="tel"
                                               placeholder="Longitudine"
                                               formControlName="longitudine"
                                               (keypress)="checkInputPattern($event, 'LAT_LON')"
                                               (paste)="checkInputPattern($event, 'LAT_LON')"
                                               [required]="true"/>
                                        <div *ngIf="submitted && f.longitudine.errors" class="invalid-feedback">
                                            <div *ngIf="f.longitudine.errors.required">La longitudine è
                                                richiesta
                                            </div>
                                            <div *ngIf="f.longitudine.errors.pattern">La longitudine non è
                                                corretta
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BOTTONE COPIA COORDINATE -->
                                <div class="float-left px-2">
                                    <button type="button"
                                            class="btn btn-lg btn-block btn-secondary btn-no-hover"
                                            [ngbTooltip]="coordsTooltip"
                                            placement="bottom"
                                            (click)="onCopiaIndirizzo()" [disabled]="!coordinate">
                                        <i class="fa fa-clipboard"></i>
                                    </button>
                                    <ng-template #coordsTooltip>
                                        Copia: {{coordinate.latitudine}}
                                        - {{coordinate.longitudine}}
                                    </ng-template>
                                </div>
                                <!-- INCROCIO -->
                                <div class="float-left pl-3 pr-2">
                                    <div class="form-group-lg">
                                        <label for="incrocio" class="d-none">Incrocio</label>
                                        <input id="incrocio"
                                               class="form-control-lg w-100"
                                               type="text"
                                               placeholder="Incrocio"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RICHIEDENTE -->
                    <div class="row">
                        <div class="col-12 bg-danger border-bottom py-1">
                            <div class="clearfix">
                                <div class="float-left w-75">
                                    <h5 class="font-weight-bolder text-white pl-2 m-0">
                                        {{ 'richiedente' | uppercase }}
                                    </h5>
                                </div>
                                <div class="float-left w-25">
                                    <div class="clearfix">
                                        <div class="float-left w-25 px-1">
                                            <span class="d-inline-block">
                                                <span class="d-none">
                                                    spazio libero
                                                </span>
                                                </span>
                                        </div>
                                        <div class="float-left w-75 px-2">
                                            <h5 class="font-weight-bolder text-white m-0">
                                                {{ 'enti intervenuti' | uppercase }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-0">
                            <div class="clearfix">
                                <div class="float-left bg-lightdanger w-75 pl-3 pr-2 py-2" style="background: linear-gradient(180deg, rgba(231, 113, 110, 0.2) 50%, white 50%)">
                                    <div class="clearfix">
                                        <!-- NOMINATIVO -->
                                        <div class="float-left w-75 pr-2">
                                            <div class="form-group-lg w-100">
                                                <label for="nominativo" class="d-none">Richiedente</label>
                                                <input id="nominativo"
                                                       class="form-control-lg w-100"
                                                       [ngClass]="{ 'is-invalid': submitted && f.nominativo.errors }"
                                                       type="text"
                                                       placeholder="Nominativo"
                                                       formControlName="nominativo"
                                                       role="presentation"
                                                       [required]="true"/>
                                                <div *ngIf="submitted && f.nominativo.errors" class="invalid-feedback">
                                                    <div *ngIf="f.nominativo.errors.required">Il Nominativo è
                                                        richiesto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- TELEFONO -->
                                        <div class="float-left w-25 px-2">
                                            <div class="form-group-lg w-100">
                                                <label for="telefono" class="d-none">Telefono</label>
                                                <input id="telefono"
                                                       class="form-control-lg w-100"
                                                       [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
                                                       type="tel"
                                                       placeholder="Telefono"
                                                       formControlName="telefono"
                                                       (keypress)="checkInputPattern($event, 'PHONE')"
                                                       (paste)="checkInputPattern($event, 'PHONE')"
                                                       [required]="true"/>
                                                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                                                    <div *ngIf="f.telefono.errors.required">Il Telefono è richiesto
                                                    </div>
                                                    <div *ngIf="f.telefono.errors.pattern">Il Telefono è non è
                                                        corretto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- PALAZZO E INFO -->
                                        <div class="float-left w-100 mt-2">
                                            <div class="clearfix">
                                                <!-- PALAZZO/CITOFONO/INFO -->
                                                <div class="float-left w-50 pr-2">
                                                    <div class="form-group-lg w-100">
                                                        <label for="palazzoInfo"
                                                               class="d-none">Palazzo/Citofono/Info</label>
                                                        <input id="palazzoInfo"
                                                               class="form-control-lg w-100"
                                                               [ngClass]="{ 'is-invalid': submitted && f.palazzoInfo.errors }"
                                                               type="tel"
                                                               placeholder="Palazzo/Citofono/Info"
                                                               formControlName="palazzoInfo"/>
                                                    </div>
                                                </div>
                                                <div class="float-left w-50 px-2">
                                                    <div class="clearfix">
                                                        <!-- SCALA -->
                                                        <div class="float-left w-25 pr-1">
                                                            <div class="form-group-lg w-100">
                                                                <label for="scala" class="d-none">Scala</label>
                                                                <input id="scala"
                                                                       class="form-control-lg w-100"
                                                                       [ngClass]="{ 'is-invalid': submitted && f.scala.errors }"
                                                                       type="text"
                                                                       placeholder="Scala"
                                                                       formControlName="scala"/>
                                                            </div>
                                                        </div>
                                                        <!-- PIANO -->
                                                        <div class="float-left w-25 px-1">
                                                            <div class="form-group-lg w-100">
                                                                <label for="piano" class="d-none">Piano</label>
                                                                <input id="piano"
                                                                       class="form-control-lg w-100"
                                                                       [ngClass]="{ 'is-invalid': submitted && f.piano.errors }"
                                                                       type="text"
                                                                       placeholder="Piano"
                                                                       formControlName="piano"/>
                                                            </div>
                                                        </div>
                                                        <!-- INTERNO -->
                                                        <div class="float-left w-25 px-1">
                                                            <div class="form-group-lg w-100">
                                                                <label for="interno" class="d-none">Interno</label>
                                                                <input id="interno"
                                                                       class="form-control-lg w-100"
                                                                       [ngClass]="{ 'is-invalid': submitted && f.interno.errors }"
                                                                       type="text"
                                                                       placeholder="Interno"/>
                                                            </div>
                                                        </div>
                                                        <!-- SCHEDA CONTATTO -->
                                                        <div class="float-left w-25 px-1">
                                                            <div class="form-group-lg w-100">
                                                                <label for="schedaContatto" class="d-none">Scheda
                                                                    Contatto</label>
                                                                <input id="schedaContatto"
                                                                       class="form-control-lg w-100"
                                                                       [ngClass]="{ 'is-invalid': submitted && f.schedaContatto.errors }"
                                                                       type="text"
                                                                       placeholder="Scheda Contatto"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="float-left w-25 py-2">
                                    <div class="clearfix">
                                        <div class="float-left w-25 pl-2 pr-1">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="112" name="112"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="112">
                                                    112
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="113" name="113"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="113">
                                                    113
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="118" name="118"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="118">
                                                    118
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="VV.UU." name="VV.UU."
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="VV.UU.">
                                                    VV.UU.
                                                </label>
                                            </div>
                                        </div>
                                        <!-- ENTI INTERVENUTI -->
                                        <div class="float-left w-75">
                                          <div class="form-control-lg pl-0 m-0 pb-5">
                                            <label for="listaEnti" class="d-none">Enti Intervenuti</label>
                                            <ng-select
                                              id="listaEnti"
                                              formControlName="listaEnti"
                                              [items]="enti"
                                              bindLabel="descrizione"
                                              bindValue="codice"
                                              [multiple]="true"
                                              placeholder="Enti Intervenuti"
                                              [closeOnSelect]="true"
                                              [hideSelected]="true"
                                              [notFoundText]="'Nessun ente trovato con i parametri di ricerca'">
                                            </ng-select>
                                          </div>
                                          <button class="btn btn-sm w-50 btn-secondary btn-no-hover" (click)="onAggiungiNuovoEnte()"><i class="fa fa-plus mr-1"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NOTE CHIAMATE-->
                    <div class="row">
                    <div class="col-12 bg-danger border-bottom py-1"></div>
                    <div class="col-12 px-0">
                      <div class="clearfix">
                        <div class="float-left w-75 pl-3 pr-2 py-2">
                          <div class="clearfix">
                            <!-- NOTE -->
                            <div class="float-left w-75 pr-2 d-inline-flex">
                              <div class="form-group-lg w-50">
                                <label for="noteOperatore" class="d-none">Note per l'Operatore</label>
                                <textarea id="noteOperatore" placeholder="Inserisci Note per l'Operatore" formcontrolname="descrizione" class="form-control font-weight-bolder" style="background-color: #f3f3f3; max-height: 225px; min-height: 225px; font-size: 20px"></textarea>
                              </div>
                              <div class="form-group-lg w-50">
                                <label for="noteIntervento" class="d-none">Inserisci Note per l'Intervento</label>
                                <textarea id="noteIntervento" placeholder="Inserisci Note per l'Intervento" formcontrolname="descrizione" class="form-control font-weight-bolder" style="max-height: 130px; min-height: 130px; font-size: 20px; margin-bottom: 10px"></textarea>
                                <label for="noteNue112" class="d-none">Inserisci Note Nue112</label>
                                <textarea id="noteNue112" placeholder="Inserisci Note Nue112" formcontrolname="descrizione" class="form-control font-weight-bolder" style="max-height: 85px; min-height: 85px; font-size: 20px"></textarea>
                              </div>
                            </div>
                            <!-- PRIORITA' -->
                            <div class="float-left w-25 px-2">
                              <span class="mr-2 h5 font-weight-normal">Priorità</span>
                              <div class="form-group-lg">
                                <div class="bg-white pl-2">
                                  <div class="custom-control custom-radio bg-white">
                                    <input type="checkbox" id="Nessuna" name="Nessuna"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Nessuna">
                                      Nessuna
                                    </label>
                                  </div>
                                  <div class="custom-control custom-radio bg-white">
                                    <input type="checkbox" id="Bassa" name="Bassa"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Bassa">
                                      Bassa
                                    </label>
                                  </div>
                                  <div class="custom-control custom-radio bg-white">
                                    <input type="checkbox" id="Media" name="Media"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Media">
                                      Media
                                    </label>
                                  </div>
                                  <div class="custom-control custom-radio bg-white">
                                    <input type="checkbox" id="Alta" name="Alta"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Alta">
                                      Alta
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- INFO PROSSIMITA' -->
                        <div class="float-left w-25 py-2">
                          <span class="mr-2 h5 font-weight-normal">Info-prossimità</span>
                          <div class="bg-white pl-2">
                            <div class="custom-control custom-checkbox bg-white py-2">
                              <input type="checkbox" id="prossimita" name="prossimita"
                                     class="custom-control-input">
                              <label class="custom-control-label" for="prossimita">
                                Chiamate/interventi in prossimità
                              </label>
                            </div>
                            <div class="custom-control custom-checkbox bg-white py-2">
                              <input type="checkbox" id="stessaVia" name="stessaVia"
                                     class="custom-control-input">
                              <label class="custom-control-label" for="stessaVia">
                                Chiamate/interventi nella stessa via
                              </label>
                            </div>
                            <div class="custom-control custom-checkbox bg-white py-2">
                              <input type="checkbox" id="stessoIndirizzo" name="stessoIndirizzo"
                                     class="custom-control-input">
                              <label class="custom-control-label" for="stessoIndirizzo">
                                Chiamate/interventi chiusi con lo stesso indirizzo
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- FOOTER AZIONI -->
                    <div class="row">
                    <div class="col-12 bg-dark text-white border-bottom border-white py-2">
                      <div class="clearfix">
                        <div class="float-left box-azione-chiamata bg-secondary" style="width: 27.5%;">
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover" (click)="onAnnullaChiamata()">Annulla</button>
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover">Abilita Modifica</button>
                        </div>
                        <div class="float-left box-azione-chiamata bg-secondary" style="width: 32.5%;">
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover">Invio Partenza</button>
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover">In Attesa</button>
                        </div>
                        <div class="float-left box-azione-chiamata bg-secondary" style="width: 25%;">
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover">Chiusura Chiamata</button>
                        </div>
                        <div class="float-left box-azione-chiamata bg-secondary" style="width: 15%;">
                          <button type="button" class="btn btn-light btn-xlarge btn-no-hover">Uscita</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
            <!-- SUGGERIMENTI -->
            <div class="col-2 bg-dark text-white border-left border-white pt-3">
                <h3 class="text-center">
                    {{ 'suggerimenti' | uppercase }}
                </h3>
                <hr class="mt-2 mb-3">
                <!-- PROCEDURE OPERATIVE -->
                <button class="btn btn-lg btn-block btn-danger btn-no-hover"
                        [disabled]="nuovaRichiesta?.tipologie?.length <= 0">
                    VISUALIZZA
                    <span class="font-weight-bolder">P.O.S.</span>
                </button>
            </div>
        </div>
    </div>
</div>
