<div style="height: 760px; max-height: 760px; overflow-y: auto; overflow-x: hidden">
    <table class="table table-striped app-shadow mt-2">
        <thead>
        <tr>
            <th scope="col" style="width: 24%">
                <i class="fa fa-hashtag mr-2"></i>
                Cod.Richiesta
            </th>
            <th scope="col" style="width: 22%">
                <i class="fa fa-circle-o" style="margin-right: 2px;"></i>
                <i class="fa fa-ellipsis-h mr-2"></i>
                Sede da
            </th>
            <th scope="col" style="width: 22%">
                <i class="fa fa-ellipsis-h" style="margin-right: 2px;"></i>
                <i class="fa fa-map-marker mr-2"></i>Sede a
            </th>
            <th scope="col" style="width: 16%">
                <i class="fa fa-calendar mr-2"></i>
                Quando
            </th>
            <th scope="col" style="width: 16%">
                <i class="fa fa-user mr-2"></i>
                Operatore
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trasferimento of listaTrasferimentiChiamate | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }">
            <td class="align-middle" style="width: 24%">
                <div class="h5 font-weight-bold mt-1 pt-1 text-uppercase text-truncate" style="max-width: 400px;">
                    <span>{{trasferimento?.id}}</span>
                </div>
            </td>
            <td class="align-middle" style="width: 22%">
                <div class="row">
                    <div class="col-11">
                        <ul class=" mb-0"
                            style="max-height: 210px; overflow-y: auto; list-style-type: none; padding-left: 0px;">
                            <li>
                                <span ngbTooltip="{{trasferimento?.sedeDa }}"
                                      class="ml-1">{{trasferimento?.sedeDa | truncate: 40}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="align-middle" style="width: 22%">
                <div class="row">
                    <div class="col-11">
                        <ul class=" mb-0"
                            style="max-height: 210px; overflow-y: auto; list-style-type: none; padding-left: 0px;">
                            <li>
                                <span ngbTooltip="{{trasferimento?.sedeA }}"
                                      class="ml-1">{{trasferimento?.sedeA | truncate: 40}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="align-middle" style="width: 16%">
                <div class="row">
                    <div class="col-11">
                        <ul class=" mb-0"
                            style="max-height: 210px; overflow-y: auto; list-style-type: none; padding-left: 0px;">
                            <li>
                                <span class="ml-1">{{ trasferimento?.data | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="align-middle" style="width: 16%">
                <div class="row">
                    <div class="col-11">
                        <ul class=" mb-0"
                            style="max-height: 210px; overflow-y: auto; list-style-type: none; padding-left: 0px;">
                            <li>
                                <span [ngbTooltip]="trasferimento?.operatore?.nome + ' ' + trasferimento?.operatore?.cognome"
                                      class="ml-1">{{trasferimento?.operatore?.nome + ' ' + trasferimento?.operatore?.cognome}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr *ngIf="listaTrasferimentiChiamate?.length <= 0">
            <td>
                <ng-template [ngIf]="!loading">Nessun risultato trovato</ng-template>
                <ng-template [ngIf]="loading">Caricamento risultati in corso...</ng-template>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="listaTrasferimentiChiamate?.length > 0" class="d-flex justify-content-between p-2">
    <app-select-elementi-per-pagina [pageSize]="pageSize" [pageSizes]="pageSizes"
                                    [placeholderElementi]="'trasferimenti'"
                                    (pageSizeChange)="pageSizeChange.emit($event)"></app-select-elementi-per-pagina>
    <pagination-controls class="mt-1 mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'"
                         (pageChange)="pageChange.emit($event)">
    </pagination-controls>
</div>
