<ng-container *ngIf="user">
    <button class="btn btn-light btn-block border-secondary btn-no-hover"
            [routerLink]="['/' + RoutesPath.Impostazioni]"
            [routerLinkActive]="['text-dark']"
            [class.btn-impostazioni-selected]="url === '/impostazioni'">
        <i class="fas fa-user"></i>
        {{user.nome}} {{user.cognome}}
    </button>
</ng-container>
<ng-container *ngIf="user">
    <button class="btn btn-block btn-secondary btn-no-hover"
            ngbTooltip="Disconnettiti"
            placement="bottom"
            (click)="logout.emit()">
        <i class="fas fa-sign-out"></i>
        Disconnettiti
    </button>
</ng-container>
