<ng-sidebar-container style="height:100vh;">

    <ng-sidebar [(opened)]="_opened" [mode]="'over'" [dock]="false" [sidebarClass]="'w-200 bg-grey-o'" [animate]="true"
        [closeOnClickOutside]="true">
        <div *ngIf="_opened" class="bg-grey py-3">
            <h4 class="text-center font-weight-bold">Menu</h4>
            <div class="px-4 mt-3 mx-auto text-center">
                <button class="btn btn-dark btn-block mt-2"><i class="fa fa-home fa-lg"></i> Pagina iniziale</button>
                <button class="btn btn-outline-dark btn-block mt-2"><i class="fa fa-home fa-lg"></i> Pagina 2</button>
                <button class="btn btn-danger btn-block mt-2" (click)="_toggleOpened()"><i class="fa fa-times"></i>
                    Chiudi</button>
            </div>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- Navbar -->
        <span *ngFor="let user of users">
            <app-navbar (openedSidebar)="_toggleOpened()" [user]="user"></app-navbar>
        </span>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-1 mb-2">
                    <app-info-aggregate></app-info-aggregate>
                </div>
                <div class="col-6">
                    <app-lista-richieste></app-lista-richieste>
                </div>
                <div class="col-6">
                    <app-maps></app-maps>
                </div>
            </div>
        </div>
    </div>
</ng-sidebar-container>