<ng-sidebar-container style="height:100vh;">
    <ng-sidebar [(opened)]="_opened" [mode]="'over'" [dock]="false" [sidebarClass]="'sidebar bg-grey'" [animate]="true"
        [closeOnClickOutside]="true">
        <div class="container-fluid py-2">
            <div class="row">
                <div class="col-2 text-right px-4">
                    <button class="btn btn-dark w-75"><i class="fa fa-home fa-lg"></i> Home</button>
                </div>
                <div class="col-2 px-4">
                    <button class="btn btn-secondary w-75"><i class="fa fa-truck fa-lg"></i> Autorimessa</button>
                </div>
                <div class="col-2 px-4">
                    <button class="btn btn-secondary w-75"><i class="fa fa-wrench fa-lg"></i> Servizi</button>
                </div>
                <div class="col-2 px-4">
                    <button class="btn btn-secondary w-75"><i class="fa fa-bar-chart fa-lg"></i> Statistiche</button>
                </div>
                <div class="col-2 text-center px-4">
                    <button class="btn btn-danger w-50" (click)="_toggleOpened()"><i class="fa fa-times"></i>
                        Chiudi
                    </button>
                </div>
            </div>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- Navbar -->
        <app-navbar (openedSidebar)="_toggleOpened()"></app-navbar>
        <div *ngIf="!fakeCambioSede.preLoader">
            <div class="w-75 mx-auto text-center my-3">
                <img class="img-fluid" src="../../assets/img/wallpaper_on_loading.gif">
            </div>
        </div>
        <div *ngIf="fakeCambioSede.preLoader" class="container-fluid">
            <div class="row">
                <div class="col-12 px-0">
                    <app-info-aggregate></app-info-aggregate>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <app-filtri-richieste></app-filtri-richieste>
                        </div>
                        <div class="col-6">
                            <app-ricerca-richieste></app-ricerca-richieste>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-1">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-richieste></app-richieste>
                </div>
                <div class="col-6">
                    <app-maps></app-maps>
                </div>
            </div> -->
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <app-filtri-richieste></app-filtri-richieste>
                        </div>
                        <div class="col-6">
                            <app-ricerca-richieste></app-ricerca-richieste>
                        </div>
                        <div class="col-12">
                            <app-richieste></app-richieste>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <app-maps></app-maps>
                </div>
            </div>
        </div>
    </div>
</ng-sidebar-container>