<!-- Singola Richiesta Fissata  -->
<app-richiesta-fissata *ngIf="richiestaFissata" [_split]="split" [richiestaFissata]="richiestaFissata"
                       [richiestaGestione]="richiestaGestione" [idRichiesteEspanse]="(idRichiesteEspanse$ | async)"
                       [disabledModificaRichiesta]="permessiFeature.ModificaRichiesta | checkPermissionRichiesta: richiestaFissata.codUOCompetenza"
                       [disabledGestisciRichiesta]="permessiFeature.GestisciRichiesta | checkPermissionRichiesta: richiestaFissata.codUOCompetenza"
                       [disabledComposizionePartenza]="(permessiFeature.ComposizionePartenzaRichiesta | checkPermissionRichiesta: richiestaFissata.codUOCompetenza) || richiestaFissata.stato === statoRichiesta.Chiusa"
                       (statoPartenza)="toggleComposizione()" (composizionePartenza)="nuovaPartenza($event)"
                       (defissa)="onDefissa()" (modificaRichiesta)="onModificaRichiesta($event)"
                       (gestioneRichiesta)="onGestioneRichiesta($event)"
                       (eventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                       (outEspanso)="onSetEspanso($event)"
                       (outEspansoId)="toggleEspanso($event)"
                       (actionMezzo)="onActionMezzo($event)"
                       (actionRichiesta)="onActionRichiesta($event)">
</app-richiesta-fissata>

<app-lista-richieste [_split]="split" [richieste]="richieste" [ricerca]="ricerca" [richiestaFissata]="richiestaFissata"
                     [richiestaSelezionata]="richiestaSelezionata" [richiestaHover]="richiestaHover"
                     [richiestaGestione]="richiestaGestione" [listHeightClass]="listHeightClass"
                     [idRichiesteEspanse]="(idRichiesteEspanse$ | async)"
                     [page]="page$ | async" [pageSize]="pageSize$ | async" [totalItems]="totalItems$ | async"
                     [loading]="loadingRichieste$ | async" [needRefresh]="needRefresh$ | async"
                     (statoPartenza)="toggleComposizione()"
                     (composizionePartenza)="nuovaPartenza($event)" (fissaInAlto)="onFissaInAlto($event)"
                     (eventiRichiesta)="onVisualizzaEventiRichiesta($event)" (hoverIn)="onHoverIn($event)"
                     (hoverOut)="onHoverOut()" (selezione)="onSelezione($event)" (deselezione)="onDeselezione()"
                     (pageChange)="onNuoveRichieste($event)" (refresh)="onRefreshRichieste()"
                     (modificaRichiesta)="onModificaRichiesta($event)" (gestioneRichiesta)="onGestioneRichiesta($event)"
                     (actionMezzo)="onActionMezzo($event)" (actionRichiesta)="onActionRichiesta($event)"
                     (outEspansoId)="toggleEspanso($event)" [codiciFiltriSelezionati]="codiciFiltriSelezionati">
</app-lista-richieste>
