<!-- Singola Richiesta Fissata  -->
<app-richiesta-fissata *ngIf="richiestaFissata" [_split]="split" [richiestaFissata]="richiestaFissata"
                       [richiestaGestione]="richiestaGestione" [idRichiesteEspanse]="(idRichiesteEspanse$ | async)"
                       [disabledModificaRichiesta]="permessiFeature.ModificaRichiesta | checkPermission"
                       [disabledGestisciRichiesta]="permessiFeature.GestisciRichiesta | checkPermission"
                       [disabledComposizionePartenza]="permessiFeature.ComposizionePartenzaRichiesta | checkPermission"
                       (statoPartenza)="toggleComposizione()" (composizionePartenza)="nuovaPartenza($event)"
                       (defissa)="onDefissa()" (modificaRichiesta)="onModificaRichiesta($event)"
                       (gestioneRichiesta)="onGestioneRichiesta($event)"
                       (eventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                       (outEspanso)="onSetEspanso($event)"
                       (outEspansoId)="toggleEspanso($event)"
                       (actionMezzo)="onActionMezzo($event)"
                       (actionRichiesta)="onActionRichiesta($event)">
</app-richiesta-fissata>

<app-lista-richieste [_split]="split" [richieste]="richieste" [ricerca]="ricerca" [richiestaFissata]="richiestaFissata"
                     [richiestaSelezionata]="richiestaSelezionata" [richiestaHover]="richiestaHover"
                     [richiestaGestione]="richiestaGestione" [loaderRichieste]="loaderRichieste"
                     [listHeightClass]="listHeightClass" [idRichiesteEspanse]="(idRichiesteEspanse$ | async)"
                     [disabledModificaRichiesta]="permessiFeature.ModificaRichiesta | checkPermission"
                     [disabledGestisciRichiesta]="permessiFeature.GestisciRichiesta | checkPermission"
                     [disabledComposizionePartenza]="permessiFeature.ComposizionePartenzaRichiesta | checkPermission"
                     [page]="page$ | async" [pageSize]="pageSize$ | async" [loading]="loading$ | async"
                     (statoPartenza)="toggleComposizione()" (composizionePartenza)="nuovaPartenza($event)"
                     (fissaInAlto)="onFissaInAlto($event)" (eventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                     (hoverIn)="onHoverIn($event)" (hoverOut)="onHoverOut()"
                     (selezione)="onSelezione($event)" (deselezione)="onDeselezione()"
                     (nuoveRichieste)="onNuoveRichieste($event)" (modificaRichiesta)="onModificaRichiesta($event)"
                     (gestioneRichiesta)="onGestioneRichiesta($event)"
                     (actionMezzo)="onActionMezzo($event)"
                     (actionRichiesta)="onActionRichiesta($event)"
                     (outEspansoId)="toggleEspanso($event)">
</app-lista-richieste>
