<!-- Singola Richiesta Fissata  -->
<app-richiesta-fissata [_split]="split" [richiestaFissata]="richiestaFissata"
    (statoPartenza)="statoPartenza.emit(AppFeatures.ComposizionePartenza)" (composizionePartenza)="composizionePartenza.emit($event)"
    (defissa)="onDefissa()">
</app-richiesta-fissata>

<app-lista-richieste [_split]="split" [richieste]="richieste" [ricerca]="ricerca" [richiestaFissata]="richiestaFissata"
    [richiestaSelezionata]="richiestaSelezionata" [richiestaHover]="richiestaHover" [loaderRichieste]="loaderRichieste"
    [loaderNuoveRichieste]="loaderNuoveRichieste" [contatoreNuoveRichieste]="contatoreNuoveRichieste"
    [richiesteTerminate]="richiesteTerminate" [listHeightClass]="listHeightClass"
    (statoPartenza)="statoPartenza.emit(AppFeatures.ComposizionePartenza)" (composizionePartenza)="composizionePartenza.emit($event)"
    (fissaInAlto)="onFissaInAlto($event)" (hoverIn)="onHoverIn($event)" (hoverOut)="onHoverOut()"
    (selezione)="onSelezione($event)" (deselezione)="onDeselezione()" (nuoveRichieste)="onNuoveRichieste()">
</app-lista-richieste>
