<div class="card cursor-pointer pl-4 py-2 mb-2 shadow-sm"
     (mouseenter)="hoverIn.emit(scheda.codiceScheda)" (mouseleave)="hoverOut.emit()"
     (click)="dettaglioScheda.emit(scheda)" [ngClass]="cardClasses(scheda.codiceScheda)">
  <div class="row">
    <div class="col px-0 py-1">
      {{scheda.dataInserimento | date: 'dd/MM/yyyy HH:MM:SS'}}
    </div>
    <div class="col py-1">
      <i class="guida fa fa-thermometer-half fa-fw" ngbTooltip="Priorità della richiesta"></i>
      <ngb-rating [(rate)]="scheda.priorita" [max]="5" [readonly]="true">
        <ng-template let-fill="fill" let-index="index">
                <span class="circle" [class.filled]="fill === 100" [class.bad]="index > 2 && fill === 100">
                  <i class="fa fa-circle mr-1"></i>
                </span>
        </ng-template>
      </ngb-rating>
    </div>
    <div class="col py-1">
      <i class="fa fa-list mr-1"></i>
      <span [ngbTooltip]="scheda.classificazioneEvento"
            [disableTooltip]="scheda.classificazioneEvento.length <= 16">{{scheda.classificazioneEvento | slice: 0:16}}</span>
    </div>
    <div class="col py-1">
      <i class="fa fa-user mr-1"></i>
      <span [ngbTooltip]="scheda.richiedente.nominativo"
            [disableTooltip]="scheda.richiedente.nominativo.length <= 11">{{scheda.richiedente.nominativo | slice: 0:11}}</span>
    </div>
    <div class="col-2  pr-4">
      <button class="btn btn-success float-right px-2 py-1" ngbTooltip="Crea richiesta di assistenza"
              (click)="setSchedaContattoTelefonata.emit(scheda); $event.stopPropagation()">
        <i class="fa fa-arrow-right"></i>
      </button>
      <button class="btn float-right px-2 py-1 mr-1" [ngClass]="btnGestita.type" ngbTooltip="{{btnGestita.tooltip}}"
              (click)="setSchedaContattoGestita.emit(!scheda.gestita); $event.stopPropagation()">
        <i class="fa fa-cog"></i>
      </button>
      <button class="btn float-right px-2 py-1 mr-1" [ngClass]="btnLetta.type" ngbTooltip="{{btnLetta.tooltip}}"
              (click)="setSchedaContattoLetta.emit(!scheda.letta); $event.stopPropagation()">
        <i class="fa fa-check-square-o"></i>
      </button>
    </div>
  </div>
</div>
