<li class="cursor-pointer border-top border-bottom py-1"
    (mouseenter)="hoverIn.emit(scheda.codiceScheda)" (mouseleave)="hoverOut.emit()"
    (click)="dettaglioScheda.emit(scheda)" [ngClass]="cardClasses(scheda.codiceScheda)">
    <div class="row">
        <div class="col-1 text-center cursor-pointer py-1">
            <i [ngClass]="getPrioritaIconClass()"
               [ngbTooltip]="scheda.priorita === priorita.Altissima ? altaPriorita : bassaPriorita"></i>
            <ng-template #altaPriorita><b>Scheda ad alta priorità</b></ng-template>
            <ng-template #bassaPriorita>Scheda a bassa priorità</ng-template>
        </div>
        <div class="col-3 px-0 py-1">
            {{scheda.dataInserimento | date: 'dd/MM/yyyy HH:MM:SS'}}
        </div>
        <div class="col py-1">
            <i class="fa fa-map-marker mr-1"></i>
            {{scheda.localita.indirizzo}}
        </div>
        <div class="col-1 py-1 text-right cursor-pointer" ngbTooltip="Postazione Operatore">
            {{scheda.operatoreChiamata.codicePostazioneOperatore}}
            <i class="fa fa-desktop ml-1"></i>
        </div>
        <div class="col-2 pr-4">
            <button class="btn btn-success float-right px-2 py-1" ngbTooltip="Crea richiesta di assistenza"
                    (click)="setSchedaContattoTelefonata.emit(scheda); $event.stopPropagation()">
                <i class="fa fa-arrow-right"></i>
            </button>
            <button *ngIf="scheda.classificazione === classificazioneSchedaContatto.Differibile"
                    class="btn float-right px-2 py-1 mr-1" [ngClass]="btnGestita.type"
                    ngbTooltip="{{btnGestita.tooltip}}"
                    (click)="setSchedaContattoGestita.emit(!scheda.gestita); $event.stopPropagation()">
                <i class="fa fa-cog"></i>
            </button>
        </div>
    </div>
</li>
