<app-form-richiesta [apertoFromMappa]="true"
                    [tipologie]="(tipologie$ | async)"
                    [operatore]="(utente$ | async)"
                    [lat]="lat"
                    [lon]="lon"
                    [enti]="enti$ | async"
                    [disabledInviaPartenza]="permessiFeature.ComposizionePartenzaRichiesta | checkPermission"
                    [competenze]="competenze$ | async"
                    [countInterventiProssimita]="countInterventiProssimita$ | async"
                    [interventiProssimita]="interventiProssimita$ | async"
                    [countInterventiStessaVia]="countInterventiStessaVia$ | async"
                    [interventiStessaVia]="interventiStessaVia$ | async"
                    [countInterventiChiusiStessoIndirizzo]="countInterventiChiusiStessoIndirizzo$ | async"
                    [interventiChiusiStessoIndirizzo]="interventiChiusiStessoIndirizzo$ | async"
                    [richiestaModifica]="richiestaModifica$ | async"
                    [modifica]="!!(richiestaModifica$ | async)"
                    [triageSummary]="triageSummary$ | async"
                    [pos]="pos$ | async"
                    (closeChiamataFromMappa)="close()">
</app-form-richiesta>
