.badge {font-size: 10.025px;}
ul { list-style-type:none; padding-bottom:0px; margin-bottom:0;  margin-left:0; margin-right:0; margin-right: 2px;}
a  {padding:0px; margin:0; border-width:5px; border-style: ridge;border-radius:15px;box-shadow: 3px 3px 5px #999; }