<button *ngIf="user?.role !=='User'" class="btn btn-light mr-2" ngbTooltip="Notifiche" [ngbPopover]="notifiche" placement="bottom"><i class="fa fa-bell"></i></button>
<button *ngIf="user?.role !=='User'" class="btn btn-light mr-2" ngbTooltip="Impostazioni" [ngbPopover]="impostazioni" placement="bottom"><i class="fa fa-cogs"></i>
</button>
<div *ngIf="user" class="btn-group" role="group">
  <button class="btn btn-light mr-2" [ngbPopover]="ruolo" placement="bottom">
    <i class="fa fa-user"></i>
      {{user.firstName}} {{user.lastName}}
  </button>
</div>
<button *ngIf="user" class="btn btn-danger" ngbTooltip="Disconnettiti" placement="bottom" [routerLink]="['/login']"><i class="fa fa-sign-out"></i>
  Esci
</button>
<ng-template #notifiche>
  <h6 class="mb-2">Notifiche</h6>
</ng-template>
<ng-template #impostazioni>
  <h6 class="mb-2">Impostazioni</h6>
</ng-template>
<ng-template #ruolo>
  <h6 class="mb-2">{{user.role}}</h6>
</ng-template>
