<!-- <button class="btn btn-light mr-2 hide" ngbTooltip="Notifiche" [ngbPopover]="notifiche" placement="bottom"><i
        class="fa fa-bell"></i></button>
<button class="btn btn-light mr-2" ngbTooltip="Impostazioni" [ngbPopover]="impostazioni" placement="bottom"><i
        class="fa fa-cogs"></i>
</button> -->
<div *ngIf="user" class="btn-group" role="group">
    <button class="btn btn-light mr-2 btn-no-hover" [ngbPopover]="ruoli" placement="bottom">
        <i class="fa fa-user"></i>
        {{user.nome}} {{user.cognome}}
    </button>
</div>
<button *ngIf="user" class="btn btn-secondary" ngbTooltip="Disconnettiti" placement="bottom" (click)="_logout.emit()"><i
        class="fa fa-sign-out"></i>
    Esci
</button>
<!-- <ng-template #notifiche>
    <h6 class="mb-2">Notifiche</h6>
</ng-template>
<ng-template #impostazioni>
    <h6 class="mb-2">Impostazioni</h6>
</ng-template> -->
<ng-template #ruoli>
    <div class="py-1">
        <small class="d-block font-weight-bold">Ruoli Assegnati:</small>
        <div *ngFor="let ruolo of ruoliUtenteLoggato" class="d-block badge badge-primary mt-2 p-2">
            {{ruolo.descrizione}} ({{ruolo.codSede}})
        </div>
        <div *ngIf="ruoliUtenteLoggato?.length === 0" class="badge badge-secondary mt-2 p-2">
            Solo Visualizzazione
        </div>
    </div>
</ng-template>
