<app-notifiche [listaNotifiche]="listaNotifiche"
               [nuoveNotifiche]="nuoveNotifiche"
               (notificheLette)="setNotificheLette()">
</app-notifiche>
<div *ngIf="user" class="btn-group" role="group">
    <button class="btn btn-light mr-2 btn-no-hover"
            [routerLink]="['/' + RoutesPath.Impostazioni]"
            [routerLinkActive]="['btn-light-nav', 'text-dark']"
            [class.btn-impostazioni-selected]="url === '/impostazioni'">
        <i class="fa fa-user"></i>
        {{user.nome}} {{user.cognome}}
    </button>
</div>
<button *ngIf="user" class="btn btn-secondary" ngbTooltip="Disconnettiti" placement="bottom"
        (click)="logout.emit()">
    <i class="fa fa-sign-out"></i>
    Esci
</button>
