.area-size {
  min-height: 75px !important;
  max-height: 75px !important;
}

.font-soccorso-lg {
  font-size: 170% !important;
}

.input-soccorso-format {
  display: inline-flex !important;
  align-items: flex-end !important;
  height: fit-content !important;
}

.mod-success {
  border: solid #28a745;
}

.mod-error {
  border: solid #dc3545;
}

.fa-spin-mod {
  margin-left: -11px !important;
  vertical-align: super;
}

.badge-menu:hover {
  opacity: 1 !important;
}
