<div class="row">
    <div class="col-2 text center">
        <img src="assets/img/comando-avatar.svg">
    </div>
    <div class="col-10">
        <span class="btn mr-3 pl-2" [ngbPopover]="unitaOperativa" [autoClose]="'outside'" placement="bottom">
            <span class="mr-2">{{unitaAttuale[0].descrizione}} <i class="fa fa-chevron-down"></i></span>
        </span>
    </div>
</div>
<ng-template #unitaOperativa class="app-shadow">
    <div class="input-group">
        <input class="form-control" type="text" placeholder="Cerca unità operativa"
               [(ngModel)]="searchUnita">
        <div class="input-group-append">
            <button class="btn btn-secondary"><i class="fa fa-search text-light"></i></button>
        </div>
    </div>
    <ul class="my-2 list-unstyled">
        <li *ngFor="let unita of unitaOperative" class="mt-1">
            <button *ngIf="unita.codice !== unitaAttuale[0].codice" class="btn btn-block btn-outline-secondary"
                    (click)="changeUnitaAttuale(unita)">{{unita.descrizione}}
            </button>
        </li>
    </ul>
    <button class="btn btn-block btn-secondary">Tutti i comandi</button>
</ng-template>