<div class="clearfix">
    <!-- Info mezzo -->
    <div class="float-left">
        <div class="d-flex align-items-center justify-content-start">
            <!-- Descrizione Mezzo -->
            <div class="d-flex align-items-center justify-content-start"
                 [class.max-width-mezzo]="actionsAttive">
                <div>
                    <i class="fas fa-truck fa-fw text-{{statoMezzoColor(mezzo?.stato)}}"
                       [ngbTooltip]="mezzo?.stato"></i>
                </div>
                <div class="font-weight-bold mx-2"
                     [ngbTooltip]="mezzo.sigla?.length <= 6 ? labelMezzo : labelMezzo2"
                     [disableTooltip]="!mezzo.sigla && !mezzo.modello && mezzo.descrizione?.length <= 6"
                     placement="top">
                    <ng-container *ngIf="mezzo.sigla">
                        {{ mezzo.sigla | truncate: 6 }}
                    </ng-container>
                    <ng-container *ngIf="!mezzo.sigla && mezzo.descrizione">
                        {{ mezzo.descrizione | truncate: 6 }}
                    </ng-container>
                </div>

                <ng-template #labelMezzo>
                    <div>
                        {{ 'Targa: ' + mezzo.descrizione }}
                    </div>
                    <div>
                        {{ 'Modello: ' + mezzo.modello }}
                    </div>
                </ng-template>
                <ng-template #labelMezzo2>
                    <div>
                        {{ 'Sigla: ' + mezzo.sigla }}
                    </div>
                    <div>
                        {{ 'Targa: ' + mezzo.descrizione }}
                    </div>
                    <div>
                        {{ 'Modello: ' + mezzo.modello }}
                    </div>
                </ng-template>
                <ng-container *ngIf="mezzo.genere">
                    <div [ngbTooltip]="mezzo.genere.length > 3 ? mezzo.genere : ''">
                        {{ mezzo.genere | truncate: 3 }}
                    </div>
                </ng-container>
            </div>
            <!-- Mezzo Actions -->
            <ng-container *ngIf="actionsAttive && !mezzoInServizioPage">
                <div class="position-relative">
                    <ng-container
                            *ngIf="tipoConcorrenzaEnum.CambioStatoPartenza | checkConcorrenzaLocked: [mezzo.codice]">
                        <app-locked-concorrenza
                                [nominativoOperatore]="tipoConcorrenzaEnum.CambioStatoPartenza | checkConcorrenzaLocked: [mezzo.codice]">
                        </app-locked-concorrenza>
                    </ng-container>
                    <app-mezzo-actions [richiesta]="richiesta"
                                       [mezzo]="mezzo"
                                       [codicePartenza]="codicePartenza"
                                       [listaEventi]="listaEventi"
                                       [listaEventiMezzo]="listaEventiMezzo"
                                       [disabledModificaStatoMezzo]="disabledModificaStatoMezzo"
                                       (actionMezzo)="onActionMezzo($event)">
                    </app-mezzo-actions>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- Stato mezzo (presente in mezzi in servizio) -->
    <div class="float-right">
        <ng-container *ngIf="mezzoInServizioPage && mezzo?.istantiCambiStato">
            <div class="d-flex align-items-center justify-content-start ml-3 px-2 border border-{{statoMezzoColor(mezzo.stato)}} text-{{statoMezzoColor(mezzo.stato)}}">
                <div>
                    {{mezzo.istantiCambiStato[mezzo.istantiCambiStato.length - 1]?.stato}}
                </div>
                <ng-container
                        *ngIf="mezzo.istantiCambiStato[mezzo.istantiCambiStato.length -1]?.stato !== 'In Sede'">
                    : {{mezzo.istantiCambiStato[mezzo.istantiCambiStato.length - 1]?.istante | date : 'HH:mm'}}
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="mostraRichiestaAssociata">
    <div>
        Richiesta {{ mezzo.idRichiesta }}
    </div>
</ng-container>
