<div class="row">
  <span class="d-inline-block">
    <i class="guida fa fa-truck fa-fw mr-1" aria-hidden="true" title="Mezzo"></i>
    <span *ngIf="mezzo.descrizione"><b>{{ mezzo.descrizione }}</b></span>
    <span *ngIf="mezzo.genere" class="badge badge-default m-0">{{ mezzo.genere }}</span>
    <span *ngIf="mezzo.descrizioneStato" class="badge text-white m-0 ml-1"
          [ngClass]="{'badge-secondary': mezzo.stato == 'InSede' || mezzo.stato == 'Istituto', 'badge-info': mezzo.stato == 'InViaggio', 'badge-success': mezzo.stato == 'SulPosto', 'badge-primary': mezzo.stato == 'InRientro'}">
      {{ mezzo.descrizioneStato }}
    </span>
  </span>

    <!-- indicatori -->
    <span class="d-inline-block pl-2 mr-1">
    <button class="btn btn-light border py-0 px-0" [ngbPopover]="indMez" title="Indicatori mezzo" placement="top"
            popoverTitle="Indicatori" triggers="click"
            tabindex="0" (click)="$event.stopPropagation()">
      <i class="fa fa-briefcase fa-fw text-secondary" title="Condizione del Mezzo"></i>
    </button>

    <ng-template #indMez>
      <div *ngIf="!nessunIndMezzo(mezzo)" class="h6 m-0 nowrap">
        <div *ngIf="mezzo.descrizioneStatoEfficienza">
          <i class='fa fa-cogs fa-fw' title='Stato di efficienza del mezzo'></i>
          <span class='badge' [ngClass]="dettagliMezzo(mezzo.statoEfficienza, 'efficienza', 'badge')">
            {{ mezzo.descrizioneStatoEfficienza }}</span>
        </div>
        <div *ngIf="mezzo.descrizioneLivelloCarburante"><i class='fa fa-tachometer fa-fw'
                                                           title='Livello Carburante'></i>
          <span class='badge' [ngClass]="dettagliMezzo(mezzo.livelloCarburante, 'carburante', 'badge')">
            {{ mezzo.descrizioneLivelloCarburante }}</span>
        </div>
        <div *ngIf="mezzo.descrizioneLivelloEstinguente">
          <i class='fa fa-tint fa-fw' title='Livello Estinguente'></i>
          <span class='badge' [ngClass]="dettagliMezzo(mezzo.livelloEstinguente, 'estinguente', 'badge')">
            {{ mezzo.descrizioneLivelloEstinguente }}</span>
        </div>
        <div *ngIf="mezzo.descrizioneAppartenenza">
          <i class='fa fa-flag fa-fw' title='Appartenenza del mezzo'></i>
          <span class='badge' [ngClass]="dettagliMezzo(mezzo.appartenenza, 'appartenenza', 'badge')">
            {{ mezzo.descrizioneAppartenenza }}</span>
        </div>
      </div>
      <div *ngIf="nessunIndMezzo(mezzo)" class="h6 m-0 nowrap">
        Nessun indicatore mezzo presente
      </div>
    </ng-template>
  </span>

    <!-- notifiche mezzo -->
    <span class="d-inline-block mr-1">
    <button class="btn btn-light border py-0 px-0" [ngbPopover]="notMez" placement="top" triggers="click"
            popoverTitle="Notifiche mezzo" tabindex="0" (click)="$event.stopPropagation()">
      <i class="fa fa-bell fa-fw text-secondary"></i>
    </button>

    <ng-template #notMez>
      <span *ngIf="mezzo.notifiche">
        <span *ngFor="let n of mezzo.notifiche">
          {{n}}
        </span>
      </span>
      <span *ngIf="!mezzo.notifiche" class="h6">Nessuna notifica</span>
    </ng-template>
  </span>

    <button *ngIf="mezzo.stato === 'InViaggio'" class="btn btn-sm btn-outline-success py-0"
            ngbTooltip="Mezzo arrivato sul posto">
        <i class="fa fa-check"></i>
    </button>
</div>
