<div class="mb-3 ml-2">
<!--    <button class="btn buttons-control" [ngbTooltip]="controlAnimation.toggleMsg" placement="right"-->
<!--            (click)="buttonClick.emit(CustomButton.ToggleAnimation)" [ngClass]=""-->
<!--            [disableTooltip]="controlAnimation.disabled"-->
<!--            [disabled]="controlAnimation.disabled">-->
<!--        <i class="fa {{controlAnimation.faIcon}}"></i>-->
<!--    </button>-->
</div>
<div class="mb-1 ml-2">
    <button class="btn buttons-control" ngbTooltip="Centra mappa" placement="right"
            (click)="buttonClick.emit(CustomButton.Centra)">
        <i class="fa fa-crosshairs"></i>
    </button>
</div>
