<div *ngIf="tipologie" class="row mt-3">
  <div class="col-11 py-3 px-5 mx-auto rounded status_chiamata card-shadow-danger">
    <form>
      <div class="form-group">
        <label for="tipologie">Tipologia intervento</label>
        <ng-select [items]="tipologie" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" 
        bindLabel="descrizione" placeholder="Seleziona Tipologia Intervento">
        </ng-select>
      </div>
      <div class="row">
        <!-- Divisione in due colonne: cognome -->
        <div class="col">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
              </div>
              <input type="text" id="cognome" class="form-control" placeholder="Cognome">
            </div>
          </div>
        </div>
        <!-- Divisione in due colonne: nome -->
        <div class="col">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
              </div>
              <input type="text" id="nome" class="form-control" placeholder="Nome">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-industry"></i></span>
          </div>
          <input type="text" id="ragioneSociale" class="form-control" placeholder="Ragione Sociale">
        </div>
        <!-- Tasti veloci per ragione sociale -->
        <div class="row">
          <div class="col">
            <button class="btn btn-block btn-outline-secondary py-1">CC</button>
          </div>
          <div class="col">
            <button class="btn btn-block btn-outline-secondary py-1">PS</button>
          </div>
          <div class="col">
            <button class="btn btn-block btn-outline-secondary py-1">PM</button>
          </div>
          <div class="col">
            <button class="btn btn-block btn-outline-secondary py-1">SSU</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-phone"></i></span>
          </div>
          <input type="text" id="telefono" class="form-control" placeholder="Telefono">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
          </div>
          <input type="text" id="coordinate" class="form-control" placeholder="Lat. 42.543, Long. 12.533" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-map"></i></span>
          </div>
          <input type="text" id="indirizzo" class="form-control" placeholder="Ricerca indirizzo">
        </div>
      </div>
      <div class="row">
        <!-- Divisione in due colonne: colonna sinistra -->
        <div class="col-6">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
              </div>
              <input type="text" id="zonaEmergenza" class="form-control" placeholder="Zona Emergenza">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-commenting"></i></span>
              </div>
              <textarea class="form-control" placeholder="Motivazione"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-bullhorn"></i></span>
              </div>
              <textarea class="form-control" placeholder="Note pubbliche"></textarea>
            </div>
          </div>
        </div>
        <!-- Divisione in due colonne: colonna destra -->
        <div class="col-6">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-tag"></i></span>
              </div>
              <input type="text" id="tag" class="form-control" placeholder="Tag">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-comments"></i></span>
              </div>
              <textarea class="form-control" placeholder="Note indirizzo"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-headphones"></i></span>
              </div>
              <textarea class="form-control" placeholder="Note private"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
          <h5 class="py-3 text-danger"><i class="fa fa-fw fa-hashtag mr-1"></i>RM-004</h5>
      </div>
      <div class="col text-right">
        <button class="btn btn-lg btn-secondary mr-2" disabled><i class="fa fa-check mr-1"></i>Conferma</button>
        <button class="btn btn-lg btn-danger"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>