<div class="card cursor-pointer p-2 mb-2 font-comp-xl bg-dark-light" (click)="onClick()" (mouseleave)="onHoverOut()"
     (mouseenter)="onHoverIn()"
     [ngClass]="ngClass()">
    <i *ngIf="elimina" id="elimina" ngbTooltip="Elimina" class="fa fa-fw fa-window-close"
       (click)="onElimina($event)"></i>
    <div class="row">
        <div *ngIf="!partenzaPreAccopiati.codiceMezzo" class="col text-danger">
            <i class="fas fa-truck mr-1"></i>
            <span ngbTooltip="Nessun mezzo selezionato"><b>-</b></span>
        </div>
        <div *ngIf="partenzaPreAccopiati.codiceMezzo"
             class="col">
            <div class="nowrap">
                <i class="fas fa-truck mr-1"
                   [ngClass]="_iconaStatiClass(partenzaPreAccopiati.statoMezzo)"
                   ngbTooltip="Mezzo {{ partenzaPreAccopiati.statoMezzo }}"
                   placement="top-left"></i>
                <span class="font-weight-bold mr-1" [ngbTooltip]="partenzaPreAccopiati.descrizioneMezzo"
                      [disableTooltip]="partenzaPreAccopiati.descrizioneMezzo.length <= 7">{{partenzaPreAccopiati.descrizioneMezzo | slice: 0:7}}</span>
                <span class="font-weight-normal">{{partenzaPreAccopiati.genereMezzo}}</span>
            </div>
        </div>
        <div *ngIf="!partenzaPreAccopiati.squadre?.length" class="col text-danger">
            <i class="fas fa-users mr-1"></i>
            <span ngbTooltip="Nessuna squadra selezionata"><b>-</b></span>
        </div>
        <div *ngIf="partenzaPreAccopiati.squadre?.length === 1" class="col">
            <div class="nowrap">
                <i  [ngClass]="_iconaStatiClass(partenzaPreAccopiati.squadre[0].stato)"
                    ngbTooltip="Squadra {{ partenzaPreAccopiati.squadre[0].stato }}"
                    class="fas fa-users mr-1 font-weight-bold"></i>
                <span [ngbTooltip]="partenzaPreAccopiati.squadre[0].nome && partenzaPreAccopiati.squadre[0].nome.length >= 10 ?  partenzaPreAccopiati.squadre[0].nome : null">
                    {{ partenzaPreAccopiati.squadre[0].nome | truncate: 10 }}</span>
                <button *ngIf="partenzaPreAccopiati.codiceMezzo && compPartenzaMode === 1 && partenzaPreAccopiati.statoMezzo !== StatoMezzo.InRientro && !disableDividi"
                        class="btn btn-sm btn-primary btn-no-hover ml-1 px-1 py-0"
                        [class.d-none]="(disableNuovaPartenza$ | async) || boxPartenzaList.length > 2"
                        (click)="squadraShortcutEvent()" ngbTooltip="Dividi squadra">
                    <span class="mr-1" style="font-weight: 500">Dividi</span>
                    <i class="far fa-file-alt font-weight-bold"></i>
                </button>
            </div>
        </div>
        <div *ngIf="partenzaPreAccopiati.squadre?.length > 1" class="col">
            <span [ngbPopover]="piusquadre" popoverTitle="Squadre" triggers="mouseenter:mouseleave">
                <i class="fas fa-users guida mr-1"></i>
                <small>{{ partenzaPreAccopiati.squadre?.length }} squadre</small>
            </span>
            <ng-template #piusquadre>
                <div *ngFor="let sC of partenzaPreAccopiati.squadre" class="text-center nowrap">
                    <span class="d-inline-block mb-1">{{ sC.nome }}</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <!-- Km da percorrere -->
        <div *ngIf="partenzaPreAccopiati.km"
             class="col nowrap">
            <i class="guida fas fa-road mr-1"></i>
            <span>{{partenzaPreAccopiati.km}} km</span>
        </div>
        <div *ngIf="!partenzaPreAccopiati" class="col nowrap">
            <i class="icon-wifi text-warning mr-1"></i>
            <span ngbTooltip="GPS ASSENTE">-</span>
        </div>
        <div *ngIf="!partenzaPreAccopiati.km"
             class="col nowrap text-danger">
            <i class="fas fa-road mr-1 text-danger"></i>
            <span ngbTooltip="Nessun mezzo selezionato"><b>-</b></span>
        </div>
        <!-- Tempo di percorrenza -->
        <div *ngIf="partenzaPreAccopiati.tempoPercorrenza && partenzaPreAccopiati.km"
             class="col">
            <i class="guida far fa-clock mr-1"></i>
            <span>{{partenzaPreAccopiati.tempoPercorrenza}} min</span>
        </div>
        <div *ngIf="!partenzaPreAccopiati.km" class="col text-danger">
            <i class="far fa-clock mr-1 text-warning"></i>
            <span ngbTooltip="GPS ASSENTE"><b>-</b></span>
        </div>
        <div *ngIf="!partenzaPreAccopiati.tempoPercorrenza && partenzaPreAccopiati.km"
             class="col text-danger">
            <i class="far fa-clock mr-1 text-danger"></i>
            <span ngbTooltip="Nessun mezzo selezionato"><b>-</b></span>
        </div>
    </div>
    <!-- Distaccamento di appartenenza -->
    <div class="row">
        <div *ngIf="partenzaPreAccopiati.distaccamento" class="col">
            <i class="guida fas fa-map-marker-alt mr-2 ml-1"></i>
            <span class="badge" [ngbTooltip]="partenzaPreAccopiati.distaccamento"
                  [disableTooltip]="partenzaPreAccopiati.distaccamento.length <= 12"
                  [ngClass]="badgeDistaccamentoClass()">{{partenzaPreAccopiati.distaccamento | slice: 0:20}}</span>
        </div>
        <div *ngIf="!partenzaPreAccopiati.distaccamento" class="col text-danger">
            <i class="fas fa-map-marker-alt mr-2 ml-1"></i>
            <span ngbTooltip="Nessun mezzo selezionato"><b>-</b></span>
        </div>
        <div *ngIf="alert && boxValidationClass().tooltip && boxValidationClass().result" class="col">
            <i class="mt-1" [ngbTooltip]="boxValidationClass().tooltip" [ngClass]="boxValidationClass().result"></i>
        </div>
    </div>
</div>
