<h6>Richieste</h6>
<label for="priorita" class="mr-2">Priorità</label>
<ngb-rating id="priorita" [starTemplate]="t" [max]="5"
            (rateChange)="changePriorita.emit($event)"></ngb-rating>
<ng-template #t let-fill="fill" let-index="index">
            <span class="circle" [class.filled]="fill === 100" [class.bad]="index > 2 && fill === 100">
              <i class="fa fa-circle mr-1"></i>
            </span>
</ng-template>
<div class="mt-1">
    <label>Stato</label>
    <div>
        <ng-select [items]="statiRichiesta" [multiple]="true" placeholder="Nessuno stato selezionato"
                   (change)="changeStati.emit($event)"></ng-select>
    </div>
</div>
