<div class="modal-header">
    <h4 class="modal-title font-weight-bold text-uppercase">
        <i class="fas fa-fw fa-truck guida mr-1"></i>
        {{ 'Sganciamento Mezzo' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close"
            style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body"
     [class.px-0]="richiestaSganciamento && !mezzoNotFound">
    <ng-container *ngIf="richiestaSganciamento && !mezzoNotFound">
        <div class="container-fluid font-xlarge">
            <!-- Informazioni sull'intervento -->
            <div class="row">
                <div class="col-12 mb-2">
                    <h4 class="font-weight-bolder">Il mezzo è attualmente impegnato nell'intervento:</h4>
                </div>
                <div class="col-2">
                    <span class="text-muted">Codice:</span> {{ richiestaSganciamento.codiceRichiesta }}
                </div>
                <div class="col-3">
                    <span class="text-muted">Data:</span> {{ richiestaSganciamento.istanteRicezioneRichiesta | friendlyDateTooltip }}
                </div>
                <div class="col-3">
                    <span class="text-muted">Tipologia:</span> {{ richiestaSganciamento.tipologie[0].descrizione }}
                </div>
                <div class="col-3">
                    <span class="text-muted">Dettaglio Tipologia:</span> {{ richiestaSganciamento.dettaglioTipologia?.descrizione }}
                </div>
                <div class="col-12">
                    <span class="text-muted">Indirizzo:</span>
                    {{ richiestaSganciamento.localita.indirizzo }}, {{ richiestaSganciamento.localita.provincia }}
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 mb-2">
                    <h4 class="font-weight-bolder">Mezzo da sganciare:</h4>
                </div>
                <div class="col-2">
                    <span class="text-muted">Targa:</span> {{ getPartenzaSganciamento().partenza.mezzo.descrizione }}
                </div>
                <div class="col-2">
                    <span class="text-muted">Sigla:</span> {{ getPartenzaSganciamento().partenza.mezzo.sigla }}
                </div>
                <div class="col-3">
                    <span class="text-muted">Modello:</span> {{ getPartenzaSganciamento().partenza.mezzo.modello }}
                </div>
                <div class="col-2">
                    <span class="text-muted">Genere:</span> {{ getPartenzaSganciamento().partenza.mezzo.genere }}
                </div>
                <div class="col-3">
                    <span class="text-muted">Sede:</span> {{ getPartenzaSganciamento().partenza.mezzo.distaccamento.descrizione }}
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 mb-2">
                    <h4 class="font-weight-bolder">Elenco completo di squadre e mezzi impegnati nello stesso
                        intervento:</h4>
                </div>
                <div class="col-12" style="max-height: 200px; overflow-y: auto">
                    <div *ngFor="let partenzaNoSganciamento of getPartenzeNoSganciamento()"
                         class="row">
                        <div class="col-2">
                            <span class="text-muted">Squadra:</span> {{ partenzaNoSganciamento.partenza.squadre[0].codice }}
                        </div>
                        <div class="col-1">
                            <span class="text-muted">Turno:</span> {{ partenzaNoSganciamento.partenza.squadre[0].turno }}
                        </div>
                        <div class="col-1">
                            <span class="text-muted">Sigla:</span> {{ partenzaNoSganciamento.partenza.mezzo.sigla }}
                        </div>
                        <div class="col-1">
                            <span class="text-muted">Genere:</span> {{ partenzaNoSganciamento.partenza.mezzo.genere }}
                        </div>
                        <div class="col-2">
                            <span class="text-muted">Modello:</span> {{ partenzaNoSganciamento.partenza.mezzo.modello }}
                        </div>
                        <div class="col-2">
                            <span class="text-muted">Targa:</span> {{ partenzaNoSganciamento.partenza.mezzo.descrizione }}
                        </div>
                        <div class="col-3">
                            <span class="text-muted">Sede:</span> {{ partenzaNoSganciamento.partenza.mezzo.distaccamento.descrizione }}
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!getPartenzeNoSganciamento()?.length">
                <div class="col-12">
                    <div class="alert alert-danger">
                        Nessun mezzo e nessuna squadra impegnati nello stesso intervento
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="richiestaSganciamento && mezzoNotFound">
        <div class="alert alert-danger m-0">
            {{ 'Il mezzo da sganciare non è più presente nell\'intervento ' + richiestaSganciamento.codiceRichiesta | uppercase }}
        </div>
    </ng-container>
    <ng-container *ngIf="!richiestaSganciamento">
        <div class="alert alert-danger font-weight-bold m-0">
            {{ 'Richiesta non disponibile' | uppercase }}
        </div>
    </ng-container>
</div>
<div class="modal-footer d-flex align-items-center justify-content-between">
    <button class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder"
            (click)="modal.close('ko')">
        {{ 'annulla' | uppercase }}
    </button>
    <button class="btn btn-lg btn-danger btn-no-hover font-weight-bolder"
            [disabled]="mezzoNotFound"
            (click)="modal.close('ok')">
        {{ 'conferma sganciamento' | uppercase }}
    </button>
</div>
