<ng-container *ngIf="idVisualizzati.includes(scheda.codiceScheda)">
    <li class="cursor-pointer border-top border-bottom font-xxlarge py-1"
        [ngClass]="cardClasses(scheda.codiceScheda)"
        (mouseenter)="hoverIn.emit(scheda.codiceScheda)"
        (mouseleave)="hoverOut.emit()"
        (click)="dettaglioScheda.emit(scheda.codiceScheda)">
        <div class="row position-relative">
            <span style="position: absolute; top: -4px; left: 20px; z-index: 99999"
                  (click)="onCollapse(); $event.stopPropagation()">
                <i *ngIf="scheda.collegate && scheda.collegate.length > 0 && !idCollapsed.includes(scheda.codiceScheda)"
                   class="fas fa-plus-square-o"></i>
                <i *ngIf="scheda.collegate && scheda.collegate.length > 0 && idCollapsed.includes(scheda.codiceScheda)"
                   class="fas fa-minus-square-o"></i>
            </span>
            <div class="col-1 text-right cursor-pointer py-1">
                <i [ngClass]="scheda.priorita | contattoPriorita"
                   [ngbTooltip]="scheda.priorita === priorita.Altissima ? altaPriorita : bassaPriorita"></i>
                <ng-template #altaPriorita><b>Scheda ad alta priorità</b></ng-template>
                <ng-template #bassaPriorita>Scheda a bassa priorità</ng-template>
            </div>
            <div class="col-3 px-0 py-1">
                {{scheda.dataInserimento | date: 'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <div class="col py-1">
                <i class="fas fa-map-marker mr-1"></i>
                {{scheda.localita.indirizzo}}
            </div>
            <div class="col-1 px-1 py-1 text-right cursor-pointer">
                {{scheda.operatoreChiamata?.codicePostazioneOperatore || 'N/D'}}
                <i class="fas fa-desktop ml-1" ngbTooltip="Postazione Operatore"></i>
            </div>
            <div class="col-2 pr-4">
                <div class="clearfix">
                    <ng-container *ngIf="!editSchedaContatto">
                        <button class="btn btn-lg btn-success float-right px-2 py-1" ngbTooltip="Crea richiesta di assistenza"
                                [disabled]="disableCreaRichiesta" [class.cursor-not-allowed]="disableCreaRichiesta" placement="left"
                                (click)="setSchedaContattoTelefonata.emit(scheda); $event.stopPropagation()">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                        <button class="btn btn-lg float-right px-2 py-1 mr-1" [ngClass]="btnGestita.type"
                                ngbTooltip="{{btnGestita.tooltip}}" [disabled]="disableGestisci" placement="left"
                                [class.cursor-not-allowed]="disableCreaRichiesta"
                                (click)="setSchedaContattoGestita.emit(!scheda.gestita); $event.stopPropagation()">
                            <i class="fas fa-cog"></i>
                        </button>
                    </ng-container>
                    <div *ngIf="editSchedaContatto && !this.scheda.gestita && !this.scheda.collegate?.length"
                         class="float-right text-right">
                            <input type="checkbox"
                                   appClickStopPropagation
                                   [id]="getCheckboxState(scheda).id"
                                   [checked]="getCheckboxState(scheda).status"
                                   [disabled]="getCheckboxState(scheda)?.disabled"
                                   (click)="onEditSchedaSelezionata(getCheckboxState(scheda))"/>
                            <label [for]="getCheckboxState(scheda).id"></label>
                    </div>
                    <ng-container *ngIf="editSchedaContatto && !this.scheda.gestita && this.scheda.collegate?.length">
                        <button class="btn btn-lg btn-danger float-right px-2 py-1"
                                ngbTooltip="Elimina raggruppamento"
                                [disabled]="disableEliminaRaggruppamento"
                                (click)="onUndoRaggruppamento(scheda?.codiceScheda); $event.stopPropagation()">
                            <i class="fas fa-remove"></i>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="idCollapsed.includes(scheda.codiceScheda)">
            <ul class="list-unstyled" style="opacity: 0.75">
                <ng-container *ngFor="let collegata of scheda.collegate">
                    <app-scheda-contatto-collegata [scheda]="collegata"></app-scheda-contatto-collegata>
                </ng-container>
            </ul>
        </ng-container>
    </li>
</ng-container>
