<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ title | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="onClose()">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body py-4">
    <div [innerHTML]="innerHTMLBody"></div>
</div>
<div class="modal-footer d-flex align-items-center justify-content-end">
    <ng-container *ngFor="let button of buttons">
        <button type="button"
                class="btn btn-lg btn-{{ button.bgColor }} btn-no-hover font-weight-bolder"
                (click)="onClose()">
            {{ button.text | uppercase }}
        </button>
    </ng-container>
</div>
