<div *ngIf="mezzi" class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-7">
                <i class="fa fa-truck mb-2 mr-1"></i><span class="font-weight-bold cursor-pointer" (click)="clickMezzi.emit('tutti')">Mezzi in servizio:
                    {{mezzi.inServizio}}</span>
            </div>
            <div class="col-5 ml-auto text-secondary text-right">
                <i class="mb-2 mr-1"></i>
                <span class="mr-2 font-weight-bold">Istituto</span>
                <span class="badge badge-secondary h6 w-25 cursor-pointer mr-3 mb-0" [ngClass]="{'border-click-checked': boxClick?.mezzi.istituto, 'border-info-aggregate': !boxClick?.mezzi.istituto}" (click)="clickMezzi.emit('istituto')">{{mezzi.istituto}}</span>
            </div>
        </div>
        <hr class="m-0 mb-2">
    </div>
    <!-- sinistra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">In sede</span></li>
                            <li><span class="d-inline-block h6">In rientro</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge badge-secondary h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick?.mezzi.inSede, 'border-info-aggregate': !boxClick?.mezzi.inSede}" (click)="clickMezzi.emit('inSede')">{{mezzi.inSede}}</span></li>
                            <li><span class="badge badge-primary h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick?.mezzi.inRientro, 'border-info-aggregate': !boxClick?.mezzi.inRientro}" (click)="clickMezzi.emit('inRientro')">{{mezzi.inRientro}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- destra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">In viaggio</span></li>
                            <li><span class="d-inline-block h6">Sul posto</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge badge-info h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick?.mezzi.inViaggio, 'border-info-aggregate': !boxClick?.mezzi.inViaggio}" (click)="clickMezzi.emit('inViaggio')">{{mezzi.inViaggio}}</span></li>
                            <li><span class="badge badge-success h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick?.mezzi.sulPosto, 'border-info-aggregate': !boxClick?.mezzi.sulPosto}" (click)="clickMezzi.emit('sulPosto')">{{mezzi.sulPosto}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!mezzi" class="row" style="min-height: 113px">
    <div class="w-100 text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw my-4"></i>
    </div>
</div>
