.map-active {
  height: 750px;
}

.map-double-monitor {
  height: 920px;
}

div {
  font-size: unset !important;
  font-weight: normal !important;
}

button {
  font-size: unset !important;
  font-weight: normal !important;
}

i {
  font-size: unset !important;
  font-weight: 700 !important;
}

.fas {
  font-size: unset !important;
  font-weight: 700 !important;
}
