<ng-container *ngIf="dettaglioTipologia; then mostraDettaglioTipologia else mostraTipologia">
</ng-container>

<!-- Tipologia -->
<ng-template #mostraTipologia>
    <i class="fa-fw mr-1 {{ methods.coloraIcona(tipologia) }}"></i>
    <span [ngbTooltip]="tipologia?.descrizione"
          [disableTooltip]="tipologia?.descrizione?.length <= (!triage ? 45 : 40)">
        {{ !triage ? (tipologia?.descrizione | truncate:45) : (tipologia?.descrizione | truncate:40) }}
    </span>
</ng-template>
<!-- Dettaglio Tipologia -->
<ng-template #mostraDettaglioTipologia>
    <i class="fa-fw mr-1 {{ methods.coloraIcona(tipologia) }}"></i>
    <span [ngbTooltip]="dettaglioTipologia?.descrizione?.length <= (!triage ? 45 : 40) ? labelTipologia : labelDettaglioTipologiaTipologia">
        {{ !triage ? (dettaglioTipologia?.descrizione | truncate:45) : (dettaglioTipologia?.descrizione | truncate:40) }}
    </span>
    <ng-template #labelTipologia>
        <div>
            {{ 'Tipologia: ' + tipologia?.descrizione }}
        </div>
    </ng-template>
    <ng-template #labelDettaglioTipologiaTipologia>
        <div>
            {{ 'Dettaglio Tipologia: ' + dettaglioTipologia?.descrizione }}
        </div>
        <div>
            {{ 'Tipologia: ' + tipologia?.descrizione }}
        </div>
    </ng-template>
</ng-template>
