<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'INVIO DELLA RICHIESTA AL SISTEMA AFM' }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            [disabled]="loading"
            (click)="chiudiModalSoccorsoAereo('ko')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>

<div class="modal-body">
    <ng-container *ngIf="loading">
        <app-partial-loader></app-partial-loader>
    </ng-container>
    <div class="row">
        <div class="col-7">
            <label>Seleziona le Azioni Richieste</label>
            <div *ngIf="!azioniRichiesta?.length" class="card card-shadow mx-auto px-3">
                <div class="clearfix ml-2 text-secondary">
                    <i class="fas fa-spin fa-spinner mr-1"></i>
                    Azioni in caricamento, attendere qualche istante...
                </div>
            </div>
            <div *ngIf="azioniRichiesta?.length > 0" class="card card-shadow mx-auto px-3"
                 [class.overflow-size]="azioniRichiesta.length >= 8" style="height: 350px">
                <div *ngFor="let a of azioniRichiesta; let index = index" class="row my-1">
                    <div class="clearfix ml-2">
                        <input type="text" class="pr-1"
                               [class.input-checked]="azioniRichiesta[index].checked"
                               style="text-align: center; height: 36px; width: 55px; vertical-align: bottom; outline: none; font-size: 110%;"
                               placeholder="{{a.codice}}" disabled>
                    </div>
                    <div class="clearfix mx-1">
                        <input type="text" placeholder=" {{a.descrizione}}"
                               [class.input-checked]="azioniRichiesta[index].checked"
                               [class.width-size]="azioniRichiesta.length >= 8"
                               style="width: 470px; height: 36px; vertical-align: bottom; outline: none; font-size: 110%;"
                               disabled>
                    </div>
                    <div class="clearfix mr-1">
                        <input type="checkbox" (click)="onCheck(index)"
                               style="width:36px; height: 36px; vertical-align: bottom; outline: none">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <label for="motivazioneRichiesta">Motivazione della richiesta</label>
            <textarea [(ngModel)]="motivazione" id="motivazioneRichiesta" type="text"
                      placeholder="Inserisci motivazione della richiesta" style="font-size: 110%"
                      class="form-control font-xlarge area-size"></textarea>
        </div>
    </div>
    <div class="row pt-5 pb-4">
        <div class="col-12  d-inline-flex">
            <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-1 w-25">
                Consulta
            </button>
            <input type="text" class="w-75" style="height: 48px; vertical-align: bottom; outline: none" disabled>
        </div>
    </div>
    <ng-container *ngIf="errorMsg">
        <div class="row pb-1">
            <div class="col-12 alert alert-danger text-uppercase font-weight-bold mb-0" role="alert">
                {{ errorMsg }}
                <span style="float: right; cursor: pointer;" (click)="setErrorMsg()">X</span>
            </div>
        </div>
    </ng-container>
</div>

<div class="modal-footer d-flex align-items-center justify-content-between">
    <button type="button"
            class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder"
            [disabled]="loading"
            (click)="chiudiModalSoccorsoAereo('ko')">
        {{ 'Chiudi' | uppercase }}
    </button>
    <ng-container *ngIf="!submitted && (motivazione && tipologiaChecked)">
        <button type="button"
                class="btn btn-lg btn-success btn-no-hover font-weight-bolder"
                (click)="chiudiModalSoccorsoAereo('ok')">
            {{ 'Richiedi' | uppercase }}
        </button>
    </ng-container>
    <ng-container *ngIf="!motivazione || !tipologiaChecked">
        <div class="d-inline-block"
             tabindex="0"
             ngbTooltip="Inserisci Azione e Motivazione"
             placement="top">
            <button type="button"
                    class="btn btn-lg btn-success btn-no-hover font-weight-bolder"
                    [disabled]="true">
                {{ 'Richiedi' | uppercase }}
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="submitted">
        <button type="button"
                class="btn btn-lg btn-success btn-no-hover"
                [disabled]="true">
            <i class="fas fa-spin fa-spinner mr-1"></i>
            {{ 'Invio Richiesta' | uppercase }}
        </button>
    </ng-container>
</div>
