.area-size {
  max-height: 350px !important;
  min-height: 350px !important;
}

.overflow-size {
  overflow-y: overlay;
}

.width-size {
  width: 330px !important;
}

.input-checked {
  border: solid #28a745;
}

input {
  font-size: 18px;
}

textarea {
  font-size: 18px;
}
