<div *ngIf="!map_loaded" class="mx-auto my-5">
    <img src="../../../assets/img/map_loading_resized.gif">
</div>
<agm-map [latitude]="centroMappa.coordinate.latitudine" [longitude]="centroMappa.coordinate.longitudine"
         [zoom]="centroMappa.zoom" (mapReady)="mappaCaricata()" (centerChange)="centroCambiato($event)"
         [usePanning]="true">
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let richiesteM of richiesteMarkers;" [latitude]="richiesteM.getCoordinate().latitudine"
                    [longitude]="richiesteM.getCoordinate().longitudine"
                    (markerClick)="selezioneMarker(richiesteM)"
                    [iconUrl]="urlIcona(richiesteM, 'richiesta')" [animation]="tipoAnimazione(richiesteM)" [visible]="true">
            <agm-info-window *ngIf="trueMarker(richiesteM)">
                <strong>{{richiesteM.label}}</strong>
                <div *ngIf="datiMeteo" class="h-infowindow">
                    <hr class="my-0">
                    <div>
                        <img class="mr-2 iconameteo w-25" src="http://openweathermap.org/img/w/{{datiMeteo.icona}}.png">
                        <span class="text-capitalize">{{datiMeteo.descrizione}}</span>
                    </div>
                    <div class="text-center">{{datiMeteo.temperatura}}°C - Umidità: {{datiMeteo.umidita}}%</div>
                    <div class="text-center">Vento {{datiMeteo.vento}} km/h
                        <i [ngStyle]="{'transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-webkit-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-ms-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)'}"
                           class="pl-2 fa fa-long-arrow-up"></i> {{datiMeteo.direzione.cardinali}}
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let sediM of sediMarkers;" [latitude]="sediM.getCoordinate().latitudine"
                    [longitude]="sediM.sede.coordinate.longitudine"
                    (markerClick)="selezioneMarker(sediM)"
                    [iconUrl]="urlIcona(sediM, 'sede')" [animation]="tipoAnimazione(sediM)" [visible]="true">
            <agm-info-window *ngIf="trueMarker(sediM)">
                <strong>{{sediM.sede.descrizione}}</strong>
                <div *ngIf="datiMeteo" class="h-infowindow">
                    <hr class="my-0">
                    <div>
                        <img class="mr-2 iconameteo w-25" src="http://openweathermap.org/img/w/{{datiMeteo.icona}}.png">
                        <span class="text-capitalize">{{datiMeteo.descrizione}}</span>
                    </div>
                    <div class="text-center">{{datiMeteo.temperatura}}°C - Umidità: {{datiMeteo.umidita}}%</div>
                    <div class="text-center">Vento {{datiMeteo.vento}} km/h
                        <i [ngStyle]="{'transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-webkit-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-ms-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)'}"
                           class="pl-2 fa fa-long-arrow-up"></i> {{datiMeteo.direzione.cardinali}}
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let mezziM of mezziMarkers;" [latitude]="mezziM.getCoordinate().latitudine"
                    [longitude]="mezziM.getCoordinate().longitudine"
                    (markerClick)="selezioneMarker(mezziM)"
                    [iconUrl]="urlIcona(mezziM, 'mezzo')" [animation]="tipoAnimazione(mezziM)" [visible]="true">
            <agm-info-window *ngIf="trueMarker(mezziM)">
                <strong>{{mezziM.label}}</strong>
                <div *ngIf="datiMeteo" class="h-infowindow">
                    <hr class="my-0">
                    <div>
                        <img class="mr-2 iconameteo w-25" src="http://openweathermap.org/img/w/{{datiMeteo.icona}}.png">
                        <span class="text-capitalize">{{datiMeteo.descrizione}}</span>
                    </div>
                    <div class="text-center">{{datiMeteo.temperatura}}°C - Umidità: {{datiMeteo.umidita}}%</div>
                    <div class="text-center">Vento {{datiMeteo.vento}} km/h
                        <i [ngStyle]="{'transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-webkit-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)', '-ms-transform': 'rotate('+datiMeteo.direzione.gradi+'deg)'}"
                           class="pl-2 fa fa-long-arrow-up"></i> {{datiMeteo.direzione.cardinali}}
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <app-agm-content (onMapLoad)='loadAPIWrapper($event)'></app-agm-content>
</agm-map>