<div *ngIf="filtri" class="border card-shadow bg-light rounded mt-1 mb-2 px-2">
    <div class="row">
        <!-- Tasti Composizione Partenza -->
        <div *ngIf="composizionePartenza" class="col-1 py-1 pr-0">
            <div class="clearfix">
                <div class="float-left">
                    <button class="btn btn-block btn-primary btn-no-hover" (click)="turnOffComposizione()">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </div>
                <div class="float-left ml-1" style="display:flex;" (click)="$event.stopPropagation()">
                    <div class="d-inline-block" ngbDropdown #dropdownActionsMezzo="ngbDropdown"
                         (click)="$event.stopPropagation()">
                        <button class="btn btn-info btn-no-hover" id="dropdownActionsMezzo" ngbDropdownAnchor
                                ngbTooltip="Opzioni"
                                (click)="dropdownActionsMezzo.toggle(); $event.stopPropagation()">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <div ngbDropdownItem>
                                <app-tasto-comp-partenza (cambioModalita)="compPartenzaSwitch($event)"
                                                         [compPartenzaMode]="(composizioneMode$ | async)"
                                                         [disableTasto]="disableComposizioneMode">
                                </app-tasto-comp-partenza>
                            </div>
                            <div ngbDropdownItem>
                                <button class="btn btn-block btn-no-hover" [ngbTooltip]="tooltipPrenota"
                                        (click)="_confirmPrenota()" [disabled]="disableComposizioneMode">
                                    <i class="fa fa-hand-paper-o mr-1"></i>
                                    <span *ngIf="!prenotato">
                                        Prenota
                                    </span>
                                    <span *ngIf="prenotato" class="font-weight-bolder">
                                        Prenotata
                                    </span>
                                    <ng-template #tooltipPrenota>
                                        <span *ngIf="!prenotato">Voglio prenderla in carico</span>
                                        <span *ngIf="prenotato">Annulla presa in carico</span>
                                    </ng-template>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Select Filtri -->
        <div [class.col-9]="composizionePartenza"
             [class.col-12]="sostituzionePartenza">
            <div class="row pt-1"
                 [class.pb-2]="sostituzionePartenza">
                <div class="col-3">
                    <ng-select class="align-self-center"
                               [items]="filtri?.turni"
                               [multiple]="false"
                               [closeOnSelect]="true"
                               [hideSelected]="true"
                               [searchable]="false"
                               [loading]="!filtri?.turni"
                               (change)="addFiltro($event, 'turno')"
                               (clear)="clearFiltri('turno')"
                               placeholder="Turno: Corrente">
                    </ng-select>
                </div>
                <div class="col-3">
                    <ng-select class="align-self-center"
                               [items]="filtri?.distaccamenti"
                               bindLabel="descDistaccamento"
                               bindValue="id"
                               [multiple]="false"
                               [closeOnSelect]="true"
                               [hideSelected]="true"
                               [notFoundText]="notFoundText"
                               [loading]="!filtri?.distaccamenti"
                               (change)="addFiltro($event, 'codiceDistaccamento')"
                               (clear)="clearFiltri('codiceDistaccamento')"
                               placeholder="Distaccamento: Tutti">
                    </ng-select>
                </div>

                <!-- OLD => [ngClass]="{'col-3': !composizionePartenza && sostituzionePartenza, 'col-3': composizionePartenza && !sostituzionePartenza}" -->
                <div class="col-3">
                    <ng-select class="align-self-center"
                               [items]="filtri?.generiMezzi"
                               bindLabel="descrizione"
                               bindValue="descrizione"
                               [multiple]="false"
                               [closeOnSelect]="true"
                               [hideSelected]="true"
                               [notFoundText]="notFoundText"
                               [loading]="!filtri?.generiMezzi"
                               (change)="addFiltro($event, 'tipoMezzo')"
                               (clear)="clearFiltri('tipoMezzo')"
                               placeholder="Tipo: Tutti">
                    </ng-select>
                </div>
                <div [ngClass]="{'col-4': !composizionePartenza && sostituzionePartenza, 'col-3': composizionePartenza && !sostituzionePartenza}">
                    <ng-select class="align-self-center"
                               [items]="filtri?.stati"
                               bindLabel="descrizione"
                               bindValue="codice"
                               [multiple]="false"
                               [closeOnSelect]="true"
                               [hideSelected]="true"
                               [notFoundText]="notFoundText"
                               [loading]="!filtri?.stati"
                               (change)="addFiltro($event, 'statoMezzo')"
                               (clear)="clearFiltri('statoMezzo')"
                               placeholder="Stato: Tutti">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div><span class="fa fa-eercast mr-2"
                                       [ngClass]="_iconaStatiClass(item.descrizione)"></span>{{item.descrizione}}</div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </div>
        <!-- Elimina Filtri Attivi -->
        <button class="btn btn-sm btn-danger align-self-center" ngbTooltip="Elimina Filtri Attivi">
            <i class="fa fa-trash"></i>
        </button>
        <!-- Altri Filtri -->
        <ng-template [ngIf]="composizionePartenza">
            <a href="javascript:void(0)" class="align-self-center font-weight-bolder">
                Altri Filtri
                <i class="fa fa-chevron-down"></i>
            </a>
        </ng-template>
    </div>
</div>
