.dropdown-toggle::after {
    display: none;
}

.font-comp-xl {
  font-size: 115% !important;
}

.ng-select.custom ::ng-deep .ng-select-container  {
  height: 42px !important;
}

.border-distaccamenti {
  border-radius: 0 50px 50px 0;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
}

