<ng-template [ngIf]="filtri">
    <div class="rounded mt-1 mb-2 py-2 px-2 bg-filterbar"
         [class.card-shadow]="!nightMode"
         [class.border]="!nightMode"
         [ngClass]="nightModeBg()"
         [class.font-comp-xl]="viewState.composizione.active">
        <div class="clearfix d-flex align-items-center">
            <!-- Tasti Composizione Partenza -->
            <ng-container *ngIf="composizionePartenza">
                <div class="float-left mr-3">
                    <div class="mb-1">
                        <app-tasto-comp-partenza [compPartenzaMode]="(composizioneMode$ | async)"
                                                 [disableTasto]="disableComposizioneMode"
                                                 [nightMode]="nightMode"
                                                 (cambioModalita)="compPartenzaSwitch($event)">
                        </app-tasto-comp-partenza>
                    </div>
                    <button class="btn btn-block btn-primary btn-no-hover font-weight-bolder"
                            [ngbTooltip]="richiesta?.triageSummary ? 'Visualizza Dettaglio Triage' : 'Triage non disponibile'"
                            placement="bottom-left"
                            (click)="openDettaglioTriage(); $event.stopPropagation()"
                            [disabled]="!richiesta?.triageSummary?.length">
                        <i class="fas fa-question-circle mr-1"></i>
                        {{ 'Triage' | uppercase }}
                    </button>
                </div>
            </ng-container>

            <!-- Select Filtri -->
            <div class="float-left">
                <div class="clearfix mb-2">
                    <div class="float-left mr-2">
                        <ng-select class="align-self-center custom"
                                   [items]="filtri?.turni"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [hideSelected]="true"
                                   [readonly]="(loadingMezzi$ | async) || (loadingSquadre$ | async)"
                                   [searchable]="false"
                                   [isOpen]="(loadingMezzi$ | async) || (loadingSquadre$ | async) ? false : null"
                                   [loading]="!filtri?.turni"
                                   (change)="addFiltro($event, 'turno')"
                                   (clear)="clearFiltri('turno')"
                                   placeholder="Turno: Corrente">
                        </ng-select>
                    </div>
                    <div class="float-left mr-2">
                        <ng-select class="align-self-center custom"
                                   style="max-height: 45px; overflow: auto"
                                   [items]="filtri?.generiMezzi"
                                   bindLabel="descrizione"
                                   bindValue="descrizione"
                                   [clearSearchOnAdd]="true"
                                   [multiple]="true"
                                   [readonly]="(loadingMezzi$ | async) || (loadingSquadre$ | async)"
                                   [isOpen]="(loadingMezzi$ | async) || (loadingSquadre$ | async) ? false : null"
                                   [closeOnSelect]="false"
                                   [hideSelected]="false"
                                   [appendTo]="'body'"
                                   [(ngModel)]="generiMezzoSelezionato"
                                   [notFoundText]="notFoundText"
                                   [loading]="!filtri?.generiMezzi"
                                   (change)="addFiltro($event, 'tipoMezzo')"
                                   placeholder="Genere Mezzo: Tutti">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <input type="checkbox"
                                       [checked]="generiMezzoSelezionato && generiMezzoSelezionato?.includes(item.descrizione)">
                                {{ item.descrizione }}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="float-left">
                        <ng-select class="align-self-center custom"
                                   style="width: 200px"
                                   [items]="filtri?.stati"
                                   bindLabel="descrizione"
                                   bindValue="codice"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [readonly]="(loadingMezzi$ | async) || (loadingSquadre$ | async)"
                                   [isOpen]="(loadingMezzi$ | async) || (loadingSquadre$ | async) ? false : null"
                                   [hideSelected]="true"
                                   [notFoundText]="notFoundText"
                                   [loading]="!filtri?.stati"
                                   (change)="addFiltro($event, 'statoMezzo')"
                                   (clear)="clearFiltri('statoMezzo')"
                                   placeholder="Stato: Tutti">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <app-icona-stato [stato]="item.descrizione"></app-icona-stato>
                                {{ item.descrizione }}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="float-left">
                        <ng-select [items]="filtri?.distaccamenti"
                                   bindLabel="descDistaccamento"
                                   bindValue="id"
                                   [clearSearchOnAdd]="true"
                                   [multiple]="true"
                                   [appendTo]="'body'"
                                   [readonly]="(loadingMezzi$ | async) || (loadingSquadre$ | async)"
                                   [isOpen]="(loadingMezzi$ | async) || (loadingSquadre$ | async) ? false : null"
                                   [closeOnSelect]="false"
                                   [hideSelected]="false"
                                   [(ngModel)]="distaccamentiSelezionati"
                                   [notFoundText]="notFoundText"
                                   [loading]="!filtri?.distaccamenti"
                                   (change)="addFiltro($event, 'codiceDistaccamento')"
                                   placeholder="Distaccamento: Tutti">
                            <ng-template ng-option-tmp let-item="item">
                                <input type="checkbox"
                                       [checked]="distaccamentiSelezionati && distaccamentiSelezionati?.includes(item.id)">
                                {{ item.descDistaccamento }}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="float-left mr-3">
                        <button class="btn btn-sm btn-primary btn-no-hover border-distaccamenti"
                                (click)="setDistaccamentiDefault()"
                                [disabled]="disableDefaultDistaccamenti || loadingSquadre || loadingMezzi"
                                ngbTooltip="Imposta Distaccamenti di competenza">
                            <i class="fas fa-filter pr-1"></i>
                        </button>
                    </div>
                    <div class="float-left">
                        <div class="font-xxlarge">
                            <app-competenza *ngFor="let c of competenze; let i = index"
                                            [competenza]="c"
                                            [i]="i"
                                            [compAvanzata]="true">
                            </app-competenza>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
