<div class="position-relative">
    <label for="indirizzo"
           class="d-none">Indirizzo</label>
    <input id="indirizzo"
           class="form-control"
           [class.required-field]="requiredFieldClass"
           [(ngModel)]="indirizzo"
           [class.is-invalid]="invalid"
           type="text"
           placeholder="Ricerca indirizzo"
           appDebounceKeyUp
           (debounceKeyUp)="onChangeIndirizzo()"
           (keyup)="changeIndirizzo.emit(true)">
    <ng-container *ngIf="getSelectIndirizzoOpen()">
        <div class="position-absolute pt-1 w-100"
             style="top: 40px; left: 0; z-index: 99999">
            <ul class="list-unstyled">
                <li *ngFor="let candidate of addressCandidates; let i = index"
                    class="item-lista-indirizzo"
                    [class.item-lista-indirizzo-selected-key]="indexSelectedAddressCandidate === i"
                    (click)="onSelectCandidate(candidate)">
                    {{ candidate?.address }}
                </li>
            </ul>
        </div>
    </ng-container>
</div>
