.item-lista-indirizzo {
  background-color: #e3e3e3;
  padding: 10px;
  color: #000000;
  cursor: pointer;
}

.item-lista-indirizzo:hover {
  background-color: #c0c0c0;
}

.item-lista-indirizzo-selected-key {
  background-color: #bebdbd;
}
