<div class="modal-header">
    <h4 class="modal-title font-weight-bold"
        [ngbTooltip]="titolo.length > 20 ? titolo.toLocaleUpperCase() : null">
        {{ (titolo | uppercase) | truncate: 20 }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">
    <ng-container *ngIf="stampa"
                  class="d-flex justify-content-between">
        <div class="form-check-inline">
            <input class="form-check-input radio-custom" type="radio" id="pdf" name="pdf" [checked]="checkbox.pdf"
                   (click)="onCheck('pdf')">
            <label class="form-check-label" for="pdf">
                Stampa come PDF
            </label>
        </div>
    </ng-container>
    <ng-container *ngIf="messaggio">
        <h5>{{ messaggio }}</h5>
    </ng-container>
    <ng-container *ngIf="messaggioAttenzione">
        <div class="alert alert-danger h5 font-weight-bold mb-0"
             [class.mt-3]="messaggio">
            {{ messaggioAttenzione }}
        </div>
    </ng-container>
</div>
<div class="modal-footer" style="place-content: space-between;">
    <button type="button" class="btn  btn-lg btn-danger btn-no-hover"
            style="font-weight:600" (click)="onSubmit('ok')">
        {{ 'Conferma' | uppercase }}
    </button>
    <button type="button" class="btn btn-lg btn-secondary btn-no-hover"
            style="font-weight:600" (click)="onSubmit('ko')">
        {{ 'Annulla' | uppercase }}
    </button>
</div>
