<h5>
  Elenco degli eventi della Richiesta 
</h5>
<div class="card card-inverse row_text p-1">
  <table class="table table-striped">
    <thead>
      <th scope="col">Evento</th>
      <th scope="col">Quando</th>
      <th scope="col"> </th>
      <th scope="col">Targa</th>
      <th scope="col">Note</th>
    </thead>
    <tbody>
      <tr *ngFor="let r of elencoEventi">          
        <!--<div *ngFor="let r of elencoEventi" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">-->
        <!--<app-evento-richiesta [eventoRichiesta]="r"></app-evento-richiesta>-->
        <app-evento-richiesta [eventoRichiesta]="r" [nomeClasseEvento]="r.nomeClasseEvento" [istantePrimoEvento]="istantePrimoEvento" [istanteEventoPrecedente]="istanteEventoPrecedente"></app-evento-richiesta>
      </tr>
    </tbody>
  </table>
</div>
