<h5>
  Elenco degli eventi della Richiesta 
</h5>
<div class="card card-inverse row_text p-1">
  <table class="table table-striped h5">
    <!-- <thead>
      <th scope="col">Evento</th>
      <th scope="col">Quando</th>
      <th scope="col"> </th>
      <th scope="col">Targa</th>
      <th scope="col">Note</th>
    </thead> -->
    <tbody>
        <!--<div *ngFor="let r of elencoEventi" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">-->
        <!--<app-evento-richiesta [eventoRichiesta]="r"></app-evento-richiesta>-->
        <tr app-evento-richiesta *ngFor="let r of elencoEventi; let i = index" [eventoRichiesta]="r" [nomeClasseEvento]="r.nomeClasseEvento" [istantePrimoEvento]="istantePrimoEvento" [istanteEventoPrecedente]="setIstanteEventoPrecedente(i)"></tr>
      </tbody>
  </table>
</div>
