<div class="container-fluid pt-4 pb-2">
    <div class="row">
        <div [class.col-12]="!doubleMonitor"
             [class.col-6]="doubleMonitor">
            <div class="row">
                <div class="col-12 col-md-9 mx-auto mb-3">
                    <h1>
                        <i class="fas fa-building mr-1"></i>
                        Impostazioni Sede
                    </h1>
                    <button class="btn btn-info"
                      [id]="'btnExpandAll'"
                      (click)="AccordionExpandAll()">
                      {{GetTesto()}}
                    </button>
                </div>
                <div class="col-12 col-md-9 mx-auto">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel id="dettagliTipologie">
                            <ng-template ngbPanelTitle>
                                <div class="font-weight-bold text-white">
                                    <i class="fas fa-list"></i>
                                    DETTAGLI TIPOLOGIE &nbsp;
                                    <span *ngIf="getExpand('dettagliTipologie')" class="float-right cursor-pointer mr-2"><i class="fas fa-chevron-down"></i></span>
                                    <span *ngIf="!getExpand('dettagliTipologie')" class="float-right cursor-pointer mr-2"><i class="fas fa-chevron-up"></i></span>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <app-dettagli-tipologie></app-dettagli-tipologie>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="triage">
                            <ng-template ngbPanelTitle>
                                <div class="font-weight-bold text-white">
                                    <i class="fas fa-question-circle"></i>
                                    TRIAGE &nbsp;
                                    <span *ngIf="getExpand('triage')" class="float-right cursor-pointer mr-2"><i class="fas fa-chevron-down"></i></span>
                                    <span *ngIf="!getExpand('triage')" class="float-right cursor-pointer mr-2"><i class="fas fa-chevron-up"></i></span>
                                </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <app-triage></app-triage>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
        <div *ngIf="doubleMonitor" class="col-6">
            <div class="mt-2"
                 style="height:920px">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
