<div class="clearfix mb-3">
    <div class="float-left">
        <form class="form-inline">
            <div class="form-group mr-3">
                <label for="evento" class="mr-3">Nuovo Evento</label>
                <textarea id="evento"
                          class="form-control"
                          placeholder="Scrivi qui il nuovo evento"
                          style="min-width: 400px"
                          [value]="''">
                </textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">
                Aggiungi
            </button>
        </form>
    </div>
</div>
