<div class="card">
    <div class="card-header">
        <span class="card-title">{{ 'log book' | uppercase }}</span>
    </div>
    <div class="card-body py-1">
        <form [formGroup]="eventoForm"
              ngxsForm="eventiRichiesta.eventoForm"
              class="form-inline"
              (ngSubmit)="onSubmit()">
            <div class="clearfix d-flex align-items-center w-100">
                <div class="float-left mr-5">
                    <div class="form-group">
                        <label for="evento" class="mr-3">Nuovo Evento</label>
                        <textarea id="evento"
                                  class="form-control"
                                  placeholder="Scrivi qui il nuovo evento"
                                  style="min-width: 400px"
                                  formControlName="text">
                        </textarea>
                    </div>
                </div>
                <div class="float-left mr-5">
                    <ngb-timepicker formControlName="istante">
                    </ngb-timepicker>
                </div>
                <ng-container *ngIf="eventoForm.valid">
                    <div class="float-left">
                        <button type="submit"
                                class="btn btn-light">
                            Crea Evento
                        </button>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
</div>
