<li class="list-group-item border cursor-pointer px-1"
    [class.font-xlarge]="viewState.composizione.active"
    [ngClass]="liClass()"
    (mouseenter)="onHoverIn()"
    (mouseleave)="onHoverOut()"
    (click)="onClick()">
    <div class="row px-3">
        <div class="clearfix d-inline-flex">
            <div [ngClass]="_boxStatiClass(mezzoComp.mezzo.stato)"
                 [ngbTooltip]="mezzoComp.mezzo.stato"
                 placement="top"></div>
        </div>
        <div class="col pr-0">
            <div class="d-inline-block font-weight-bold mr-1"
                 [ngbTooltip]="mezzoComp.mezzo.descrizione"
                 [disableTooltip]="mezzoComp.mezzo.descrizione.length <= 7">
                {{ mezzoComp.mezzo.descrizione | slice: 0:7 }}
            </div>
            <span class="d-inline-block mr-2">{{ mezzoComp.mezzo.genere }}</span>
            <!-- Squadre Preaccoppiate -->
            <ng-template [ngIf]="mezzoComp.mezzo?.preAccoppiato && !mezzoComp.listaSquadre?.length">
                <div class="d-inline-block nowrap">
                    <ng-container>
                        <button class="btn btn-danger pl-0 py-0 pr-2 big_numbers font-double-monitor btn-no-hover"
                                [ngbPopover]="popSquadre"
                                [popoverTitle]="'Squadre di ' + mezzoComp.mezzo?.descrizione"
                                container="body"
                                triggers="mouseenter:mouseleave"
                                tabindex="0"
                                style="cursor:pointer; vertical-align: baseline"
                                (click)="$event.stopPropagation()">
                            <div class="d-inline-block ml-2"
                                 style="font-weight: 500">
                                P
                            </div>
                            <i class="fa fa-users fa-fw ml-1"></i>
                        </button>
                        <ng-template #popSquadre>
                            <div *ngFor="let s of mezzoComp?.squadrePreaccoppiate" class="h6 text-center">
                                <div class="d-inline-block font-weight-bold">{{ s.squadra.nome }}</div>
                                <div *ngIf="s.squadra.turno" class="d-inline-block">({{ s.squadra.turno }})</div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </ng-template>
            <!-- Km / Tempo Percorrenza -->
            <ng-template [ngIf]="!mezzoComp.mezzo?.coordinateFake">
                <div class="d-inline-block ml-2">
                    <i class="fa fa-road guida mr-1" ngbTooltip="Distanza dall'intervento"></i>
                    <div class="d-inline-block mr-2">{{ mezzoComp.km }} km</div>
                    <i class="fa fa-clock-o guida mr-1" ngbTooltip="Tempo di percorrenza"></i>
                    <div class="d-inline-block mr-2">{{ mezzoComp.tempoPercorrenza }} min</div>
                </div>
            </ng-template>
            <!-- Indirizzo Intervento -->
            <ng-template [ngIf]="mezzoComp.indirizzoIntervento">
                <div class="d-inline-block"
                     [class.ml-2]="!mezzoComp.mezzo.preAccoppiato"
                     [class.ml-4]="mezzoComp.mezzo.preAccoppiato">
                    <i class="fa fa-map-marker text-success mr-2" ngbTooltip="Posizione Attuale"></i>
                    <div class="d-inline-block font-weight-bold">
                        {{ mezzoComp.indirizzoIntervento | truncate:30 }}
                    </div>
                </div>
            </ng-template>
            <!-- Squadre su Mezzo per Intervento -->
            <ng-template
                    [ngIf]="mezzoComp.listaSquadre?.length && !itemSelezionato && !itemBloccato && !itemPrenotatoInBox && !itemPrenotato">
                <div class="d-inline-block nowrap">
                    <ng-container>
                        <button class="btn btn-danger py-0 big_numbers font-double-monitor btn-no-hover"
                                [ngbPopover]="popSquadreIntervento"
                                [popoverTitle]="'Squadre su ' + mezzoComp.mezzo?.descrizione + ' per Intervento'"
                                container="body"
                                triggers="mouseenter:mouseleave"
                                tabindex="0"
                                style="cursor:pointer; vertical-align: baseline"
                                (click)="onClick(true); $event.stopPropagation()">
                            <i class="fa fa-users fa-fw"></i>
                            <i class="fa fa-arrow-right guida fa-fw mx-1"></i>
                            <i class="fa fa-truck fa-fw"></i>
                        </button>
                        <ng-template #popSquadreIntervento>
                            <div *ngFor="let s of mezzoComp.listaSquadre" class="h6 text-center">
                                <div class="d-inline-block font-weight-bold">{{ s.squadra.nome }}</div>
                                <div *ngIf="s.squadra.turno" class="d-inline-block">({{ s.squadra.turno }})</div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </ng-template>
        </div>
        <ng-template [ngIf]="viewState.composizione.active">
            <div *ngIf="viewState.composizione.active" class="clearfix pr-2 text-right">
                <div class="d-inline-block py-0"
                     [ngClass]="badgeDistaccamentoClass()"
                     [ngbTooltip]="mezzoComp.mezzo.distaccamento.descrizione">
                    {{ mezzoComp.mezzo.distaccamento.descrizione | competenzaFormat }}
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="!viewState.composizione.active">
            <div class="col-1 pl-0 text-right">
                <div class="d-inline-block"
                     [ngClass]="badgeDistaccamentoClass()"
                     [ngbTooltip]="mezzoComp.mezzo.distaccamento.descrizione">
                    {{ mezzoComp.mezzo.distaccamento.descrizione | slice:0:3 }}
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template [ngIf]="itemPrenotato && mezzoComp.istanteScadenzaSelezione">
        <app-prenotazione-progress-bar [mezzoComp]="mezzoComp"
                                       [itemPrenotato]="itemPrenotato"
                                       [graphic]="false"></app-prenotazione-progress-bar>
    </ng-template>
</li>
