.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

select.custom-select {
    margin: 0.5rem 0.5rem 0 0;
    width: auto;
}

input[type="checkbox"] {
    width: 1.2rem !important;
    height: 1.2rem !important;
    outline: none !important;
    vertical-align: middle;
}
