.button-urgenza {
  background-color: #339933;
  color: #ffffff;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: 5;
}

@keyframes color {
  0% {
    background-color: #339933;
    box-shadow: 0 0 3px 0 #33cc33;
  }
  25% {
    background-color: #00cc00;
    box-shadow: 0 0 6px 0 #33cc33;
  }
  50% {
    background-color: #00cc00;
    box-shadow: 0 0 12px 0 #00cc00;
  }
  75% {
    background-color: #33cc33;
    box-shadow: 0 0 12px 0 #33cc33;
  }
  100% {
    background-color: #339933;
    box-shadow: 0 0 18px 0 #339933;
  }
}

.doubleSideView {
  flex-direction: row-reverse !important;
}
