<div class="modal-header">
    <div class="modal-title font-weight-bold">
        <h5 class="font-weight-lighter">{{ tipologiaSelezionata?.codiceDescrizione | uppercase }}</h5>
        <h3>TRIAGE <span class="font-weight-bold">{{ dettaglioTipologiaSelezionato?.descrizione | uppercase }}</span>
        </h3>
    </div>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            [disabled]="(!chiamataStatus && !modificaRichiestaStatus && !chiamataFromMappaStatus) || loadingSchedaRichiesta"
            (click)="dismissModal('dismiss')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body height py-4 px-5">
    <ng-template [ngIf]="!dettagliTipologia?.length || dettaglioTipologiaSelezionato">
        <div class="row"
             [class.doubleSideView]="triageSummary?.length">
            <div *ngIf="triageSummary?.length" class="col-6">
                <h5 class="mb-3">{{ 'Riepilogo Triage' | uppercase }}</h5>
                <div *ngFor="let summary of triageSummary; let i = index">
                    <div class="alert alert-info"
                         [class.mb-0]="i === triageSummary?.length - 1 && !getSuggerimentoByRispostaValue(summary.rispostaValue)">
                        <h5 class="mb-0">
                            {{ getDomandaByRispostaValue(summary.rispostaValue)?.text }}
                            <span class="font-weight-bolder">{{ summary.risposta }}</span>
                        </h5>
                    </div>
                    <ng-template [ngIf]="getSuggerimentoByRispostaValue(summary.rispostaValue)">
                        <div class="alert alert-primary"
                             [class.mb-0]="i === triageSummary?.length - 1">
                            <h5 class="mb-0 font-weight-bolder">
                                <i class="fas fa-bullhorn mr-1"></i>
                                {{ getSuggerimentoByRispostaValue(summary.rispostaValue) }}
                            </h5>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="d-flex align-items-end"
                 [ngClass]="triageSummary?.length ? 'col-6' : 'col-12'">
                <ng-container *ngIf="domandeTerminate">
                    <div class="alert alert-danger w-100 mb-0">
                        <h5 class="mb-0">
                            <i class="fas fa-check mr-1"></i>
                            TRIAGE TERMINATO
                        </h5>
                    </div>
                </ng-container>
                <app-step-domande [triage]="triage"
                                  (risposta)="setRisposta($event)"
                                  (domandeTerminate)="checkFineTriage($event)">
                </app-step-domande>
            </div>
        </div>
    </ng-template>
</div>
<div class="modal-footer justify-content-between">
    <ng-container *ngIf="!apertoFromMappa">
            <span class="d-inline-block mt-2"
                  ngbTooltip="Necessaria la compilazione dei campi obbligatori"
                  placement="right"
                  [disableTooltip]="!disableUrgenza || checkedUrgenza">
                <app-checkbox
                        [checkboxState]="getCheckboxUrgenzaState()"
                        (click)="setUrgenza()">
                </app-checkbox>
            </span>
    </ng-container>
    <button type="button" class="btn btn-lg btn-success btn-no-hover"
            [disabled]="(!chiamataStatus && !modificaRichiestaStatus && !chiamataFromMappaStatus) || loadingSchedaRichiesta"
            (click)="closeModal('success')">
        <i class="fas fa-check mr-1"></i>
        {{ 'Chiudi e Salva Triage' | uppercase }}
    </button>
</div>
