<div class="btn-group w-100">
    <div ngbDropdown autoClose="outside" class="btn-group w-100" placement="bottom">
        <button ngbDropdownToggle
                class="btn btn-block"
                [class.btn-outline-secondary]="!filtriSelezionati?.length"
                [class.btn-secondary]="filtriSelezionati?.length"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                [disabled]="disableFilters">
            <i class="fas fa-filter"></i>
            {{ 'Filtri' | uppercase }}
            <span class="badge badge-success text-light">
              {{ filtriSelezionati?.length }}
            </span>
        </button>
        <div ngbDropdownMenu class="bg-light px-3">
            <div class="card-block pt-1 pb-0">
                <h6 class="font-weight-bold">{{ Categoria.Gestione }}</h6>
                <div *ngFor="let f of filtri" class="mb-2">
                    <ng-container *ngIf="f.categoria === Categoria.Gestione">
                        <app-filtro [filtro]="f"
                                    [useCheckbox]="true"
                                    [selezionato]="_isSelezionato(f)"
                                    (filtroSelezionato)="onSelezioneFiltro($event)"
                                    (filtroDeselezionato)="onSelezioneFiltro($event)"></app-filtro>
                    </ng-container>
                </div>
                <h6 class="font-weight-bold">{{ Categoria.DataRicezione }}</h6>
                <div *ngFor="let f of filtri" class="mb-2">
                    <ng-container *ngIf="f.categoria === Categoria.DataRicezione">
                        <app-filtro [filtro]="f"
                                    [useCheckbox]="true"
                                    [selezionato]="_isSelezionato(f)"
                                    (filtroSelezionato)="onSelezioneFiltro($event)"
                                    (filtroDeselezionato)="onSelezioneFiltro($event)"></app-filtro>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-secondary p-1"
            [disabled]="disableFilters"
            (click)="eliminaFiltriAttivi()">
        <i class="fas fa-undo px-1"></i>
    </button>
</div>
