<div class="btn-group w-100">
    <div ngbDropdown autoClose="outside" class="btn-group w-100">
        <button ngbDropdownToggle class="btn btn-block app-shadow"
                [ngClass]="{'btn-outline-secondary': filtriSelezionati.length <= 0, 'btn-secondary': filtriSelezionati.length > 0}"
                type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <i class="fa fa-filter"></i>
            {{ 'Filtri' | uppercase }}
            <span class="badge text-light"
                  [class.badge-secondary]="!filtriSelezionati || filtriSelezionati?.length <= 0"
                  [class.badge-success]="filtriSelezionati?.length > 0">
              {{ filtriSelezionati?.length }}
            </span>
        </button>
        <div ngbDropdownMenu class="bg-light px-3">
            <div class="card-block pt-1 pb-0">
                <h6 class="font-weight-bold">{{ Categoria.Gestione }}</h6>
                <div *ngFor="let f of filtri" class="mb-2">
                    <app-filtro [filtro]="f"
                                [useCheckbox]="true"
                                [selezionato]="_isSelezionato(f)"
                                (filtroSelezionato)="onSelezioneFiltro($event)"
                                (filtroDeselezionato)="onSelezioneFiltro($event)"></app-filtro>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-secondary p-1 altri-filtri" (click)="eliminaFiltriAttivi()"
            [disabled]="disableFilters">
        <i class="fa fa-undo text-dark px-1"></i>
    </button>
</div>
