<div class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-7">
                <i class="fa fa-medkit mb-2 mr-1"></i><span class="font-weight-bold">Richieste di Soccorso:
                    {{interventi.getTotal()}}</span>
            </div>
            <div class="col-5 ml-auto pl-0 text-right text-secondary">
                <small>
                    <span class="mr-1">Turno A:</span>
                    <span class="font-weight-bold">16</span>
                    <span class="mx-1">-</span>
                    <span class="mr-1">Turno B:</span>
                    <span class="font-weight-bold">11</span>
                </small>
            </div>
        </div>
        <hr class="m-0 mb-2">
    </div>
    <!-- sinistra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">Chiamate</span></li>
                            <li><span class="d-inline-block h6">Sospesi</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge h6 w-75" [ngClass]="{'badge-secondary': interventi.chiamate === 0,'badge-danger': interventi.chiamate > 0}">{{interventi.chiamate}}</span></li>
                            <li><span class="badge badge-warning h6 w-75">{{interventi.sospesi}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- destra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">Assegnati</span></li>
                            <li><span class="d-inline-block h6">Presidiati</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge badge-info h6 w-75">{{interventi.assegnati}}</span></li>
                            <li><span class="badge badge-success h6 w-75">{{interventi.presidiati}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>