<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'Modifica Enti Intervenuti' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body" *ngIf="enti && enti?.length > 0">
    <form [formGroup]="modificaEntiIntervenutiForm">
        <div class="form-group">
            <label for="listaEnti">
                Lista Enti Intervenuti
            </label>
            <ng-select
                    id="listaEnti"
                    formControlName="listaEnti"
                    [items]="enti"
                    bindLabel="descrizione"
                    bindValue="codice"
                    [multiple]="true"
                    placeholder="Enti Intervenuti"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [notFoundText]="'Nessun ente trovato con i parametri di ricerca'">
            </ng-select>
        </div>
    </form>
    <div class="mt-2">
        <div class="text-center">Vuoi creare un nuovo ente?</div>
        <button class="btn btn-sm btn-block btn-primary btn-no-hover" (click)="aggiungiNuovoEnte()">
            <i class="fa fa-plus mr-1"></i>
            Nuovo ente
        </button>
    </div>
</div>
<div class="modal-footer" style="place-content: space-between;">
  <button class="btn btn-lg btn-danger text-right btn-no-hover" style="font-weight:600" (click)="onSubmit()">
    {{ 'Salva Enti' | uppercase }}
  </button>
  <button class="btn btn-lg btn-secondary text-right mr-2 btn-no-hover" style="font-weight:600" (click)="onCancel()">
      {{ 'Non Salvare' | uppercase }}
  </button>
</div>
