<div class="btn-group">
  <div ngbDropdown autoClose="outside" class="btn-group">
    <button ngbDropdownToggle class="btn" [ngClass]="{'btn-outline-primary': filtriAttivi == 0, 'btn-primary':filtriAttivi > 0}"
      type="button" id="dropdownMenuButton" data-toggle="dropdown">
      <i class="fa fa-filter"></i> Filtri <span *ngIf="filtriAttivi>0" class="badge badge-success text-light">{{ filtriAttivi
        }}</span>
    </button>
    <div ngbDropdownMenu class="px-3" aria-labelledby="dropdownMenuButton">
      <div class="card-block pt-1 pb-0">
        <h6 class="font-weight-bold">Principali</h6>
        <div *ngFor="let f of filtri" class="mb-2">
          <button class="btn btn-block" [ngClass]="{'btn-outline-primary': !f.selezionato, 'btn-primary': f.selezionato}" appDebounceClick
            (debounceClick)="selezione(f)" [debounceTime]="700">{{ f.descrizione }}</button>
        </div>
      </div>
      <div class="text-center">
        <hr class="mb-0">
        <span class="">Visualizza tutto</span>
        <button class="btn btn-block btn-outline-dark py-0 mt-1"><i class="fa fa-caret-down"></i></button>
      </div>
    </div>
  </div>
  <button *ngIf="filtriAttivi > 0" class="btn btn-outline-secondary p-1" (click)="eliminaFiltriAttivi()"><i class="fa fa-times text-dark px-1"></i></button>
</div>