<li class="list-group-item border cursor-pointer px-3">
    <div class="clearfix">
        <div class="float-left mr-2">
            <app-icona-stato [stato]="mezzoEsercitazione.mezzo.stato"></app-icona-stato>
        </div>
        <div class="float-left">
            <div class="d-inline-block font-weight-bold mr-1"
                 [ngbTooltip]="mezzoEsercitazione.mezzo.descrizione"
                 [disableTooltip]="mezzoEsercitazione.mezzo.descrizione.length <= 7">
                {{ mezzoEsercitazione.mezzo.descrizione | slice: 0:7 }}
            </div>
            <div class="d-inline-block mr-2">
                {{ mezzoEsercitazione.mezzo.genere }}
            </div>
        </div>
        <div class="float-right">
            <label for="test" class="d-none">Test</label>
            <input id="test" type="checkbox"/>
        </div>
    </div>
</li>