<div class="container-fluid pt-3 pb-2">
    <div class="row">
        <div [class.col-12]="!doubleMonitor"
             [class.col-6]="doubleMonitor">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>
                        <i class="fas fa-address-book" aria-hidden="true"></i>
                        Rubrica Enti
                    </h2>
                </div>
                <div class="col-12 mb-2">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary mb-2 font-weight-bold" (click)="onAddVoceRubrica()">
                                <i class="fas fa-plus mr-1"></i>
                                Aggiungi Voce
                            </button>
                            <button class="btn btn-outline-secondary btn-no-hover mx-3 mb-2 font-weight-bold"
                                    placement="right"
                                    [routerLink]="['/' + RoutesPath.RubricaPersonale]"
                                    ngbTooltip="Visualizza Rubrica Personale VV.F.">
                                <i class="fas fa-id-card mr-1"></i>
                                Personale VV.F.
                            </button>
                        </div>
                        <div class="col-4">
                            <app-ricerca-rubrica [ricerca]="ricerca"
                                                 [loading]="loading$ | async"
                                                 (ricercaChange)="onRicercaRubrica($event)">
                            </app-ricerca-rubrica>
                        </div>
                    </div>
                </div>
                <div *ngIf="ricerca" class="col-12 pl-4">
                    <app-risultati-ricerca [ricerca]="ricerca"></app-risultati-ricerca>
                </div>
                <div *ngIf="!vociRubrica?.length" class="col-12">
                    <app-risultati-alert [items]="!!(vociRubrica?.length)"
                                         [ricerca]="!!(ricerca?.length)"
                                         [loading]="!!(loading$ | async)">
                    </app-risultati-alert>
                </div>
                <div *ngIf="vociRubrica?.length" class="col-12">
                    <app-tabella-rubrica [vociRubrica]="vociRubrica$ | async" [totalItems]="totalItems$ | async"
                                         [pageSize]="pageSize" [page]="page$ | async" [loading]="loading$ | async"
                                         [pageSizes]="pageSizes$ | async"
                                         (editVoceRubrica)="onEditVoceRubrica($event)"
                                         (deleteVoceRubrica)="onDeleteVoceRubrica($event)"
                                         (pageChange)="onPageChange($event)"
                                         (pageSizeChange)="onPageSizeChange($event)"></app-tabella-rubrica>
                </div>
            </div>
        </div>
        <div *ngIf="doubleMonitor" class="col-6">
            <div class="mt-2"
                 style="height:920px">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
