<div class="row">
  <div class="col-12">
    <div class="row">
      <!-- filtri (1) -->
      <div class="col-md-6 ml-auto">
          <app-filtri-richieste></app-filtri-richieste>
      </div>
      <!-- ricerca (1) -->
      <div class="col-md-6 ml-auto">
          <app-ricerca-richieste></app-ricerca-richieste>
      </div>
    </div>
  </div>

  <!-- lista richieste (1) -->
  <div class="col-12">
    <div class="row">
      <div *ngIf="!richieste" class="mx-auto my-5">
        <img src="../../assets/img/pink_loader_resized.gif">
      </div>
      <div *ngFor="let r of richieste | paginate: { id: 'elencoRichieste',
                                                            itemsPerPage: 2,
                                                            currentPage: p,
                                                            totalItems: total }" class="col-6big">
        <app-sintesi-richiesta [richiesta]="r" (LocalizzazioneIntervento)="parametriMappa($event)" (showDettagli)="showDettagliRicevuto($event)"></app-sintesi-richiesta>
      </div>
      <div class="col-12 text-center mt-2">
        <pagination-controls id="elencoRichieste" (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" responsive="true"
          previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>