<ng-template [ngIf]="dettaglioTipologia">
    <div class="text-center">
        <h4 class="font-weight-bold">
            {{ dettaglioTipologia?.descrizione }}
        </h4>
    </div>
</ng-template>
<div class="p-3">
    <ng-template [ngIf]="tipologie">
        <button class="btn btn-block btn-no-hover btn-lg btn-danger">
            Visualizza P.O.S.
        </button>
    </ng-template>
</div>
<ngb-accordion [closeOthers]="true" activeIds="riepilogo-triage">
    <!-- RIEPILOGO TRIAGE -->
    <ng-template [ngIf]="summary?.length">
        <ngb-panel id="riepilogo-triage" [disabled]="!summary">
            <ng-template ngbPanelTitle>
                <div class="font-xlarge font-weight-bold text-white">
                    RIEPILOGO TRIAGE
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <!-- RISPOSTE -->
                <h5 class="text-danger">
                    <i class="fa fa-question-circle mr-2"></i>
                    <b>RISPOSTE <span class="text-danger">({{ summary?.length }})</span></b>
                </h5>
                <ul class="list-group font-xlarge px-3">
                    <li *ngFor="let s of summary, let i = index">
                        <div>
                            <b>{{ s.domanda }}</b>
                        </div>
                        <div>
                            Risposta: <b>{{ s.risposta }}</b>
                        </div>
                    </li>
                </ul>
                <!-- ISTRUZIONI PRE-ARRIVO -->
                <ng-template [ngIf]="false">
                    <div class="mt-3">
                        <h5 class="text-danger">
                            <i class="fa fa-file-pdf-o mr-2"></i>
                            <b>Istruzioni Pre-Arrivo</b>
                        </h5>
                        <div class="px-3">
                            <ul class="list-group">
                                <li>Istruzione 1</li>
                                <li>Istruzione 2</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <!-- GENERI MEZZO -->
                <ng-template [ngIf]="contatoreGeneriMezzo || generiMezzo?.length">
                    <div class="mt-3">
                        <h5 class="text-danger">
                            <i class="fa fa-truck mr-2"></i>
                            <b>MEZZI CONSIGLIATI <span class="text-danger">({{ contatoreGeneriMezzo }})</span></b>
                        </h5>
                        <div class="px-3">
                            <ul class="list-group font-xlarge">
                                <li *ngFor="let genereMezzo of generiMezzo; let i = index">
                                    {{ genereMezzo }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <!-- NOTE OPERATORE -->
                <ng-template [ngIf]="noteOperatore?.length">
                    <div class="mt-3">
                        <h5 class="text-danger">
                            <i class="fa fa-file mr-2"></i>
                            <b>Suggerimenti <span class="text-danger">({{ noteOperatore.length }})</span></b>
                        </h5>
                        <div class="font-xlarge">
                            <div *ngFor="let nota of noteOperatore; let i = index">
                                {{ i + 1 }}. {{ nota }}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </ngb-panel>
    </ng-template>
    <!-- NOTE NUE -->
    <ng-template [ngIf]="schedaContatto">
        <ngb-panel id="note-nue" [disabled]="!schedaContatto">
            <ng-template ngbPanelTitle>
                <div class="font-xlarge font-weight-bold text-white">
                    NOTE NUE
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="font-xlarge">
                    {{ schedaContatto?.dettaglio ? schedaContatto?.dettaglio : 'Nessuna Nota Disponibile' }}
                </div>
            </ng-template>
        </ngb-panel>
    </ng-template>
    <!-- TODO: prevedere dettaglio se si preme su un codice intervento (modale con all'interno la sintesi richiesta) -->
    <!-- INTERVENTI IN PROSSIMITA' -->
    <ng-template [ngIf]="countInterventiProssimita || interventiProssimita?.length">
        <ngb-panel id="interventi-prossimita" [disabled]="!countInterventiProssimita || !interventiProssimita?.length">
            <ng-template ngbPanelTitle>
                <div class="font-xlarge font-weight-bold text-white">
                    INTERVENTI IN PROSSIMITA' ({{ countInterventiProssimita ? countInterventiProssimita : 0 }})
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="px-3">
                    <ul class="list-group font-xlarge">
                        <li *ngFor="let interventoProssimita of interventiProssimita" class="font-xlarge mb-2">
                            <div>
                                <b>{{ interventoProssimita?.codiceRichiesta ? interventoProssimita?.codiceRichiesta :
                                    interventoProssimita?.codice }}</b>
                            </div>
                            <div>
                                <i class="fa fa-map-marker mr-1"></i>
                                {{ interventoProssimita?.localita?.indirizzo }}
                            </div>
                            <div>
                                <i class="fa fa-user mr-1"></i>
                                {{ interventoProssimita?.richiedente?.nominativo }}
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </ngb-panel>
    </ng-template>
    <!-- TODO: INTERVENTI STESSA VIA -->
    <ng-template [ngIf]="false">
        <ngb-panel id="interventi-stessa-via" [disabled]="true">
            <ng-template ngbPanelTitle>
                <div class="font-xlarge font-weight-bold text-white">
                    INTERVENTI NELLA STESSA VIA
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <!-- TODO: inserire "INTERVENTI NELLA STESSA VIA" -->
            </ng-template>
        </ngb-panel>
    </ng-template>
    <!-- TODO: INTERVENTI CHIUSI CON STESSO INDIRIZZO -->
    <ng-template [ngIf]="false">
        <ngb-panel id="interventi-chiusi-stesso-indirizzo" [disabled]="true">
            <ng-template ngbPanelTitle>
                <div class="font-xlarge font-weight-bold text-white">
                    INTERVENTI CHIUSI CON STESSO INDIRIZZO
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <!-- TODO: inserire "INTERVENTI CHIUSI CON STESSO INDIRIZZO" -->
            </ng-template>
        </ngb-panel>
    </ng-template>
</ngb-accordion>