<div class="card bg-light w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center text-secondary mb-2">
          <h5>{{meteo.descrizione}}</h5>
        </div>
        <div class="col-4">
          <i class="fa fa-sun-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-8">
          <ul class="list-unstyled m-0">
            <li><h6>Temperatura <span class="badge badge-success">{{meteo.temperatura}}</span></h6></li>
            <li><h6>Umidità <span class="badge badge-secondary">{{meteo.umidita}}</span></h6></li>
          </ul>
        </div>
      </div>
    </div>
</div>