<div *ngIf="meteoData" class="card bg-light w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-secondary">
                <img class="mr-2" src="http://openweathermap.org/img/w/{{meteoData.weather[0].icon}}.png"><span class="text-capitalize">{{meteoData.weather[0].description}}</span>
                <hr class="m-0 mb-2">
            </div>
            <!-- sinistra -->
            <div class="col-5 pr-0">
                <ul class="list-unstyled m-0">
                    <li>
                        <div class="h6">Temperatura</div>
                    </li>
                    <li>
                        <div class="h6">Umidità</div>
                    </li>
                    <li>
                        <div class="h6">Vento</div>
                    </li>
                </ul>
            </div>
            <div class="col-2 text-right">
                <ul class="list-unstyled m-0">
                    <li>
                        <div class="h6">&nbsp;</div>
                    </li>
                    <li>
                        <div class="h6">&nbsp;</div>
                    </li>
                    <li>
                        <div class="h6">
                            <i [ngStyle]="{'transform': 'rotate('+degrease+'deg)', '-webkit-transform': 'rotate('+degrease+'deg)', '-ms-transform': 'rotate('+degrease+'deg)'}" class="pl-2 fa fa-long-arrow-up"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-5 pl-4 text-right">
                <ul class="list-unstyled m-0">
                    <li><span class="badge badge-success h6">{{temperatura}}°</span></li>
                    <li><span class="badge badge-secondary h6">{{meteoData.main.humidity}}%</span></li>
                    <li><span class="badge badge-info h6">{{meteoData.wind.speed}} km/h</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>