<div *ngIf="(navbarLoaded | async)" class="container-fluid">
    <div class="row">
        <div [class.col-12]="((doubleMonitor$ | async) === false)"
             [class.col-6]="(doubleMonitor$ | async)">
            <div class="row"
                 [class.mt-1]="viewState.composizione.active">
                <!-- Info Aggregate -->
                <div class="col-12"
                     [class.pt-2]="boxAttivi || !viewState.chiamata.active || !viewState.modifica.active || !viewState.composizione.active"
                     [class.pb-1]="boxAttivi || !viewState.chiamata.active || !viewState.modifica.active || !viewState.composizione.active"
                     [class.d-none]="!boxAttivi || viewState.chiamata.active || viewState.modifica.active || viewState.composizione.active">
                    <app-info-aggregate [nightMode]="(nightMode$ | async)">
                    </app-info-aggregate>
                </div>
                <!-- Filterbar -->
                <ng-container *ngIf="!isCON">
                    <div class="col-12 bg-filterbar py-2"
                         [class.mt-1]="!boxAttivi || viewState.chiamata.active || viewState.modifica.active"
                         [class.d-none]="viewState.composizione.active">
                        <app-filterbar [colorButton]="colorButton$ | async"
                                       [doubleMonitor]="doubleMonitor$ | async"
                                       [viewState]="viewState"
                                       [nightMode]="nightMode$ | async"
                                       [tastoChiamataMappaActive]="tastoChiamataMappaActive$ | async">
                        </app-filterbar>
                    </div>
                </ng-container>
                <!-- Richieste -->
                <div class="col-12">
                    <app-richieste *ngIf="viewState.richieste.active && !isCON"
                                   [nightMode]="nightMode$ | async"
                                   [boxAttivi]="boxAttivi">
                    </app-richieste>
                    <div *ngIf="(doubleMonitor$ | async) === false">
                        <div class="mt-2"
                             style="height:740px; max-height:740px"
                             [class.d-none]="(viewState.richieste.active || viewState.codaChiamate.active || viewState.chiamata.active || viewState.modifica.active || viewState.composizione.active || viewState.mezziInServizio.active || viewState.schedeContatto.active) && !isCON">
                            <app-maps [viewStateMappa]="viewStateMappa$ | async"
                                      [boxAttivi]="boxAttivi"
                                      [tastoChiamataMappaActive]="tastoChiamataMappaActive$ | async"
                                      [visualizzaPercorsiRichiesta]="visualizzaPercorsiRichiesta$ | async">
                            </app-maps>
                        </div>
                    </div>
                </div>
                <!-- Scheda Richiesta -->
                <div class="col-12">
                    <app-scheda-richiesta
                            *ngIf="viewState.chiamata.active || viewState.modifica.active">
                    </app-scheda-richiesta>
                </div>
                <!-- Coda Chiamate -->
                <div class="col-12">
                    <app-coda-chiamate *ngIf="viewState.codaChiamate.active"
                                       [boxAttivi]="boxAttivi">
                    </app-coda-chiamate>
                </div>
                <!-- Composizione Partenza -->
                <div class="col-12">
                    <app-composizione-partenza *ngIf="viewState.composizione.active"
                                               [nightMode]="nightMode$ | async"
                                               [boxAttivi]="boxAttivi"
                                               [compPartenzaMode]="(composizioneMode$ | async)">
                    </app-composizione-partenza>
                </div>
                <!-- Mezzi in Servizio -->
                <div class="col-12">
                    <app-mezzi-in-servizio *ngIf="viewState.mezziInServizio.active"
                                           [nightMode]="nightMode$ | async"
                                           [boxAttivi]="boxAttivi">
                    </app-mezzi-in-servizio>
                </div>
                <!-- Schede Contatto -->
                <div class="col-12">
                    <app-schede-contatto *ngIf="viewState.schedeContatto.active"
                                         [nightMode]="nightMode$ | async"
                                         [boxAttivi]="boxAttivi">
                    </app-schede-contatto>
                </div>
            </div>
        </div>
        <!-- Mappa -->
        <div *ngIf="(doubleMonitor$ | async) && !viewState.codaChiamate.active"
             class="col-6"
             style="height: 987px">
            <div class="row h-100"
                 [class.mt-1]="!boxAttivi && !viewState.chiamata.active && !viewState.modifica.active"
                 [class.mt-2]="viewState.chiamata.active || viewState.composizione.active || viewState.modifica.active">
                <div class="col-12 h-100 mt-2"
                     [class.d-none]="(((doubleMonitor$ | async) === false) && (viewState.richieste.active || viewState.modifica.active || viewState.composizione.active || viewState.mezziInServizio.active || viewState.schedeContatto.active))">
                    <app-maps [viewStateMappa]="(viewStateMappa$ | async)"
                              [boxAttivi]="boxAttivi"
                              [tastoChiamataMappaActive]="tastoChiamataMappaActive$ | async"
                              [visualizzaPercorsiRichiesta]="visualizzaPercorsiRichiesta$ | async">
                    </app-maps>
                </div>
            </div>
        </div>
        <div *ngIf="(doubleMonitor$ | async) && viewState.codaChiamate.active" class="col-6">
            <iframe src="https://gis.dipvvf.it/portal/apps/opsdashboard/index.html#/717ba47ed1084f7eb6af70a97d68cf06"
                    height="950" width="100%">
            </iframe>
        </div>
    </div>
</div>
