<div class="container-fluid ">
    <div class="row">
        <div class="col-12 px-0">
            <app-info-aggregate></app-info-aggregate>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-filterbar [colorButton]="(colorButton$ | async)"></app-filterbar>
        </div>
    </div>
    <div class="row">
        <div class="" [ngClass]="columnState.sinistra">
            <app-richieste [ngClass]="{'d-none' : !viewState.richieste.active}"
                           [split]="viewState.richieste.split"></app-richieste>
            <app-chiamata *ngIf="viewState.chiamata.active"></app-chiamata>
            <app-composizione-partenza *ngIf="viewState.composizione.active"
                                       [richiesta]="nuovaPartenza"
                                       [compPartenzaMode]="(composizioneMode$ | async)"></app-composizione-partenza>
        </div>
        <div class="mt-2" [ngClass]="columnState.destra || {'d-none' : !viewState.mappa.active}">
            <app-maps [viewStateMappa]="(viewStateMappa$ | async)" [richiestaPartenza]="nuovaPartenza"></app-maps>
        </div>
    </div>
</div>
