.row_text {
    color: #666666;
}

.big_numbers {
    color: #a72920 !important;
    font-weight: bold;
}

.big_font {
    font-weight: 500;
    color: #666666 !important;
}

.bg_diagonal_grey {
    background: repeating-linear-gradient(135deg, white, white 0.1em, #F0F0F0 0.4em, #E9EEFB 0.1em);
}

.bg_diagonal_grey_big {
    background: repeating-linear-gradient(135deg, white, white 0.5em, #F0F0F0 1em, #E9EEFB 0.5em);
}

.bg_card_title {
    background-color: beige;
}

.default-cursor{
    cursor: default !important;
}

.tasto-dettaglio {
    color: lightblue !important;
    font-size: 1.5em;
}

.localita {
    background-color: gainsboro;
}

.globo-loc {
    color: cadetblue;
}

.note-localita {
    background-color: white;
}

.badge-notify {
    background-color:#949494;
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: .6em;
}

.transparent {
    background-color: transparent !important;
}

.circle {
  font-size: 1rem;
  color: #e2e2e2;
}

.filled {
  color: #9b9b9b;
}

.bad {
  color: #c23535;
}

.high-priority{
    color: darkred;
}