<div class="card row_text py-2 px-3 transparent"
     (click)="richiestaClick(richiesta)"
     (dblclick)="richiestaDoubleClick(richiesta)"
     (mouseenter)="richiestaHoverIn(richiesta)"
     (mouseleave)="richiestaHoverOut(richiesta)">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <ng-template #rilevante>
                                <div *ngIf="richiesta?.rilevanteGrave">Intervento Rilevante</div>
                                <div *ngIf="richiesta?.rilevanteStArCu">
                                    Intervento Rilevante Storico Artistico Culturale
                                </div>
                            </ng-template>
                            <div class="h6 mb-1 nowrap">
                                <i class="guida fa fa-hashtag fa-fw mr-1"
                                   ngbTooltip="Identificativo richiesta assistenza" placement="right"></i>
                                <a class="h6 cod-int" (click)="toggleEspanso(richiesta.id)">
                                    <span *ngIf="richiesta.codiceRichiesta">{{ richiesta.codiceRichiesta }} </span>
                                    <span *ngIf="!richiesta.codiceRichiesta">{{ richiesta.codice }} </span>
                                </a>
                                <span *ngIf="richiesta?.rilevanteGrave || richiesta?.rilevanteStArCu"
                                      class="d-inline-block mr-1 text-danger"
                                      [ngbTooltip]="rilevante" placement="bottom">
                                    <i *ngIf="richiesta?.rilevanteStArCu" class="fa fa-university mr-2"></i>
                                    <i *ngIf="richiesta?.rilevanteGrave" class="fa fa-exclamation"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- descrizione intervento -->
                            <div class="h6 mb-1 nowrap default-cursor">
                                <div *ngIf="richiesta?.tipologie && richiesta?.tipologie.length === 1; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <span>
                                        <i class="fa-fw mr-1 {{ methods.coloraIcona(richiesta.tipologie[0].icona) }}"
                                           ngbTooltip="{{ richiesta.tipologie[0].descrizione }}"></i>
                                    </span>
                                </ng-template>
                                <ng-template #elseBlock>
                                    <span [ngbPopover]="popTipologie" popoverTitle="Tipologie" triggers="click"
                                          tabindex="0">
                                        <span class="position-relative">
                                            <i class="fa-fw mr-1 {{ methods.coloraIcona(richiesta.tipologie[0].icona) }}"
                                               ngbTooltip="{{ richiesta.tipologie[0].descrizione }}"></i>
                                            <span class="badge badge-notify text-light">{{richiesta.tipologie.length}}</span>
                                        </span>
                                    </span>
                                </ng-template>
                                <!-- ngbPopover tipologie intervento -->
                                <ng-template #popTipologie>
                                    <div class="h6" *ngFor="let t of richiesta.tipologie">
                                        <i class="fa-fw mr-1 {{ methods.coloraIcona(t.icona) }}"></i>&nbsp;{{
                                        t.descrizione }}
                                    </div>
                                </ng-template>
                                <span><a *ngIf="!!richiesta.tipologie && richiesta?.tipologie.length > 0"
                                         class="h6 font-weight-bold descrizione-int"
                                         ngbTooltip="{{ richiesta.descrizione }}"
                                         [disableTooltip]="richiesta.descrizione.length <= 45">{{
                                    richiesta.descrizione | truncate:45 }}</a></span>
                            </div>
                        </div>
                        <div class="col-3 pr-3 text-right">
                            <div class="h6 mb-1 nowrap default-cursor">
                                <i class="guida fa fa-thermometer-half fa-fw" ngbTooltip="Priorità della richiesta"></i>
                                <ngb-rating [(rate)]="richiesta.prioritaRichiesta" [max]="5" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                    <span class="circle" [class.filled]="fill === 100"
                                          [class.bad]="index > 2 && fill === 100">
                                        <i class="fa fa-circle mr-1"></i>
                                    </span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="h6 mt-1 mb-2 nowrap default-cursor">
                                <i class="guida fa fa-clock-o fa-fw mr-1" ngbTooltip="Ricezione richiesta"
                                   placement="right" container="body"></i>
                                <a ngbTooltip="{{ (richiesta.istanteRicezioneRichiesta | friendlyDateTooltip) || '' }}">
                                    <span timeago
                                          [date]="methods._dateNumber(richiesta.istanteRicezioneRichiesta)"
                                          [live]="live"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- richiedente -->
                            <div class="h6 mt-1 mb-2 nowrap default-cursor">
                                <i class="guida fa fa-address-book-o fa-fw mr-1" ngbTooltip="Richiedente"
                                   container="body"></i>
                                <!-- <span *ngIf="richiesta.richiedente.nome && richiesta.richiedente.cognome"><a
                                        ngbTooltip="{{ richiesta.richiedente.nome + ' ' + richiesta.richiedente.cognome }}"
                                        placement="right"
                                        [disableTooltip]="richiesta.richiedente.nome.length + richiesta.richiedente.cognome.length <= 20">{{
                                    richiesta.richiedente.nome + ' ' + richiesta.richiedente.cognome | truncate:20 }}</a></span>
                                <span *ngIf="richiesta.richiedente.ragioneSociale"><a
                                        ngbTooltip="{{ richiesta.richiedente.ragioneSociale }}"
                                        placement="right"
                                        [disableTooltip]="richiesta.richiedente.ragioneSociale.length <= 20">{{
                                    richiesta.richiedente.ragioneSociale | truncate:20 }}</a></span> -->
                                <span *ngIf="richiesta.richiedente.nominativo"><a
                                        ngbTooltip="{{ richiesta.richiedente.nominativo }}"
                                        placement="right"
                                        [disableTooltip]="richiesta.richiedente.nominativo.length <= 20">{{ richiesta.richiedente.nominativo | truncate:20 }}</a></span>
                                <span class="ml-1">(<i class="guida fa fa-phone fa-fw mr-1"
                                                       ngbTooltip="Numero richiedente"></i><a>{{
                                    richiesta.richiedente.telefono}}</a>)</span>
                            </div>
                        </div>
                        <div class="col-3 pr-3 text-right">
                            <div class="h6 mb-0">
                                <!-- squadre -->
                                <span class="nowrap">
                                    <ng-container *ngIf="methods.getSquadre(richiesta) as squadre">
                                        <button class="btn btn-light border pl-0 py-0 big_numbers mr-1"
                                                [ngbPopover]="popSquadre" container="body" popoverTitle="Squadre"
                                                triggers="click" tabindex="0" style="cursor:pointer"
                                                (click)="$event.stopPropagation()">
                                            <i class="guida fa fa-users fa-fw ml-2" ngbTooltip="Numero Squadre"></i>
                                            <span>{{ squadre.length }}</span>
                                        </button>
                                        <ng-template #popSquadre>
                                            <div class="h6" *ngFor="let s of squadre">
                                                <span>{{ s }}</span>
                                            </div>
                                            <h6 class="mb-0" *ngIf="squadre.length === 0">Nessuna squadra</h6>
                                        </ng-template>
                                    </ng-container>
                                </span>

                                <!-- mezzi -->
                                <span class="nowrap">
                                    <button class="btn btn-light border pl-0 py-0 big_numbers" [ngbPopover]="popMezzi"
                                            popoverTitle="Mezzi" triggers="click" tabindex="0" style="cursor:pointer"
                                            (click)="$event.stopPropagation()">
                                        <i class="guida fa fa-truck fa-fw ml-2" ngbTooltip="Numero Mezzi"></i>
                                        <span>{{ methods.numeroMezzi(richiesta) }}</span>
                                    </button>

                                    <ng-template #popMezzi>
                                        <div class="h6 nowrap" *ngFor="let m of methods.descscrizioneMezzi(richiesta)">
                                            <span>{{ m }}</span>
                                        </div>
                                        <h6 class="mb-0" *ngIf="methods.numeroMezzi(richiesta) === 0">Nessun mezzo</h6>
                                    </ng-template>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="h6 m-0 nowrap default-cursor">
                                <i class="guida fa fa-bolt fa-fw mr-1" ngbTooltip="Prima assegnazione"
                                   placement="right"></i>
                                <span *ngIf="richiesta.stato !== StatoRichiesta.Chiamata">
                                    <span *ngIf="richiesta.istantePrimaAssegnazione">{{richiesta.istantePrimaAssegnazione
                                        | friendlyDateTooltip }}</span>
                                </span>

                                <!-- presidiato / non presidiato (1) -->
                                <span *ngIf="richiesta.stato === StatoRichiesta.Chiamata || !richiesta.istantePrimaAssegnazione">
                                    <span class="badge badge-warning text-white">non presidiato</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <!-- indirizzo -->
                            <div class="h6 m-0 nowrap default-cursor">
                                <i class="guida fa fa-map-marker fa-fw mr-1" ngbTooltip="Località"></i>
                                <span><a ngbTooltip="{{ richiesta.localita.indirizzo }}"
                                         [disableTooltip]="richiesta.localita.indirizzo.length <= 30">{{
                                    richiesta.localita.indirizzo | truncate:30 }}</a></span>
                                <span class="list-inline list-unstyled m-0 ml-2">
                                    <app-competenza *ngFor="let c of richiesta.competenze; let i = index"
                                                    [competenza]="c" [i]="i"></app-competenza>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 pr-3 text-right" [ngClass]="{'mb-1': espanso}">
                            <div class="h6 m-0 nowrap">
                                <button *ngIf="!fissata && fissabile" class="btn btn-light border py-0 px-0 mr-1"
                                        ngbTooltip="Fissa in alto" [disabled]="disableFissaInAltro"
                                        (click)="fissaClick(richiesta); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-thumb-tack text-secondary fa-rotate-45"></i>
                                </button>
                                <button *ngIf="fissata && fissabile" class="btn btn-primary py-0 px-0 mr-1"
                                        ngbTooltip="Inserisci nella lista"
                                        (click)="fissaClick(richiesta); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-thumb-tack fa-rotate-45"></i>
                                </button>
                                <button *ngIf="espandibile" class="btn border py-0 px-0 mr-1"
                                        ngbTooltip="Espandi"
                                        [ngClass]="{'btn-light': !espanso, 'btn-secondary': espanso}"
                                        (click)="toggleEspanso(richiesta.id); $event.stopPropagation()">
                                    <i class="fa fa-fw"
                                       [ngClass]="methods.toggleEspansoClass(espanso)"></i>
                                </button>
                                <button *ngIf="modificabile" class="btn btn-light border py-0 px-0 mr-1"
                                        ngbTooltip="Modifica"
                                        [disabled]="disabledModificaRichiesta"
                                        [ngClass]="{'cursor-not-allowed': disabledModificaRichiesta}"
                                        (click)="onModificaRichiesta(); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-pencil-square-o text-secondary"></i>
                                </button>
                                <button *ngIf="gestibile" class="btn border py-0 px-0 mr-1"
                                        ngbTooltip="Gestisci"
                                        [disabled]="disabledGestisciRichiesta"
                                        [ngClass]="{'btn-light': !inGestione, 'btn-secondary': inGestione, 'cursor-not-allowed': disabledGestisciRichiesta}"
                                        (click)="onGestioneRichiesta(); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-gear"
                                       [ngClass]="{'text-secondary': !inGestione, 'text-light': inGestione}"></i>
                                </button>
                                <button *ngIf="listaEventi" class="btn btn-light border py-0 px-1 mr-1"
                                        ngbTooltip="Elenco eventi"
                                        (click)="visualizzaEventiRichiesta(richiesta.codice); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-list text-secondary"></i>
                                </button>
                                <button *ngIf="!partenza && composizionePartenza" class="btn btn-light border py-0 px-2"
                                        ngbTooltip="Invio partenza"
                                        [disabled]="disabledComposizionePartenza"
                                        [ngClass]="{'cursor-not-allowed': disabledComposizionePartenza}"
                                        (click)="invioPartenza(richiesta); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-arrow-right text-secondary"></i>
                                </button>
                                <!-- <button *ngIf="partenza && composizionePartenza"
                                        class="btn btn-primary border py-0 px-2" ngbTooltip="Torna alla lista"
                                        (click)="invioPartenza(richiesta); $event.stopPropagation()">
                                    <i class="fa fa-fw fa-arrow-left"></i>
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box note localita e zone emergenza -->
                <div *ngIf="espanso" class="col-md-12 default-cursor">
                    <div *ngIf="richiesta.localita.note || richiesta.zoneEmergenza || richiesta.tags"
                         class="col-md-12">
                        <div class="row card bt-0 note-localita mt-1">
                            <div class="col-md-12 bg_diagonal_grey">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="h6 mb-0 pt-2 pb-1">
                                            <span *ngIf="richiesta.localita?.note">{{ richiesta.localita.note }}</span>
                                            <span *ngIf="!richiesta.localita?.note">Note località non presenti</span>
                                        </div>
                                        <div class="h5 mb-0 pull-right">
                                            <span *ngFor="let ze of richiesta.zoneEmergenza"
                                                  class="badge badge-danger pull-right m-1">{{
                                                ze }}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-right">
                                        <i class="guida fa fa-tags fa-fw text-left mr-1" title="Etichette"></i>
                                        <span *ngFor="let tag of richiesta.tags"
                                              class="badge badge-secondary text-right py-2 m-1"><i
                                                class="fa fa-hashtag fa-fw text-left"></i>{{tag}}</span>
                                        <span *ngIf="!richiesta.tags || (richiesta.tags && richiesta.tags.length <= 0)">
                                            Non ci sono tags
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- II livello di dettaglio -->
                    <div class="row mt-3">
                        <!-- I colonna -->
                        <div class="col-md-3">
                            <!-- presa in carico -->
                            <div class="h6">
                                <i class="guida fa fa-calendar-check-o fa-fw mr-1" ngbTooltip="Presa in carico"
                                   placement="right"></i>
                                <div *ngIf="methods._primoUtente(richiesta.listaUtentiPresaInCarico) as utentiPresaInCaricoValue; else nonPresaInCarico"
                                     class="d-inline-block h6 m-0 mr-1" [ngbTooltip]="utentePresaInCarico">
                                    {{ utentiPresaInCaricoValue.nominativo | truncate: 15 }}
                                    <ng-template #utentePresaInCarico>
                                        <div>
                                            {{getPresaInCaricoTooltip(utentiPresaInCaricoValue).nominativo}}
                                        </div>
                                        <div>
                                            {{getPresaInCaricoTooltip(utentiPresaInCaricoValue).dataInizioAttivita | friendlyDate}}
                                            {{getPresaInCaricoTooltip(utentiPresaInCaricoValue).dataInizioAttivita | friendlyHour: true}}
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="richiesta.listaUtentiPresaInCarico && richiesta.listaUtentiPresaInCarico.length > 1"
                                     ngbDropdown class="d-inline-block" placement="bottom">
                                    <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                            (click)="$event.stopPropagation()">
                                        +{{ richiesta.listaUtentiPresaInCarico.length - 1 }}
                                    </button>
                                    <div ngbDropdownMenu class="p-2 text-center">
                                        <div *ngIf="methods._altriUtenti(richiesta.listaUtentiPresaInCarico) as utentiTooltip">
                                            <div *ngFor="let utente of utentiTooltip">
                                                {{utente.nominativo}}
                                                - {{utente.dataInizioAttivita | friendlyDate}} {{utente.dataInizioAttivita | friendlyHour: true}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #nonPresaInCarico>
                                    <a class="badge badge-secondary text-light">Non presa in carico</a>
                                </ng-template>
                            </div>

                            <!-- in lavorazione -->
                            <div class="h6">
                                <i class="guida fa fa-eye fa-fw mr-1" ngbTooltip="In Lavorazione"
                                   placement="right"></i>
                                <div *ngIf="methods._primoUtente(richiesta.listaUtentiInLavorazione) as utentiInLavorazioneValue; else nonInLavorazione"
                                     class="d-inline-block m-0 mr-1"
                                     [ngbTooltip]="getInLavorazioneTooltip(utentiInLavorazioneValue)"
                                     [disableTooltip]="_inLavorazioneTooltipDisabled(utentiInLavorazioneValue)">
                                    {{ utentiInLavorazioneValue.nominativo | truncate: 15 }}
                                </div>
                                <div *ngIf="richiesta.listaUtentiInLavorazione && richiesta.listaUtentiInLavorazione.length > 1"
                                     ngbDropdown class="d-inline-block" placement="bottom">
                                    <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                            (click)="$event.stopPropagation()">
                                        +{{ richiesta.listaUtentiInLavorazione.length - 1 }}
                                    </button>
                                    <div ngbDropdownMenu class="p-2 text-center">
                                        <div *ngIf="methods._altriUtenti(richiesta.listaUtentiInLavorazione) as utentiTooltip">
                                            <div *ngFor="let utente of utentiTooltip">
                                                {{utente.nominativo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #nonInLavorazione>
                                    <a class="badge badge-secondary text-light">Non in lavorazione</a>
                                </ng-template>
                            </div>

                            <!-- scheda nue -->
                            <div class="h6">
                                <i class="guida fa fa-id-card-o fa-fw mr-1" ngbTooltip="Codice scheda NUE"
                                   placement="right"></i>
                                <a *ngIf="richiesta.codiceSchedaNue; else nessunCodiceNue">{{ richiesta.codiceSchedaNue
                                    }}</a>
                                <ng-template #nessunCodiceNue>
                                    <span class="badge badge-secondary text-light">Non presente</span>
                                </ng-template>
                            </div>

                            <!-- fonogramma -->
                            <div class="h6">
                                <i class="guida fa fa-paper-plane-o fa-fw mr-1" ngbTooltip="Stato Fonogramma"
                                   placement="right"></i>
                                <span *ngIf="richiesta.fonogramma" class="h6 badge m-0"
                                      [ngClass]="{'badge-success text-light':richiesta.fonogramma.codice === '2', 'badge-secondary text-light':richiesta.fonogramma.codice === '0', 'badge-warning text-light':richiesta.fonogramma.codice === '1'}">
                                    {{ richiesta.fonogramma.descrizione }}
                                </span>
                                <span *ngIf="!richiesta.fonogramma"
                                      class="badge badge-secondary text-white">Non
                                    presente</span>
                            </div>
                        </div>

                        <!-- II colonna -->
                        <div class="col-md-6 bg-red border p-2"
                             [ngClass]="{'shadow border-info rounded': inGestione, 'border-light': !inGestione}">
                            <div class="scroll-y" style="max-height: 135px">
                                <app-partial-loader *ngIf="loadingEliminaPartenza"></app-partial-loader>
                                <app-lista-partenze [partenze]="richiesta.partenzeRichiesta"
                                                    [statoRichiesta]="richiesta.stato" [inGestione]="inGestione"
                                                    (actionMezzo)="onActionMezzo($event)"
                                                    (eliminaPartenza)="onEliminaPartenza($event)"></app-lista-partenze>
                            </div>
                        </div>

                        <!-- III colonna-->
                        <div class="col-md-3">
                            <!-- turno intervento -->
                            <div class="h6 text-right">
                                <span *ngIf="richiesta?.turnoInserimentoChiamata || richiesta?.turnoIntervento; else nessunTurno">
                                    <span *ngIf="richiesta?.turnoInserimentoChiamata && !richiesta?.turnoIntervento">
                                        <a [ngbTooltip]="turnoInserimentoTooltip">Turno
                                            {{richiesta.turnoInserimentoChiamata.codice}}</a>
                                        <i class="guida fa fa-fw ml-1" [ngbTooltip]="orarioTurnoInserimento"
                                           placement="right" [ngClass]="{'fa-moon-o':
                                           richiesta.turnoInserimentoChiamata.diurnoNotturno === 'N', 'fa-sun-o':
                                           richiesta.turnoInserimentoChiamata.diurnoNotturno === 'D'}"></i>
                                    </span>
                                    <span *ngIf="richiesta?.turnoInserimentoChiamata && richiesta?.turnoIntervento">
                                        <a [ngbTooltip]="turnoInterventoTooltip">Turno {{richiesta.turnoIntervento.codice}}</a>
                                        <i class="guida fa fa-fw ml-1" [ngbTooltip]="orarioTurnoIntervento"
                                           placement="right" [ngClass]="{'fa-moon-o':
                                           richiesta.turnoInserimentoChiamata.diurnoNotturno === 'N', 'fa-sun-o':
                                           richiesta.turnoInserimentoChiamata.diurnoNotturno === 'D'}"></i>
                                    </span>

                                    <ng-template #turnoInserimentoTooltip>
                                      <div>
                                          Turno Inserimento {{richiesta.turnoInserimentoChiamata.codice}}
                                          <span
                                                  *ngIf="richiesta.turnoInserimentoChiamata.diurnoNotturno === 'D'">(Diurno)</span>
                                          <span
                                                  *ngIf="richiesta.turnoInserimentoChiamata.diurnoNotturno === 'N'">(Notturno)</span>
                                    </div>
                                    </ng-template>
                                    <ng-template #turnoInterventoTooltip>
                                        <div>Turno Inserimento {{richiesta.turnoInserimentoChiamata.codice}}
                                            ({{richiesta.turnoInserimentoChiamata.diurnoNotturno}})</div>
                                        <div>Turno Intervento {{richiesta.turnoIntervento.codice}}
                                            ({{richiesta.turnoIntervento.diurnoNotturno}})</div>
                                    </ng-template>
                                    <ng-template #orarioTurnoInserimento>
                                        <div>inizio {{ methods._dateTime(richiesta.turnoInserimentoChiamata.dataOraInizio) | friendlyDateTooltip }}</div>
                                        <div>fine {{ methods._dateTime(richiesta.turnoInserimentoChiamata.dataOraFine) | friendlyDateTooltip }}</div>
                                    </ng-template>
                                    <ng-template #orarioTurnoIntervento>
                                        <div>Turno Inserimento:</div>
                                        <div>inizio {{ methods._dateTime(richiesta.turnoInserimentoChiamata.dataOraInizio) | friendlyDateTooltip }}</div>
                                        <div>fine {{ methods._dateTime(richiesta.turnoInserimentoChiamata.dataOraFine) | friendlyDateTooltip }}</div>
                                        <div>Turno Intervento:</div>
                                        <div>inizio {{ methods._dateTime(richiesta.turnoIntervento.dataOraInizio) | friendlyDateTooltip }}</div>
                                        <div>fine {{ methods._dateTime(richiesta.turnoIntervento.dataOraFine) | friendlyDateTooltip }}</div>
                                    </ng-template>
                                </span>
                                <ng-template #nessunTurno>
                                    <a>-</a>
                                    <i class="guida fa fa-clock-o fa-fw ml-1" ngbTooltip="Turno non presente"
                                       placement="right"></i>
                                </ng-template>

                            </div>

                            <!-- enti intervenuti -->
                            <div class="h6 text-right">
                                <button class="btn btn-light border big_font py-0 px-1" ngbTooltip="Elenco Enti"
                                        *ngIf="methods._entiCount(richiesta.listaEntiIntervenuti?.length, richiesta.listaEntiPresaInCarico?.length) as totaleEnti; else nessunEnte"
                                        (click)="onListaEnti(); $event.stopPropagation()">
                                    {{ totaleEnti }}</button>
                                <ng-template #nessunEnte>
                                    <span class="badge badge-secondary text-light "
                                          ngbTooltip="Al momento nessun ente è intervenuto">Nessun Ente</span>
                                </ng-template>
                                <i class="guida fa fa-industry fa-fw ml-1"
                                   ngbTooltip="Enti intervenuti o che hanno preso in carico la richiesta"
                                   placement="right"></i>
                            </div>

                            <!-- tipo terreno -->
                            <div class="h6 text-right">
                                <span *ngIf="methods._terrenoMaggiore(richiesta.tipoTerreno) as tipoTerrenoValue; else noterreni"
                                      class="h6 m-0" [ngbTooltip]="tipoTerrenoValue.terrenoMq">
                                    {{ tipoTerrenoValue.terrenoHa }}
                                </span>
                                <button *ngIf="richiesta.tipoTerreno && richiesta.tipoTerreno.length > 1"
                                        class="btn btn-light border big_font py-0 px-1" [ngbPopover]="terreni"
                                        (click)="$event.stopPropagation()">
                                    +{{ richiesta.tipoTerreno.length - 1 }}</button>
                                <ng-template #terreni>
                                    <div *ngIf="methods._terreniMinori(richiesta.tipoTerreno) as terreniTooltip">
                                        <div *ngFor="let terreno of terreniTooltip">
                                            {{ methods._tipoTerreno(terreno)}}
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #noterreni>
                                    -
                                </ng-template>
                                <i class="guida fa fa-tree fa-fw ml-1" ngbTooltip="Tipologia terreno"
                                   placement="right"></i>
                            </div>

                            <!-- complessità -->
                            <div class="h6 text-right">
                                <a><b>{{ richiesta.complessita?.indice }}</b></a>
                                <span class="h6 badge m-0 ml-1" [ngClass]="complessitaClass(richiesta)">{{
                                    richiesta.complessita?.descrizione }}</span>
                                <i class="guida fa fa-gears fa-fw ml-1" ngbTooltip="Complessità" placement="right"></i>
                            </div>

                            <!-- Cambio Stato Richiesta (Gestione) -->
                            <div *ngIf="inGestione" class="border p-2 mt-2"
                                 [ngClass]="{'shadow border-info rounded': inGestione, 'border-light': !inGestione}">
                                <app-sintesi-richiesta-actions [richiesta]="richiesta"
                                                               (actionRichiesta)="onActionRichiesta($event)"></app-sintesi-richiesta-actions>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
