<table class="table table-striped app-shadow mt-2">
    <thead>
    <tr>
        <th scope="col">Utente</th>
        <th scope="col" width="200px" *ngFor="let ruolo of ruoli">{{ruolo}}</th>
        <th scope="col">Sede</th>
        <th scope="col" width="30px">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let utente of listaUtenti | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }">
        <td width="250px">
            <ngb-highlight [result]="utente.nome + ' ' + utente.cognome"></ngb-highlight>
        </td>
        <td width="200px" *ngFor="let ruolo of ruoli">
            <ui-switch size="small" (click)="onUpdate(utente)"
                       [checked]="utente.ruolo === ruolo"></ui-switch>
        </td>
        <td width="200px">
            <h6>{{utente.sede.descrizione}}</h6>
        </td>
        <td class="pt-2 pb-0">
            <button class="btn btn-sm btn-block btn-danger"
                    (click)="onRemove(utente.id)">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
    <tr *ngIf="listaUtenti.length <= 0">
        <td>
            Nessun Utente trovato
        </td>
        <td *ngFor="let ruolo of ruoli"></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div *ngIf="listaUtenti.length > 0" class="d-flex justify-content-between p-2">
    <pagination-controls [previousLabel]="'Precedente'"
                         [nextLabel]="'Successiva'"
                         (pageChange)="pageChange.emit($event)"></pagination-controls>
</div>