<table class="table table-striped app-shadow mt-2">
    <thead>
    <tr>
        <th scope="col" width="20%">Azioni</th>
        <th scope="col" width="25%">Utente</th>
        <th scope="col" width="40%">Ruolo - Sede</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let utente of listaUtenti | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }">
        <td width="20%" class="pt-2 pb-0">
            <button class="btn btn-sm btn-primary mr-2 mt-1"
                    (click)="onDetail(utente.id)">
                <i class="fa fa-eye mr-1"></i>
                Visualizza
            </button>
            <button class="btn btn-sm btn-danger mt-1"
                    (click)="onRemove(utente.id)">
                <i class="fa fa-trash mr-1"></i>
                Rimuovi
            </button>
        </td>
        <td width="25%" class="pt-3">
            <span class="h6 font-weight-normal">
                {{utente.nome}} {{utente.cognome}}
            </span>
        </td>
        <td width="40%">
            <span class="h6 font-weight-normal">
                <ul class="pl-3 mb-0">
                    <li *ngFor="let ruolo of utente.ruoli" class="mb-1">
                        {{ruolo.descrizione}} - {{ruolo.descSede}} ({{ruolo.codSede}})
                        <button class="btn btn-danger btn-sm ml-2">
                            <i class="fa fa-trash"></i>
                        </button>
                    </li>
                </ul>
            </span>
        </td>
    </tr>
    <tr *ngIf="listaUtenti?.length <= 0">
        <td>
            Nessun Utente trovato
        </td>
        <td *ngFor="let ruolo of ruoli"></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div *ngIf="listaUtenti?.length > 0" class="d-flex justify-content-between p-2">
    <pagination-controls [previousLabel]="'Precedente'"
                         [nextLabel]="'Successiva'"
                         (pageChange)="pageChange.emit($event)"></pagination-controls>
</div>