<html>
<head>
</head>
<body>
  <p></p>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
         <span class="fa-stack fa-3x">
            <i class="fa fa-truck fa-stack-1x"></i>
            <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
        </span>
        </div>
        <div class="col-md-2">
          <div class="card-text">{{fs.Sigla}}</div>
          <h5><span class="badge badge-success">{{fs.CodiceStato}}: Oggi 12:20</span></h5>
          <button type="button" class="btn btn-primary btn-sm">Rich. Ass.</button>
        </div>
        <div class="col-md-2">
          <div class="card-text">{{fs.Genere}} - {{fs.Targa}}</div>
          <div class="card-text">{{fs.CodiceUnitaOperativa}}</div>
        </div>
        </div>
    </div>
  </div>
</body>
</html>