.chevron-stato {
    display: inline-block;
    font-weight: 500;
    min-width: 160px;
    padding: 7px 0;
    margin-right: -30px;
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 24% 50%);
}