<div class="btn-group btn-group-sm mr-3" (click)="$event.stopPropagation()">
    <button type="button" class="btn btn-sm btn-{{getBtnColor(mezzo.stato)}} px-2 py-0"
            (click)="onClick(calcolaActionSuggeritaMezzo(mezzo.stato))"
            ngbTooltip="{{calcolaActionSuggeritaMezzo(mezzo.stato)}}">
        <small>{{calcolaActionSuggeritaMezzo(mezzo.stato)}}</small>
    </button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-sm btn-{{getBtnColor(mezzo.stato)}} text-light p-1 dropdown-toggle-split"
                ngbTooltip="Altro" ngbDropdownToggle>
            <small><i class="fa fa-fw fa-arrow-up"></i></small>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let stato of statoMezzoString" ngbDropdownItem (click)="onClick(stato)">{{stato}}</button>
        </div>
    </div>
</div>
