.chevron-stato {
    display: inline-block;
    font-weight: 500;
    min-width: 180px;
    padding: 7px 0;
    margin-right: -30px;
    clip-path: polygon(0 0, 80% 0, 98% 50%, 80% 100%, 0 100%, 18% 50%);
}

.no-hover:hover {
    cursor: default;
    transform: scale(1) !important;
}
