<div class="btn-group">
  <div ngbDropdown autoClose="outside" class="btn-group">
    <button ngbDropdownToggle class="btn" [ngClass]="{'btn-outline-primary':filtriAttivi <=0, 'btn-primary':filtriAttivi > 0}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-filter"></i> Filtri <span *ngIf="filtriAttivi>0" class="badge badge-success text-light">{{ filtriAttivi }}</span>
    </button>
    <div ngbDropdownMenu class="px-3" aria-labelledby="dropdownMenuButton" #divFiltri>
      <app-filtro [titolo]="titoloPresidiato" [vociFiltro]="vociFiltroPresidiato" (nuovaSelezione)="nuovaSelezionePresidiato($event)"></app-filtro>
      <app-filtro [titolo]="titoloTipologia" [vociFiltro]="vociFiltroTipologia" (nuovaSelezione)="nuovaSelezioneTipologia($event)"></app-filtro>
      <app-filtro [titolo]="titoloRilevante" [vociFiltro]="vociFiltroRilevante" (nuovaSelezione)="nuovaSelezioneRilevante($event)"></app-filtro>
    </div>
  </div>
  <button *ngIf="filtriAttivi > 0" class="btn btn-outline-secondary p-1" (click)="eliminaFiltri()"><i class="fa fa-times text-dark px-1"></i></button>
</div>