.badge {font-size: 10.025px;}
ul { list-style-type:none; padding-bottom:0px; margin-bottom:0; margin-right: 2px;}
a  {padding:0px; margin:0;  border-width:5px; border-style: ridge;border-radius:15px;box-shadow: 3px 3px 5px #999; }

 .shadow-ic-verde  {
    text-shadow:4px -2px 3px #468847; margin-left:15px; margin-top:15px; margin-bottom:15px; border-color:transparent; border-radius:15px;
}
.shadow-ic-giallo  {
  text-shadow:  4px -2px 3px #f89406; margin-left:15px; margin-top:15px; margin-bottom:15px; border-color:transparent; border-radius:15px;
}
.shadow-ic-celeste  {
    text-shadow:  4px -2px 3px #3a87ad; margin-left:15px; margin-top:15px; margin-bottom:15px; border-color:transparent; border-radius:15px;
} 
.shadow-text-verde0  {
    padding-top:5px; font-size:14px; font-weight: bold; text-shadow:  4px -2px 3px #8ed38e;
}
.shadow-text-giallo0  {
    padding-top:5px; font-size:14px; font-weight: bold; text-shadow:  4px -2px 3px  #f5c382;
}
.shadow-text-celeste0  {
    padding-top:5px; font-size:14px; font-weight: bold; text-shadow:  4px -2px 3px #8dd6f5;
}
.shadow-text-verde1  {
    padding-top:5px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px #8ed38e;
}
.shadow-text-giallo1  {
    padding-top:5px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px  #f5c382;
}
.shadow-text-celeste1  {
    padding-top:5px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px #8dd6f5;
}
.shadow-text-verde2  {
    padding-top:5px; padding-bottom:8px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px #8ed38e;
}
.shadow-text-giallo2  {
    padding-top:5px; padding-bottom:8px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px  #f5c382;
}
.shadow-text-celeste2  {
    padding-top:5px; padding-bottom:8px; font-size:12px; font-weight: bold; text-shadow:  4px -2px 3px #8dd6f5;
}