.row_text {
    color: #666666;
}

.big_numbers {
    color: #a72920 !important;
    font-weight: bold;
}

.big_font {
    font-weight: 500;
    color: #666666 !important;
}

.bg_diagonal_grey {
    background: repeating-linear-gradient(135deg, white, white 0.1em, #F0F0F0 0.4em, #E9EEFB 0.1em);
}

.bg_diagonal_grey_big {
    background: repeating-linear-gradient(135deg, white, white 0.5em, #F0F0F0 1em, #E9EEFB 0.5em);
}

.bg_card_title {
    background-color: beige;
}

.default-cursor {
    cursor: default !important;
}

.tasto-dettaglio {
    color: lightblue !important;
    font-size: 1.5em;
}

.localita {
    background-color: gainsboro;
}

.globo-loc {
    color: cadetblue;
}

.note-localita {
    background-color: white;
}

.badge-notify {
    background-color: #949494;
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: .6em;
}

.transparent {
    background-color: transparent !important;
}

.circle {
    font-size: 1rem;
    color: #e2e2e2;
}

.filled {
    color: #ffc107;
}

.bad {
    color: #c23535;
}

.high-priority {
    color: darkred;
}

.m-h-160 {
    max-height: 160px;
}

.m-h-100 {
    max-height: 100px;
}

.double-monitor .font-double-monitor {
    font-size: 130% !important;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 5px;
}

.col-1-d-monitor {
  align-self: center;
}

.font-dettaglio {
  font-size: 130% !important;
}

.btn-glow {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border-color: #ffc107  !important;
  color: #eeeeee;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #e30202;
    box-shadow: 0 0 5px #e30202;
  }
  50% {
    background-color: #fc0303;
    box-shadow: 0 0 15px #fc0303;
  }
  100% {
    background-color: #fd1d1d;
    box-shadow: 0 0 5px #fd1d1d;
  }
}
.btn-glow {
  animation: glowing 1300ms infinite;
}
