<div class="py-2 px-3 border-top-richiesta"
     [class.text-moon]="nightMode"
     [class.moon-card-light]="nightMode"
     (click)="richiestaClick(richiesta)"
     (dblclick)="richiestaDoubleClick(richiesta)"
     (mouseenter)="richiestaHoverIn(richiesta)"
     (mouseleave)="richiestaHoverOut(richiesta)">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <!-- Icona Richiesta Sospesa -->
                    <div *ngIf="richiesta?.stato === StatoRichiesta.Sospesa"
                         class="d-inline-block text-danger font-weight-bolder h4"
                         style="position: absolute; left: 0; top:22px">S
                    </div>
                    <!-- Icona Richiesta Esercitazione -->
                    <div *ngIf="richiesta?.esercitazione"
                         class="d-inline-block text-primary font-weight-bolder h4"
                         style="position: absolute; left: 0; top:22px">E
                    </div>
                    <!-- PRIMA RIGA -->
                    <div class="row">
                        <!-- Priorità -->
                        <div class="clearfix ml-4" style="width: 2%">
                            <ng-container *ngIf="richiesta.stato === StatoRichiesta.Chiamata">
                                <i class="guida fas fa-thermometer-half fa-fw  d-none"
                                   [class.high-priority]="richiesta.prioritaRichiesta > 3"
                                   ngbTooltip="Priorità della richiesta" placement="right"></i>
                                <ngb-rating [(rate)]="richiesta.prioritaRichiesta"
                                            [max]="4"
                                            [readonly]="true"
                                            style="position: absolute; display: inline-grid !important; font: small-caption; transform: rotate(180deg)">
                                    <ng-template let-fill="fill" let-index="index">
                                            <span class="circle "
                                                  [class.filled]="fill === 100"
                                                  [class.bad]="index > 2 && fill === 100">
                                                <i class="fas fa-circle mr-1"></i>
                                            </span>
                                    </ng-template>
                                </ngb-rating>
                            </ng-container>
                        </div>
                        <!-- Codice Richiesta -->
                        <div class="clearfix" style="width: 15%">
                            <div class="h6 mb-1 nowrap">
                                <i class="guida fas fa-hashtag fa-fw mr-1 "
                                   ngbTooltip="Identificativo richiesta" placement="top-left"></i>
                                <a class="h6">
                                    <span *ngIf="richiesta.codiceRichiesta"
                                          class="font-xxlarge">{{ richiesta.codiceRichiesta.slice(0, -5)}}
                                        <span style="font-size: 30px; font-weight: 700">{{ richiesta.codiceRichiesta.slice(richiesta.codiceRichiesta.length - 5)}}</span>
                                    </span>
                                    <span *ngIf="!richiesta.codiceRichiesta"
                                          class="font-xxlarge">{{ richiesta.codice.slice(0, -5) }}
                                        <span style="font-size: 30px; font-weight: 700">{{ richiesta.codice.slice(richiesta.codice.length - 5)}}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- Campana Chiamata Urgente -->
                        <div class="clearfix text-center" style="width: 7%">
                            <button *ngIf="richiesta.chiamataUrgente && richiesta.stato === 'Chiamata'"
                                    class="btn border btn-no-hover pl-0 py-0 btn-glow"
                                    ngbTooltip="Chiamata Urgente!"
                                    style="height: 36px; width: 36px; border-radius: 65% ">
                                <i class="fas fa-bell fa-fw" style="padding-left: 7px; color: #ffc107"></i>
                            </button>
                        </div>
                        <!-- Tipologia/Descrizione Chiamata/Intervento -->
                        <div style="width: 33%">
                            <div class="mb-1 nowrap default-cursor font-xxlarge">
                                <app-tipologia-sintesi-richiesta [tipologieRichiesta]="richiesta?.tipologie"
                                                                 [descrizioneRichiesta]="richiesta?.descrizione">
                                </app-tipologia-sintesi-richiesta>
                            </div>
                        </div>
                        <div class="clearfix" style="width: 18%"></div>
                        <div class="clearfix text-right" style="width: 22%">
                            <div class="h6 mb-0">
                                <!-- stato fonogramma -->
                                <button *ngIf="richiesta?.fonogramma"
                                        class="btn btn-light border big_font py-0 mr-1"
                                        [ngClass]="{'btn-success text-light': richiesta?.fonogramma?.stato === StatoFonogramma.Inviato, 'btn-secondary text-light': richiesta?.fonogramma?.stato === StatoFonogramma.NonNecessario, 'btn-warning text-light': richiesta?.fonogramma?.stato === StatoFonogramma.DaInviare}"
                                        (click)="onDettaglioStatoFonogramma(); $event.stopPropagation()"
                                        style="margin: 0; vertical-align: bottom"
                                        ngbTooltip="Visualizza Fonogramma">
                                    <i class="guida fas fa-paper-plane-o fa-fw"></i>
                                    {{ getStatoFonogrammaStringByEnum(richiesta?.fonogramma?.stato) }}
                                </button>

                                <!-- enti intervenuti -->
                                <span *ngIf="methods._entiCount(richiesta?.listaEntiIntervenuti?.length, richiesta?.listaEntiPresaInCarico?.length) as totaleEnti;">
                                    <button class="btn btn-light border big_font py-0 mr-1"
                                            ngbTooltip="Elenco Enti"
                                            (click)="onListaEnti(); $event.stopPropagation()">
                                    <i class="guida fas fa-industry fa-fw"></i>
                                        {{ totaleEnti }}
                                  </button>
                                </span>

                                <!-- dettaglio soccorso aereo -->
                                <span *ngIf="dettaglioSoccorsoAereo" class="nowrap">
                                    <button class="btn btn-info pl-0 py-0 mr-1"
                                            style="cursor:pointer" (click)="openDettaglioSoccorsoAereoModal($event)">
                                        <i class="fas fa-plane fa-fw ml-2 pl-1" style="color: #f8f9fa"
                                           ngbTooltip="Dettaglio Soccorso Aereo"></i>
                                    </button>
                                </span>

                                <!-- squadre -->
                                <span class="nowrap">
                                    <ng-container *ngIf="methods.getSquadre(richiesta) as squadre">
                                        <button class="btn btn-light border pl-0 py-0 big_numbers mr-1"
                                                [ngbPopover]="popSquadre" container="body" popoverTitle="Squadre"
                                                triggers="click" tabindex="0" style="cursor:pointer"
                                                (click)="$event.stopPropagation()">
                                            <i class="guida fas fa-users fa-fw ml-2" ngbTooltip="Numero Squadre"></i>
                                            <span>{{ squadre?.length }}</span>
                                        </button>
                                        <ng-template #popSquadre>
                                            <div class="h6" *ngFor="let s of squadre">
                                                <span>{{ s['nome'] }}</span>
                                                <span> ({{ s['turno'] }})</span>
                                            </div>
                                            <h6 class="mb-0" *ngIf="squadre?.length === 0">Nessuna Squadra</h6>
                                        </ng-template>
                                    </ng-container>
                                </span>

                                <!-- mezzi -->
                                <span class="nowrap">
                                    <button class="btn btn-light border pl-0 py-0 big_numbers"
                                            [ngbPopover]="popMezzi"
                                            popoverTitle="Mezzi" triggers="click" tabindex="0" style="cursor:pointer"
                                            (click)="$event.stopPropagation()"
                                            placement="bottom-right">
                                        <i class="guida fas fa-truck fa-fw ml-2" ngbTooltip="Numero Mezzi"></i>
                                        <span>{{ methods.numeroMezzi(richiesta) }}</span>
                                        <span *ngIf="methods.numeroMezziInRietro(richiesta) > 0">:{{ methods.numeroMezziInRietro(richiesta) }}
                                            r</span>
                                    </button>

                                    <ng-template #popMezzi>
                                        <div class="h6 nowrap" *ngFor="let m of methods.mezziRichiesta(richiesta)">
                                            <span>
                                                <span class="badge badge-secondary">{{ m?.stato }}</span>
                                                <span class="font-weight-bold mx-1">{{ m?.descrizione }}</span>
                                                <small>{{ m?.genere }}</small>
                                            </span>
                                        </div>
                                        <h6 class="mb-0"
                                            *ngIf="methods.numeroMezzi(richiesta) === 0 && methods.numeroMezziInRietro(richiesta) === 0 ">
                                            Nessun Mezzo
                                        </h6>
                                    </ng-template>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- SECONDA RIGA -->
                    <div class="row">
                        <div class="clearfix ml-4" style="width: 2%">

                        </div>
                        <div class="clearfix" style="width: 12%; align-self: center">
                            <div class="h6 mt-1 mb-2 nowrap default-cursor">
                                <i class="guida fas fa-clock-o fa-fw mr-1 "
                                   ngbTooltip="Ricezione richiesta"
                                   placement="bottom-left" container="body"></i>
                                <a ngbTooltip="{{ (richiesta.istanteRicezioneRichiesta | friendlyDateTooltip) || '' }}">
                                    <span timeago class="font-xxlarge"
                                          [date]="methods._dateNumber(richiesta.istanteRicezioneRichiesta)"
                                          [live]="live">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix" style="width: 10%"></div>
                        <div class="clearfix"
                             style="width: 33%">
                            <i class="guida fas fa-map-marker fa-fw mr-1" style="font-size: 140%"
                               ngbTooltip="Località"></i>
                            <span>
                              <span ngbTooltip="{{ richiesta?.localita?.indirizzo }}"
                                    class="font-xxlarge"
                                    [disableTooltip]="richiesta?.localita?.indirizzo?.length <= 30">
                                  {{ richiesta?.localita?.indirizzo | truncate:30 }}
                              </span>
                            </span>
                            <span *ngIf="!partenza"
                                  class="list-inline list-unstyled m-0 ml-2 font-xxlarge"
                                  style="vertical-align: text-bottom;">
                                <app-competenza *ngFor="let c of richiesta?.competenze; let i = index"
                                                [competenza]="c" [i]="i"></app-competenza>
                        </span>
                        </div>
                        <div class="clearfix"
                             style="width: 26%; align-self: center">
                            <!-- richiedente -->
                            <div class="h6 mt-1 mb-2 nowrap default-cursor">
                                <i class="guida fas fa-address-book-o fa-fw mr-1"
                                   style="font-size: 140%"
                                   ngbTooltip="Richiedente"
                                   container="body"></i>
                                <span *ngIf="richiesta?.richiedente?.nominativo" class="font-xxlarge mr-2">
                                    <a ngbTooltip="{{ richiesta?.richiedente?.nominativo }}"
                                       placement="right"
                                       [disableTooltip]="richiesta?.richiedente?.nominativo?.length <= 20">
                                        {{ richiesta?.richiedente?.nominativo | truncate:20 }}
                                    </a>
                                </span>
                                <span class="ml-1">
                                        <i class="guida fas fa-phone fa-fw mr-1" style="font-size: 145%"
                                           ngbTooltip="Numero richiedente"></i>
                                        <a class="font-xxlarge">
                                          {{ richiesta?.richiedente?.telefono }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix text-right"
                             style="width: 14%">
                            <div class="h6 m-0 nowrap mt-1">
                                <button *ngIf="boxAzioni"
                                        class="btn btn-light border py-0 px-0 mr-1"
                                        [ngbTooltip]="'Visualizza azioni per ' + defineChiamataIntervento(this.richiesta.codice, this.richiesta?.codiceRichiesta) + ' : ' + richiesta.codice"
                                        [disabled]="disabledAzioniRichiesta"
                                        [ngClass]="{'cursor-not-allowed': disabledAzioniRichiesta}"
                                        (click)="onShowAzioniRichiesta()">
                                    <i class="fas fa-fw fa-arrows-alt text-secondary"></i>
                                </button>
                                <button *ngIf="!fissata && fissabile"
                                        class="btn btn-light border py-0 px-0 mr-1"
                                        ngbTooltip="Fissa in alto"
                                        [disabled]="disableFissaInAlto"
                                        (click)="fissaClick(richiesta); $event.stopPropagation()">
                                    <i class="fas fa-fw fa-thumb-tack text-secondary"></i>
                                </button>
                                <button *ngIf="fissata && fissabile"
                                        class="btn btn-primary py-0 px-0 mr-1"
                                        ngbTooltip="Inserisci nella lista"
                                        (click)="fissaClick(richiesta); $event.stopPropagation()">
                                    <i class="fas fa-fw fa-thumb-tack fa-rotate-45"></i>
                                </button>
                                <button *ngIf="gestibile"
                                        class="btn btn-light border py-0 px-0 mr-1"
                                        ngbTooltip="Gestisci"
                                        [disabled]="disabledGestisciRichiesta"
                                        [class.cursor-not-allowed]="disabledGestisciRichiesta"
                                        (click)="onGestioneRichiesta()">
                                    <i class="fas fa-fw "
                                       [ngClass]="methods.toggleGestioneClass(inGestione)"></i>
                                </button>
                                <button *ngIf="modificabile"
                                        class="btn btn-light border py-0 px-0 mr-1"
                                        ngbTooltip="Modifica"
                                        [disabled]="disabledModificaRichiesta"
                                        [class.cursor-not-allowed]="disabledModificaRichiesta"
                                        (click)="onModificaRichiesta(); $event.stopPropagation()">
                                    <i class="fas fa-fw fa-pencil-square-o text-secondary"></i>
                                </button>
                                <button *ngIf="!partenza && composizionePartenza"
                                        class="btn btn-light border py-0 px-2"
                                        ngbTooltip="Invio partenza"
                                        [disabled]="disabledComposizionePartenza"
                                        [class.cursor-not-allowed]="disabledComposizionePartenza"
                                        (click)="invioPartenza(richiesta); $event.stopPropagation()">
                                    <i class="fas fa-fw fa-arrow-right text-secondary"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- box note localita e zone emergenza -->
                    <div *ngIf="inGestione"
                         class="col-md-12 default-cursor pl-5"
                         [class.d-none]="partenza">

                        <div *ngIf="richiesta?.localita?.note || richiesta?.zoneEmergenza?.length || richiesta?.tags?.length"
                             class="col-md-12">
                            <div class="row card bt-0 note-localita mt-1">
                                <div class="col-md-12 bg_diagonal_grey">
                                    <div class="row text-dark">
                                        <div class="col-12">
                                            <div class="h6 mb-0 pt-2 pb-1">
                                                <span *ngIf="richiesta?.localita?.note">{{ richiesta?.localita?.note }}</span>
                                                <span *ngIf="!richiesta?.localita?.note">Note località non presenti</span>
                                            </div>
                                            <div class="h5 mb-0 pull-right">
                                            <span *ngFor="let ze of richiesta?.zoneEmergenza"
                                                  class="badge badge-danger pull-right m-1">
                                                {{ ze }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-12 text-right">
                                            <i class="guida fas fa-tags fa-fw text-left mr-1" title="Etichette"></i>
                                            <span *ngFor="let tag of richiesta?.tags"
                                                  class="badge badge-secondary text-right py-2 m-1"><i
                                                    class="fas fa-hashtag fa-fw text-left"></i>{{tag}}</span>
                                            <span *ngIf="!richiesta?.tags || (richiesta?.tags && richiesta?.tags?.length <= 0)">
                                            Non ci sono Tags
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- II livello di dettaglio -->
                        <div class="row mt-3">
                            <!-- I colonna -->
                            <div class="col-2">
                                <div class="clearfix">
                                    <!-- Operatore chiamata -->
                                    <div *ngIf="richiesta?.operatore as op">
                                        <h4 [ngbTooltip]="utentePresaInCarico" class="mb-0">
                                            <i class="guida fas fa-user fa-fw"></i>
                                            <i class="guida fas fa-phone fa-fw mr-1"></i>
                                            {{ op?.nome + ' ' + op?.cognome | truncate: 14 }}
                                            <ng-template #utentePresaInCarico>
                                                <div>
                                                    {{ op?.nome + ' ' + op?.cognome }} ha registrato la chiamata
                                                </div>
                                            </ng-template>
                                        </h4>
                                    </div>

                                    <!-- Presa in carico -->
                                    <div *ngIf="methods._primoUtente(richiesta?.listaUtentiPresaInCarico)">
                                        <h4 *ngIf="methods._primoUtente(richiesta?.listaUtentiPresaInCarico) as utentiPresaInCaricoValue; else nonPresaInCarico"
                                            class="d-inline-block m-0 mr-1"
                                            [ngbTooltip]="utentePresaInCarico">
                                            <i class="guida fas fa-calendar-check-o fa-fw mr-1"
                                               ngbTooltip="Presa in carico"
                                               placement="right"></i>
                                            {{ utentiPresaInCaricoValue?.nominativo | truncate: 15 }}
                                            <ng-template #utentePresaInCarico>
                                                <div>
                                                    {{ utentiPresaInCaricoValue?.nominativo }} ha preso in carico
                                                    {{ getPresaInCaricoTooltip(utentiPresaInCaricoValue)?.dataInizioAttivita | friendlyDate }}
                                                    {{ getPresaInCaricoTooltip(utentiPresaInCaricoValue)?.dataInizioAttivita | friendlyHour: true }}
                                                </div>
                                            </ng-template>
                                        </h4>
                                        <div *ngIf="richiesta?.listaUtentiPresaInCarico && richiesta?.listaUtentiPresaInCarico?.length > 1"
                                             ngbDropdown class="d-inline-block" placement="bottom">
                                            <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                    (click)="$event.stopPropagation()">
                                                +{{ richiesta?.listaUtentiPresaInCarico?.length - 1 }}
                                            </button>
                                            <div ngbDropdownMenu class="p-2 text-center">
                                                <div *ngIf="methods._altriUtenti(richiesta?.listaUtentiPresaInCarico) as utentiTooltip">
                                                    <div *ngFor="let utente of utentiTooltip">
                                                        {{utente?.nominativo}}
                                                        - {{utente?.dataInizioAttivita | friendlyDate}}
                                                        {{utente?.dataInizioAttivita | friendlyHour: true}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #nonPresaInCarico>
                                            <h4>Nhon Presa in Carico</h4>
                                        </ng-template>
                                    </div>

                                    <!-- In lavorazione -->
                                    <div *ngIf="methods._primoUtente(richiesta?.listaUtentiInLavorazione)">
                                        <h4 *ngIf="methods._primoUtente(richiesta?.listaUtentiInLavorazione) as utentiInLavorazioneValue; else nonInLavorazione"
                                            class="d-inline-block m-0 mr-1"
                                            [ngbTooltip]="getInLavorazioneTooltip(utentiInLavorazioneValue)"
                                            [disableTooltip]="_inLavorazioneTooltipDisabled(utentiInLavorazioneValue)">
                                            <i class="guida fas fa-eye fa-fw mr-1" ngbTooltip="In Lavorazione"
                                               placement="right"></i>
                                            {{ utentiInLavorazioneValue?.nominativo | truncate: 15 }}
                                        </h4>
                                        <div *ngIf="richiesta?.listaUtentiInLavorazione && richiesta?.listaUtentiInLavorazione?.length > 1"
                                             ngbDropdown class="d-inline-block" placement="bottom">
                                            <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                    (click)="$event.stopPropagation()">
                                                +{{ richiesta?.listaUtentiInLavorazione.length - 1 }}
                                            </button>
                                            <div ngbDropdownMenu class="p-2 text-center">
                                                <div *ngIf="methods._altriUtenti(richiesta?.listaUtentiInLavorazione) as utentiTooltip">
                                                    <div *ngFor="let utente of utentiTooltip">
                                                        {{utente?.nominativo}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #nonInLavorazione>
                                            <h4>Non in lavorazione</h4>
                                        </ng-template>
                                    </div>

                                    <!-- Scheda NUE -->
                                    <div *ngIf="richiesta?.codiceSchedaNue">
                                        <h4 *ngIf="richiesta?.codiceSchedaNue; else nessunCodiceNue"
                                            class="d-inline-block">
                                            <i class="guida fas fa-id-card-o fa-fw mr-1"
                                               ngbTooltip="Codice scheda NUE"
                                               placement="right">
                                            </i>
                                            S. NUE
                                            <div class="d-inline-block font-weight-bold">
                                                {{ richiesta?.codiceSchedaNue }}
                                            </div>
                                        </h4>
                                        <ng-template #nessunCodiceNue>
                                            <h4>Nessuna scheda NUE</h4>
                                        </ng-template>
                                    </div>

                                    <!-- Sedi allertate -->
                                    <div *ngIf="methods._primaSedeAllertata(richiesta?.sediAllertate)">
                                        <div *ngIf="methods._primaSedeAllertata(richiesta?.sediAllertate) as sediAllertate; else nonAllertata"
                                             class="d-inline-block h6 m-0 mr-1" ngbTooltip="{{ sediAllertate }}"
                                             [disableTooltip]="sediAllertate?.length <= 13" placement="bottom">
                                            <i class="guida fas fa-exclamation-triangle fa-fw mr-1"
                                               style="font-size: 110%"
                                               ngbTooltip="Sedi Allertate"
                                               placement="right"></i>
                                            {{ sediAllertate | truncate: 13 }}
                                        </div>
                                        <div *ngIf="richiesta?.codSOAllertate && richiesta?.codSOAllertate?.length > 1"
                                             ngbDropdown class="d-inline-block" placement="bottom">
                                            <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                    (click)="$event.stopPropagation()">
                                                +{{ richiesta?.codSOAllertate?.length - 1 }}
                                            </button>
                                            <div ngbDropdownMenu class="p-2 text-center">
                                                <div *ngIf="methods._altreSediAllertate(richiesta?.sediAllertate) as codSOAllertate">
                                                    <div *ngFor="let sede of codSOAllertate">
                                                        {{ sede }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #nonAllertata class="badge badge-secondary text-white">
                                            <!-- Nessuna Sede Allertata -->
                                        </ng-template>
                                    </div>
                                </div>
                            </div>

                            <!-- II colonna Triage -->
                            <div *ngIf="checkNumeroPartenzeAttive(richiesta.partenzeRichiesta) <= 0"
                                 class="col-8">
                                <div *ngIf="richiesta?.triageSummary?.length">
                                    <app-triage-summary-sintesi-richiesta [triageSummary]="richiesta?.triageSummary"
                                                                          [pos]="richiesta?.dettaglioTipologia?.pos">
                                    </app-triage-summary-sintesi-richiesta>
                                </div>
                            </div>
                            <!-- II colonna Lista Partenze -->
                            <div *ngIf="checkNumeroPartenzeAttive(richiesta.partenzeRichiesta) > 0"
                                 class="col-8 px-0 border border-light">
                                <div class="scroll-y px-2 py-1">
                                    <app-partial-loader *ngIf="loadingEliminaPartenza"></app-partial-loader>
                                    <app-lista-partenze [partenze]="richiesta?.partenzeRichiesta"
                                                        [listaEventi]="richiesta?.eventi"
                                                        [statoRichiesta]="richiesta?.stato"
                                                        [inGestione]="inGestione"
                                                        [idDaSganciare]="idDaSganciare"
                                                        [sostituzioneFineTurnoActive]="_isSostituzioneFineTurnoActive(richiesta?.partenzeRichiesta)"
                                                        (actionMezzo)="onActionMezzo($event)"
                                                        (eliminaPartenza)="onEliminaPartenza($event)"
                                                        (modificaPartenza)="onModificaPartenza($event)"
                                                        (sostituzioneFineTurno)="onSostituzioneFineTurno(richiesta.partenzeRichiesta)">
                                    </app-lista-partenze>
                                </div>
                            </div>

                            <!-- III colonna -->
                            <div class="col-2">
                                <div class="clearfix">
                                    <!-- turno intervento -->
                                    <div class="text-right">
                                        <h4 *ngIf="richiesta?.trnInsChiamata; else nessunTurno">
                                            {{ richiesta?.trnInsChiamata }}
                                            <i class="fas fa-fw fa-calendar-check-o guida ml-1"
                                               ngbTooltip="Turno Inserimento"
                                               placement="left">
                                            </i>
                                        </h4>
                                        <ng-template #nessunTurno>
                                            <h4>
                                                <span class="d-inline-block mr-1">-</span>
                                                <i class="guida fas fa-clock-o fa-fw ml-1"
                                                   ngbTooltip="Turno non presente"
                                                   placement="left"></i>
                                            </h4>
                                        </ng-template>
                                    </div>

                                    <!-- tipo terreno -->
                                    <div *ngIf="methods._terrenoMaggiore(richiesta?.tipoTerreno)" class="text-right">
                                        <div *ngIf="methods._terrenoMaggiore(richiesta?.tipoTerreno) as tipoTerrenoValue; else noterreni"
                                             class="d-inline-block m-0" [ngbTooltip]="tipoTerrenoValue?.terrenoMq">
                                            {{ tipoTerrenoValue?.terrenoHa }}
                                        </div>
                                        <button *ngIf="richiesta?.tipoTerreno && richiesta?.tipoTerreno.length > 1"
                                                class="btn btn-light border big_font py-0 px-1" [ngbPopover]="terreni"
                                                (click)="$event.stopPropagation()">
                                            +{{ richiesta?.tipoTerreno?.length - 1 }}</button>
                                        <ng-template #terreni>
                                            <div *ngIf="methods._terreniMinori(richiesta?.tipoTerreno) as terreniTooltip">
                                                <div *ngFor="let terreno of terreniTooltip">
                                                    {{ methods._tipoTerreno(terreno)}}
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template #noterreni>
                                            -
                                        </ng-template>
                                        <i class="guida fas fa-tree fa-fw ml-1" ngbTooltip="Tipologia terreno"
                                           placement="left"></i>
                                    </div>

                                    <!-- complessità -->
                                    <ng-template [ngIf]="richiesta?.complessita?.indice !== '0'">
                                        <div class="text-right">
                                            <h4>
                                                <b>{{ richiesta?.complessita?.indice }}</b>
                                                <div class="badge m-0 ml-1" [ngClass]="complessitaClass(richiesta)">
                                                    {{ richiesta?.complessita?.descrizione }}
                                                </div>
                                                <i class="guida fas fa-gears fa-fw ml-1" ngbTooltip="Complessità"
                                                   placement="left"></i>
                                            </h4>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
