<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Cambio Sede Unità Operativa</h4>
  <button type="button" class="close" (click)="modal.dismiss('Cross click')">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Sei sicuro di voler cambiare U.O. in <span class="text-primary">"{{nomeSede}}"</span> ?</strong></p>
  <p>
    <span class="text-danger">Questa operazione comporterà il riavvio dell'applicazione.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click');annullaCambioSede()">Annulla</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');cambioSede()">Ok</button>
</div>