<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ titolo | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <span class="text-danger"><i class="fas fa-times"></i></span>
    </button>
</div>
<div class="modal-body p-0">
    <ngx-extended-pdf-viewer [src]="blob"
                             [showBookmarkButton]="false"
                             [showFindButton]="false"
                             [showHandToolButton]="false"
                             [showOpenFileButton]="false"
                             [showPropertiesButton]="false"
                             [showPrintButton]="false"
                             [showPresentationModeButton]="false"
                             [showToolbar]="true"
                             [showSecondaryToolbarButton]="false"
                             [showBorders]="false">
    </ngx-extended-pdf-viewer>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-secondary btn-no-hover font-weight-bold"
            (click)="close('ko')">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>
