<ng-template [ngIf]="!richiestaModifica && !getActive()">
    <button type="button" class="btn font-weight-bolder btn-success" style="color: #fff"
            [ngClass]="getClasses()"
            [class.btn-no-hover]="getActive()"
            [disabled]="disabled"
            (click)="chiamata()">
        <i class="fa fa-phone mr-1"></i>
        {{ 'Nuova Chiamata' | uppercase }}
    </button>
</ng-template>
<ng-template [ngIf]="!richiestaModifica && getActive()">
    <div class="pl-2">
        <h4 class="d-inline-block mt-2 mb-0">
            <i class="fa fa-phone mr-1"></i>
            {{ 'Stai inserendo una nuova chiamata' | uppercase }}
        </h4>
    </div>
</ng-template>
<ng-template [ngIf]="!!richiestaModifica">
    <div class="pl-2">
        <h4 class="d-inline-block mt-2 mb-0">
            <i class="fa fa-edit mr-1"></i>
            Stai modificando la richiesta
            <b>{{ this.richiestaModifica.codiceRichiesta ? this.richiestaModifica.codiceRichiesta : this.richiestaModifica.codice }}</b>
            del giorno <b>{{ this.richiestaModifica.istanteRicezioneRichiesta | date: 'dd-MM-yyyy' }}</b>
            alle <b>{{ this.richiestaModifica.istanteRicezioneRichiesta | date: 'HH:mm:ss' }}</b>
        </h4>
    </div>
</ng-template>
