<div class="modal-header"
     [class.gestita]="schedaContatto.gestita">
    <h4 class="mb-0">
        <span class="d-inline-block mr-3">
            <i class="fas fa-info-circle mr-1"></i>
            Scheda Contatto
        </span>
        <span *ngIf="schedaContatto?.priorita === priorita.Altissima"
              class="badge badge-danger font-weight-bold h5 mb-0">
            <i class="fas fa-exclamation-triangle"></i>
            Priorità alta
        </span>
        <span *ngIf="schedaContatto?.priorita !== priorita.Altissima"
              class="badge badge-secondary h5 mb-0">
            <i class="fas fa-exclamation-circle"></i>
            Priorità bassa
        </span>
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="close('ko')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">
    <!-- Prima riga -->
    <div class="row">
        <div class="col-2 mb-3">
            <i class="fas fa-hashtag mr-2 guida"></i>
            <span>N.Scheda</span>
            <hr class="my-1">
            {{ schedaContatto.codiceScheda }}
        </div>
        <div class="col-3 mb-3">
            <i class="fas fa-calendar mr-2 guida"></i>
            <span>Data Inserimento</span>
            <hr class="my-1">
            {{ schedaContatto.dataInserimento | date: 'dd/MM/yyyy HH:MM:SS' }}
        </div>
        <div class="col-7 d-flex align-items-center">
            <ng-container *ngIf="schedaContatto?.codiceInterventoAssociato">
                <i class="fas fa-hashtag mr-2 guida"></i>
                <span>Codice {{ defineChiamataIntervento(schedaContatto.codiceInterventoAssociato) }}</span>
                <button class="btn btn-outline-light ml-4"
                        (click)="onDettaglioRichiesta(schedaContatto.codiceInterventoAssociato)">
                    {{ schedaContatto.codiceInterventoAssociato }}
                </button>
            </ng-container>
        </div>
    </div>
    <!-- Seconda riga -->
    <div class="row">
        <div class="col-5 mb-3">
            <i class="fas fa-user mr-2 guida"></i>
            <span>Richiedente</span>
            <hr class="my-1">
            {{schedaContatto.richiedente.nominativo}}
        </div>
        <div class="col-2 mb-3">
            <i class="fas fa-phone-alt mr-2 guida"></i>
            <span>Telefono</span>
            <hr class="my-1">
            {{schedaContatto.richiedente.telefono}}
        </div>
        <div class="col-5 mb-3">
            <i class="fas fa-info mr-2 guida"></i>
            <span>Info Addizionali</span>
            <hr class="my-1">
            {{schedaContatto.localita.note}}
        </div>
    </div>
    <!-- Terza riga -->
    <div class="row">
        <div class="col-8 mb-3">
            <i class="fas fa-map-marker-alt mr-2 guida"></i>
            <span>Indirizzo</span>
            <hr class="my-1">
            {{schedaContatto.localita.indirizzo}}
        </div>
        <div class="col-2 mb-3">
            <i class="fas fa-map-pin mr-2 guida"></i>
            <span>Latitudine</span>
            <hr class="my-1 mb-2">
            {{schedaContatto.localita.coordinate.latitudine}}
        </div>
        <div class="col-2 mb-3">
            <i class="fas fa-map-pin mr-2 guida"></i>
            <span>Longitudine</span>
            <hr class="my-1 mb-2">
            {{schedaContatto.localita.coordinate.longitudine}}
        </div>
    </div>
    <!-- Quarta riga -->
    <div class="row">
        <div class="col-4 mb-3">
            <i class="fas fa-list mr-2 guida"></i>
            <span>Classificazione del NUE</span>
            <hr class="my-1">
            {{schedaContatto.classificazioneEvento}}
        </div>
        <div class="col-4 mb-3">
            <i class="fas fa-indent mr-2 guida"></i>
            <span>Attributi di classificazione</span>
            <hr class="my-1 mb-2">
            {{schedaContatto.categoria}}
        </div>
        <div class="col-4 mb-3">
            <i class="fas fa-university mr-2 guida"></i>
            <span>Competenza</span>
            <hr class="my-1 mb-2">
            {{schedaContatto.enteCompetenza}}
        </div>
    </div>
    <!-- Quinta riga -->
    <div class="row">
        <div *ngIf="schedaContatto.dettaglio" class="col-8 mb-3">
            <i class="fas fa-file-text-o mr-2 guida"></i>
            <span>Note</span>
            <hr class="my-1">
            {{schedaContatto.dettaglio}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-secondary btn-no-hover text-right"
            (click)="close('ko')">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>

