<td>
  <div *ngIf="visualizzaIconeNomeClasseEvento">
    <!--<i class="fa {{iconeClasseEventoCorrente}} fa-fw" aria-hidden="true" title="{{eventoRichiesta.tipo}}"></i>-->
    <i *ngFor="let ii of iconeClasseEventoCorrente" class="fa {{ii}} fa-fw" aria-hidden="true"
       [ngbTooltip]="formatNomeClasseEvento(eventoRichiesta.nomeClasseEvento) | eventi">
    </i>
  </div>
  <div *ngIf="!visualizzaIconeNomeClasseEvento">
    <span>{{formatNomeClasseEvento(eventoRichiesta.nomeClasseEvento) | eventi}}</span>
  </div>
</td>
<td>
  <span *ngIf="eventoRichiesta.istanteEvento" class="h6 text-muted"
        ngbTooltip="Data Evento">{{eventoRichiesta.istanteEvento | friendlyDate}}
    {{eventoRichiesta.istanteEvento | friendlyHour : true}}</span>
</td>
<td>
  <span *ngIf="eventoRichiesta.istanteEvento"
        ngbTooltip="Data Evento Precedente">{{eventoRichiesta.istanteEvento | distanzaTemporale : istanteEventoPrecedente : 'N' }}</span>
</td>
<td>
  <span *ngIf="eventoRichiesta.istanteEvento"
        ngbTooltip="Data Primo Evento">{{eventoRichiesta.istanteEvento | distanzaTemporale : istantePrimoEvento : 'N' }}</span>
</td>
<td>
  <small *ngIf="eventoRichiesta.targa" class="cursor-pointer" (click)="filtroTarga.emit(eventoRichiesta.targa)"
         ngbTooltip="Clicca qui per ricercare gli eventi">
    <i class="fa fa-hashtag"></i>
    {{eventoRichiesta.targa}}
  </small>
</td>
<td>
  <span *ngIf="eventoRichiesta.note">
    <i class="fa fa-sticky-note-o" ngbTooltip="Note Evento"> </i>
    {{eventoRichiesta.note}}
  </span>
</td>
