<div class="modal-header">
    <h4 class="modal-title">TRIAGE</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body height py-4 px-5">
    <label for="mezzi">Seleziona un mezzo appropriato</label>
    <ng-select id="mezzi" class="form-control" [items]="['ABP', 'AS']">
    </ng-select>
    <label for="prossimaDomanda">Scrivi il testo per la prossima domanda</label>
    <input id="prossimaDomanda" [(ngModel)]="prossimaDomanda" type="text" class="form-control">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-secondary">Annulla</button>
    <button type="button" class="btn btn-lg btn-danger" ngbTooltip="Riempi tutti i campi obbligatori"
            (click)="onConferma()">
        Conferma
    </button>
</div>
