<div class="modal-header">
    <h4 class="modal-title">Aggiungi un utente</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body height">
    <form [formGroup]="addUtenteRuoloForm" ngxsForm="gestioneUtenti.addUtenteRuoloForm">
        <div class="mb-3">
            <label for="utente">Nominativo</label>
            <ng-select
                    id="utente"
                    [items]="listaUtentiVVF$ | async"
                    bindLabel="nominativo"
                    bindValue="codFiscale"
                    formControlName="utente"
                    placeholder="Cerca un nominativo"
                    typeToSearchText="Cerca un nominativo"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [notFoundText]="'Nessun risultato'"
                    (search)="onSearchUtentiVVF($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.utente.errors }">
                <ng-template ng-option-tmp let-item="item">
                    {{item.nominativo}} <br/>
                    <small>{{item.codFiscale}} - {{item.sede}}</small>
                </ng-template>
            </ng-select>
        </div>
        <div *ngIf="submitted && f.utente.errors" class="invalid-feedback">
            <div *ngIf="f.utente.errors.required">Campo Obbligatorio</div>
        </div>
        <div class="mb-3">
            <label for="sede">Sede</label>
            <div class="border rounded">
                <app-shared-treeview id="sede"
                                     class="height-test"
                                     [items]="listeSediNavbar"
                                     [testoSedeSelezionata]="sediSelezionate"
                                     [placement]="'bottom-left'"
                                     [visualizzaTasti]="false"
                                     (confermaSelezione)="onPatchSedi($event)">
                </app-shared-treeview>
            </div>
            <div *ngIf="submitted && f.sedi.errors" class="invalid-feedback">
                <div *ngIf="f.sedi.errors.required">Campo Obbligatorio</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="ruoli">Ruolo</label>
            <ng-select
                    id="ruoli"
                    [items]="ruoli"
                    formControlName="ruolo"
                    placeholder="Seleziona un ruolo"
                    [notFoundText]="'Nessun ruolo disponibile'"
                    [ngClass]="{ 'is-invalid': submitted && f.ruolo.errors }">
            </ng-select>
        </div>
        <div *ngIf="submitted && f.ruolo.errors" class="invalid-feedback">
            <div *ngIf="f.ruolo.errors.required">Campo Obbligatorio</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('ko')">Annulla</button>
    <button type="button" class="btn btn-success" (click)="onConferma()">Conferma</button>
</div>
