<div class="row border rounded h-100 font-xxlarge bg-mezzo-in-servizio d-flex align-items-center py-2"
     [class.bg-mezzo-in-servizio-selezionato]="idMezzoInServizioSelezionato === mezzoInServizio.mezzo.mezzo.codice"
     [ngClass]="cardClasses(mezzoInServizio.mezzo.mezzo.stato)"
     style="min-height: 62px"
     (mouseenter)="hoverIn.emit(mezzoInServizio.mezzo.mezzo.codice)"
     (mouseleave)="hoverOut.emit()"
     (click)="selezionato.emit(mezzoInServizio.mezzo.mezzo.codice)">
    <ng-template [ngIf]="loadingArray.includes(mezzoInServizio.mezzo.mezzo.codice)">
        <app-partial-loader></app-partial-loader>
    </ng-template>
    <!-- Mezzo -->
    <div class="col-3">
        <app-mezzo [mezzo]="mezzoInServizio.mezzo.mezzo"
                   [mezzoInServizioPage]="true"
                   [actionsAttive]="false"
                   (actionMezzo)="actionMezzo.emit({'a': mezzoInServizio.mezzo.mezzo, 'b': $event})">
        </app-mezzo>
    </div>
    <!-- Offset Mezzo in Sede -->
    <ng-container *ngIf="mezzoInServizio.mezzo.mezzo.stato === StatoMezzo.InSede">
        <div class="offset-5"></div>
    </ng-container>
    <!-- Squadra/e sul Mezzo -->
    <ng-container *ngIf="mezzoInServizio?.squadre?.length">
        <div class="col-1">
            <div class="d-flex align-items-center justify-content-end font-weight-bold">
                <div>
                    <i class="fas fa-users text-{{statoMezzoColor(mezzoInServizio.mezzo.mezzo.stato)}}"></i>
                </div>
                <div class="mx-2"
                     ngbTooltip="{{mezzoInServizio.squadre[0].codice}}"
                     [disableTooltip]="mezzoInServizio.squadre[0].codice.length <= 4">
                    {{ mezzoInServizio.squadre[0].codice | truncate: 4}}
                </div>
                <button class="btn btn-sm btn-no-hover btn-light border ml-1" ngbTooltip="Elenco squadre"
                        (click)="onListaSquadrePartenza(); $event.stopPropagation()">
                    <div *ngIf="mezzoInServizio.squadre?.length"
                         class="d-inline-block">
                        <i class="fas fa-search"
                           [class.mr-1]="mezzoInServizio.squadre.length > 1"></i>
                        <div *ngIf="mezzoInServizio.squadre.length > 1"
                             class="d-inline-block">
                            +{{ mezzoInServizio.squadre.length - 1 }}
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>
    <!-- Indirizzo -->
    <ng-container *ngIf="mezzoInServizio.mezzo.infoRichiesta?.indirizzo">
        <div class="col-3">
            <div class="d-flex align-items-center"
                 [ngbTooltip]="mezzoInServizio.mezzo.infoRichiesta.indirizzo"
                 [disableTooltip]="mezzoInServizio.mezzo.infoRichiesta.indirizzo.length < truncateLenghtIndirizzoRichiesta">
                <div class="mr-2">
                    <i class="fas fa-fw fa-map-marker-alt text-{{statoMezzoColor(mezzoInServizio.mezzo.mezzo.stato)}}"></i>
                </div>
                <div>
                    {{ mezzoInServizio.mezzo.infoRichiesta.indirizzo | truncate: truncateLenghtIndirizzoRichiesta }}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Codice Richiesta -->
    <ng-container *ngIf="!hideCodRichiesta">
        <div class="col-2">
            <button *ngIf="mezzoInServizio.mezzo.infoRichiesta?.codiceRichiesta"
                    class="btn btn-no-hover btn-light font-weight-bold"
                    (click)="dettaglioRichiesta.emit(mezzoInServizio.mezzo.mezzo.idRichiesta)">
                <i class="fas fa-hashtag"></i>
                {{ mezzoInServizio.mezzo.infoRichiesta.codiceRichiesta }}
            </button>
        </div>
    </ng-container>
    <!-- Tipologia Richiesta  -->
    <ng-container *ngIf="showTipologia && tipologieRichiesta?.length">
        <div class="col-3">
            <div [ngbTooltip]="tipologieRichiesta[0]?.descrizione"
                 [disableTooltip]="tipologieRichiesta[0]?.descrizione.length < 23">
                <i class="fa-fw mr-1 {{ methods.coloraIcona(tipologieRichiesta[0]) }}"></i>
                {{ tipologieRichiesta[0]?.descrizione | truncate: 23 }}
            </div>
        </div>
    </ng-container>
    <!-- Tipologia Richiesta  -->
    <ng-container *ngIf="showTipologia && !tipologieRichiesta?.length">
        <div class="col-3">
        </div>
    </ng-container>
    <!-- Eventi -->
    <ng-container *ngIf="mezzoInServizio.mezzo.mezzo.idRichiesta">
        <div class="col-1">
            <button class="btn btn-block btn-no-hover btn-light"
                    [ngbTooltip]="'Visualizza Eventi'"
                    [disableTooltip]="!hideTextButtonEventi"
                    (click)="visualizzaEventiRichiesta.emit(mezzoInServizio.mezzo.mezzo)">
                <i class="fas fa-list"></i>
                <ng-container *ngIf="!hideTextButtonEventi">
                    Eventi
                </ng-container>
            </button>
        </div>
    </ng-container>
    <!-- Distaccamento -->
    <ng-container *ngIf="!hideDistaccamento">
        <div class="col-2 text-right">
            <div class="badge badge-secondary"
                 [class.mr-2]="showSelectButton">
                {{ getSedeString(mezzoInServizio.mezzo.mezzo.distaccamento.descrizione) }}
            </div>
        </div>
    </ng-container>
    <!-- Select Button -->
    <ng-container *ngIf="showSelectButton">
        <div class="col-1">
            <div class="d-inline-block"
                 [ngbTooltip]="tooltipLockedConcorrenza"
                 [disableTooltip]="!(tipoConcorrenzaEnum.Sganciamento | checkConcorrenzaLocked: [mezzoInServizio.mezzo.mezzo.codice])">
                <button class="btn btn-block btn-light btn-no-hover border-secondary"
                        [class.cursor-not-allowed]="tipoConcorrenzaEnum.Sganciamento | checkConcorrenzaLocked: [mezzoInServizio.mezzo.mezzo.codice]"
                        [disabled]="tipoConcorrenzaEnum.Sganciamento | checkConcorrenzaLocked: [mezzoInServizio.mezzo.mezzo.codice]"
                        (click)="onSelect(mezzoInServizio)">
                    {{ 'info' | uppercase }}
                </button>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #tooltipLockedConcorrenza>
    <i class="fas fa-lock mr-1"></i>
    {{ tipoConcorrenzaEnum.Sganciamento | checkConcorrenzaLocked: [mezzoInServizio.mezzo.mezzo.codice] }}
</ng-template>
