<div class="d-flex justify-content-between align-items-center font-weight-bold px-2 py-1"
     [class.alert-info]="idDaSganciare === partenza.mezzo.descrizione"
     [class.px-1]="idDaSganciare === partenza.mezzo.descrizione">
    <div class="d-flex justify-content-start align-items-center font-xxlarge"
         (click)="selezioneMezzo.emit(partenza.mezzo)">
        <app-mezzo [richiesta]="richiesta"
                   [codicePartenza]="codicePartenza"
                   [mezzo]="partenza.mezzo"
                   [listaEventiMezzo]="listaEventiMezzo"
                   [listaEventi]="richiesta?.eventi"
                   [actionsAttive]="inGestione && richiesta.stato !== statoRichiestaEnum.Chiusa"
                   [disabledModificaStatoMezzo]="disabledModificaStatoMezzo"
                   (actionMezzo)="onActionMezzo($event)">
        </app-mezzo>
    </div>
    <div class="d-flex justify-content-end align-items-center font-xxlarge">
        <ng-container *ngIf="annullaStatoMezzo">
            <div class="d-inline-block"
                 [ngbTooltip]="tooltipLockedConcorrenza"
                 [disableTooltip]="!(tipoConcorrenzaEnum.AnnullaStatoMezzo | checkConcorrenzaLocked: [partenza.mezzo.codice])"
                 placement="left">
                <button class="btn btn-danger btn-sm-mod border-danger mr-3"
                        [class.cursor-not-allowed]="tipoConcorrenzaEnum.AnnullaStatoMezzo | checkConcorrenzaLocked: [partenza.mezzo.codice]"
                        ngbTooltip="Annulla ultimo cambio stato"
                        [disabled]="tipoConcorrenzaEnum.AnnullaStatoMezzo | checkConcorrenzaLocked: [partenza.mezzo.codice]"
                        (click)="onAnnullaStato(partenza.mezzo.codice, getUltimoStatoMezzo(partenza.mezzo.codice))">
                    <i class="fas fa-history px-1"></i>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="partenza.squadre?.length">
            <div class="d-flex align-items-center">
                <i [ngClass]="_iconaStatiClass(_nomeStatiSquadra(partenza.squadre[0].stato))"
                   ngbTooltip="{{ _nomeStatiSquadra(partenza.squadre[0].stato) }}"
                   class="fas fa-users mr-2"></i>
                <div [ngbTooltip]="partenza.squadre[0].nome">
                    {{ partenza.squadre[0].codice | truncate: 6 }}
                    <ng-container *ngIf="partenza.squadre[0].turno">
                        ({{ partenza.squadre[0].turno }})
                    </ng-container>
                </div>
                <button class="btn btn-sm btn-light p-1 mx-2"
                        ngbTooltip="Elenco squadre"
                        placement="top"
                        (click)="onListaSquadrePartenza(); $event.stopPropagation()">
                    <div *ngIf="partenza.squadre?.length === 1">
                        <i class="fas fa-search"></i>
                    </div>
                    <div *ngIf="partenza.squadre?.length > 1">
                        +{{ partenza.squadre.length - 1 }}
                    </div>
                </button>
                <ng-container
                        *ngIf="!hideGestisciPartenza && inGestione && richiesta.stato !== statoRichiestaEnum.Chiusa">
                    <div [ngbTooltip]="tooltipLockedConcorrenza"
                         [disableTooltip]="!(tipoConcorrenzaEnum.GestisciPartenza | checkConcorrenzaLocked: [partenza.mezzo.codice])">
                        <button class="btn btn-sm btn-info d-inline-block"
                                ngbTooltip="Gestisci Partenza"
                                placement="top"
                                [disabled]="disabledModificaStatoMezzo || (tipoConcorrenzaEnum.GestisciPartenza | checkConcorrenzaLocked: [partenza.mezzo.codice])"
                                [class.cursor-not-allowed]="disabledModificaStatoMezzo || (tipoConcorrenzaEnum.GestisciPartenza | checkConcorrenzaLocked: [partenza.mezzo.codice])"
                                (click)="onModificaPartenza(); $event.stopPropagation()">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                </ng-container>
                <div *ngIf="!partenza.squadre || !partenza.squadre?.length"
                     class="d-inline-block p-2">
                    Nessun squadra
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #tooltipLockedConcorrenza>
    <i class="fas fa-lock mr-1"></i>
    {{ tipoConcorrenzaEnum.AnnullaStatoMezzo | checkConcorrenzaLocked: [partenza.mezzo.codice] }}
</ng-template>
