<div *ngIf="checkNumeroPartenzeAttive(partenze) <= 0">
    <div class="mt-1">Non sono presenti partenze.</div>
</div>
<ul *ngIf="checkNumeroPartenzeAttive(partenze) > 0" class="list-unstyled">
    <div *ngFor="let p of partenze; let index = index">
        <li *ngIf="!p.partenza.sganciata && !p.partenza.partenzaAnnullata && !p.partenza.terminata" class="border-bottom">
            <app-partial-loader
                    *ngIf="loadingActionMezzo?.includes(p?.partenza?.mezzo?.codice)"></app-partial-loader>
            <app-partenza [partenza]="p.partenza"
                          [listaEventi]="listaEventi"
                          [inGestione]="inGestione"
                          [statoRichiesta]="statoRichiesta"
                          [idDaSganciare]="idDaSganciare"
                          [index]="'' + index"
                          [annullaStatoMezzo]="annullaStatoMezzi?.includes(p?.partenza?.mezzo?.codice)"
                          [dateDiffMezzi]="diffDateInfoMezzo"
                          (listaSquadre)="onListaSquadrePartenza($event.codiceMezzo, $event.listaSquadre)"
                          (actionMezzo)="onActionMezzo($event)"
                          (eliminaPartenza)="eliminaPartenza.emit($event)"
                          (modificaPartenza)="modificaPartenza.emit($event)">
            </app-partenza>
        </li>
    </div>
    <ng-template [ngIf]="inGestione && sostituzioneFineTurnoActive">
        <button class="btn btn-sm btn-info" ngbTooltip="Sostituzione Fine Turno"
                style="position:absolute; top:-14px; left:-14px"
                (click)="sostituzioneFineTurno.emit(); $event.stopPropagation()">
            <i class="fas fa-sync-alt"></i>
        </button>
    </ng-template>
</ul>
