<div class="card bg-light w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h5><i class="fa fa-truck mb-2 mr-1" aria-hidden="true"></i>Mezzi</h5>
        </div>
        <div class="col-6">
          <ul class="list-unstyled m-0">
            <li><h6>In Servizio <span class="badge badge-success">{{mezzi.inServizio}}</span></h6></li>
            <li><h6>In Sede <span class="badge badge-secondary">{{mezzi.inSede}}</span></h6></li>
            <li><h6>In Viaggio <span class="badge badge-info">{{mezzi.inViaggio}}</span></h6></li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-unstyled m-0">
            <li><h6>Sul posto <span class="badge badge-success">{{mezzi.sulPosto}}</span></h6></li>
            <li><h6>In rientro <span class="badge badge-secondary">{{mezzi.inRientro}}</span></h6></li>
          </ul>
        </div>
      </div>
    </div>
</div>