<div class="card text-center">
  <div class="card-header">
    <span class="float-right">
      <button class="btn btn-primary disabled">Conferma</button>
      <button class="btn btn-default">Annulla</button>
    </span>
    <span class="text-left">Porta qui squadre, mezzi e persone...</span>
  </div>
  <div class="card-block">
    <app-drop-area></app-drop-area>
    <app-mezzo-in-partenza class="m-1" *ngFor="let m of mezziInPartenza" [mezzo]="m"></app-mezzo-in-partenza>
  </div>
</div>

<!--<div>
  <pre class="text-left">
  {{ mezzi() | json }}
  </pre>
</div>-->