<div class="btn-group w-100">
    <div ngbDropdown autoClose="outside" class="btn-group w-100">
        <button ngbDropdownToggle class="btn btn-block app-shadow"
                [ngClass]="{'btn-outline-primary': filtriSelezionati.length <= 0, 'btn-primary': filtriSelezionati.length > 0}"
                type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <i class="fa fa-filter"></i> Filtri
            <span *ngIf="filtriSelezionati.length > 0" class="badge badge-success text-light">{{filtriSelezionati.length}}</span>
        </button>
        <div ngbDropdownMenu class="bg-light px-3">
            <div class="card-block pt-1 pb-0">
                <h6 class="font-weight-bold">{{Categoria.Lettura}}</h6>
                <div *ngFor="let f of filtri" class="mb-2">
                    <app-filtro *ngIf="f.categoria === Categoria.Lettura" [filtro]="f"
                                (filtroSelezionato)="onSelezioneFiltro($event)"></app-filtro>
                </div>
            </div>
            <div class="card-block pt-1 pb-0">
                <h6 class="font-weight-bold">{{Categoria.Gestione}}</h6>
                <div *ngFor="let f of filtri" class="mb-2">
                    <app-filtro *ngIf="f.categoria === Categoria.Gestione" [filtro]="f"
                                (filtroSelezionato)="onSelezioneFiltro($event)"></app-filtro>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="filtriSelezionati.length > 0" class="btn btn-outline-secondary p-1" (click)="eliminaFiltriAttivi()">
        <i class="fa fa-times text-dark px-1"></i>
    </button>
</div>
