<div class="row pb-1">
  <div class="col-5 pb-1">
    <span class="h5 mb-0">Pre-Accoppiati <small class="text-muted">(Modalità rapida)</small></span>
  </div>
  <div class="col-4 pb-1">
      <span class="h6 mb-0">Totale selezionati: {{preAccoppiatiSelezionati.length}}</span>
  </div>
  <div class="col-3 ml-auto text-right">
    <button class="btn btn-block btn-sm btn-outline-secondary" (click)="changeViewMode('slower')"><i class="fa fa-toggle-off"></i> Modalità avanzata</button>
  </div>
</div>