<div *ngIf="!map_loaded" class="col-12 text-center my-5">
    <img src="../../../assets/img/map_loading_resized.gif">
</div>
<agm-map [disableDefaultUI]="true"
         [zoomControl]="true"
         [zoomControlOptions]="zoomControlOptions"
         [fullscreenControl]="true"
         [fullscreenControlOptions]="fullscreenControlOptions"
         [mapTypeControl]="true"
         [streetViewControl]="true"
         [latitude]="centroMappa.coordinate.latitudine"
         [longitude]="centroMappa.coordinate.longitudine"
         [zoom]="centroMappa.zoom"
         (mapReady)="mappaCaricata($event)"
         (centerChange)="centroCambiato($event)"
         [usePanning]="true" (mapClick)="mappaCliccata()">
    <app-maps-filtro id="Settings"></app-maps-filtro>
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let richiestaMarker of richiesteMarkers;"
                    [latitude]="richiestaMarker.localita.coordinate.latitudine"
                    [longitude]="richiestaMarker.localita.coordinate.longitudine"
                    (markerClick)="selezioneMarker(richiestaMarker)"
                    (mouseOver)="hoverMarker(richiestaMarker, 'hover-in')"
                    (mouseOut)="hoverMarker(richiestaMarker, 'hover-out')"
                    [iconUrl]="urlIcona(richiestaMarker)"
                    [zIndex]="zIndex(richiestaMarker)"
                    [visible]="isVisible(richiestaMarker)">
            <agm-snazzy-info-window *ngIf="trueMarker(richiestaMarker)"
                                    [shadow]="{h: '2px',v: '0px',blur: '2px',spread: '2px',opacity: 0.3,color: coloreStato}"
                                    [pointer]="'10px'"
                                    [backgroundColor]="'#f5f5f0'"
                                    [border]="{width: '2px', color: coloreStato}"
                                    [borderRadius]="'10px 10px'"
                                    [maxHeight]="1000"
                                    [maxWidth]="1000"
                                    [padding]="'10px'"
                                    [isOpen]="false"
                                    [showCloseButton]="false">
                <ng-template>
                    <app-info-window [richiestaMarker]="richiestaMarker" [datiMeteo]="datiMeteo"></app-info-window>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let sedeMarker of sediMarkers;"
                    [latitude]="sedeMarker.coordinate.latitudine"
                    [longitude]="sedeMarker.coordinate.longitudine"
                    (markerClick)="selezioneMarker(sedeMarker)"
                    (mouseOver)="hoverMarker(sedeMarker, 'hover-in')"
                    (mouseOut)="hoverMarker(sedeMarker, 'hover-out')"
                    [iconUrl]="urlIcona(sedeMarker)"
                    [zIndex]="zIndex(sedeMarker)"
                    [visible]="isVisible(sedeMarker)">
            <agm-snazzy-info-window *ngIf="trueMarker(sedeMarker)"
                                    [shadow]="{h: '2px',v: '0px',blur: '2px',spread: '2px',opacity: 0.3,color: coloreStato}"
                                    [pointer]="'10px'"
                                    [backgroundColor]="'#f5f5f0'"
                                    [border]="{width: '2px', color: coloreStato}"
                                    [borderRadius]="'10px 10px'"
                                    [maxHeight]="1000"
                                    [maxWidth]="1000"
                                    [padding]="'10px'"
                                    [isOpen]="false"
                                    [showCloseButton]="false">
                <ng-template>
                    <app-info-window [sedeMarker]="sedeMarker" [tipoSedeIcona]="urlIcona(sedeMarker, true)"
                                     [datiMeteo]="datiMeteo"></app-info-window>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
            [minimumClusterSize]="minMarkerCluster">
        <agm-marker *ngFor="let mezzoMarker of mezziMarkers;"
                    [latitude]="mezzoMarker.coordinate.latitudine"
                    [longitude]="mezzoMarker.coordinate.longitudine"
                    (markerClick)="selezioneMarker(mezzoMarker)"
                    (mouseOver)="hoverMarker(mezzoMarker, 'hover-in')"
                    (mouseOut)="hoverMarker(mezzoMarker, 'hover-out')"
                    [iconUrl]="urlIcona(mezzoMarker)"
                    [zIndex]="zIndex(mezzoMarker)"
                    [visible]="isVisible(mezzoMarker)">
            <agm-snazzy-info-window *ngIf="trueMarker(mezzoMarker)"
                                    [shadow]="{h: '2px',v: '0px',blur: '2px',spread: '2px',opacity: 0.3,color: coloreStato}"
                                    [pointer]="'10px'"
                                    [backgroundColor]="'#f5f5f0'"
                                    [border]="{width: '2px', color: coloreStato}"
                                    [borderRadius]="'10px 10px'"
                                    [maxHeight]="1000"
                                    [maxWidth]="1000"
                                    [padding]="'10px'"
                                    [isOpen]="false"
                                    [showCloseButton]="false">
                <ng-template>
                    <app-info-window [mezzoMarker]="mezzoMarker" [datiMeteo]="datiMeteo"></app-info-window>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-marker-cluster>
    <app-agm-content (mapLoad)='loadAPIWrapper($event)'></app-agm-content>
</agm-map>