<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'INTERVENTI IN PROSSIMITA\'' | uppercase }}
        <span class="badge badge-primary ml-2">
            {{ countInterventiVicinanze }}
        </span>
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body pr-0 lista-richieste-size">
    <!-- SINGOLA RICHIESTA -->
    <div *ngFor="let r of interventiVicinanze" id="richiesta" class="w-100 rounded card-shadow my-3"
         style="font-size: 115% !important;">
        <div class="card row_text py-2 px-3"
             (click)="richiestaClick(r)"
             (dblclick)="richiestaDoubleClick(r)"
             (mouseenter)="richiestaHoverIn(r)"
             (mouseleave)="richiestaHoverOut(r)">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12">
                    <span *ngIf="r?.stato === StatoRichiesta.Sospesa"
                          class="d-inline-block text-danger font-weight-bolder h4"
                          style="position: absolute; left: 0; top:22px">S</span>
                            <!-- PRIMA RIGA -->
                            <div class="row">
                                <div class="clearfix mx-3">
                                    <!-- Priorità -->
                                    <i class="guida fas fa-thermometer-half fa-fw font-double-monitor d-none"
                                       [class.high-priority]="r.prioritaRichiesta > 3"
                                       ngbTooltip="Priorità della richiesta" placement="right"></i>
                                    <ngb-rating [(rate)]="r.prioritaRichiesta" [max]="4" [readonly]="true"
                                                class="rating-xl">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="circle font-double-monitor" [class.filled]="fill === 100"
                                                  [class.bad]="index > 2 && fill === 100">
                                                <i class="fas fa-circle mr-1"></i>
                                            </span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                                <div class="col-3">
                                    <ng-template #rilevante>
                                        <div *ngIf="r?.rilevanteGrave">
                                            Intervento Rilevante
                                        </div>
                                        <div *ngIf="r?.rilevanteStArCu">
                                            Intervento Rilevante Storico Artistico Culturale
                                        </div>
                                    </ng-template>
                                    <div class="h6 mb-1 nowrap font-double-monitor">
                                        <i class="guida fas fa-hashtag fa-fw mr-1"
                                           ngbTooltip="Identificativo richiesta assistenza" placement="right"></i>
                                        <a class="h6 cod-int" (click)="toggleEspanso(r.id)">
                                            <span *ngIf="r.codiceRichiesta"
                                                  class="font-double-monitor">{{ r.codiceRichiesta }} </span>
                                            <span *ngIf="!r.codiceRichiesta"
                                                  class="font-double-monitor">{{ r.codice }} </span>
                                        </a>
                                        <span *ngIf="r?.rilevanteGrave || r?.rilevanteStArCu"
                                              class="d-inline-block mr-1 text-danger"
                                              [ngbTooltip]="rilevante" placement="bottom">
                                    <i *ngIf="r?.rilevanteStArCu" class="fas fa-university mr-2"></i>
                                    <i *ngIf="r?.rilevanteGrave" class="fas fa-exclamation"></i>
                                </span>
                                    </div>
                                </div>
                                <div class="clearfix" style="flex: 0 0 54.5% !important;">
                                    <!-- descrizione intervento -->
                                    <div class="h6 mb-1 nowrap default-cursor font-double-monitor">
                                        <div *ngIf="r?.tipologie && r?.tipologie?.length > 0; then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock>
                                    <span>
                                        <i class="fa-fw mr-1 {{ methods.coloraIcona(getPrimaTipologia(r)) }}"
                                           ngbTooltip="{{ r.tipologie[0].descrizione }}"></i>
                                    </span>
                                        </ng-template>
                                        <ng-template #elseBlock>
                                    <span [ngbPopover]="popTipologie" popoverTitle="Tipologie" triggers="click"
                                          tabindex="0">
                                        <span class="position-relative">
                                            <i class="fa-fw mr-1 {{ methods.coloraIcona(getPrimaTipologia(r)) }}"
                                               ngbTooltip="{{ getDescrizionePrimaTipologia(r) }}"></i>
                                            <span class="badge badge-notify text-light">
                                                {{ r?.tipologie?.length }}
                                            </span>
                                        </span>
                                    </span>
                                        </ng-template>
                                        <!-- ngbPopover tipologie intervento -->
                                        <ng-template #popTipologie>
                                            <div class="h6" *ngFor="let t of r?.tipologie">
                                                <i class="fa-fw mr-1 {{ methods.coloraIcona(t) }}"></i>&nbsp
                                                {{ t?.descrizione }}
                                            </div>
                                        </ng-template>
                                        <span>
                                    <a *ngIf="!!r?.tipologie && r?.tipologie?.length > 0"
                                       class="h6 font-double-monitor descrizione-int"
                                       ngbTooltip="{{ r?.descrizione }}"
                                       [disableTooltip]="r?.descrizione?.length <= 45">
                                        {{ getDescrizionePrimaTipologia(r) | truncate:45 }}
                                    </a>
                                </span>
                                    </div>
                                </div>
                                <div class="col-2 pr-3 text-right">
                                    <div class="h6 mb-0">
                                        <!-- squadre -->
                                        <span class="nowrap">
                                    <ng-container *ngIf="methods.getSquadre(r) as squadre">
                                        <button class="btn btn-light border pl-0 py-0 big_numbers mr-1 font-double-monitor"
                                                [ngbPopover]="popSquadre" container="body" popoverTitle="Squadre"
                                                triggers="click" tabindex="0"
                                                style="cursor:pointer; font-size: 115% !important;"
                                                (click)="$event.stopPropagation()">
                                            <i class="guida fas fa-users fa-fw ml-2" ngbTooltip="Numero Squadre"></i>
                                            <span>{{ squadre?.length }}</span>
                                        </button>
                                        <ng-template #popSquadre>
                                            <div class="h6" *ngFor="let s of squadre">
                                                <span>{{ s['nome'] }}</span>
                                                <span> ({{ s['turno'] }})</span>
                                            </div>
                                            <h6 class="mb-0" *ngIf="squadre?.length === 0">Nessuna Squadra</h6>
                                        </ng-template>
                                    </ng-container>
                                </span>

                                        <!-- mezzi -->
                                        <span class="nowrap">
                                    <button class="btn btn-light border pl-0 py-0 big_numbers font-double-monitor"
                                            [ngbPopover]="popMezzi"
                                            popoverTitle="Mezzi" triggers="click" tabindex="0"
                                            style="cursor:pointer; font-size: 115% !important;"
                                            (click)="$event.stopPropagation()">
                                        <i class="guida fas fa-truck fa-fw ml-2" ngbTooltip="Numero Mezzi"></i>
                                        <span>{{ methods.numeroMezzi(r) }}</span>
                                    </button>

                                    <ng-template #popMezzi>
                                        <div class="h6 nowrap" *ngFor="let m of methods.mezziRichiesta(r)">
                                            <span>
                                                <span class="badge badge-secondary">{{ m?.stato }}</span>
                                                <span class="font-weight-bold mx-1">{{ m?.descrizione }}</span>
                                                <small>{{ m?.genere }}</small>
                                            </span>
                                        </div>
                                        <h6 class="mb-0" *ngIf="methods.numeroMezzi(r) === 0">
                                            Nessun Mezzo
                                        </h6>
                                    </ng-template>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <!-- SECONDA RIGA -->
                            <div class="row">
                                <div class="clearfix mx-3">

                                </div>
                                <div class="col-3">
                                    <div class="h6 mt-1 mb-2 nowrap default-cursor font-double-monitor">
                                        <i class="guida far fa-clock fa-fw mr-1" ngbTooltip="Ricezione richiesta"
                                           placement="right" container="body"></i>
                                        <a ngbTooltip="{{ (r.istanteRicezioneRichiesta | friendlyDateTooltip) || '' }}">
                                    <span timeago
                                          [date]="methods._dateNumber(r.istanteRicezioneRichiesta)"
                                          [live]="live">
                                    </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix" style="flex: 0 0 54.5% !important;">
                                    <!-- richiedente -->
                                    <div class="h6 mt-1 mb-2 nowrap default-cursor">
                                        <i class="guida fas fa-address-book-o fa-fw mr-1 font-double-monitor"
                                           ngbTooltip="Richiedente"
                                           container="body"></i>
                                        <span *ngIf="r?.richiedente?.nominativo" class="font-double-monitor">
                                    <a ngbTooltip="{{ r?.richiedente?.nominativo }}" placement="right"
                                       [disableTooltip]="r?.richiedente?.nominativo?.length <= 20">
                                        {{ r?.richiedente?.nominativo | truncate:20 }}
                                    </a>
                                </span>
                                        <span class="ml-1 font-double-monitor">
                                    (
                                        <i class="guida fas fa-phone-alt fa-fw mr-1" ngbTooltip="Numero richiedente"></i>
                                        <a>{{ r?.richiedente?.telefono }}</a>
                                    )
                                </span>
                                    </div>
                                </div>
                                <div class="col-2 pr-3 text-right" [ngClass]="{'mb-1': isEspanso}">
                                    <div class="h6 m-0 nowrap my-1">
                                        <button *ngIf="espandibile"
                                                class="btn border py-0 px-0 mr-1 font-double-monitor"
                                                ngbTooltip="Espandi"
                                                [ngClass]="{'btn-light': !isEspanso, 'btn-secondary': isEspanso}"
                                                (click)="toggleEspanso(r.id); $event.stopPropagation()">
                                            <i class="fas fa-fw"
                                               [ngClass]="methods.toggleGestioneClass(isEspanso)"></i>
                                        </button>
                                        <button *ngIf="listaEventi"
                                                class="btn btn-light border py-0 px-1 mr-1 font-double-monitor"
                                                ngbTooltip="Elenco eventi"
                                                (click)="visualizzaEventiRichiesta(r.codice); $event.stopPropagation()">
                                            <i class="fas fa-fw fa-list text-secondary"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- TERZA RIGA IN SINGLE MONITOR -->
                            <div class="row">
                                <div class="clearfix mx-3">
                                </div>
                                <div class="col-3">
                                    <i class="guida fas fa-bolt fa-fw mr-1 font-double-monitor"
                                       ngbTooltip="Prima assegnazione"
                                       placement="right"></i>
                                    <span *ngIf="r.stato !== StatoRichiesta.Chiamata"
                                          class="font-double-monitor">
                                        <span *ngIf="r.istantePrimaAssegnazione">
                                            {{ r?.istantePrimaAssegnazione | friendlyDateTooltip }}
                                        </span>
                                    </span>

                                    <!-- presidiato / non presidiato (1) -->
                                    <span *ngIf="r?.stato === StatoRichiesta.Chiamata || !r?.istantePrimaAssegnazione"
                                          class="font-double-monitor">
                                        <span class="badge badge-warning text-white">Non Presidiato</span>
                            </span>
                                </div>
                                <div class="clearfix" style="flex: 0 0 54.5% !important;">
                                    <i class="guida fas fa-map-marker-alt fa-fw mr-1 font-double-monitor"
                                       ngbTooltip="Località"></i>
                                    <span class="font-double-monitor">
                                        <span ngbTooltip="{{ r?.localita?.indirizzo }}"
                                              class="font-double-monitor"
                                              [disableTooltip]="r?.localita?.indirizzo?.length <= 30">
                                            {{ r?.localita?.indirizzo | truncate:30 }}
                                        </span>
                                  </span>
                                    <span class="list-inline list-unstyled m-0 ml-2 font-double-monitor">
                                        <app-competenza *ngFor="let c of r?.competenze; let i = index"
                                                        [competenza]="c" [i]="i"></app-competenza>
                        </span>
                                </div>
                                <div class="col-2" [ngClass]="{'mb-1': isEspanso}" style="text-align: right">
                          <span class="h6 m-0 nowrap mt-1">
                          </span>
                                </div>
                            </div>

                            <!-- ESPANSO -->
                            <div *ngIf="isEspanso" class="col-md-12 default-cursor">
                                <div *ngIf="r?.localita?.note || r?.zoneEmergenza || r?.tags"
                                     class="col-md-12">
                                    <div class="row card bt-0 note-localita mt-1">
                                        <div class="col-md-12 bg_diagonal_grey">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="h6 mb-0 pt-2 pb-1">
                                                        <span *ngIf="r?.localita?.note">{{ r?.localita?.note }}</span>
                                                        <span *ngIf="!r?.localita?.note">Note località non presenti</span>
                                                    </div>
                                                    <div class="h5 mb-0 pull-right">
                                            <span *ngFor="let ze of r?.zoneEmergenza"
                                                  class="badge badge-danger pull-right m-1">
                                                {{ ze }}
                                            </span>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-right">
                                                    <i class="guida fas fa-tags fa-fw text-left mr-1"
                                                       title="Etichette"></i>
                                                    <span *ngFor="let tag of r?.tags"
                                                          class="badge badge-secondary text-right py-2 m-1"><i
                                                            class="fas fa-hashtag fa-fw text-left"></i>{{tag}}</span>
                                                    <span *ngIf="!r?.tags || (r?.tags && r?.tags?.length <= 0)">
                                            Non ci sono Tags
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- II livello di dettaglio -->
                                <div class="row mt-3">
                                    <!-- I colonna -->
                                    <div class="col-md-3">
                                        <!-- presa in carico -->
                                        <div class="h6">
                                            <i class="guida fas fa-calendar-check-o fa-fw mr-1"
                                               ngbTooltip="Presa in carico"
                                               placement="right"></i>
                                            <div *ngIf="methods._primoUtente(r?.listaUtentiPresaInCarico) as utentiPresaInCaricoValue; else nonPresaInCarico"
                                                 class="d-inline-block h6 m-0 mr-1" [ngbTooltip]="utentePresaInCarico">
                                                {{ utentiPresaInCaricoValue?.nominativo | truncate: 15 }}
                                                <ng-template #utentePresaInCarico>
                                                    <div>
                                                        {{getPresaInCaricoTooltip(utentiPresaInCaricoValue)?.nominativo}}
                                                    </div>
                                                    <div>
                                                        {{getPresaInCaricoTooltip(utentiPresaInCaricoValue)?.dataInizioAttivita | friendlyDate}}
                                                        {{getPresaInCaricoTooltip(utentiPresaInCaricoValue)?.dataInizioAttivita | friendlyHour: true}}
                                                    </div>
                                                </ng-template>
                                            </div>
                                            <div *ngIf="r?.listaUtentiPresaInCarico && r?.listaUtentiPresaInCarico?.length > 1"
                                                 ngbDropdown class="d-inline-block" placement="bottom">
                                                <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                        (click)="$event.stopPropagation()">
                                                    +{{ r?.listaUtentiPresaInCarico?.length - 1 }}
                                                </button>
                                                <div ngbDropdownMenu class="p-2 text-center">
                                                    <div *ngIf="methods._altriUtenti(r?.listaUtentiPresaInCarico) as utentiTooltip">
                                                        <div *ngFor="let utente of utentiTooltip">
                                                            {{utente?.nominativo}}
                                                            - {{utente?.dataInizioAttivita | friendlyDate}}
                                                            {{utente?.dataInizioAttivita | friendlyHour: true}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #nonPresaInCarico>
                                                <a class="badge badge-secondary text-light">
                                                    Non Presa in Carico
                                                </a>
                                            </ng-template>
                                        </div>

                                        <!-- in lavorazione -->
                                        <div class="h6">
                                            <i class="guida fas fa-eye fa-fw mr-1" ngbTooltip="In Lavorazione"
                                               placement="right"></i>
                                            <div *ngIf="methods._primoUtente(r?.listaUtentiInLavorazione) as utentiInLavorazioneValue; else nonInLavorazione"
                                                 class="d-inline-block m-0 mr-1"
                                                 [ngbTooltip]="getInLavorazioneTooltip(utentiInLavorazioneValue)"
                                                 [disableTooltip]="_inLavorazioneTooltipDisabled(utentiInLavorazioneValue)">
                                                {{ utentiInLavorazioneValue?.nominativo | truncate: 15 }}
                                            </div>
                                            <div *ngIf="r?.listaUtentiInLavorazione && r?.listaUtentiInLavorazione?.length > 1"
                                                 ngbDropdown class="d-inline-block" placement="bottom">
                                                <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                        (click)="$event.stopPropagation()">
                                                    +{{ r?.listaUtentiInLavorazione.length - 1 }}
                                                </button>
                                                <div ngbDropdownMenu class="p-2 text-center">
                                                    <div *ngIf="methods._altriUtenti(r?.listaUtentiInLavorazione) as utentiTooltip">
                                                        <div *ngFor="let utente of utentiTooltip">
                                                            {{utente?.nominativo}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #nonInLavorazione>
                                                <a class="badge badge-secondary text-light">Non in lavorazione</a>
                                            </ng-template>
                                        </div>

                                        <!-- scheda nue -->
                                        <div class="h6">
                                            <i class="guida fas fa-id-card-o fa-fw mr-1" ngbTooltip="Codice scheda NUE"
                                               placement="right"></i>
                                            <a *ngIf="r?.codiceSchedaNue; else nessunCodiceNue">
                                                {{ r?.codiceSchedaNue }}
                                            </a>
                                            <ng-template #nessunCodiceNue>
                                    <span class="badge badge-secondary text-light">
                                        Nessuna scheda NUE
                                    </span>
                                            </ng-template>
                                        </div>

                                        <!-- fonogramma -->
                                        <div class="h6">
                                            <i class="guida fas fa-paper-plane-o fa-fw mr-1"
                                               ngbTooltip="Stato Fonogramma"
                                               placement="right"></i>
                                            <span *ngIf="r?.fonogramma"
                                                  class="h6 badge m-0 cursor-pointer font-double-monitor"
                                                  [ngClass]="{'badge-success text-light': r?.fonogramma?.stato === StatoFonogramma.Inviato, 'badge-secondary text-light': r?.fonogramma?.stato === StatoFonogramma.NonNecessario, 'badge-warning text-light': r?.fonogramma?.stato === StatoFonogramma.DaInviare}"
                                                  (click)="onDettaglioStatoFonogramma(r); $event.stopPropagation()"
                                                  ngbTooltip="Visualizza Fonogramma">
                                    {{ getStatoFonogrammaStringByEnum(r?.fonogramma?.stato) }}
                                </span>
                                            <span *ngIf="!r.fonogramma"
                                                  class="badge badge-secondary text-white">
                                    Nessun Fonogramma
                                </span>
                                            <button *ngIf="inGestione" class="btn btn-sm btn-info ml-2"
                                                    ngbTooltip="Modifica Fonogramma"
                                                    (click)="onModificaStatoFonogramma(); $event.stopPropagation()">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>

                                        <!-- Sedi allertate -->
                                        <div>
                                            <div *ngIf="methods._primaSedeAllertata(r?.sediAllertate) as sediAllertate; else nonAllertata"
                                                 class="d-inline-block h6 m-0 mr-1" ngbTooltip="{{ sediAllertate }}"
                                                 [disableTooltip]="sediAllertate?.length <= 13" placement="bottom">
                                                <i class="guida fas fa-exclamation-triangle fa-fw mr-1 "
                                                   ngbTooltip="Sedi Allertate"
                                                   placement="right"></i>
                                                {{ sediAllertate | truncate: 13 }}
                                            </div>
                                            <div *ngIf="r?.codSOAllertate && r?.codSOAllertate?.length > 1"
                                                 ngbDropdown class="d-inline-block" placement="bottom">
                                                <button ngbDropdownToggle class="btn btn-light border py-0 px-1"
                                                        (click)="$event.stopPropagation()">
                                                    +{{ r?.codSOAllertate?.length - 1 }}
                                                </button>
                                                <div ngbDropdownMenu class="p-2 text-center">
                                                    <div *ngIf="methods._altreSediAllertate(r?.sediAllertate) as codSOAllertate">
                                                        <div *ngFor="let sede of codSOAllertate">
                                                            {{ sede }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #nonAllertata class="badge badge-secondary text-white">
                                                <!-- Nessuna Sede Allertata -->
                                            </ng-template>
                                        </div>
                                    </div>

                                    <!-- II colonna -->
                                    <div class="col-md-6 bg-red border p-2"
                                         [ngClass]="{'shadow border-info rounded': inGestione, 'border-light': !inGestione}">
                                        <div class="scroll-y"
                                             [ngClass]="{'m-h-160': inGestione, 'm-h-100': !inGestione}">
                                            <app-partial-loader *ngIf="loadingEliminaPartenza"></app-partial-loader>
                                            <app-lista-partenze [partenze]="r?.partenzeRichiesta"
                                                                [statoRichiesta]="r?.stato"
                                                                [inGestione]="inGestione"
                                                                [idDaSganciare]="idDaSganciare"
                                                                [sostituzioneFineTurnoActive]="_isSostituzioneFineTurnoActive(r?.partenzeRichiesta)"
                                                                (actionMezzo)="onActionMezzo($event)"
                                                                (eliminaPartenza)="onEliminaPartenza($event)"
                                                                (modificaPartenza)="onModificaPartenza($event)"
                                                                (sostituzioneFineTurno)="onSostituzioneFineTurno(r.partenzeRichiesta)">
                                            </app-lista-partenze>
                                        </div>
                                    </div>

                                    <!-- III colonna-->
                                    <div class="col-md-3">
                                        <!-- turno intervento -->
                                        <div class="h6 text-right">
                                <span *ngIf="r?.trnInsChiamata; else nessunTurno">
                                    {{r?.trnInsChiamata}}
                                    <i class="fas fa-fw fa-calendar-check-o guida ml-1"></i>
                                </span>
                                            <ng-template #nessunTurno>
                                                <a>-</a>
                                                <i class="guida far fa-clock fa-fw ml-1"
                                                   ngbTooltip="Turno non presente"
                                                   placement="right"></i>
                                            </ng-template>
                                        </div>

                                        <!-- enti intervenuti -->
                                        <div class="h6 text-right">
                                            <button *ngIf="inGestione"
                                                    class="btn btn-sm btn-info mr-2"
                                                    ngbTooltip="Modifica Enti Intervenuti"
                                                    (click)="onModificaEntiIntervenuti(); $event.stopPropagation()">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-light border big_font py-0 px-1"
                                                    ngbTooltip="Elenco Enti"
                                                    *ngIf="methods._entiCount(r?.listaEntiIntervenuti?.length, r?.listaEntiPresaInCarico?.length) as totaleEnti; else nessunEnte"
                                                    (click)="onListaEnti(); $event.stopPropagation()">
                                                {{ totaleEnti }}
                                            </button>
                                            <ng-template #nessunEnte>
                                    <span class="badge badge-secondary text-light"
                                          ngbTooltip="Al momento nessun ente è intervenuto">
                                        Nessun Ente
                                    </span>
                                            </ng-template>
                                            <i class="guida fas fa-industry fa-fw ml-1"
                                               ngbTooltip="Enti intervenuti o che hanno preso in carico la richiesta"
                                               placement="right"></i>
                                        </div>

                                        <!-- tipo terreno -->
                                        <div class="h6 text-right">
                                <span *ngIf="methods._terrenoMaggiore(r?.tipoTerreno) as tipoTerrenoValue; else noterreni"
                                      class="h6 m-0" [ngbTooltip]="tipoTerrenoValue?.terrenoMq">
                                    {{ tipoTerrenoValue?.terrenoHa }}
                                </span>
                                            <button *ngIf="r?.tipoTerreno && r?.tipoTerreno.length > 1"
                                                    class="btn btn-light border big_font py-0 px-1"
                                                    [ngbPopover]="terreni"
                                                    (click)="$event.stopPropagation()">
                                                +{{ r?.tipoTerreno?.length - 1 }}</button>
                                            <ng-template #terreni>
                                                <div *ngIf="methods._terreniMinori(r?.tipoTerreno) as terreniTooltip">
                                                    <div *ngFor="let terreno of terreniTooltip">
                                                        {{ methods._tipoTerreno(terreno)}}
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template #noterreni>
                                                -
                                            </ng-template>
                                            <i class="guida fas fa-tree fa-fw ml-1" ngbTooltip="Tipologia terreno"
                                               placement="right"></i>
                                        </div>

                                        <!-- complessità -->
                                        <div class="h6 text-right">
                                            <a><b>{{ r?.complessita?.indice }}</b></a>
                                            <span class="h6 badge m-0 ml-1" [ngClass]="complessitaClass(r)">{{
                                                r?.complessita?.descrizione }}</span>
                                            <i class="guida fas fa-gears fa-fw ml-1" ngbTooltip="Complessità"
                                               placement="right"></i>
                                        </div>

                                        <!-- Cambio Stato Richiesta (Gestione) -->
                                        <div *ngIf="inGestione" class="border p-2 mt-3"
                                             style="display: inline-flex; float: right;"
                                             [ngClass]="{'shadow border-info rounded': inGestione, 'border-light': !inGestione}">
                                            <div class="mr-2" style="display: inline-flex;">
                                                <button class="btn btn-sm btn-warning ml-2 mr-1"
                                                        ngbTooltip="Allerta Sede"
                                                        (click)="onAllertaSede(); $event.stopPropagation()">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </button>
                                                <button *ngIf="!r?.codiceRichiesta"
                                                        class="btn btn-sm btn-danger"
                                                        ngbTooltip="Trasferisci ad altro comando"
                                                        (click)="onAddTrasferimentoChiamata(r?.codice); $event.stopPropagation()">
                                                    <i class="fas fa-send-o"></i>
                                                </button>
                                            </div>
                                            <app-sintesi-richiesta-actions [richiesta]="r"
                                                                           (actionRichiesta)="onActionRichiesta($event)"></app-sintesi-richiesta-actions>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-secondary text-right" style="font-weight:600" (click)="onCancel()">
        {{ 'Annulla' | uppercase }}
    </button>
    <button class="btn btn-lg btn-danger text-right" style="font-weight:600"
            (click)="onSubmit()">
        {{ 'Conferma' | uppercase }}
    </button>
</div>
