h6, .h6 {
    font-size: 110% !important;
}

.font-double-monitor {
    font-size: 110% !important;
}

.rating-xl {
    font-size: 90% !important;
    margin-top: 8px;
    position: absolute;
    display: inline-grid !important;
    font: small-caption;
    transform: rotate(180deg);
}

.lista-richieste-size {
  width: 98%;
  padding-left: 30px;
  height: 800px;
  overflow: auto;
  overflow-x: hidden;
}
