<div class="container-fluid py-2">
    <ng-container *ngIf="!(dataGrafico$ | async)">
        <app-risultati-alert [items]="!!(dataGrafico$ | async)"
                             [loading]="!!(loading$ | async)">
        </app-risultati-alert>
    </ng-container>
    <ng-container *ngIf="(dataGrafico$ | async)">
        <div class="row mt-3"
             [ngClass]="heightCodaChiamate()"
             style="overflow-y: scroll">
            <app-partial-loader *ngIf="loading$ | async"></app-partial-loader>
            <ng-container *ngIf="(loading$ | async) === false">
                <!-- Grafico -->
                <div class="col-10">
                    <app-grafico-distaccamenti [data]="dataGrafico$ | async"
                                               [view]="[1450, ((dataGrafico$ | async)?.length * 70)]"
                                               [showXAxis]="false"
                                               [showYAxis]="true"
                                               [gradient]="true"
                                               [showLegend]="false"
                                               [legendTitle]="'Legenda'"
                                               [legendPosition]="'right'"
                                               [showXAxisLabel]="false"
                                               [xAxisLabel]="''"
                                               [showYAxisLabel]="false"
                                               [yAxisLabel]="''"
                                               [colorScheme]="{ domain: ['#AA4A4A', '#5AA454', '#AAAAAA'] }"
                                               [schemeType]="'ordinal'"
                                               [barPadding]="10"
                                               [groupPadding]="20"
                                               [showGridLines]="false"
                                               [showDataLabel]="true"
                                               [roundDomains]="true"
                                               [noBarWhenZero]="true"
                                               [roundEdges]="true"
                                               (selectChartItem)="onSelect($event)">
                    </app-grafico-distaccamenti>
                </div>
                <!-- Legenda Grafico -->
                <div class="col-2">
                    <div class="border border-light p-3" style="border-radius: 10px">
                        <h5>Legenda</h5>
                        <div class="d-flex align-items-center">
                            <div class="bg-danger mr-2" style="width: 25px; height: 25px;"></div>
                            <div>Chiamate</div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="bg-success mr-2" style="width: 25px; height: 25px;"></div>
                            <div>Squadre Libere</div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="bg-secondary mr-2" style="width: 25px; height: 25px;"></div>
                            <div>Squadre Occupate</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
