<li *ngIf="scheda" class="cursor-pointer py-1">
    <div class="row">
        <div class="col-1 text-right cursor-pointer py-1">
            <i [ngClass]="scheda.priorita | contattoPriorita"
               [ngbTooltip]="scheda.priorita === priorita.Altissima ? altaPriorita : bassaPriorita"></i>
            <ng-template #altaPriorita><b>Scheda ad alta priorità</b></ng-template>
            <ng-template #bassaPriorita>Scheda a bassa priorità</ng-template>
        </div>
        <div class="col-2 px-0 py-1">
            {{scheda.dataInserimento | date: 'dd/MM/yyyy HH:mm:ss'}}
        </div>
        <div class="col py-1">
            <i class="fa fa-map-marker mr-1"></i>
            {{scheda.localita.indirizzo}}
        </div>
        <div class="col-1 py-1 text-right cursor-pointer" ngbTooltip="Postazione Operatore">
            {{scheda.operatoreChiamata.codicePostazioneOperatore}}
            <i class="fa fa-desktop ml-1"></i>
        </div>
        <div class="offset-2 pr-4">
        </div>
    </div>
</li>
