<div class="card row_text pt-3 pb-2 px-3 mb-1" [ngClass]="{'status_presidiato': richiesta.stato === 'presidiato', 'status_chiamata': richiesta.stato === 'chiamata', 'status_assegnato': richiesta.stato === 'assegnato','status_sospeso': richiesta.stato === 'sospeso'}">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <div class="h6 nowrap">
                                <i class="guida fa fa-hashtag fa-fw mr-1" aria-hidden="true" title="Identificativo richiesta assistenza"></i>
                                <a class="h6 num-int" (click)="toggleEspanso()">{{ richiesta.codice
                                    }}</a> - {{richiesta.id}}
                                <i *ngIf="richiesta.rilevanza" ngbTooltip="Richiesta rilevante" class="fa fa-exclamation text-danger ml-2"
                                    aria-hidden="true"></i>
                            </div>

                            <div class="h6 nowrap default-cursor">
                                <i class="guida fa fa-clock-o fa-fw mr-1" aria-hidden="true" title="Ricezione richiesta"></i>
                                <a ngbTooltip="{{ richiesta.istanteRicezioneRichiesta | friendlyDateTooltip }}"
                                    placement="bottom">{{ time
                                    }}</a>

                            </div>
                            <div class="h6 nowrap default-cursor">
                                <span *ngIf="richiesta.stato !== 'chiamata'">
                                    <i class="guida fa fa-bolt fa-fw mr-1" aria-hidden="true" title="Prima assegnazione"></i>
                                    <a>{{ richiesta.istantePrimaAssegnazione | friendlyDateTooltip }}</a>
                                </span>

                                <!-- presidiato / non presidiato (1) -->
                                <span *ngIf="richiesta.stato === 'chiamata'">
                                    <span class="badge badge-warning text-white">non presidiato</span>
                                </span>
                            </div>
                        </div>

                        <!-- II colonna primo livello di dettaglio -->
                        <div class="col-6">
                            <!-- descrizione intervento (1) -->
                            <div class="h6 nowrap default-cursor">
                                <div *ngIf="richiesta.tipologie.length === 1; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <span>
                                        <i class="fa-fw mr-1 {{ coloraIcona(richiesta.tipologie[0].icona) }}"
                                            ngbTooltip="{{ richiesta.tipologie[0].descrizione }}"></i>
                                    </span>
                                </ng-template>
                                <ng-template #elseBlock>
                                    <span [ngbPopover]="popTipologie" placement="bottom" popoverTitle="Tipologie"
                                        triggers="click" tabindex="0">
                                        <span class="position-relative">
                                            <i class="fa-fw mr-1 {{ coloraIcona(richiesta.tipologie[0].icona) }}"
                                                ngbTooltip="{{ richiesta.tipologie[0].descrizione }}"></i>
                                            <span class="badge badge-notify text-light">{{richiesta.tipologie.length}}</span>
                                        </span>

                                    </span>

                                </ng-template>
                                <!-- ngbPopover tipologie intervento -->
                                <ng-template #popTipologie>
                                    <div class="h6" *ngFor="let t of richiesta.tipologie">
                                        <i class="fa-fw mr-1 {{ coloraIcona(t.icona) }}"></i>&nbsp;{{ t.descrizione }}
                                    </div>
                                </ng-template>
                                <span><a *ngIf="!!richiesta.tipologie && richiesta.tipologie.length > 0" class="h6 tipologia"
                                        ngbTooltip="{{ richiesta.descrizione }}" placement="bottom" [disableTooltip]="richiesta.descrizione.length <= 45">{{
                                        richiesta.descrizione | truncate:45 }}</a></span>
                            </div>

                            <!-- richiedente -->
                            <div class="h6 nowrap default-cursor">
                                <i class="guida fa fa-address-book-o fa-fw mr-1" aria-hidden="true" title="Richiedente"></i>
                                <span><a ngbTooltip="{{ richiesta.richiedente.nominativo }}" placement="bottom"
                                        [disableTooltip]="richiesta.richiedente.nominativo.length <= 20">{{
                                        richiesta.richiedente.nominativo | truncate:20 }}</a></span>
                                <span class="ml-1">(<i class="guida fa fa-phone fa-fw mr-1" aria-hidden="true" title="Numero richiedente"></i><a>{{
                                        richiesta.richiedente.telefono}}</a>)</span>
                            </div>

                            <!-- indirizzo -->
                            <div class="h6 nowrap default-cursor">
                                <i class="guida fa fa-map-marker fa-fw mr-1" aria-hidden="true" title="Località"></i>
                                <span><a ngbTooltip="{{ richiesta.localita.indirizzo }}" placement="bottom"
                                        [disableTooltip]="richiesta.localita.indirizzo.length <= 30">{{
                                        richiesta.localita.indirizzo | truncate:30 }}</a></span>
                                <a href="#">
                                    <i class="guida fa fa-globe fa-fw globo-loc ml-1" aria-hidden="true" title="Localizzazione Richiesta Intervento"
                                        (click)="localizzaIntervento(richiesta.id)"></i>
                                </a>
                                <span class="list-inline list-unstyled m-0 ml-2">
                                    <app-competenza *ngFor="let c of richiesta.competenze; let i = index" [competenza]="c"
                                        [i]="i"></app-competenza>
                                </span>
                            </div>
                        </div>

                        <!-- indicatori stato richiesta -->
                        <div class="col-3 pr-3 text-right">
                            <div class="h6">
                                <!-- squadre -->
                                <span class="nowrap default-cursor text-right">
                                    <i class="guida fa fa-users fa-fw mr-1" aria-hidden="true" title="Numero Squadre"></i>
                                    <a class="h6 big_numbers" [ngbPopover]="popSquadre" placement="bottom" popoverTitle="Squadre"
                                        triggers="click" tabindex="0">{{ numeroSquadre() }}</a>

                                    <ng-template #popSquadre>
                                        <div class="h6" *ngFor="let s of nomiSquadre()">
                                            <span>{{ s }}</span>
                                        </div>
                                        <h6 class="mb-0" *ngIf="numeroSquadre() === 0">Nessuna squadra</h6>
                                    </ng-template>
                                </span>

                                <!-- mezzi -->
                                <span class="nowrap default-cursor text-right">
                                    <i class="guida fa fa-truck fa-fw ml-1 mr-1" aria-hidden="true" title="Numero Mezzi"></i>
                                    <a class="h6 big_numbers" [ngbPopover]="popMezzi" placement="bottom" popoverTitle="Mezzi"
                                        triggers="click" tabindex="0">{{ numeroMezzi() }}</a>

                                    <ng-template #popMezzi>
                                        <div class="h6 nowrap" *ngFor="let m of nomiMezzi()">
                                            <span>{{ m }}</span>
                                        </div>
                                        <h6 class="mb-0" *ngIf="numeroMezzi() === 0">Nessun mezzo</h6>
                                    </ng-template>
                                </span>
                            </div>

                            <div class="h6 nowrap default-cursor my-1">
                                <i class="guida fa fa-thermometer-half fa-fw" aria-hidden="true" title="Priorità della richiesta"></i>
                                <span class="h6" [ngClass]="{'text-success':richiesta.priorita <= 2, 'text-warning':richiesta.priorita > 2 && richiesta.priorita <= 4, 'text-danger': richiesta.priorita == 5}">
                                    <i *ngFor="let n of vettorePallini()" class="fa fa-circle" aria-hidden="true"></i><i
                                        *ngFor="let n of vettoreBuchini()" class="fa fa-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="h5 nowrap">
                                <button class="btn btn-default py-0 mr-1" ngbTooltip="Espandi" placement="bottom"
                                    (click)="toggleEspanso()">
                                    <i class="fa fa-fw fa-info text-secondary"></i>
                                </button>
                                <button class="btn btn-default py-0 mr-1" ngbTooltip="Elenco eventi" placement="bottom"
                                    (click)="visualizzaEventiRichiesta(richiesta.id)">
                                    <i class="fa fa-fw fa-list text-secondary"></i>
                                </button>
                                <button class="btn btn-default py-0" ngbTooltip="Invio partenza" placement="bottom"
                                    (click)="invioPartenza(richiesta.id)">
                                    <i class="fa fa-fw fa-arrow-right text-secondary"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- box note localita e zone emergenza -->
                <div *ngIf="espanso" class="col-md-12 default-cursor">
                    <div class="col-md-12">
                        <div class="row card bt-0 note-localita">
                            <div class="col-md-12 bg_diagonal_grey">
                                <div class="h3">
                                    <div class="h6 p-2">
                                        {{ richiesta.localita.note }}
                                    </div>
                                    <div class="h5 pull-right">
                                        <span *ngFor="let ze of richiesta.zoneEmergenza" class="badge badge-danger pull-right m-1">{{
                                            ze }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- prima colonna II livello di dettaglio -->
                    <div class="row mt-3">
                        <div class="col-md-3">

                            <!-- presa in carico -->
                            <div class="h6">
                                <i class="guida fa fa-calendar-check-o fa-fw mr-1" aria-hidden="true" title="Presa in carico"></i>
                                <a ngbTooltip="{{ richiesta.istantePresaInCarico | friendlyDateTooltip }}" placement="bottom">{{richiesta.istantePresaInCarico
                                    | friendlyDate }} {{ richiesta.istantePresaInCarico | friendlyHour }}</a>
                            </div>

                            <!-- scheda nue -->
                            <div class="h6">
                                <i class="guida fa fa-id-card-o fa-fw mr-1" aria-hidden="true" title="Codice scheda NUE"></i>
                                <a class="text-warning"><b>{{ richiesta.codiceSchedaNue }}</b></a>
                            </div>

                            <!-- fonogramma -->
                            <div class="h6">
                                <i class="guida fa fa-paper-plane-o fa-fw mr-1" aria-hidden="true" title="Stato Fonogramma"></i>
                                <span class="h6 badge m-0" [ngClass]="{'badge-success text-white':richiesta.fonogramma.codice == 2, 'badge-secondary':richiesta.fonogramma.codice == 0, 'badge-warning text-white':richiesta.fonogramma.codice == 1}">
                                    {{ richiesta.fonogramma.descrizione }}
                                </span>
                            </div>

                            <!-- complessità -->
                            <div class="h6">
                                <i class="guida fa fa-gears fa-fw mr-1" aria-hidden="true" title="Complessità"></i>
                                <a><b>{{ richiesta.complessita.indice }}</b></a>
                                <span class="h6 badge m-0 ml-1" [ngClass]="{'badge-success':richiesta.complessita.codice == 2, 'badge-warning':richiesta.complessita.codice == 1, 'badge-danger':richiesta.complessita.codice == 0}">{{
                                    richiesta.complessita.descrizione }}</span>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="card">
                                <div class="row">
                                    <div class="col-6 pr-0">
                                        <div class="h6 text-center text-light bg-secondary py-2 m-0">
                                            <i class="fa fa-person"></i>Squadre coinvolte
                                        </div>
                                        <div class="h6">
                                            <ul class="list-group list-group-flush" *ngFor="let p of richiesta.partenze">
                                                <li *ngFor="let s of p.squadre" class="list-group-item">
                                                    <div class="row mx-auto">
                                                        <div class="col-md-8">
                                                            <i class="guida fa fa-fire-extinguisher fa-fw" aria-hidden="true"
                                                                title="Squadra"></i>
                                                            <span>{{ s.nome }}</span>
                                                        </div>
                                                        <div class="col-md-4 text-right">
                                                            <a title="Componenti squadra" [ngbPopover]="popComponenti"
                                                                placement="bottom" popoverTitle="Componenti" triggers="click"
                                                                tabindex="0">
                                                                <i class="guida fa fa-address-book-o" aria-hidden="true"
                                                                    title="Componenti squadra"></i>
                                                            </a>

                                                            <ng-template #popComponenti>
                                                                <div class="h6">
                                                                    <div *ngFor="let c of s.componenti">
                                                                        <app-componente [componente]="c"></app-componente>
                                                                    </div>
                                                                    <span *ngIf="!s.componenti">Nessun
                                                                        Componente</span>
                                                                </div>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li *ngIf="numeroSquadre() === 0" class="list-group-item pl-2 pr-2">
                                                    Nessuna squadra
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <div class="h6 text-center text-light bg-secondary py-2 m-0">
                                            <i class="fa fa-team"></i>Mezzi coinvolti
                                        </div>
                                        <div class="h6 m-0">
                                            <ul class="list-group list-group-flush border-left">
                                                <span *ngFor="let p of richiesta.partenze">
                                                    <app-mezzo *ngFor="let m of p.mezzi" [mezzo]="m"></app-mezzo>
                                                </span>
                                                <li *ngIf="numeroMezzi() === 0" class="list-group-item pl-2 pr-2">
                                                    Nessun mezzo
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TAGS-->
                        <div class="card-text col-md-12">
                            <div class="card mt-3" style="background-color: lavender">
                                <div class="col-md-12 h6 text-right mt-2">
                                    <i class="guida fa fa-tags fa-fw text-left m-1" aria-hidden="true" title="Etichette"></i>
                                    <span class="badge badge-success text-right m-1">Incendi Estivi</span>
                                    <span class="badge badge-secondary text-right m-1">Fuori Città</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>