<div class="section">
  <div class="row">
    <div class="col col-md-12 card card-block m-1 h6" style="background-color:#ededed;">
      <div class="row">
        <!--   <div class="col col-md-12 card card-block alert-danger m-1 h6">  -->
        <div class="col col-md-2">
            <a class="card danger">
              <div class="row">
                <span class="col col-md-4">
                  <i class="fa fa-tags fa-4x" style="color:#ff4444; margin-left:15px; margin-top:15px; margin-bottom:15px; text-shadow:  4px -2px 3px #f8b3b3;"></i>
                </span>
                <span class="col col-md-8">
                  <p>
                    <strong class="card-text" style="color:#ff4444; text-shadow:  4px -2px 3px rgb(247, 156, 156);">Chiamate </strong>
                    <span class="badge badge-pill badge-danger pull-right">{{info.numChiamate}}</span>
                  </p>
                  <p>
                    <strong class="card-text" style="color:#ff4444; text-shadow:  4px -2px 3px rgb(247, 156, 156);">Interventi aperti </strong>
                    <span class="badge badge-pill badge-primary pull-right">{{info.numIntAperti}}</span>
                  </p>
                  <ul>
                    <li class="card-text" style="color:#ff4444; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(247, 156, 156);">Non Presidiati<span class="badge badge-pill badge-warning pull-right" style="color: #ffffff;">{{ig.numIntNonPresidiati}}</span>
                    </li>
                    <li class="card-text" style="color:#ff4444; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(247, 156, 156);">Presidiati<span class="badge badge-pill badge-success pull-right">{{ig.numIntPresidiati}}</span>
                    </li>
                    <li class="card-text" style="color:#ff4444; padding-top:4px; font-weight: bold; padding-bottom:7px; text-shadow:  4px -2px 3px rgb(247, 156, 156);">Sospesi<span class="badge badge-pill badge-warning pull-right" style="color: #ffffff;">{{ig.numIntSospesi}}</span>
                    </li>
                  </ul>
                </span>
              </div>
            </a>
          </div>
          <div class="col col-md-2">
          <a class="card text-muted">
            <div class="row">
              <span class="col col-md-4">
                <i class="fa fa-users fa-4x" style="color:#0d47a1; text-shadow:  4px -2px 3px rgb(127, 137, 245); margin-left:15px; margin-top:20px; border-color:transparent; border-radius:15px; "></i>
              </span>
              <span class="col col-md-8">
                <ul>
                  <li class="card-text" style="font-size:13px; color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">Squadre</li>
                  <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Sede<span class="badge badge-pill badge-default pull-right">{{squadreInSede}}</span>
                  </li>
                  <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Viaggio<span class="badge badge-pill badge-success pull-right">{{squadreInViaggio}}</span>
                  </li>
                  <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">Sul posto<span class="badge badge-pill badge-success pull-right">{{squadreSulPosto}}</span>
                  </li>
                  <li class="card-text" style="color:#0d47a1; padding-top:4px; padding-bottom:8px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Rientro<span class="badge badge-pill badge-primary pull-right">{{squadreInRientro}}</span>
                  </li>
                </ul>
                </span>
              </div>
          </a>
        </div>
        <div class="col col-md-2">
                  <a class="card text-muted">
                    <div class="row">
                      <span class="col col-md-4">
                        <i class="fa fa-truck fa-4x" style="color:rgba(58, 130, 106, 1); text-shadow:  4px -2px 3px rgba(100, 196, 164, 1); margin-left:15px; margin-top:20px; border-color:transparent; border-radius:15px; "></i>
                      </span>
                      <span class="col col-md-8">
                        <h5>
                          <strong class="card-text" style="color:rgba(34, 89, 70, 1); margin-top:10px; text-shadow:  4px -2px 3px rgba(100, 196, 164, 1);">APS</strong>
                        </h5>
                        <ul>
                          <li class="card-text" style="color:rgba(34, 89, 70, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgba(100, 196, 164, 1);">In Sede<span class="badge badge-pill badge-success pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(34, 89, 70, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgba(100, 196, 164, 1);">In Viaggio<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(34, 89, 70, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgba(100, 196, 164, 1);">Sul posto<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(34, 89, 70, 1); padding-top:4px; padding-bottom:8px; font-weight: bold; text-shadow:  4px -2px 3px rgba(100, 196, 164, 1);">In Rientro<span class="badge badge-pill badge-info pull-right">1</span>
                          </li>
                        </ul>
                        </span>
                      </div>
                  </a>
           </div>
                <div class="col col-md-2">
                  <a class="card text-muted"  style="color:rgba(191, 149, 64, 1)">
                    <div class="row">
                      <span class="col col-md-4">
                        <i class="fa-stack fa-2x">
                        <i class="fa fa-truck fa-3x" style="border-color:transparent; border-radius:15px; color:white; background: linear-gradient(to right, rgb(174, 176, 64), rgb(208, 209, 168)); text-shadow:  4px -2px 3px rgb(193, 207, 66);"></i> 
                        </i>       
                      </span>
                      <span class="col col-md-8">
                        <h5>
                         <strong class="card-text" style="color:rgba(191, 149, 64, 1); margin-bottom:10px; text-shadow:  4px -2px 3px rgb(184, 190, 67);">AS</strong>
                        </h5>
                         <ul>
                          <li class="card-text" style="color:rgba(191, 149, 64, 1); padding-top:2px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 67);">In Sede<span class="badge badge-pill badge-success pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(191, 149, 64, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 67);">In Viaggio<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(191, 149, 64, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 67);">Sul posto<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgba(191, 149, 64, 1); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 67);">In Rientro<span class="badge badge-pill badge-info pull-right">1</span>
                          </li>
                        </ul>
                        </span>
                     </div>
                  </a>
                </div>
                <div class="col col-md-2">
                  <a class="card text-muted"  style="color:rgb(64, 155, 191)">
                    <div class="row">
                      <span class="col col-md-4">
                        <i class="fa-stack fa-2x">
                        <i class="fa fa-truck fa-3x" style="border-color:transparent; border-radius:15px; color:white; background: linear-gradient(to right, rgb(64, 155, 191), rgb(187, 197, 201)); text-shadow:  4px -2px 3px rgb(115, 175, 197);"></i> 
                        </i>       
                      </span>
                      <span class="col col-md-8">
                        <h5>
                         <strong class="card-text" style="color:rgb(64, 155, 191); margin-bottom:10px; text-shadow:  4px -2px 3px rgb(138, 181, 197);">ABP</strong>
                        </h5>
                         <ul>
                          <li class="card-text" style="color:rgb(64, 155, 191); padding-top:2px; font-weight: bold; text-shadow:  4px -2px 3px rgb(138, 181, 197);">In Sede<span class="badge badge-pill badge-success pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgb(64, 155, 191); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(138, 181, 197);">In Viaggio<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgb(64, 155, 191); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(138, 181, 197);">Sul posto<span class="badge badge-pill badge-chiamate pull-right">2</span>
                          </li>
                          <li class="card-text" style="color:rgb(64, 155, 191); padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(138, 181, 197);">In Rientro<span class="badge badge-pill badge-info pull-right">1</span>
                          </li>
                        </ul>
                        </span>
                     </div>
                  </a>
                </div>
                <div class="col col-md-2">
                    <a class="card text-muted"  style="color:rgb(64, 155, 191)">
                      <div class="row">
                        <span class="col col-md-4">
                          <i class="fa-stack fa-2x">
                          <i class="fa fa-cloud fa-2x" style="margin-top:15px; margin-left:10px; border-color:transparent; border-radius:15px; color:white; background: linear-gradient(to right, rgb(64, 155, 191), rgb(191, 201, 204)); text-shadow:  4px -2px 3px rgb(115, 175, 197);"></i> 
                          </i>   
                        </span>
                        <span class="col col-md-2">
                        </span>  
                        <span class="col col-md-6">
                          <h6>
                           <strong class="card-text" style="color:rgb(64, 155, 191); margin-bottom:10px; text-shadow:  4px -2px 3px rgb(142, 184, 199);"><i class="fa fa-thermometer-half" aria-hidden="true"></i> : 20°</strong>
                          </h6>
                          <h6>
                           <strong class="card-text" style="color:rgb(64, 155, 191); margin-top:0px; text-shadow:  4px -2px 3px rgb(142, 184, 199);"><i class="fa fa-tint" aria-hidden="true"></i> : 30%</strong>
                          </h6>
                          <h6>
                            <strong class="card-text" style="color:rgb(64, 155, 191); margin-top:0px; text-shadow:  4px -2px 3px rgb(142, 184, 199);"><i class="fa fa-umbrella" aria-hidden="true"></i> : 60%</strong>
                          </h6>
                          <h6>
                           <strong class="card-text" style="color:rgb(64, 155, 191); margin-top:0px; text-shadow:  4px -2px 3px rgb(142, 184, 199);"><i class="fa fa-snowflake-o" aria-hidden="true"></i> bassa</strong>
                          </h6>
                        </span>
                       </div>
                    </a>
                  </div>
                  <div class="col col-md-2">
                      <a class="card text-muted"  style="color:rgba(212, 200, 43, 1)">
                        <div class="row">
                          <span class="col col-md-4">
                            <i class="fa-stack fa-2x">
                            <i class="fa fa-sun-o fa-2x" style="margin-top:15px; margin-left:10px; border-color:transparent; border-radius:15px; color:white; background: linear-gradient(to right, rgba(212, 200, 43, 1), rgb(218, 214, 179)); text-shadow:  4px -2px 3px rgba(212, 200, 43, 1);"></i> 
                            </i>   
                          </span>
                          <span class="col col-md-2">
                          </span>  
                          <span class="col col-md-6">
                            <h6>
                             <strong class="card-text" style="color:rgb(214, 198, 21); margin-bottom:10px; text-shadow:  4px -2px 3px rgb(216, 211, 159);"><i class="fa fa-thermometer-half" aria-hidden="true"></i> : 22°</strong>
                            </h6>
                            <h6>
                             <strong class="card-text" style="color:rgb(214, 198, 21); margin-top:0px; text-shadow:  4px -2px 3px rgb(216, 211, 159);"><i class="fa fa-tint" aria-hidden="true"></i> : 10%</strong>
                            </h6>
                            <h6>
                              <strong class="card-text" style="color:rgb(214, 198, 21); margin-top:0px; text-shadow:  4px -2px 3px rgb(216, 211, 159);"><i class="fa fa-umbrella" aria-hidden="true"></i> : 3%</strong>
                            </h6>
                            <h6>
                             <strong class="card-text" style="color:rgb(214, 198, 21); margin-top:0px; text-shadow:  4px -2px 3px rgb(216, 211, 159);"><i class="fa fa-snowflake-o" aria-hidden="true"></i>bassa</strong>
                            </h6>
                          </span>
                         </div>
                      </a>
                    </div>
                  <div class="col col-md-2">
                      <a class="card text-muted"  style="color:rgba(60, 173, 195, 1)">
                        <div class="row">
                          <span class="col col-md-2">
                            <i class="fa-stack fa-2x">
                            <i class="fa fa-graduation-cap fa-3x" style="border-color:transparent; border-radius:15px; color:white; background: linear-gradient(to right, rgb(43, 212, 170), rgb(180, 214, 206)); text-shadow:  4px -2px 3px rgb(144, 216, 198);"></i> 
                            </i>   
                          </span>
                          <span class="col col-md-2">
                          </span>
                          <span class="col col-md-8">
                           <p>
                            <strong class="card-text" style="color:rgba(60, 173, 195, 1); text-shadow:  4px -2px 3px rgba(142, 207, 220, 1);">Funz. di Guardia:</strong>
                           </p>
                           <ul>
                              <li class="card-text" style="color:rgba(60, 173, 195, 1); font-weight: bold; padding-top:8px; text-shadow:  4px -2px 3px rgba(142, 207, 220, 1);">Emilio Rossi
                              </li>
                           </ul> 
                           <ul>
                              <li class="card-text" style="color:transparent; padding-top:12px;">
                              </li>
                           </ul>  
                           <p>
                             <strong class="card-text" style="color:rgba(60, 173, 195, 1); text-shadow:  4px -2px 3px rgba(142, 207, 220, 1);">Capo Turno:</strong>
                           </p>
                           <ul>
                              <li class="card-text" style="color:rgba(60, 173, 195, 1); font-weight: bold; padding-top:8px; text-shadow:  4px -2px 3px rgba(142, 207, 220, 1);">Giuseppe Verdi
                              </li>
                           </ul>  
                          </span>
                         </div>
                      </a>
                  </div>
                 
      <!--  </div>  -->
      </div>
     </div>
  </div>
</div>



