<div class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8 pr-0">
                <i class="fa fa-medkit mb-2 mr-1"></i><span class="font-weight-bold">Richieste: {{interventi.totale}}</span>
                <small>
                    <span class="ml-2 mr-1">Turno {{interventi.nomeTurnoPrecedente}}:</span>
                    <span class="font-weight-bold">{{interventi.totTurnoPrecedente}}</span>
                    <span class="mx-1 fa fa-arrow-right fa-fw"></span>
                    <span class="mr-1">Turno {{interventi.nomeTurnoCorrente}}:</span>
                    <span class="font-weight-bold">{{interventi.totTurnoCorrente}}</span>
                </small>
            </div>
            <div class="col-4 ml-auto pl-0 text-right text-secondary">
                <i class="fa fa-calendar-plus-o mb-2 mr-1"></i>
                <small>
                    <span class="mr-1">{{interventi.annoCorrente}}:</span>
                    <span class="font-weight-bold">{{interventi.totAnnoCorrente}}</span>
                </small>
            </div>
        </div>
        <hr class="m-0 mb-2">
    </div>
    <!-- sinistra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">Chiamate</span></li>
                            <li><span class="d-inline-block h6">Sospesi</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge h6 w-75 cursor-pointer"
                                      [ngClass]="{'badge-secondary': interventi.chiamate === 0,'badge-danger': interventi.chiamate > 0, 'border-click-checked': boxClick.richieste.chiamate}" (click)="clickRichieste('chiamate')">{{interventi.chiamate}}</span>
                            </li>
                            <li><span class="badge badge-warning h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick.richieste.sospesi}" (click)="clickRichieste('sospesi')">{{interventi.sospesi}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- destra -->
    <div class="col-6">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col pr-0 text-secondary">
                        <ul class="list-unstyled m-0">
                            <li><span class="d-inline-block h6">Assegnati</span></li>
                            <li><span class="d-inline-block h6">Presidiati</span></li>
                        </ul>
                    </div>
                    <div class="col px-0 text-secondary text-center">
                        <ul class="list-unstyled m-0">
                            <li><span class="badge badge-info h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick.richieste.assegnati}" (click)="clickRichieste('assegnati')">{{interventi.assegnati}}</span></li>
                            <li><span class="badge badge-success h6 w-75 cursor-pointer" [ngClass]="{'border-click-checked': boxClick.richieste.presidiati}" (click)="clickRichieste('presidiati')">{{interventi.presidiati}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>