<div class="container">
  <div class="row">
    <div class="col-md-3">
      3 colonne
      <button type="button" class="btn btn-warning">Attento!</button>
    </div>
    <div class="col-md-9">
      9 colonne
    </div>
  </div>
</div>


	  <b>Angular 2 Component Using Observables!</b>
	 
	  <h6 style="margin-bottom: 0">VALUES:</h6>
	  <div *ngFor="let value of values">- {{ value }}</div>
	  
	  <h6 style="margin-bottom: 0">ERRORs:</h6>
	  <div>Errors: {{anyErrors}}</div>
	  
	  <h6 style="margin-bottom: 0">FINISHED:</h6>
	  <div>Finished: {{ finished }}</div>
	  
	  <button style="margin-top: 2rem;" (click)="init()">Init</button>

