@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/snazzy-info-window/dist/snazzy-info-window.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-ui-switch/ui-switch.component.scss";
// if you'd like to use it without importing all of bootstrap it requires
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

@font-face {
  font-family: "icon-marker";
  src: url("./assets/fonts/icon-marker.eot?7adah4");
  src: url("./assets/fonts/icon-marker.eot?7adah4#iefix") format("embedded-opentype"),
  url("./assets/fonts/icon-marker.ttf?7adah4") format("truetype"),
  url("./assets/fonts/icon-marker.woff?7adah4") format("woff"),
  url("./assets/fonts/icon-marker.svg?7adah4#icon-marker") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100vh;
}

// Dropdown Google Places

.pac-container {
  z-index: 99999 !important;
}

// End Dropdown Google Places

.map-translate {
  transform: translate(-10px, -110px);
}

.sun-mode {
  background-color: #fdfdfd !important;
}

.moon-mode {
  background-color: #343a40 !important;
}

.moon-mode-box {
  background-color: #343a40 !important;
  color: #fdfdfd !important;
}

.moon-text {
  color: #fdfdfd !important;
}

.moon-card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.moon-card-light {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #464e56 !important;
  border-radius: 0.25rem;
  -webkit-box-shadow: 1px 1px 2px 1px #dee2e6;
  -moz-box-shadow: 1px 1px 2px 1px #dee2e6;
  box-shadow: 1px 1px 2px 1px #dee2e6;
}

.bg-moon-light {
  background-color: #464e56 !important;
}

.moon-cod {
  color: #fdfdfd !important;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}

.moon-hr {
  border-top: 1px solid #fdfdfd !important;
}

.modal-holder {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.xlModal {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 650px !important;
  width: 65% !important;
}

.squadrePartenza {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.squadrePartenza > .modal-dialog {
  max-width: 590px !important;
  min-width: 100px !important;
  width: 45% !important;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.enti {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.enti > .modal-dialog {
  max-width: 590px !important;
  min-width: 100px !important;
  width: 45% !important;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.modalModificaRichiesta {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.modalModificaRichiesta > .modal-dialog {
  max-width: 1490px !important;
  min-width: 650px !important;
  width: 50% !important;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

@keyframes jumpIn {
  0% {
    transform: scale(0.65)
  }
  100% {
    transform: scale(1)
  }
}

.app-shadow {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
  box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
}

.app-shadow-danger {
  -webkit-box-shadow: 1px 1px 2px 1px #dc3545;
  -moz-box-shadow: 1px 1px 2px 1px #dc3545;
  box-shadow: 1px 1px 2px 1px #dc3545;
}

.app-shadow-primary {
  -webkit-box-shadow: 1px 1px 2px 1px #007bff;
  -moz-box-shadow: 1px 1px 2px 1px #007bff;
  box-shadow: 1px 1px 2px 1px #007bff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  /* font-weight: bold !important; */
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
  transform: scale(1) !important;
}

.status_preaccoppiato_nonselezionato {
  border-top: 5px solid #dc3545;
}

.status_preaccoppiato_selezionato {
  border-top: 5px solid #007bff;
}

/* input custom */
input {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #f3f3f3;
  border: 1px solid #888888;
}

input:focus {
  font-weight: bolder;
  background-color: #f3f3f3;
  border: 1px solid #cacaca;
}

input:valid {
  background-color: #f3f3f3;
}

input:invalid {
  font-weight: bolder;
  // background-color: #ffff52;
  border: 1px solid #d61616 !important;
}

textarea:valid {
  background-color: #f3f3f3;
}

tag-input {
  background-color: #f3f3f3;
}

/* icone di guida */
.guida {
  color: #bbbbbb;
}

.cod-int {
  color: #000000 !important;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}

.descrizione-int {
  color: rgb(221, 132, 68) !important;
}

.nowrap {
  white-space: nowrap;
}

.m-h-690 {
  height: 690px;
  max-height: 690px;
}

.m-h-677 {
  height: 677px;
  max-height: 677px;
}

.m-h-795 {
  height: 795px;
  max-height: 795px;
}

.m-h-572 {
  height: 572px;
  max-height: 572px;
}

.m-h-400 {
  height: 449px;
  max-height: 449px;
}

.m-h-300 {
  height: 284px;
  max-height: 284px;
}

/* Shadow richieste */
.card-shadow {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
  box-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
}

.card-shadow-primary {
  -webkit-box-shadow: 2px 0 2px 0.5px #007bff;
  -moz-box-shadow: 2px 0 2px 0.5px #007bff;
  box-shadow: 2px 0 2px 0.5px #007bff;
}

.card-shadow-info {
  -webkit-box-shadow: 2px 0 2px 0.5px #17a2b8;
  -moz-box-shadow: 2px 0 2px 0.5px #17a2b8;
  box-shadow: 2px 0 2px 0.5px #17a2b8;
}

.card-shadow-success {
  -webkit-box-shadow: 2px 0 2px 0.5px #28a745;
  -moz-box-shadow: 2px 0 2px 0.5px #28a745;
  box-shadow: 2px 0 2px 0.5px #28a745;
}

.card-shadow-danger {
  -webkit-box-shadow: 2px 0 2px 0.5px #dc3545;
  -moz-box-shadow: 2px 0 2px 0.5px #dc3545;
  box-shadow: 2px 0 2px 0.5px #dc3545;
}

.card-shadow-warning {
  -webkit-box-shadow: 2px 0 2px 0.5px #ffc107;
  -moz-box-shadow: 2px 0 2px 0.5px #ffc107;
  box-shadow: 2px 0 2px 0.5px #ffc107;
}

.card-shadow-secondary {
  -webkit-box-shadow: 2px 0 2px 0.5px #868e96;
  -moz-box-shadow: 2px 0 2px 0.5px #868e96;
  box-shadow: 2px 0 2px 0.5px #868e96;
}

.card-shadow-orange {
  -webkit-box-shadow: 2px 0 2px 0.5px #ff8800;
  -moz-box-shadow: 2px 0 2px 0.5px #ff8800;
  box-shadow: 2px 0 2px 0.5px #ff8800;
}

/* Shadow soft */
.card-shadow-primary-soft {
  -webkit-box-shadow: 0 0 4px 2px #007bffa2;
  -moz-box-shadow: 0 0 4px 2px #007bffa2;
  box-shadow: 0 0 4px 2px #007bffa2;
}

.card-shadow-info-soft {
  -webkit-box-shadow: 0 0 4px 2px #17a2b8;
  -moz-box-shadow: 0 0 4px 2px #17a2b8;
  box-shadow: 0 0 4px 2px #17a2b8;
}

.card-shadow-success-soft {
  -webkit-box-shadow: 0 0 4px 2px #28a745;
  -moz-box-shadow: 0 0 4px 2px #28a745;
  box-shadow: 0 0 4px 2px #28a745;
}

.card-shadow-danger-soft {
  -webkit-box-shadow: 0 0 4px 2px #dc3545;
  -moz-box-shadow: 0 0 4px 2px #dc3545;
  box-shadow: 0 0 4px 2px #dc3545;
}

.card-shadow-warning-soft {
  -webkit-box-shadow: 0 0 4px 2px #ffc107;
  -moz-box-shadow: 0 0 4px 2px #ffc107;
  box-shadow: 0 0 4px 2px #ffc107;
}

.card-shadow-secondary-soft {
  -webkit-box-shadow: 0 0 4px 2px #868e96;
  -moz-box-shadow: 0 0 4px 2px #868e96;
  box-shadow: 0 0 4px 2px #868e96;
}

/* Status richieste */
.status_presidiato {
  border-left: 10px solid #28a745;
}

.status_chiamata {
  border-left: 10px solid #dc3545;
}

.status_sospeso {
  // border-left: 10px solid #ff8800;
  border-left: 10px solid #ffc107;
}

.status_assegnato {
  border-left: 10px solid #ffc107;
}

.status_chiuso {
  border-left: 10px solid #868e96;
}

/* Status Mezzo */
.status_inSede {
  border-top: 5px solid #28a745;
}

.status_inRientro {
  border-top: 5px solid #92b565;
}

.status_inViaggio {
  border-top: 5px solid #ffc107;
}

.status_sulPosto {
  border-top: 5px solid #dc3545;
}

.status_istituto {
  border-top: 5px solid #868e96;
}

/* Status Border Mezzo */
.status_border_inSede {
  border-left: 10px solid #28a745 !important;
}

.status_border_inRientro {
  border-left: 10px solid #92b565 !important;
}

.status_border_inUscita {
  border-left: 10px solid #6c757d !important;
}

.status_border_inViaggio {
  border-left: 10px solid #ffc107 !important;
}

.status_border_sulPosto {
  border-left: 10px solid #dc3545 !important;
}

.status_border_istituto {
  border-left: 10px solid #868e96 !important;
}

.text-verdemela {
  color: #92b565 !important;
}

.badge-verdemela {
  background-color: #92b565 !important;
  color: #fff !important;
}

.badge-rosso-des {
  background-color: rgba(204, 64, 78, 0.45) !important;
  color: #fff !important;
}

.btn-verdemela {
  background-color: #92b565 !important;
  color: #fff !important;
}

.btn-no-style {
  background: none !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  font: inherit !important;
  outline: inherit !important;
  cursor: not-allowed;
}

.btn-verdemela:hover {
  background-color: #809e59 !important;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-no-hover:hover {
  transform: scale(1) !important;
}

.btn-light-nav {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light-nav:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  cursor: not-allowed;
  transform: scale(1) !important;
}

.bg-pattern-chiuso {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2N8+/btfwYo+Pz5MwMjTADE4eXlhQjAOCCFjA8ePPgPkoEBAMNhF/YhgGY5AAAAAElFTkSuQmCC);
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  width: 100%;
  height: 55px;
}

.diagonal-stripes {
  background-color: gray;
  background-image: repeating-linear-gradient(45deg,
          transparent,
          transparent 35px,
          rgba(255, 255, 255, 0.5) 35px,
          rgba(255, 255, 255, 0.5) 70px);
}

.bg-grey {
  background-color: rgba(206, 206, 206, 1);
}

.bg-lightgrey {
  background-color: #d3d3d3 !important;
}

.bg-lightsuccess {
  background-color: #b8dfc1 !important;
}

.bg-lightinfo {
  background-color: #b8e0e7 !important;
}

.bg-lightdanger {
  background-color: rgba(231, 113, 110, 0.2) !important;
}

.bg-orange {
  background-color: #ff8800 !important;
}

.no-resize {
  resize: none;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-marker" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
  content: "\e907";
}

.icon-gps-alert:before {
  content: "\e900";
}

.icon-humidity:before {
  content: "\e901";
}

.icon-truck-fire-q:before {
  content: "\e902";
}

.icon-fa-sedi:before {
  content: "\e903";
}

.icon-fa-richieste:before {
  content: "\e904";
}

.icon-not-recursive:before {
  content: "\e905";
}

.icon-not-recursive-single:before {
  content: "\e906";
}

.icon-recursive:before {
  content: "\e912";
}

.icon-truck-fire:before {
  content: "\e913";
}

.loader-centrato {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -70px;
}

.loader-centrato img {
  width: 250px;
  height: 140px;
}

.border-info-aggregate:hover {
  -webkit-box-shadow: 0 0 1px 3px rgba(90, 94, 107, 0.55);
  -moz-box-shadow: 0 0 1px 3px rgba(90, 94, 107, 0.55);
  box-shadow: 0 0 1px 3px rgba(90, 94, 107, 0.55);
}

.border-click-checked {
  -webkit-box-shadow: 0 0 1px 3px rgba(90, 94, 107, 1);
  -moz-box-shadow: 0 0 1px 3px rgba(90, 94, 107, 1);
  box-shadow: 0 0 1px 3px rgba(90, 94, 107, 1);
}

.blink-aggregate span {
  animation: blink 0.8s linear infinite;
}

.blink-i-aggregate {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 4px;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.snazzy-margin-priorita-1 {
  margin-top: -34px !important;
}

.snazzy-margin-priorita-2 {
  margin-top: -42px !important;
}

.snazzy-margin-priorita-3 {
  margin-top: -50px !important;
}

.snazzy-margin-priorita-4 {
  margin-top: -58px !important;
}

.snazzy-margin-priorita-5 {
  margin-top: -66px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-left { // Modale a sx
  padding-right: 50%;
}

.loader-position-left {
  padding-right: 50% !important;
  width: fit-content;
}

.loader-position-img-left {
  top: calc((45% - 60px) - 30px) !important;
  left: calc((26% - 0px) - 30px) !important;
}

.loader-position-fgs-left {
  top: calc((65% - 50px) - 30px) !important;
  left: calc((26% - 0px) - 30px) !important;
}

.font-xlarge {
  font-size: 20px;
  font-weight: 500;
}

.font-xxlarge {
  font-size: 25px;
  font-weight: 500;
}

.badge-mod-primary {
  color: #007bff !important;
  border: solid thin #007bff !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-info {
  color: #17a2b8 !important;
  border: solid thin #17a2b8 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-secondary {
  color: #6c757d !important;
  border: solid thin #6c757d !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-danger {
  color: #dc3545 !important;
  border: solid thin #dc3545 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-warning {
  color: #ffc107 !important;
  border: solid thin #ffc107 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-success {
  color: #28a745 !important;
  border: solid thin #28a745 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-dark {
  color: #343a40 !important;
  border: solid thin #343a40 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.badge-mod-verdemela {
  color: #92b565 !important;
  border: solid thin #92b565 !important;
  border-radius: 0.25rem !important;
  padding: 0.15em 0.2em;
}

.btn-nav-selected {
  box-shadow: 0 0 10px 2px #dc3545 !important;
  transform: scale(1.1) !important;
  color: #dc3545 !important;
  border: solid thin #dc3545;
}

.required-field {
  border: solid #dc3545;
}

.toast-postion-left { // Toast a sx
  bottom: 0 !important;
  left: 25% !important;
  margin-left: -135px;
}

.toast-postion-center {
  bottom: 0 !important;
  left: 50% !important;
  margin-left: -135px;
}
