@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/snazzy-info-window/dist/snazzy-info-window.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-ui-switch/ui-switch.component.scss";
// if you'd like to use it without importing all of bootstrap it requires
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

@font-face {
  font-family: "icon-marker";
  src: url("./assets/fonts/icon-marker.eot?7adah4");
  src: url("./assets/fonts/icon-marker.eot?7adah4#iefix") format("embedded-opentype"),
  url("./assets/fonts/icon-marker.ttf?7adah4") format("truetype"),
  url("./assets/fonts/icon-marker.woff?7adah4") format("woff"),
  url("./assets/fonts/icon-marker.svg?7adah4#icon-marker") format("svg");
  font-weight: normal;
  font-style: normal;
}


body,
html {
  height: 100vh;
}

app-root {
  height: 100%;
}

// Sala Operativa - SCSS Styles Sheet
$SO-i: !important;
$SO-white: #ffffff;
$SO-white-variation: #f3f3f3;
$SO-black: #000000;
$SO-dark: #343a40;
$SO-dark-light: #464e56;
$SO-muted: #6c757d;
$SO-light: #f8f9fa;
$SO-guida: #bbbbbb;
$SO-grey-light: #d3d3d3;
$SO-blue: #007bff;
$SO-blue-light: #17a2b8;
$SO-orange: #ff8800;
$SO-success: #28a745;
$SO-danger: #dc3545;
$SO-warning: #ffc107;
$SO-secondary: #868e96;
$SO-verdemela: #92b565;
$SO-seconda-competenza: #5C8DC4;
$SO-terza-competenza: #45B5C6;
$SO-hr: 1px solid #ffffff;
$SO-weight: 500;
$SO-middle: 50%;
$SO-font-xlarge: 20px;
$SO-font-xxlarge: 25px;
$SO-xxlModal-width: 1800px;
$SO-btn-nav-selected-shadow: 0 0 10px 2px;
$SO-box-shadow: 1px 1px 2px 1px #dee2e6;
$SO-shadow: 1px 1px 2px 1px rgba(224, 224, 224, 1);
$SO-shadow-info-aggregate: 0 0 1px 3px;
$SO-card-shadow: 2px 0 2px 0.5px;
$SO-card-border: 1px solid;
$SO-border-radius: 0.25rem;
$SO-status-border-top: 5px solid;
$SO-status-border-left: 10px solid;
$SO-badge-padding: 0.15em 0.2em;
$SO-badge-border: solid thin;
$SO-app-shadow-danger: 1px 1px 2px 1px #dc3545;
$SO-app-shadow-primary: 1px 1px 2px 1px #007bff;
$SO-card-shadow-primary-soft: 0 0 4px 2px #007bffa2;
$SO-card-shadow-info-soft: 0 0 4px 2px #17a2b8;
$SO-card-shadow-success-soft: 0 0 4px 2px #28a745;
$SO-card-shadow-danger-soft: 0 0 4px 2px #dc3545;
$SO-card-shadow-warning-soft: 0 0 4px 2px #ffc107;
$SO-card-shadow-secondary-soft: 0 0 4px 2px #868e96;
// END SCSS Styles Sheet

// Index Style
.body-background {
  background-color: $SO-dark $SO-i;
}

// Single Monitor Styles
.single-monitor {
  font-size: $SO-font-xlarge;
  font-weight: $SO-weight;
  button {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  ng-select {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  textarea {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  i {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  input {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  .toast-container {
    font-size: 1rem;
    font-weight: 400;
  }
}

// END Single Monitor Styles

// Double Monitor Styles
.double-monitor {
  font-size: $SO-font-xlarge;
  font-weight: $SO-weight;
  button {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  ng-select {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  textarea {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  i {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  input {
    font-size: $SO-font-xlarge;
    font-weight: $SO-weight;
  }
  .toast-container {
    font-size: 1rem;
    font-weight: 400;
  }
  ngb-modal-window {
    padding-right: $SO-middle $SO-i;
  }
}

// END Double Monitor Styles

// Sun Mode Styles
.sun-mode {
  background-color: $SO-white $SO-i;
  color: $SO-black $SO-i;

  .bg-mezzo-in-servizio:hover {
    background: $SO-light $SO-i;
  }

  .bg-sidebar {
    background-color:$SO-white $SO-i;
  }

  .border-top-richiesta {
    border-top: solid thin #e0e0e0;
  }
}

// END Sun Mode Styles

// Moon Mode Styles
.moon-mode {
  background-color: $SO-dark $SO-i;
  color: $SO-white $SO-i;

  a {
    color: $SO-white $SO-i;
  }

  g {
    color: $SO-white $SO-i;
  }

  ngx-charts-bar-horizontal-2d {
    text {
      fill: $SO-white $SO-i;
    }
  }

  .card-header {
    background-color: $SO-dark-light $SO-i;
  }

  .card-body {
    background-color: $SO-dark $SO-i;
  }

  .legend-labels {
    background-color: $SO-dark-light $SO-i;
  }

  .chart-legend .legend-label {
    color: $SO-white $SO-i;
  }

  .odd {
    background-color: $SO-dark $SO-i;
  }

  .text-muted {
    color: $SO-white $SO-i;
  }

  .bg-impostazioni {
    background: $SO-dark-light $SO-i;
  }

  .modal-header {
    background-color: $SO-dark $SO-i;
    color: $SO-white $SO-i;
  }

  .modal-body {
    background-color: $SO-dark $SO-i;
    color: $SO-white $SO-i;
  }

  .modal-footer {
    background-color: $SO-dark $SO-i;
    color: $SO-white $SO-i;
  }

  table {
    color: $SO-white $SO-i;
    border: $SO-card-border $SO-white $SO-i;
  }

  thead {
    background-color: $SO-dark-light $SO-i;
  }

  td {
    background-color: $SO-dark-light $SO-i;
    color: $SO-white $SO-i;
  }

  .n-li-box a {
    color: $SO-white $SO-i;
    font-weight: $SO-weight $SO-i;
    font-size: $SO-font-xlarge $SO-i;
  }

  [ngbdatepickerdayview] {
    color: $SO-white $SO-i;
  }

  [ngbdatepickerdayview]:hover {
    color: $SO-black $SO-i;
  }

  .dropdown-menu {
    color: $SO-white $SO-i;
    background-color: $SO-dark $SO-i;
  }

  .dropdown-item {
    color: $SO-white;
  }

  .dropdown-item:hover {
    color: $SO-white $SO-i;
    background-color: $SO-dark-light $SO-i;
  }

  .box-azione {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: $SO-card-border $SO-muted $SO-i;
    background-color: $SO-dark-light $SO-i;
    border-radius: $SO-border-radius;
  }

  hr {
    border-top: $SO-hr $SO-i;
  }

  .chevron-stato {
    color: $SO-white $SO-i;
  }

  .divider-custom-line {
    background: $SO-white $SO-i;
  }

  .selected-composizione {
    background-color: #6a7177 $SO-i;
  }

  .badge-mod-secondary {
    color: $SO-guida $SO-i;
    border: $SO-badge-border $SO-guida $SO-i;
    border-radius: $SO-border-radius $SO-i;
    padding: $SO-badge-padding;
  }

  .gestita {
    background: $SO-dark-light $SO-i;
  }

  .btn-outline-secondary {
    color: $SO-white $SO-i;
    border-color: $SO-muted $SO-i;
  }

  .btn-warning {
    color: $SO-white $SO-i;
  }

  .btn-outline-warning:hover {
    color: $SO-white $SO-i;
  }

  .list-group-item {
    background-color: $SO-dark-light;
  }

  .popover-header {
    color: $SO-black $SO-i;
  }

  .ngb-dp-month-name {
    color: $SO-black $SO-i;
  }

  .page-link {
    color: $SO-dark $SO-i;
  }

  ngb-tabset a.nav-link.active {
    background-color: transparent $SO-i;
  }

  .box-zona-emergenza {
    background: $SO-dark-light $SO-i;
    box-shadow: none $SO-i;
  }

  .box-locked {
    color: $SO-muted $SO-i;
  }

  .si-content-wrapper {
    background-color: $SO-dark-light $SO-i;
  }

  .bg-dark-light {
    background-color: $SO-dark-light $SO-i;
  }

  .bg-white-light {
    background-color: $SO-light $SO-i;
  }

  .bg-sidebar {
    background-color:$SO-dark $SO-i;
  }

  .bg-scheda-contatto {
    background: $SO-dark-light $SO-i;
  }

  .bg-mezzo-in-servizio:hover {
    background: $SO-dark-light $SO-i;
  }

  .bg-resoconto-triage {
    background-color: $SO-muted $SO-i;
  }

  .bg-partial-loader {
    background-color: transparent $SO-i;
  }
}

// END Moon Mode Styles

// Loader index.html
.loader {
  margin-top: calc(25%);
  margin-left: calc(50% - 60px);
  border: 16px solid $SO-dark-light;
  border-top: 16px solid #f3f3f3;
  border-radius: $SO-middle $SO-i;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Dropdown Google Places
.pac-container {
  z-index: 99999 $SO-i;
}

// End Dropdown Google Places


.moon-card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: $SO-card-border rgba(0, 0, 0, 0.125);
  border-radius: $SO-border-radius;
}

.moon-card-light {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: $SO-card-border rgba(0, 0, 0, 0.125);
  background-color: $SO-dark-light $SO-i;
  border-radius: $SO-border-radius;
}

.bg-moon-light {
  background-color: $SO-dark-light $SO-i;
}

.moon-cod {
  color: $SO-white $SO-i;
  font-weight: $SO-weight $SO-i;
  font-size: $SO-font-xxlarge;
  cursor: pointer;
}

.moon-hr {
  border-top: $SO-hr $SO-i;
}

.opacity-50 {
  opacity: .5;
}

.modal-holder {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.xxlModal .modal-dialog {
  max-width: $SO-xxlModal-width $SO-i;
  min-width: $SO-xxlModal-width $SO-i;
}

// TODO: controllare
.xlModal {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.xlModal > .modal-dialog {
  max-width: 1490px $SO-i;
  min-width: 650px $SO-i;
  width: 65% $SO-i;
}

.squadrePartenza {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.squadrePartenza > .modal-dialog {
  max-width: 590px $SO-i;
  min-width: 100px $SO-i;
  width: 45% $SO-i;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.enti {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.enti > .modal-dialog {
  max-width: 590px $SO-i;
  min-width: 100px $SO-i;
  width: 45% $SO-i;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.modalModificaRichiesta {
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

.modalModificaRichiesta > .modal-dialog {
  max-width: 1490px $SO-i;
  min-width: 650px $SO-i;
  width: $SO-middle $SO-i;
  animation-name: jumpIn;
  animation-duration: 0.3s;
}

@keyframes jumpIn {
  0% {
    transform: scale(0.65)
  }
  100% {
    transform: scale(1)
  }
}

.app-shadow {
  -webkit-box-shadow: $SO-shadow $SO-i;
  -moz-box-shadow: $SO-shadow $SO-i;
  box-shadow: $SO-shadow $SO-i;
}

.app-shadow-danger {
  -webkit-box-shadow: $SO-app-shadow-danger;
  -moz-box-shadow: $SO-app-shadow-danger;
  box-shadow: $SO-app-shadow-danger;
}

.app-shadow-primary {
  -webkit-box-shadow: $SO-app-shadow-primary;
  -moz-box-shadow: $SO-app-shadow-primary;
  box-shadow: $SO-app-shadow-primary;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none $SO-i;
  /* font-weight: bold $SO-i; */
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
  transform: scale(1) $SO-i;
}

.status_preaccoppiato_nonselezionato {
  border-top: $SO-status-border-top $SO-danger;
}

.status_preaccoppiato_selezionato {
  border-top: $SO-status-border-top $SO-blue;
}

/* input custom */
input {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: $SO-white-variation;
  border: $SO-card-border #888888;
}

input:focus {
  font-weight: bolder;
  background-color: $SO-white-variation;
  border: $SO-card-border #cacaca;
}

input:valid {
  background-color: $SO-white-variation;
}

input:invalid {
  font-weight: bolder;
  // background-color: #ffff52;
  border: $SO-card-border #d61616 $SO-i;
}

textarea:valid {
  background-color: $SO-white-variation;
}

tag-input {
  background-color: $SO-white-variation;
}

/* icone di guida */
.guida {
  color: $SO-guida $SO-i;
}

.cod-int {
  color: $SO-black $SO-i;
  font-weight: $SO-weight $SO-i;
  font-size: $SO-font-xxlarge;
  cursor: pointer;
}

.descrizione-int {
  color: rgb(221, 132, 68) $SO-i;
}

.nowrap {
  white-space: nowrap;
}

.m-h-710 {
  height: 710px;
  max-height: 710px;
}

.m-h-677 {
  height: 677px;
  max-height: 677px;
}

.m-h-795 {
  height: 795px;
  max-height: 795px;
}

.m-h-572 {
  height: 572px;
  max-height: 572px;
}

.m-h-400 {
  height: 449px;
  max-height: 449px;
}

.m-h-300 {
  height: 284px;
  max-height: 284px;
}

/* Shadow richieste */
.card-shadow {
  -webkit-box-shadow: $SO-shadow $SO-i;
  -moz-box-shadow: $SO-shadow $SO-i;
  box-shadow: $SO-shadow $SO-i;
}

.card-shadow-primary {
  -webkit-box-shadow: $SO-card-shadow $SO-blue;
  -moz-box-shadow: $SO-card-shadow $SO-blue;
  box-shadow: $SO-card-shadow $SO-blue;
}

.card-shadow-info {
  -webkit-box-shadow: $SO-card-shadow $SO-blue-light;
  -moz-box-shadow: $SO-card-shadow $SO-blue-light;
  box-shadow: $SO-card-shadow $SO-blue-light;
}

.card-shadow-success {
  -webkit-box-shadow: $SO-card-shadow $SO-success;
  -moz-box-shadow: $SO-card-shadow $SO-success;
  box-shadow: $SO-card-shadow $SO-success;
  border: $SO-card-border $SO-success;
}

.card-shadow-danger {
  -webkit-box-shadow: $SO-card-shadow $SO-danger;
  -moz-box-shadow: $SO-card-shadow $SO-danger;
  box-shadow: $SO-card-shadow $SO-danger;
  border: $SO-card-border $SO-danger;
}

.card-shadow-warning {
  -webkit-box-shadow: $SO-card-shadow $SO-warning;
  -moz-box-shadow: $SO-card-shadow $SO-warning;
  box-shadow: $SO-card-shadow $SO-warning;
  border: $SO-card-border $SO-warning;
}

.card-shadow-secondary {
  -webkit-box-shadow: $SO-card-shadow $SO-secondary;
  -moz-box-shadow: $SO-card-shadow $SO-secondary;
  box-shadow: $SO-card-shadow $SO-secondary;
  border: $SO-card-border $SO-secondary;
}

.card-shadow-orange {
  -webkit-box-shadow: $SO-card-shadow $SO-orange;
  -moz-box-shadow: $SO-card-shadow $SO-orange;
  box-shadow: $SO-card-shadow $SO-orange;
  border: $SO-card-border $SO-orange;
}

/* Shadow soft */
.card-shadow-primary-soft {
  -webkit-box-shadow: $SO-card-shadow-primary-soft;
  -moz-box-shadow: $SO-card-shadow-primary-soft;
  box-shadow: $SO-card-shadow-primary-soft;
}

.card-shadow-info-soft {
  -webkit-box-shadow: $SO-card-shadow-info-soft;
  -moz-box-shadow: $SO-card-shadow-info-soft;
  box-shadow: $SO-card-shadow-info-soft;
}

.card-shadow-success-soft {
  -webkit-box-shadow: $SO-card-shadow-success-soft;
  -moz-box-shadow: $SO-card-shadow-success-soft;
  box-shadow: $SO-card-shadow-success-soft;
}

.card-shadow-danger-soft {
  -webkit-box-shadow: $SO-card-shadow-danger-soft;
  -moz-box-shadow: $SO-card-shadow-danger-soft;
  box-shadow: $SO-card-shadow-danger-soft;
}

.card-shadow-warning-soft {
  -webkit-box-shadow: $SO-card-shadow-warning-soft;
  -moz-box-shadow: $SO-card-shadow-warning-soft;
  box-shadow: $SO-card-shadow-warning-soft;
}

.card-shadow-secondary-soft {
  -webkit-box-shadow: $SO-card-shadow-secondary-soft;
  -moz-box-shadow: $SO-card-shadow-secondary-soft;
  box-shadow: $SO-card-shadow-secondary-soft;
}

/* Status richieste */
.status_presidiato {
  border-left: $SO-status-border-left $SO-success;
}

.status_chiamata {
  border-left: $SO-status-border-left $SO-danger;
}

.status_sospeso {
  // border-left: $SO-status-border-left $SO-orange;
  border-left: $SO-status-border-left $SO-warning;
}

.status_assegnato {
  border-left: $SO-status-border-left $SO-warning;
}

.status_chiuso {
  border-left: $SO-status-border-left $SO-secondary;
}

/* Status Mezzo */
.status_inSede {
  border-top: $SO-status-border-top $SO-success;
}

.status_inRientro {
  border-top: $SO-status-border-top $SO-verdemela;
}

.status_inViaggio {
  border-top: $SO-status-border-top $SO-warning;
}

.status_sulPosto {
  border-top: $SO-status-border-top $SO-danger;
}

.status_istituto {
  border-top: $SO-status-border-top $SO-secondary;
}

/* Status Border Mezzo */
.status_border_inSede {
  border-left: $SO-status-border-left $SO-success $SO-i;
}

.status_border_inRientro {
  border-left: $SO-status-border-left $SO-success $SO-i;
}

.status_border_inUscita {
  border-left: $SO-status-border-left $SO-muted $SO-i;
}

.status_border_inViaggio {
  border-left: $SO-status-border-left $SO-danger $SO-i;
}

.status_border_sulPosto {
  border-left: $SO-status-border-left $SO-danger $SO-i;
}

.status_border_istituto {
  border-left: $SO-status-border-left $SO-secondary $SO-i;
}

.text-verdemela {
  color: $SO-verdemela $SO-i;
}

.badge-verdemela {
  background-color: $SO-verdemela $SO-i;
  color: $SO-white $SO-i;
}

.badge-rosso-des {
  background-color: rgba(204, 64, 78, 0.45) $SO-i;
  color: $SO-white $SO-i;
}

.btn-verdemela {
  background-color: $SO-verdemela $SO-i;
  color: $SO-white $SO-i;
}

.btn-no-style {
  background: none $SO-i;
  color: inherit $SO-i;
  border: none $SO-i;
  padding: 0 $SO-i;
  font: inherit $SO-i;
  outline: inherit $SO-i;
  cursor: not-allowed;
}

.btn-verdemela:hover {
  background-color: #809e59 $SO-i;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-no-hover:hover {
  transform: scale(1) $SO-i;
}

.btn-light-nav {
  color: #212529;
  background-color: $SO-light $SO-i;
  border-color: $SO-light $SO-i;
}

.btn-light-nav:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  cursor: not-allowed;
  transform: scale(1) $SO-i;
}

.bg-pattern-chiuso {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2N8+/btfwYo+Pz5MwMjTADE4eXlhQjAOCCFjA8ePPgPkoEBAMNhF/YhgGY5AAAAAElFTkSuQmCC);
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  width: 100%;
  height: 55px;
}

/* background color */
.bg-grey {
  background-color: rgba(206, 206, 206, 1);
}

.bg-lightgrey {
  background-color: $SO-grey-light $SO-i;
}

.bg-lightsuccess {
  background-color: #b8dfc1 $SO-i;
}

.bg-lightinfo {
  background-color: #b8e0e7 $SO-i;
}

.bg-lightdanger {
  background-color: rgba(231, 113, 110, 0.2) $SO-i;
}

.bg-orange {
  background-color: $SO-orange $SO-i;
}

.bg-verdemela {
  background-color: $SO-verdemela $SO-i;
}

.bg-scheda-contatto {
  background: $SO-light $SO-i;
}

.bg-resoconto-triage {
  background-color: $SO-grey-light $SO-i;
}

.bg-partial-loader {
  background-color: rgba(255, 255, 255, .7);
}

.no-resize {
  resize: none;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use $SO-i to prevent issues with browser extensions that change fonts */
  font-family: "icon-marker" $SO-i;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
  content: "\e907";
}

.icon-gps-alert:before {
  content: "\e900";
}

.icon-humidity:before {
  content: "\e901";
}

.icon-truck-fire-q:before {
  content: "\e902";
}

.icon-fa-sedi:before {
  content: "\e903";
}

.icon-fa-richieste:before {
  content: "\e904";
}

.icon-not-recursive:before {
  content: "\e905";
}

.icon-not-recursive-single:before {
  content: "\e906";
}

.icon-recursive:before {
  content: "\e912";
}

.icon-truck-fire:before {
  content: "\e913";
}

.loader-centrato {
  position: absolute;
  top: $SO-middle $SO-i;
  left: $SO-middle $SO-i;
  margin-left: -125px;
  margin-top: -70px;
}

.loader-centrato img {
  width: 250px;
  height: 140px;
}

.border-info-aggregate:hover {
  -webkit-box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 0.55);
  -moz-box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 0.55);
  box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 0.55);
}

.border-click-checked {
  -webkit-box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 1);
  -moz-box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 1);
  box-shadow: $SO-shadow-info-aggregate rgba(90, 94, 107, 1);
}

.blink-aggregate span {
  animation: blink 0.8s linear infinite;
}

.blink-i-aggregate {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 4px;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.snazzy-margin-priorita-1 {
  margin-top: -34px $SO-i;
}

.snazzy-margin-priorita-2 {
  margin-top: -42px $SO-i;
}

.snazzy-margin-priorita-3 {
  margin-top: -50px $SO-i;
}

.snazzy-margin-priorita-4 {
  margin-top: -58px $SO-i;
}

.snazzy-margin-priorita-5 {
  margin-top: -66px $SO-i;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-left { // Modale a sx
  padding-right: $SO-middle $SO-i;
}

.loader-position-left {
  padding-right: $SO-middle $SO-i;
  width: fit-content;
}

.loader-position-img-left {
  top: calc((45% - 60px) - 30px) $SO-i;
  left: calc((26% - 0px) - 30px) $SO-i;
}

.loader-position-fgs-left {
  top: calc((65% - 50px) - 30px) $SO-i;
  left: calc((26% - 0px) - 30px) $SO-i;
}

.font-xlarge {
  font-size: $SO-font-xlarge $SO-i;
  font-weight: $SO-weight $SO-i;
}

.font-xxlarge {
  font-size: $SO-font-xxlarge;
  font-weight: $SO-weight $SO-i;
}

/* Badge competenze */
.badge-prima-competenza {
  color: $SO-blue $SO-i;
  border: $SO-badge-border $SO-blue $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-seconda-competenza {
  color: $SO-seconda-competenza;
  border: $SO-badge-border $SO-seconda-competenza;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-terza-competenza {
  color: $SO-terza-competenza;
  border: $SO-badge-border $SO-terza-competenza;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

/* Badge */
.badge-mod-primary {
  color: $SO-blue $SO-i;
  border: $SO-badge-border $SO-blue $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-info {
  color: $SO-blue-light $SO-i;
  border: $SO-badge-border $SO-blue-light $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-secondary {
  color: $SO-muted $SO-i;
  border: $SO-badge-border $SO-muted $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-danger {
  color: $SO-danger $SO-i;
  border: $SO-badge-border $SO-danger $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-warning {
  color: $SO-warning $SO-i;
  border: $SO-badge-border $SO-warning $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-success {
  color: $SO-success $SO-i;
  border: $SO-badge-border $SO-success $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-dark {
  color: $SO-dark $SO-i;
  border: $SO-badge-border $SO-dark $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.badge-mod-verdemela {
  color: $SO-verdemela $SO-i;
  border: $SO-badge-border $SO-verdemela $SO-i;
  border-radius: $SO-border-radius $SO-i;
  padding: $SO-badge-padding;
}

.btn-nav-selected {
  box-shadow: $SO-btn-nav-selected-shadow $SO-danger $SO-i;
  transform: scale(1.1) $SO-i;
  color: $SO-danger $SO-i;
  border: $SO-badge-border $SO-danger;
}

.btn-nav-selected:hover {
  transform: scale(1.1) $SO-i;
}

.btn-impostazioni-selected {
  box-shadow: $SO-btn-nav-selected-shadow $SO-danger $SO-i;
  transform: scale(1.02) $SO-i;
  color: $SO-danger $SO-i;
  border: solid thin $SO-danger;
}

.btn-impostazioni-selected:hover {
  transform: scale(1.02) $SO-i;
}

.required-field {
  border: solid $SO-danger;
}

.toast-postion-left { // Toast a sx
  bottom: 0 $SO-i;
  left: 25% $SO-i;
  margin-left: -135px;
}

.toast-postion-center {
  bottom: 0 $SO-i;
  left: $SO-middle $SO-i;
  margin-left: -135px;
}

.color-refresh {
  color: $SO-white $SO-i;
  border-color: $SO-white $SO-i;
}

.box-azione {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: $SO-card-border $SO-muted $SO-i;
  background-color: $SO-white $SO-i;
  border-radius: $SO-border-radius;
}

.gestita {
  background: $SO-light $SO-i;
}

.n-li-box a {
  color: $SO-black $SO-i;
  font-weight: $SO-weight $SO-i;
  font-size: $SO-font-xlarge $SO-i;
}

.selected-composizione {
  background-color: $SO-light $SO-i;
}