<div>
  <a routerLink="/pages/linkState" routerLinkActive="active">
    <i class="fa fa-share-alt fa-lg" title="Stato della connessione con il server"></i>
    <span *ngIf="!state"><i class="fa fa-spin fa-spinner fa-pulse fa-lg"></i></span>
    <span *ngIf="!!state && state.connesso" class="badge badge-success" title="Connesso alle {{ dataUltimaConnessione }}">OK</span>
    <span *ngIf="!!state && !state.connesso"><i class="fa fa-exclamation-triangle fa-lg text-warning"></i></span>
  </a>
</div>