<div class="container-fluid bg-dark" style="height:100vh">
    <div class="row">
        <div class="col-3 mx-auto my-4 px-3 pb-3 bg-white rounded">
            <div class="w-50 mx-auto text-center my-3">
                <img class="img-fluid" src="assets/img/logo_vvf_600x.jpg">
            </div>
            <div class="card shadow-sm bg-light p-3 mt-4">
                <div class="text-center text-danger" style="font-weight: 800">
                    <h3>{{'Non sei abilitato!' | uppercase}}</h3>
                </div>
                <hr class="mt-1">
                <button class="btn btn-accedi" (click)="clearCas()">Accedi di nuovo</button>
            </div>
        </div>
    </div>
</div>
