.status-red {
    border-left: 10px solid red;
}

.row-text {
    color: #666666;
}

.fa {
    color: #bbbbbb!important;
}

.big-numbers {
    color: #a72920;
    font-weight: bold;
}

.bg-diagonal-grey {
    background: repeating-linear-gradient( 135deg, white, white 0.1em, #F0F0F0 0.4em, #E9EEFB 0.1em);
}

.bg-card-title {
    background-color: beige;
}