.button-custom:before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-richieste:before {
    background-image: url('../../../../../assets/img/filtro-markers/richieste.png');
}

.icon-mezzi:before {
    background-image: url('../../../../../assets/img/filtro-markers/mezzi.png');
}

.icon-sedi:before {
    background-image: url('../../../../../assets/img/filtro-markers/sedi.png');
}

.loading-prevent-click {
    pointer-events: none;
    opacity: 0.3;
}