<div class="clearfix">
    <div class="float-left mr-2 mt-2">
        <span class="font-xlarge">Filtri Mappa</span>
    </div>
    <div class="float-left">
        <div class="btn-group app-shadow" role="group">
            <button *ngFor="let voce of filtroMarker" class="btn loading-prevent-click-not font-xlarge"
                    [disabled]="voce?.disable"
                    [ngClass]="{'btn-secondary': voce.isActive, 'btn-outline-secondary': !voce.isActive}"
                    appDebounceClick
                    (debounceClick)="onSelected(voce.id)" [debounceTime]="300">
                <i class="{{voce.picture}} pr-1"></i>{{voce.name}}
            </button>
        </div>
    </div>
</div>
