<div class="col-12 bg-light mb-2 border-bottom border-dark">
  <div class="row">
    <div class="col-10">
      <div class="row h-100">
        <!-- box interventi -->
        <div class="col-4 border-right border-dark">
          <app-box-interventi [interventi]="interventi"></app-box-interventi>
        </div>
        <!-- box interventi -->
        <div class="col-4 border-right border-dark">
          <app-box-mezzi [mezzi]="mezzi"></app-box-mezzi>
        </div>
        <!-- box interventi -->
        <div class="col-4 border-right border-dark">
          <app-box-funzionari [funzionari]="funzionariSo"></app-box-funzionari>
        </div>
      </div>
    </div>
    <!-- box interventi -->
    <div class="col-2">
      <app-box-meteo></app-box-meteo>
    </div>
  </div>
</div>