.badge {font-size: 10.025px;}
p  {font-size:14px; padding-bottom:0; padding-right: 0; margin-bottom:0px; margin-top:4px; margin-right: 2px;}
ul { list-style-type:none; color:red; font-size:12px; padding-bottom:0px; margin-bottom:0; margin-right: 2px;}
a  {padding:0px; margin:0;  border-width:5px; border-style: ridge;border-radius:15px;box-shadow: 3px 3px 5px #999; }