<div class="text-center">
    <div class="btn-group app-shadow" role="group">
        <button type="button" class="btn font-xlarge"
                ngbTooltip="Visualizzazione solo Richieste"
                [ngClass]="colorButtonView[0]"
                [disableTooltip]="colorButtonView[0] === 'btn-secondary'"
                (click)="buttonViewMode(AppFeature.Richieste)">
            <i class="fa fa-list-ul"></i>
            Richieste
        </button>
        <button type="button" class="btn font-xlarge"
                ngbTooltip="Visualizzazione solo Mappa"
                [ngClass]="colorButtonView[2]"
                [disableTooltip]="colorButtonView[2] === 'btn-secondary'"
                (click)="buttonViewMode(AppFeature.Mappa)">
            <i class="fa fa-globe"></i>
            Mappa
        </button>
    </div>
</div>
