<div class="row">
    <div class="col-12 pl-0 pr-2"
         [ngClass]="translatePositionRichiesta(richiestaFissata)">
        <div #richiestaContainer
             class="col-12 px-0"
             [ngClass]="cardFissataClasses()">
            <div #richiesta
                 class="w-100 rounded bg-light">
                <app-partial-loader *ngIf="loadingActionRichiesta?.includes(richiestaFissata.id)"></app-partial-loader>
                <app-sintesi-richiesta *ngIf="richiestaFissata"
                                       [richiesta]="richiestaFissata"
                                       [fissata]="true"
                                       [fissabile]="true"
                                       [gestibile]="true"
                                       [boxAzioni]="true"
                                       [listaEnti]="listaEnti"
                                       [nightMode]="nightMode"
                                       [inGestione]="richiestaGestione?.id === richiestaFissata.id"
                                       [disabledModificaRichiesta]="disabledModificaRichiesta"
                                       [disabledGestisciRichiesta]="disabledGestisciRichiesta"
                                       [disabledComposizionePartenza]="disabledComposizionePartenza"
                                       (fissaInAlto)="onDefissa()"
                                       (nuovaPartenza)="nuovaPartenza($event)"
                                       (modificaRichiesta)="onModificaRichiesta($event)"
                                       (gestioneRichiesta)="onGestioneRichiesta($event)"
                                       (clickIndirizzo)="clickIndirizzo.emit({ idRichiesta: $event.id, coordinate: $event.localita.coordinate })"
                                       (actionMezzo)="actionMezzo.emit($event)"
                                       (eliminaPartenza)="eliminaPartenza.emit($event)">
                </app-sintesi-richiesta>
            </div>
        </div>
    </div>
</div>
