<div class="row">
    <div class="col-12 mt-1 pl-0 pr-4">
        <div #richiestaContainer [ngClass]="{'mt-2 pb-2': richiestaFissata, 'col-6': !_split, 'col-12': _split}">
            <div #richiesta class="w-100 rounded bg-light" [ngClass]="cardFissataClasses(richiestaFissata)">
                <app-sintesi-richiesta *ngIf="richiestaFissata" [richiesta]="richiestaFissata" [fissata]="true"
                                       [fissabile]="true" [espandibile]="true" [listaEventi]="true"
                                       [espanso]="isEspanso(richiestaFissata.id)"
                                       (fissaInAlto)="onDefissa()"
                                       (eventiRichiesta)="visualizzaEventiRichiesta($event)"
                                       (nuovaPartenza)="nuovaPartenza($event)"
                                       (modificaRichiesta)="onModificaRichiesta($event)"
                                       (onEspanso)="setEspanso()"
                                       (outEspansoId)="outEspansoId.emit($event)"
                                       (gestioneRichiesta)="onGestioneRichiesta($event)"
                                       (actionMezzo)="actionMezzo.emit($event)">
                </app-sintesi-richiesta>
            </div>
        </div>
    </div>
</div>
