<div class="row">
  <div class="col-12">
    <app-composizione-filterbar></app-composizione-filterbar>
    <div class="row">
      <div class="col-5 pr-0">
        <div class="card card-shadow mx-auto">
          <div class="card-header">
            <i class="fa fa-truck mr-2"></i><span class="h6">Mezzi</span>
          </div>
          <ul class="list-group list-group-flush border-bottom" style="max-height:345px; overflow-y:scroll; overflow-x: hidden">
            <app-mezzo-composizione *ngFor="let mC of mezziComposizione" [mezzoComp]="mC" [squadre]="squadre"
              [partenze]="partenze" [idPartenzaAttuale]="idPartenzaAttuale" (nuovoMezzo)="nuovoMezzo()"></app-mezzo-composizione>
          </ul>
        </div>
      </div>
      <div class="col-3 pr-0">
        <div class="card card-shadow mx-auto">
          <div class="card-header">
            <i class="fa fa-group mr-2"></i><span class="h6">Squadre</span>
          </div>
          <ul class="list-group list-group-flush border-bottom" style="max-height:345px; overflow-y:scroll; overflow-x: hidden">
            <app-squadra-composizione *ngFor="let s of squadre" [squadra]="s" [partenze]="partenze" [idPartenzaAttuale]="idPartenzaAttuale"></app-squadra-composizione>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-dashed-3 w-100 py-2 px-2">
          <div *ngIf="partenze.length === 0" class="py-5 text-center">
            <h6>Nessuna partenza</h6>
            <small>Seleziona un mezzo o una squadra per crearne una.</small>
          </div>
          <div *ngIf="partenze.length > 0" class="border-top border-bottom" style="max-height:328px; overflow-x: hidden"
            [ngClass]="{'scroll-y': partenze.length > 3}">
            <app-box-nuova-partenza *ngFor="let p of partenze" [partenza]="p" [partenze]="partenze" [richiesta]="richiesta"
              [idPartenzaAttuale]="idPartenzaAttuale" (selezionato)="modificaPartenza($event)"></app-box-nuova-partenza>
          </div>
        </div>
        <button class="btn btn-block btn-success mt-2" [disabled]="partenze.length <= 0">Conferma</button>
      </div>
    </div>
  </div>
</div>