<div class="row">
  <div class="col-12 mt-2">
    <div class="row">
      <div class="col-4">
        <div class="card card-shadow w-75 mx-auto">
          <div class="card-header">
            <i class="fa fa-group mr-2"></i><span class="h6">Squadre</span>
          </div>
          <ul class="list-group list-group-flush">
            <app-squadra-composizione *ngFor="let s of squadre" [squadra]="s"></app-squadra-composizione>
          </ul>
        </div>
      </div>
      <div class="col-4 pl-0">
        <div class="card card-shadow mx-auto">
          <div class="card-header">
            <i class="fa fa-truck mr-2"></i><span class="h6">Mezzi</span>
          </div>
          <ul class="list-group list-group-flush">
            <app-mezzo-composizione *ngFor="let mC of mezziComposizione" [mezzoComp]="mC"></app-mezzo-composizione>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-dashed-3 w-100 py-3 px-2">
          <app-preaccoppiato [preAcc]="preAcc" [richiesta]="richiesta"></app-preaccoppiato>
          <app-preaccoppiato [preAcc]="preAcc" [richiesta]="richiesta"></app-preaccoppiato>
          <app-preaccoppiato [preAcc]="preAcc" [richiesta]="richiesta"></app-preaccoppiato>
        </div>
      </div>
    </div>
  </div>
</div>