<div class="row">
  <div class="col-12 bg-light mb-2">
    <app-nav-slower (cambioModalita)="changeMode($event)"></app-nav-slower>
  </div>
  <div class="col-12 mt-2">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-3">
        <div class="card card-shadow">
          <div class="card-header">
            Mezzi
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A1</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A2</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A3</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A4</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A5</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 pr-0 text-center">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="col-5 pl-1">
                  <span>A6</span>
                </div>
                <div class="col-3 pl-1 text-right">
                  <i class="fa fa-group"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <div class="card card-shadow">
          <div class="card-header">
            Squadre
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1">
                    <span>Rossa</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1">
                    <span>Gialla</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1">
                    <span>Blu</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1 pr-0">
                    <span>Marrone</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1">
                    <span>Viola</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3 pr-0 text-center">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col-5 pl-1">
                    <span>Verde</span>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>