@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/primeng/resources/themes/bootstrap/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';

.app-shadow{
  -webkit-box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
  box-shadow: 1px 1px 2px 1px rgba(224,224,224,1);
}
.min-height-boxes{
  height:170px;
}
.w-200{
  width:200px;
}
.bg-grey-o{
  background-color:rgba(206, 206, 206, .93);
}
.bg-grey{
  background-color:rgba(206, 206, 206, 1);
  -webkit-box-shadow: 0px 10px 20px 7px rgba(206,206,206,1);
  -moz-box-shadow: 0px 10px 20px 7px rgba(206,206,206,1);
  box-shadow: 0px 10px 20px 7px rgba(206,206,206,1);
}