<form class="m-0" autocomplete="off">
    <div class="input-group">
        <label for="ricercaRichieste" class="d-none"></label>
        <div *ngIf="sediFiltro && sediFiltro?.length > 1" class="input-group-prepend">
            <div ngbDropdown class="d-inline-block">
                <button class="btn"
                        [ngClass]="{'btn-danger': sediFiltroSelezionate?.length > 0, 'btn-outline-primary': sediFiltroSelezionate?.length <= 0}"
                        id="filtroSediDropdown" ngbDropdownToggle>
                    Filtri
                </button>
                <div ngbDropdownMenu style="width:500px; max-height:400px; overflow-y:auto; overflow-x:hidden">
                    <div class="p-2">
                        <div class="clearfix">
                            <div class="float-left pl-2">
                                <h5 style="margin-top:20px">Filtra per sede</h5>
                            </div>
                            <div class="float-right pr-1">
                                <div class="text-center mt-2">
                                    <input class="form-control-lg" [(ngModel)]="sediFiltroSearch"
                                           [ngModelOptions]="{standalone: true}" placeholder="Cerca una sede"
                                           type="search">
                                </div>
                            </div>
                        </div>
                        <small class="d-block text-center mt-3">
                            <i class="fa fa-info-circle mr-1"></i>
                            Seleziona una o più sedi per filtrare.
                        </small>
                        <hr class="my-2">
                        <div class="mt-3 px-1">
                            <div *ngIf="sediFiltroSelezionate?.length > 0">
                                <button class="btn btn-block btn-danger mb-1 btn-no-hover" (click)="resetFiltriSedi()">
                                    Elimina Filtri Selezionati
                                </button>
                                <hr class="mt-3 mb-2">
                            </div>
                            <span *ngFor="let f of sediFiltro | filterBy: {'descSede': sediFiltroSearch}"
                                  id="{{f.codSede}}">
                                <button class="btn btn-block mb-1 btn-no-hover"
                                        [ngClass]="{'btn-primary': _isSelected(f.codSede), 'btn-outline-secondary': !_isSelected(f.codSede)}"
                                        (click)="filtroChange.emit(f.codSede)">
                                    {{f.descSede}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="ricercaRichieste" name="ricercaRichieste" [(ngModel)]="ricerca"
               class="form-control" type="text" placeholder="Chi stai cercando?" appDebounceKeyUp
               (debounceKeyUp)="ricercaChange.emit(ricerca)" [debounceTime]="600">
        <div class="input-group-append">
            <button class="btn btn-primary btn-no-hover">
                <i *ngIf="!loading" class="fa fa-search text-light"></i>
                <i *ngIf="loading" class="fa fa-spinner fa-spin text-light"></i>
            </button>
        </div>
    </div>
</form>
