<div class="clearfix">
    <div class="float-left mr-2">
        <ng-select [items]="sediFiltro"
                   bindLabel="descSede"
                   bindValue="codSede"
                   placeholder="Sedi: Tutte"
                   (add)="onAddFiltroSede($event)"
                   (remove)="onRemoveFiltroSede($event)"
                   (clear)="onResetFiltriSedi()"
                   [multiple]="true">
            <ng-template ng-option-tmp let-item="item">
                <input type="checkbox" [checked]="sediFiltroSelezionate?.includes(item.codSede)"/>
                {{ item.descSede }}
            </ng-template>'
        </ng-select>
    </div>
    <div class="float-left">
        <div class="input-group">
            <label for="ricercaUtentiSO" class="d-none"></label>
            <input id="ricercaUtentiSO"
                   name="ricercaUtentiSO"
                   [(ngModel)]="ricerca"
                   class="form-control"
                   type="text"
                   placeholder="Chi stai cercando?"
                   appDebounceKeyUp
                   [debounceTime]="600"
                   (debounceKeyUp)="ricercaChange.emit(ricerca)">
            <div class="input-group-append">
                <button class="btn btn-primary btn-no-hover">
                    <i *ngIf="!loading" class="fa fa-search text-light"></i>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin text-light"></i>
                </button>
            </div>
        </div>
    </div>
</div>
