<form class="m-0" autocomplete="off">
    <div class="input-group">
        <label for="ricercaDettagliTipologie" class="d-none"></label>
        <input id="ricercaDettagliTipologie" name="ricercaDettagliTipologie" [(ngModel)]="ricerca"
               class="form-control" type="text" placeholder="Ricerca Dettaglio Tipologia" appDebounceKeyUp
               (debounceKeyUp)="ricercaChange.emit(ricerca)" [debounceTime]="600">
        <div class="input-group-append">
            <button class="btn btn-primary btn-no-hover">
                <i *ngIf="!loading" class="fas fa-search text-light"></i>
                <i *ngIf="loading" class="fas fa-spinner fa-spin text-light"></i>
            </button>
        </div>
    </div>
</form>
