<div class="modal-header">
    <div class="modal-title font-weight-bold">
        {{ 'Annullamento Emergenza ' + zonaEmergenza?.codEmergenza | uppercase }}
    </div>
    <button type="button"
            class="btn btn-light close"
            style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <span class="text-danger"><i class="fas fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="annullaZonaEmergenzaForm" ngxsForm="zoneEmergenza.annullaZonaEmergenzaForm">
        <div class="form-group">
            <label for="motivazione">Motivazione</label>
            <textarea id="motivazione"
                   class="form-control"
                   type="text"
                   placeholder="Scrivi qui una motivazione (Opzionale)"
                   formControlName="motivazione">
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer" style="place-content: space-between;">
    <button class="btn btn-lg btn-danger text-right btn-no-hover font-weight-bold"
            (click)="close('ok')"
            [disabled]="!annullaZonaEmergenzaForm?.valid">
        {{ 'Conferma annullamento' | uppercase }}
    </button>
    <button class="btn btn-lg btn-secondary text-right btn-no-hover font-weight-bold"
            (click)="close('ko')">
        {{ 'Esci' | uppercase }}
    </button>
</div>
