/* You can add global styles to this file, and also import other style files */
body {
    margin: 10px;
}
.dragging {
    border-left: 5px solid palevioletred;
    border-right: 5px solid palevioletred;
}

.dropping {
    border: 2px dotted palevioletred;
}