<div class="modal-header">
    <h4 class="modal-title">{{ 'Crea Dettaglio Tipologia' | uppercase }}</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="onDismiss()">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="dettaglioTipologiaForm" ngxsForm="dettaglioTipologiaModal.dettaglioTipologiaForm">
        <div class="mb-3">
            <label for="tipologia">Scegli una Tipologia</label>
            <ng-select id="tipologia"
                       placeholder="Seleziona una tipologia dall'elenco"
                       [items]="[{
                           codice: '1',
                           descrizione:'Incendio Normale (generico) (1)'
                       }]"
                       bindLabel="descrizione"
                       bindValue="codice"
                       formControlName="codTipologia">
            </ng-select>
        </div>
        <div>
            <label for="dettaglioTipologia">Descrivi il Dettaglio della Tipologia</label>
            <input id="dettaglioTipologia"
                   type="text"
                   placeholder="Dettaglio Tipologia"
                   class="form-control"
                   formControlName="descrizione">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-success btn-no-hover mr-2" (click)="onConfermaERiapri()">
        {{ 'Conferma e Continua' | uppercase }}
    </button>
    <button class="btn btn-lg btn-secondary btn-no-hover" (click)="onConfermaEChiudi()">
        {{ 'Conferma e Chiudi' | uppercase }}
    </button>
    <button class="btn btn-lg btn-danger btn-no-hover" (click)="closeModal('ko')">
        {{ 'Annulla' | uppercase }}
    </button>
</div>
