<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- Filtri -->
            <div class="col-md-6 ml-auto">
                <app-filtri-richieste class="mr-2"></app-filtri-richieste>
                <button class="btn btn-success" (click)="addRichiesta()">Aggiungi Richiesta</button>
            </div>
            <!-- Ricerca -->
            <div class="col-md-6 ml-auto">
                <app-ricerca-richieste></app-ricerca-richieste>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-lista-richieste [richieste]="richieste"></app-lista-richieste>
    </div>
</div>
