.h-info-window {
    min-height: 100px !important;
    min-width: 150px !important;
    text-align: center !important;
}

.h-info-window-sede {
    min-height: 150px !important;
    min-width: 150px !important;
    text-align: center !important;
}