<div class="row">
    <div class="col-4">
        <button class="btn btn-primary" (click)="addDettaglio()">
            <i class="fa fa-plus"></i>
            Aggiungi Dettaglio
        </button>
    </div>
    <div class="col">
        <label for="filtriDettagliTipologie" class="d-none">Filtra Dettagli Tipologie</label>
        <ng-select id="filtriDettagliTipologie"
                   placeholder="Filtra per tipologia"
                   [items]="['Incendio Normale (generico) (1)']">
        </ng-select>
    </div>
    <div class="col text-right">
        <label for="ricercaDettagliTipologie" class="d-none">Ricerca Dettagli Tipologie</label>
        <input id="ricercaDettagliTipologie"
               type="text"
               placeholder="Cerca un Dettaglio Tipologia"
               class="form-control">
    </div>
    <div class="col-12 mt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Codice Tipologia</th>
                <th scope="col">Sede</th>
                <th scope="col">Codice Dettaglio</th>
                <th scope="col">Descrizione</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>RM.1000</td>
                <td>1</td>
                <td>Indendio Autocisterna</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>RM.1000</td>
                <td>2</td>
                <td>Incendio Autobus</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>RM.1000</td>
                <td>3</td>
                <td>Incendio Tir</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <pagination-controls class="mt-1 mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'">
        </pagination-controls>
    </div>
</div>
