<div class="modal-header">
    <h4 class="modal-title">Aggiungi un utente</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body height">
    <form [formGroup]="form">
        <div class="mb-3">
            <ng-select
                    [items]="utenti$ | async"
                    bindLabel="cognome"
                    bindValue="id"
                    [multiple]="true"
                    formControlName="utenti"
                    placeholder="Seleziona uno o più utenti"
                    [notFoundText]="'Nessun utente disponibile'">
            </ng-select>
        </div>
        <div class="mb-3">
            <ng-select
                    [items]="ruoli"
                    [multiple]="true"
                    formControlName="ruoli"
                    placeholder="Seleziona uno o più ruoli"
                    [notFoundText]="'Nessun ruolo disponibile'">
            </ng-select>
        </div>
        <app-shared-treeview [items]="listeSediNavbar"
                             [testoSedeSelezionata]="'Seleziona una o più sedi'"
                             [placement]="'bottom-left'"
                             [visualizzaTasti]="false"
                             [maxHeight]="200"
                             (confermaSelezione)="onPatchSedi($event)">
        </app-shared-treeview>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('ko')">Annulla</button>
    <button type="button" class="btn btn-success" (click)="onConferma()">Conferma</button>
</div>
