<div class="modal-header">
    <h4 class="modal-title">Aggiungi un utente</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body height">
    <form [formGroup]="nuovoUtenteForm" ngxsForm="gestioneUtenti.nuovoUtenteForm">
        <div class="mb-3">
            <ng-select
                    [items]="utenti$ | async"
                    bindLabel="cognome"
                    bindValue="id"
                    [multiple]="true"
                    formControlName="utenti"
                    placeholder="Seleziona uno o più utenti"
                    [notFoundText]="'Nessun utente disponibile'"
                    [ngClass]="{ 'is-invalid': submitted && f.utenti.errors }">
            </ng-select>
        </div>
        <div *ngIf="submitted && f.utenti.errors" class="invalid-feedback">
            <div *ngIf="f.utenti.errors.required">Campo Obbligatorio</div>
        </div>
        <div class="mb-3">
            <app-shared-treeview [items]="listeSediNavbar"
                                 [testoSedeSelezionata]="'Seleziona una o più sedi'"
                                 [placement]="'bottom-left'"
                                 [visualizzaTasti]="false"
                                 [maxHeight]="200"
                                 (confermaSelezione)="onPatchSedi($event)">
            </app-shared-treeview>
            <div *ngIf="submitted && f.sedi.errors" class="invalid-feedback">
                <div *ngIf="f.sedi.errors.required">Campo Obbligatorio</div>
            </div>
        </div>
        <div class="mb-3">
            <ng-select
                    [items]="ruoli"
                    [multiple]="true"
                    formControlName="ruoli"
                    placeholder="Seleziona un ruolo"
                    [notFoundText]="'Nessun ruolo disponibile'"
                    [ngClass]="{ 'is-invalid': submitted && f.ruoli.errors }">
            </ng-select>
        </div>
        <div *ngIf="submitted && f.ruoli.errors" class="invalid-feedback">
            <div *ngIf="f.ruoli.errors.required">Campo Obbligatorio</div>
        </div>
        <div class="mb-3">
            <ng-select
                    [items]="ruoli"
                    [multiple]="true"
                    formControlName="ruoli"
                    placeholder="Seleziona un ruolo"
                    [notFoundText]="'Nessun ruolo disponibile'"
                    [ngClass]="{ 'is-invalid': submitted && f.ruoli.errors }">
            </ng-select>
        </div>
        <div *ngIf="submitted && f.ruoli.errors" class="invalid-feedback">
            <div *ngIf="f.ruoli.errors.required">Campo Obbligatorio</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('ko')">Annulla</button>
    <button type="button" class="btn btn-success" (click)="onConferma()">Conferma</button>
</div>
