<div class="card row_text p-3" [ngClass]="{'status_presidiato': richiesta.presidiato, 'status_non_presidiato': !richiesta.presidiato}">
  <div class="row align-items-center">
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="h5 nowrap">
                <i class="guida fa fa-hashtag fa-fw" aria-hidden="true" title="Identificativo richiesta assistenza"></i>
                <a class="h4 num-int" (click)="toggleEspanso()">
									  {{ richiesta.codice }}
								</a>
                <span *ngIf="richiesta.rilevante">
                  <i class="guida fa fa-exclamation-circle fa-fw" style="color:red!important;" aria-hidden="true"
                  title="Intervento Rilevante"></i>
                </span>
              </div>

              <div class="h5 nowrap">
                <i class="guida fa fa-clock-o fa-fw" aria-hidden="true" title="Istante ricezione richiesta"></i> {{ richiesta.istanteRicezioneRichiesta
                | friendlyDate }} - {{ richiesta.istanteRicezioneRichiesta | friendlyHour }}
              </div>
              <div class="h5 nowrap">
                <i class="guida fa fa-bolt fa-fw" aria-hidden="true" title="Orario Prima assegnazione"></i> {{ richiesta.istantePrimaAssegnazione
                | friendlyHour }}

                <!-- presidiato / non presidiato -->
                <span *ngIf="richiesta.presidiato;else nonPresidiato">
                  <span class="badge badge-success">presidiato</span>
                </span>
                <ng-template #nonPresidiato>
                  <span class="badge badge-warning">non presidiato</span>
                </ng-template>

              </div>

              <div class="h5 nowrap">
                <i class="guida fa fa-thermometer-half fa-fw" aria-hidden="true" title="Priorità della richiesta"></i>
                <span class="h5" [ngClass]="{'text-success':richiesta.priorita <= 2, 'text-warning':richiesta.priorita > 2 && richiesta.priorita <= 4, 'text-danger': richiesta.priorita == 5}">
                  <i *ngFor="let n of vettorePallini()" class="fa fa-circle" aria-hidden="true"></i><i *ngFor="let n of vettoreBuchini()" class="fa fa-circle-o" aria-hidden="true"></i>  
                </span>
              </div>

            </div>

            <div class="col-md-8">
              <div class="h5 nowrap">
                <i class="guida fa fa-exclamation-triangle fa-fw" aria-hidden="true" title="Tipologia Eventi"></i>
                <span *ngIf="!!richiesta.tipologie && richiesta.tipologie.length > 0" class="h4 tipologia">{{ richiesta.tipologie[0] }}</span>
                <a *ngIf="richiesta.tipologie.length > 1" [popover]="popAltreTip" placement="bottom" popoverTitle="Altre tipologie" triggers="mouseenter:mouseleave">
                  [più altre {{ richiesta.tipologie.length - 1 }}]
                </a>

                <!-- popover altre tipologie -->
                <ng-template #popAltreTip>
                  <div class="h4" *ngFor="let t of altreTipologie(); let i = index">
                    {{ i + 2 }}.
                    <span class="tipologia">{{ t }}</span>
                  </div>
                </ng-template>

                <h5>
                  <i class="guida fa fa-fw" aria-hidden="true"></i>
                  <span tooltip="{{ richiesta.descrizione }}" placement="bottom">{{ richiesta.descrizione | truncate:33 }}</span>
                </h5>
              </div>
              <div class="h5 nowrap">
                <i class="guida fa fa-address-book-o fa-fw" aria-hidden="true" title="Richiedente"></i>
                <span tooltip="{{ richiesta.richiedente }}" placement="bottom">{{ richiesta.richiedente | truncate:33 }}</span>
              </div>
              <div class="h5 pt-1 nowrap">
                <i class="guida fa fa-phone fa-fw mr-1" aria-hidden="true" title="Numero richiedente"></i> {{ richiesta.numeroRichiedente
                }}
              </div>

            </div>
            <div class="col-md-1 p-2">
              <div class="h5 nowrap">
                <i class="guida fa fa-users fa-fw" aria-hidden="true" title="Numero Squadre"></i>
                <a>
										<span class="h3 big_numbers"  [popover]="popSquadre" placement="bottom" popoverTitle="Squadre" triggers="mouseenter:mouseleave">
                      {{ numeroSquadre() }}
                    </span>
                </a>

                <!-- popover squadre -->
                <ng-template #popSquadre>
                  <div class="h4">
                    <div *ngFor="let s of nomiSquadre()">{{ s }}</div>
                  </div>
                </ng-template>

              </div>
              <div class="h4 nowrap">
                <i class="guida fa fa-truck fa-fw" aria-hidden="true" title="Numero Mezzi"></i>
                <a tabindex="0" title="<b>Mezzi<b>" data-content="
													<div>
														<div>
															<span style='font-weight: bold'>AMR123SA</span>
															<span class='badge badge-default m-0'>APS</span>
														</div>
														<div>
															<span style='font-weight: bold'>AMD456DE</span>
															<span class='badge badge-default m-0'>autoscala</span>
														</div>
													</div>
													">
										<span class="h3 big_numbers">2</span>
										</a>
              </div>
              <div class="h5 nowrap">
                <i class="guida fa fa-user fa-fw" aria-hidden="true" title="Persone Impiegate"></i>
                <a tabindex="0" title="Persone Impiegate" data-content="
														<div>
														<b>CR</b>  Giuseppe Verdi <span class='badge badge-warning'>CP</span></br>
														<b>CR</b>  Giuseppe Garibaldi <span class='badge badge-warning'>CP</span></br>
														</div><b>VE</b>  Giacomo Leopardi <span class='badge badge-info'>A</span><br/>
														</div><b>VE</b>  Giacomo Puccini <span class='badge badge-info'>A</span><br/>
														<b>VE</b>  Torquato Tasso<br/>
														<b>VQ</b>  Ippolito Pindemonte<br/>
														<b>VP</b>  Alessandro Manzoni<br/>
														<b>VE</b>  Italo Svevo<br/>
														<b>VQ</b>  Ugo Foscolo<br/>
														<b>VP</b>  Dante Alighieri<br/>
														</div>">
										<span class="h3 big_numbers">10</span>
										</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="row m-0" style="background-color: gainsboro;">
              <div class="col-md-10 h3">
                <i class="guida fa fa-map-marker fa-fw" aria-hidden="true" title="Localizzazione"></i>
                <span class="h5">
												Via Gustavo Lafrutta, 15 - Roma (RM)
											 <a href="#">
												<i class="guida fa fa-globe fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Localizzazione Richiesta Intervento"></i>	
											</a>
											</span>
              </div>
              <div class="col-md-2 h6 pt-2 text-right">
                <span class="badge badge-primary">Tus</span>
                <span class="badge badge-info">Ost</span>
                <span class="badge badge-default">Cent</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="espanso" class="col-md-12">
          <div class="col-md-12">
            <div class="row card bt-0" style="background-color: white">
              <div class="col-md-12 bg_diagonal_grey">
                <div class="h3">
                  <div class="h6 p-2">
                    200 mt prima della rotonda, segnalato dal paracarro Km 1202
                  </div>
                  <div class="h5 pull-right">
                    <span class="badge badge-danger pull-right m-1">Zona ABC</span>
                    <span class="badge badge-danger pull-right m-1">Zona DEF</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <!--<h4 class="card-title p-1" style="background-color: #a3d8ad;">Dettaglio Richiesta</h4>-->

            <div class="col-md-3">
              <div class="h5">
                <i class="guida fa fa-calendar-check-o fa-fw" aria-hidden="true" title="Data e Ora Presa in Carico"></i>
                <span class="badge badge-info">oggi</span> - 15.13
              </div>
              <div class="h5">
                <i class="guida fa fa-id-card-o fa-fw" aria-hidden="true" title="Codice scheda NUE"></i>
                <a href="#"><span style="color: darkorange">184831295</span></a>
              </div>
              <div class="h5">
                <i class="guida fa fa-paper-plane-o fa-fw" aria-hidden="true" title="Stato Fonogramma"></i>
                <span class="h4 badge badge-success">fonogramma inviato</span>
              </div>
              <div class="h5">
                <i class="guida fa fa-list fa-fw" aria-hidden="true" title="Eventi Generati"></i>
                <b><a href="#" >133</a></b>
                <span class="h4 badge badge-danger">complesso</span>
              </div>

            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-block bg_card_title">
                  <i class="guida fa fa-users fa-2x fa-fw" aria-hidden="true" title="Squadre Coinvolte"></i>
                  <span class="h4 card-title">Squadre Coinvolte</span>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item pl-2 pr-2">
                    <div class="col-md-10">
                      <i class="guida fa fa-fire-extinguisher fa-fw mr-2" style="font-size: 1.5em" aria-hidden="true" title="Squadra"></i>
                      <span style="font-weight: bold">Prima Partenza A</span>
                    </div>
                    <div class="col-md-2">
                      <a tabindex="0" title="<b>Componenti Squadra<b>" data-content="
														<div>
														<b>CR</b>  Giuseppe Verdi <span class='badge badge-warning'>CP</span></br>
														</div><b>VE</b>  Giacomo Leopardi <span class='badge badge-info'>A</span><br/>
														<b>VE</b>  Torquato Tasso<br/>
														<b>VQ</b>  Ippolito Pindemonte<br/>
														<b>VP</b>  Alessandro Manzoni<br/>
														</div>">
													<i class="guida fa fa-tags fa-fw" style="color:cadetblue!important;font-size: 1.5em" aria-hidden="true" title="Componenti Squadra"></i>	
												</a>
                    </div>
                  </li>
                  <li class="list-group-item pl-2 pr-2">
                    <div class="col-md-10">
                      <i class="guida fa fa-fire-extinguisher fa-fw mr-2" style="font-size: 1.5em" aria-hidden="true" title="Squadra"></i>
                      <span style="font-weight: bold">Seconda Partenza A</span>
                    </div>
                    <div class="col-md-2">
                      <a tabindex="0" title="<b>Componenti Squadra<b>" data-content="
														<b>CR</b>  Giuseppe Garibaldi <span class='badge badge-warning'>CP</span></br>
														</div><b>VE</b>  Giacomo Puccini <span class='badge badge-info'>A</span><br/>
														<b>VE</b>  Italo Svevo<br/>
														<b>VQ</b>  Ugo Foscolo<br/>
														<b>VP</b>  Dante Alighieri<br/>
														">
													<i class="guida fa fa-tags fa-fw" style="color:cadetblue!important;font-size: 1.5em" aria-hidden="true" title="Componenti Squadra"></i>	
												</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card">
                <div class="card-block bg_card_title">
                  <i class="guida fa fa-truck fa-2x fa-fw" aria-hidden="true" title="Mezzi Coinvolti"></i>
                  <span class="h4 card-title">&nbsp;Mezzi Coinvolti</span>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-0">
                    <div class="col-md-10">
                      <i class="guida fa fa-tachometer fa-fw mr-0" style="font-size: 1.5em" aria-hidden="true" title="Mezzo"></i>
                      <span style="font-weight: bold">AMR123SA</span>
                      <span class="badge badge-default m-0">APS</span>
                      <span class="badge badge-warning m-0">in viaggio</span>

                    </div>
                    <div class="col-md-2 p-0 pl-2">
                      <a href="#" tabindex="0" title="Indicatori Mezzo" data-content="
														<div style='font-size:1.3em'>
														<i class='fa fa-cogs fa-fw' aria-hidden='true' title='Stato di efficienza del mezzo'/> &nbsp;&nbsp; <span class='badge badge-success'> OTTIMO </span><br/>
														<i class='fa fa-tachometer fa-fw' aria-hidden='true' title='Livello Carburante'/> &nbsp;&nbsp; <span class='badge badge-success'> ALTO </span><br/>
														<i class='fa fa-tint fa-fw' aria-hidden='true' title='Livello Estinguente'/> &nbsp;&nbsp; <span class='badge badge-success'> ALTO </span><br/>
														<i class='fa fa-flag fa-fw' aria-hidden='true' title='Appartenenza del mezzo'/> &nbsp;&nbsp; <span class='badge badge-info'> PROPRIO </span><br/>
														</div>">														
													<i class="guida fa fa-briefcase fa-fw" style="color:green!important;" aria-hidden="true"
													 title="Condizione del Mezzo"></i>
													 </a>
                      <a tabindex="0" title="Persone sul Mezzo" data-content="
														<b>CR</b>  Giuseppe Verdi <span class='badge badge-warning'>CP</span></br>
														</div><b>VE</b>  Giacomo Leopardi <span class='badge badge-info'>A</span><br/>
														<b>VE</b>  Torquato Tasso<br/>
														<b>VQ</b>  Ippolito Pindemonte<br/>
														<b>VP</b>  Alessandro Manzoni<br/>
														</div>">
													<i class="guida fa fa-user fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Persone sul mezzo"></i>	
												</a>
                      <a style="font-weight: bold" href="#">
													<i class="guida fa fa-globe fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Localizzazione Mezzo"></i>	
												</a>
                      <a tabindex="0" title="Notifiche mezzo" data-content="Nessuna notifica">
													<i class="guida fa fa-bell fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Persone sul mezzo"></i>	
												</a>
                    </div>
                  </li>
                  <li class="list-group-item p-0">
                    <div class="col-md-10">
                      <i class="guida fa fa-tachometer fa-fw mr-0" style="font-size: 1.5em" aria-hidden="true"
                        title="Mezzo"></i>
                      <span style="font-weight: bold">AMD456DE</span>
                      <span class="badge badge-default m-0">autoscala</span>
                      <span class="badge badge-danger m-0">in sede</span>
                    </div>
                    <div class="col-md-2 p-0 pl-2">
                      <a href="#" tabindex="0" title="Indicatori Mezzo" data-content="
														<div style='font-size:1.3em'>
														<i class='fa fa-cogs fa-fw' aria-hidden='true' title='Stato di efficienza del mezzo'/> &nbsp;&nbsp; <span class='badge badge-warning'> MEDIOCRE </span><br/>
														<i class='fa fa-tachometer fa-fw' aria-hidden='true' title='Livello Carburante'/> &nbsp;&nbsp; <span class='badge badge-danger'> BASSO </span><br/>
														<i class='fa fa-tint fa-fw' aria-hidden='true' title='Livello Estinguente'/> &nbsp;&nbsp; <span class='badge badge-success'> ALTO </span><br/>
														<i class='fa fa-flag fa-fw' aria-hidden='true' title='Appartenenza del mezzo'/> &nbsp;&nbsp; <span class='badge badge-warning'> ALTRA SEDE </span><br/>
														</div>">	
													<i class="guida fa fa-briefcase fa-fw" style="color:red!important" aria-hidden="true"
													 title="Condizione del Mezzo"></i>
													 </a>
                      <a tabindex="0" title="Persone sul Mezzo" data-content="
														<b>CR</b>  Giuseppe Garibaldi <span class='badge badge-warning'>CP</span></br>
														</div><b>VE</b>  Giacomo Puccini <span class='badge badge-info'>A</span><br/>
														<b>VE</b>  Italo Svevo<br/>
														<b>VQ</b>  Ugo Foscolo<br/>
														<b>VP</b>  Dante Alighieri<br/>
														">
													<i class="guida fa fa-user fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Persone sul mezzo"></i>	
												</a>
                      <a style="font-weight: bold" href="#">
													<i class="guida fa fa-globe fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Localizzazione Mezzo"></i>	
												</a>
                      <a tabindex="0" title="Notifiche mezzo" data-content="Nessuna notifica">
													<i class="guida fa fa-bell fa-fw" style="color:cadetblue!important;" aria-hidden="true" title="Persone sul mezzo"></i>	
												</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- TAGS-->
            <div class="card-text col-md-12">
              <div class="card mt-3" style="background-color: lavender">
                <div class="col-md-12 h5 pull-right mt-2">
                  <span class="badge badge-default pull-right m-1">Incendi Estivi</span>
                  <span class="badge badge-default pull-right m-1">Fuori Città</span>
                  <i class="guida fa fa-tags fa-fw" aria-hidden="true" title="Etichette"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="ml-4 mr-0 pr-0 h2">
        <a href="#">
							<i class="tasto-dettaglio fa fa-arrow-circle-o-right" aria-hidden="true" title="Vai alla pagina di dettaglio"></i>
						</a>
      </div>
    </div>
  </div>
</div>