.status_non_presidiato {
	border-left: 10px solid darkorange;
}
.status_presidiato {
	border-left: 10px solid green;
}
.row_text {
	color: #666666;
}
/* icone di guida */
.guida {
	color: #bbbbbb;
}
.big_numbers {
	color: #a72920;
	font-weight: bold;
}
.bg_diagonal_grey {
	background: repeating-linear-gradient( 135deg, white, white 0.1em, #F0F0F0 0.4em, #E9EEFB 0.1em);
}
.bg_diagonal_grey_big {
	background: repeating-linear-gradient( 135deg, white, white 0.5em, #F0F0F0 1em, #E9EEFB 0.5em);
}
.bg_card_title {
	background-color: beige;
}
.nowrap {
	white-space: nowrap;
}
.altre-tip:hover {
	text-decoration: underline;
	cursor: pointer;
}
.tipologia {
	color:chocolate;
}
.num-int {
	color:#444444;
	font-weight: bold;
	cursor: pointer;
}
.num-int:hover {
	text-decoration: underline;
}
.tasto-dettaglio {
	color:lightblue !important;
	font-size: 1.5em;
}