<li class="list-group-item cursor-pointer border-bottom px-2" (mouseover)="hoverIn()" (mouseout)="hoverOut()" [ngClass]="{'bg-light': hover}">
  <div class="row">
    <div class="col-12 text-center">
      <span class="d-inline-block font-weight-bold mr-1">{{mezzoComp.mezzo.descrizione}}</span>
      <span class="d-inline-block mr-2">{{mezzoComp.mezzo.genere}}</span>
      <small>
        <i class="fa fa-road guida mr-1"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.km}}</span>
        <i class="fa fa-clock-o guida mr-1"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.tempoPercorrenza}}</span>
      </small>
    </div>
  </div>
</li>