<li class="list-group-item cursor-pointer border" (mouseover)="onHoverIn()" (mouseout)="onHoverOut()" (click)="onClick()"
  [ngClass]="liClass()">
  <div class="row">
    <div class="col-9 pl-0 text-center">
      <span class="fa fa-eercast mr-1" [ngbTooltip]="mezzoComp.mezzo.stato" [ngClass]="statoMezzoClass()"></span>
      <span class="d-inline-block font-weight-bold mr-1">{{mezzoComp.mezzo.descrizione}}</span>
      <span class="d-inline-block mr-2">{{mezzoComp.mezzo.genere}}</span>
      <small>
        <i class="fa fa-road guida mr-1" ngbTooltip="Distanza dall'intervento"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.km}}</span>
        <i class="fa fa-clock-o guida mr-1" ngbTooltip="Tempo di percorrenza"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.tempoPercorrenza}}</span>
      </small>
      <span class="badge" [ngbTooltip]="mezzoComp.distaccamento">{{mezzoComp.distaccamento | slice:0:3}}</span>
    </div>
  </div>
</li>