<li class="list-group-item cursor-pointer border px-2" (click)="click(mezzoComp)" (mouseover)="hoverIn()" (mouseout)="hoverOut()" [ngClass]="mezzoCompClass()">
  <div class="row">
    <div class="col-9 text-center">
      <span class="d-inline-block font-weight-bold mr-1">{{mezzoComp.mezzo.descrizione}}</span>
      <span class="d-inline-block mr-2">{{mezzoComp.mezzo.genere}}</span>
      <small>
        <i class="fa fa-road guida mr-1"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.km}}</span>
        <i class="fa fa-clock-o guida mr-1"></i>
        <span class="d-inline-block mr-2">{{mezzoComp.tempoPercorrenza}}</span>
      </small>
    </div>
    <div *ngIf="partenze.length > 0 && mezzoComp !== mezzoSelezionato" class="col-2 pr-0">
      <button class="btn btn-sm btn-block btn-primary py-0" (click)="clickNuovoMezzo()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</li>