<ng-container *ngIf="title">
    <h3>{{ title }}</h3>
</ng-container>
<div class="border-partenza-box bg-dark-light pb-4">
    <div class="clearfix">
        <!-- Info mezzo -->
        <div class="float-left">
            <div class="mb-2">
                Mezzo
            </div>
            <i class="fas fa-truck fa-fw mr-1 text-{{ statoMezzoColor(partenza?.mezzo['stato']) }}"
               ngbTooltip="Mezzo {{ partenza?.mezzo['stato'] }}"></i>
            <b class="font-box-partenza">{{ partenza?.mezzo['descrizione'] }}</b>
            <span class="badge badge-default m-0">{{ partenza?.mezzo['genere'] }}</span>
            <i class="fas fa-check-circle text-success ml-3"></i>
        </div>
        <!-- Info squadra -->
        <div class="float-right">
            <!-- Singola squadra sul mezzo -->
            <ng-container *ngIf="partenza?.squadre?.length === 1">
                <div class="mb-2">
                    <label>Squadra</label>
                    <button class="btn btn-light border ml-2 p-1 mr-2"
                            style="padding: 5px !important; line-height: 0;"
                            ngbTooltip="Elenco squadra"
                            (click)="onListaSquadrePartenza($event)">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <i class="fas fa-users mr-2"
                   [ngClass]="_iconaStatiClass(_nomeStatiSquadra(partenza.squadre[0].stato))"
                   ngbTooltip="Squadra {{ _nomeStatiSquadra(partenza.squadre[0].stato) }}"></i>
                <b class="font-box-partenza">{{ partenza?.squadre[0]?.codice }} ({{partenza?.squadre[0]?.turno}})</b>
                <i class="fas fa-check-circle text-success ml-3"></i>
            </ng-container>
            <!-- Più di una squadra sul mezzo -->
            <ng-container *ngIf="partenza?.squadre.length > 1">
                <div>
                    <label>Squadre</label>
                    <button class="btn btn-light border ml-2 p-1 mr-2"
                            style="padding: 5px !important; line-height: 0;"
                            ngbTooltip="Elenco squadre"
                            (click)="onListaSquadrePartenza($event)">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <ng-container *ngFor="let squadre of partenza?.squadre">
                    <div class="mb-1">
                        <i class="fas fa-users mr-2"
                           [ngClass]="_iconaStatiClass(_nomeStatiSquadra(squadre['stato']))"
                           ngbTooltip="Squadra {{ _nomeStatiSquadra(squadre['stato']) }}"></i>
                        <b class="font-box-partenza">{{ squadre['codice'] }}</b>
                        <b class="font-box-partenza ml-1">({{ squadre['turno'] }})</b>
                        <i class="fas fa-check-circle text-success ml-3"></i>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
