<ng-container *ngIf="title">
    <h3>{{ title }}</h3>
</ng-container>
<div class="border-partenza-box bg-dark-light">
    <div class="clearfix">
        <!-- Info mezzo -->
        <ng-container *ngIf="partenza?.mezzo">
            <div class="float-left">
                <div class="mb-2">
                    Mezzo
                </div>
                <i class="fas fa-truck fa-fw mr-2 text-{{ statoMezzoColor(partenza.mezzo.stato) }}"
                   [ngbTooltip]="partenza.mezzo.stato"></i>
                <div class="d-inline-block font-weight-bold mr-2"
                     [ngbTooltip]="partenza.mezzo.sigla?.length <= 6 ? labelMezzo : labelMezzoSigla"
                     [disableTooltip]="!partenza.mezzo.sigla && !partenza.mezzo.modello && partenza.mezzo.descrizione?.length <= 6"
                     placement="top">
                    <ng-container *ngIf="partenza.mezzo.sigla">
                        {{ partenza.mezzo.sigla | truncate: 6 }}
                    </ng-container>
                    <ng-container *ngIf="!partenza.mezzo.sigla && partenza.mezzo.descrizione">
                        {{ partenza.mezzo.descrizione | truncate: 6 }}
                    </ng-container>
                </div>
                <ng-template #labelMezzo>
                    <div>
                        {{ 'Targa: ' + partenza.mezzo.descrizione }}
                    </div>
                    <div>
                        {{ 'Modello: ' + partenza.mezzo.modello }}
                    </div>
                    <div>
                        {{ 'Sede: ' + partenza.mezzo.distaccamento.descrizione }}
                    </div>
                </ng-template>
                <ng-template #labelMezzoSigla>
                    <div>
                        {{ 'Sigla: ' + partenza.mezzo.sigla }}
                    </div>
                    <div>
                        {{ 'Targa: ' + partenza.mezzo.descrizione }}
                    </div>
                    <div>
                        {{ 'Modello: ' + partenza.mezzo.modello }}
                    </div>
                    <div>
                        {{ 'Sede: ' + partenza.mezzo.distaccamento.descrizione }}
                    </div>
                </ng-template>
                <div class="d-inline-block m-0"
                     [ngbTooltip]="partenza.mezzo.genere"
                     [disableTooltip]="partenza.mezzo.genere?.length <= 4">
                    {{ partenza.mezzo.genere | truncate: 4 }}
                </div>
            </div>
        </ng-container>
        <!-- Info squadra -->
        <div class="float-right">
            <!-- Singola squadra sul mezzo -->
            <ng-container *ngIf="partenza?.squadre?.length === 1">
                <div class="mb-2">
                    <label>Squadra</label>
                    <button class="btn btn-light border ml-2 p-1 mr-2"
                            style="padding: 5px !important; line-height: 0;"
                            ngbTooltip="Elenco squadra"
                            (click)="onListaSquadrePartenza($event)">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <i class="fas fa-users mr-2"
                   [ngClass]="_iconaStatiClass(_nomeStatiSquadra(partenza.squadre[0].stato))"
                   [ngbTooltip]="_nomeStatiSquadra(partenza.squadre[0].stato)"></i>
                <b class="font-box-partenza"
                   [ngbTooltip]="partenza?.squadre[0]?.codice?.length <= 7 ? labelSquadra : labelSquadraCodice">
                    {{ partenza?.squadre[0]?.codice | truncate: 7 }}
                </b>
                <span> ({{partenza?.squadre[0]?.turno}})</span>
                <ng-template #labelSquadra>
                    <div>
                        {{ 'Nome: ' + partenza?.squadre[0]?.nome }}
                    </div>
                    <div>
                        {{ 'Sede: ' + partenza?.squadre[0]?.distaccamento.descrizione }}
                    </div>
                </ng-template>
                <ng-template #labelSquadraCodice>
                    <div>
                        {{ 'Codice: ' + partenza?.squadre[0]?.codice }}
                    </div>
                    <div>
                        {{ 'Nome: ' + partenza?.squadre[0]?.nome }}
                    </div>
                    <div>
                        {{ 'Sede: ' + partenza?.squadre[0]?.distaccamento.descrizione }}
                    </div>
                </ng-template>
            </ng-container>
            <!-- Più di una squadra sul mezzo -->
            <ng-container *ngIf="partenza?.squadre.length > 1">
                <div>
                    <label>Squadre</label>
                    <button class="btn btn-light border ml-2 p-1 mr-2"
                            style="padding: 5px !important; line-height: 0;"
                            ngbTooltip="Elenco squadre"
                            (click)="onListaSquadrePartenza($event)">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <ng-container *ngFor="let squadra of partenza?.squadre">
                    <div class="mb-1">
                        <i class="fas fa-users mr-2"
                           [ngClass]="_iconaStatiClass(_nomeStatiSquadra(squadra.stato))"
                           [ngbTooltip]="_nomeStatiSquadra(squadra.stato)"></i>
                        <b class="font-box-partenza"
                           [ngbTooltip]="squadra?.codice?.length <= 7 ? labelSquadra : labelSquadraCodice">
                            {{ squadra.codice | truncate: 7 }}
                        </b>
                        <span class="font-box-partenza"> ({{ squadra.turno }})</span>
                    </div>
                    <ng-template #labelSquadra>
                        <div>
                            {{ 'Nome: ' + squadra?.nome }}
                        </div>
                        <div>
                            {{ 'Sede: ' + squadra?.distaccamento.descrizione }}
                        </div>
                    </ng-template>
                    <ng-template #labelSquadraCodice>
                        <div>
                            {{ 'Codice: ' + squadra?.codice }}
                        </div>
                        <div>
                            {{ 'Nome: ' + squadra?.nome }}
                        </div>
                        <div>
                            {{ 'Sede: ' + squadra?.distaccamento.descrizione }}
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
