<div class="px-2" [ngClass]="{'m-h-750-chiamata': boxAttivi, 'm-h-930-chiamata': !boxAttivi}">
    <app-scheda-telefonata [tipologie]="(tipologie$ | async)"
                           [operatore]="(utente$ | async)"
                           [disabledInviaPartenza]="permessiFeature.ComposizionePartenzaRichiesta | checkPermission"
                           [loading]="loadingNuovaChiamata$ | async"
                           [enti]="enti$ | async"
                           (aggiungiNuovoEnte)="aggiungiNuovoEnte()">
    </app-scheda-telefonata>
</div>
