<div class="px-3" [ngClass]="{'m-h-750-chiamata': boxAttivi, 'm-h-930-chiamata': !boxAttivi}">
    <app-scheda-telefonata [tipologie]="(tipologie$ | async)"
                           [dettagliTipologie]="dettagliTipologie"
                           [operatore]="(utente$ | async)"
                           [enti]="enti$ | async"
                           [codiceSchedaContatto]="(schedaContattoTelefonata$ | async)?.codiceScheda"
                           [disabledInviaPartenza]="permessiFeature.ComposizionePartenzaRichiesta | checkPermission"
                           [loading]="loadingNuovaChiamata$ | async"
                           [doubleMonitor]="doubleMonitor"
                           [competenze]="competenze$ | async"
                           [countInterventiVicinanze]="countInterventiVicinanze$ | async"
                           [interventiVicinanze]="interventiVicinanze$ | async"
                           [schedaContatto]="schedaContattoTelefonata$ | async"
                           (aggiungiNuovoEnte)="aggiungiNuovoEnte()">
    </app-scheda-telefonata>
</div>
