.status_non_presidiato {
    border-left: 10px solid darkorange;
}

.status_presidiato {
    border-left: 10px solid green;
}

.card-shadow{
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}

.row_text {
    color: #666666;
}

/* icone di guida */
.guida {
    color: #bbbbbb;
}

.big_numbers {
    color: #a72920 !important;
    font-weight: bold;
}

.bg_diagonal_grey {
    background: repeating-linear-gradient(135deg, white, white 0.1em, #F0F0F0 0.4em, #E9EEFB 0.1em);
}

.bg_diagonal_grey_big {
    background: repeating-linear-gradient(135deg, white, white 0.5em, #F0F0F0 1em, #E9EEFB 0.5em);
}

.bg_card_title {
    background-color: beige;
}

.nowrap {
    white-space: nowrap;
}

a:hover {
    /* text-decoration: underline !important; (1) */
    font-weight: bold !important;
}

.default-cursor{
    cursor: default !important;
}

.tipologia {
    color: chocolate !important;
}

.num-int {
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}

.tasto-dettaglio {
    color: lightblue !important;
    font-size: 1.5em;
}

.localita {
    background-color: gainsboro;
}

.globo-loc {
    color: cadetblue;
}

.note-localita {
    background-color: white;
}

.badge-notify {
    background-color:#949494;
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: .6em;
}