<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <app-lista-richieste (inviaIndirizzo)="parametriMappa($event)" (showDettagli)="showDettagliRicevuto($event)"></app-lista-richieste>
    </div>
    <div class="col-md-6">
      <!-- <app-esri-map
              [center]="mapCenter"
              [basemap]="basemapType"
              [zoom]="mapZoomLevel"
              [start]="startMap"
              (mapLoaded)="mapLoadedEvent($event)">
      </app-esri-map> -->
    </div>
  </div>
</div>
