<div class="modal-header">
    <h4 class="modal-title" style="font-weight: 700">
        {{ 'SELEZIONA ZONA EMERGENZA' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="chiudiModalFiltriTipologia('ko')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>

<div class="modal-body">
    <button (click)="onResetZoneEmergenza()" class="btn btn-no-hover btn-secondary btn-reset-filtri"
            ngbTooltip="Reset filtri zona emergenza" [disabled]="!nessunaZonaLocked && !zoneEmergenzaLocked">
        <i class="fas fa-undo px-1"></i>
    </button>
    <span [class.box-selected]="nessunaZonaSelected" [class.box-locked]="nessunaZonaLocked"
          class="card row row_text box-zona-emergenza my-3 cursor-pointer box-selected-nessuna-zona"
          style="margin-left: 15%;">
      <button (click)="onClickNessunaZona()" class="btn-no-style m-2" [disabled]="nessunaZonaLocked">Nessuna zona emergenza</button>
    </span>
    <div *ngFor="let z of zonaEmergenzaArrayFake; let i = index">
      <span [class.box-locked]="zoneEmergenzaLocked" [class.box-selected]="z.selected"
            class="card row row_text box-zona-emergenza my-3 cursor-pointer" style="margin-left: 15%;">
        <button (click)="onBoxClick(i)" class="btn-no-style m-2" [disabled]="zoneEmergenzaLocked">{{z.name}}</button>
      </span>
    </div>
</div>

<div class="modal-footer" style="place-content: space-between;">
    <button type="button" class="btn btn-lg btn-success btn-no-hover font-weight-bolder" aria-label="Close"
            (click)="chiudiModalFiltriTipologia('ok')" [disabled]="!nessunaZonaLocked && !zoneEmergenzaLocked">
        {{ 'Applica Filtro' | uppercase }}
    </button>
    <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-2" aria-label="Close"
            (click)="chiudiModalFiltriTipologia('ko')">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>
