<td>
    <div *ngIf="visualizzaIconeNomeClasseEvento">
        <i *ngFor="let ii of iconeClasseEventoCorrente" class="fa {{ii}} fa-fw font-xlarge" aria-hidden="true"
           [ngbTooltip]="formatNomeClasseEvento(eventoRichiesta.nomeClasseEvento) | eventi">
        </i>
    </div>
    <div *ngIf="!visualizzaIconeNomeClasseEvento">
        <span>{{formatNomeClasseEvento(eventoRichiesta.nomeClasseEvento) | eventi}}</span>
    </div>
</td>
<td>
  <span *ngIf="eventoRichiesta.istanteEvento"
        ngbTooltip="Data Evento">{{eventoRichiesta.istanteEvento | friendlyDate}}
      {{eventoRichiesta.istanteEvento | friendlyHour : true}}</span>
</td>
<td>
    <small *ngIf="eventoRichiesta.targa" class="cursor-pointer" (click)="filtroTarga.emit(eventoRichiesta.targa)"
           ngbTooltip="Clicca qui per ricercare gli eventi">
        <i class="fa fa-hashtag font-xlarge"></i>
        {{eventoRichiesta.targa}}
    </small>
</td>
<td>
  <span *ngIf="operatore"
        [ngbTooltip]="eventoRichiesta?.sedeOperatore ? eventoRichiesta?.sedeOperatore : 'Sede operatore non disponibile'">
      {{eventoRichiesta.operatore | uppercase}}
  </span>
</td>
<td>
  <span *ngIf="eventoRichiesta.note">
      {{eventoRichiesta.note}}
  </span>
</td>
