<div class="p-2 pt-3 text-center">
  <h4>Squadre presenti nella partenza #{{listaSquadre.idPartenza}}</h4>
</div>
<table class="table table-striped table-bordered mb-0">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Componenti</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listaSquadre.squadre">
      <td>{{s.nome}}</td>
      <td>
        <div *ngFor="let c of s.componenti">
          <span class="badge badge-secondary mr-2">{{c.descrizioneQualifica}}</span>
          <span ngbTooltip="{{c.codiceFiscale}}"
            [disableTooltip]="!c.codiceFiscale || c.codiceFiscale.length <= 0">{{c.nominativo}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
