
<div class="card col-12">
  <div class="row">
    <div class="card-block col-9">
       <label class="btn btn-primary"  title="Nuova Chiamata"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i></label>
       <span class="btn-group" data-toggle="button">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
       <!--<label><input [checked]="filtri_chiamate" class="fa fa-user-circle-o" aria-hidden="true" type="button" autocomplete="off" (click)="selChiamate($event)"></label>  -->

       <div *ngIf="filtri.interventi">
           <label><button class="btn btn-outline-primary active" type="button" name="chiamate" data-toggle="tootip" title="Chiamate" (click)="selFiltri('chiamate')"><i class="fa fa-tty" aria-hidden="true"></i></button></label>
       </div>
       <div *ngIf="!filtri.interventi">
           <label><button class="btn btn-primary" aria-disabled="true" type="button" name="chiamate" data-toggle="tootip" title="Chiamate"><i class="fa fa-tty" aria-hidden="true"></i></button></label>
       </div>
       <div *ngIf="filtri.chiamate">
           <label><button class="btn btn-outline-primary active"  type="button" name="interventi" data-toggle="tootip" title="Interventi" (click)="selFiltri('interventi')"><i class="fa fa-tags" aria-hidden="true"></i></button></label>
       </div>
       <div *ngIf="!filtri.chiamate">
           <label><button class="btn btn-primary" aria-disabled="true" type="button" name="interventi" data-toggle="tootip" title="Interventi"><i class="fa fa-tags" aria-hidden="true"></i></button></label>
       </div>
  
  <!--
   <label><button class="btn btn-outline-primary active" type="button" name="interventi" data-toggle="tootip" title="Interventi" (click)="selFiltri('interventi')"><i class="fa fa-tags" aria-hidden="true"></i></button></label>
  -->
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     <div *ngIf="filtri.aperti==true && filtri.chiusi==false">
        <label><button class='btn btn-primary'  aria-disabled="true" name="aperti" data-toggle="tootip" title="Aperti"><i class="fa fa-unlock" aria-hidden="true"></i></button></label>
     </div>
    <div *ngIf="filtri.aperti==true && filtri.chiusi==true">
  
        <label><button class='btn btn-primary' name="aperti" data-toggle="tootip" title="Aperti" (click)="selFiltri('aperti')"><i class="fa fa-unlock" aria-hidden="true"></i></button></label>
<!--
        <label><button class='btn btn-primary'  [ngClass]="{'disabled=true' : filtri.chiusi=='false', 'enabled' : filtri.chiusi=='true'}"  name="aperti" data-toggle="tootip" title="Aperti" (click)="selFiltri('aperti')"><i class="fa fa-unlock" aria-hidden="true"></i></button></label>
-->
    </div>
    <div *ngIf="filtri.aperti==false && filtri.chiusi==true">         
            <label><button class='btn btn-outline-primary' name="aperti" data-toggle="tootip" title="Aperti" (click)="selFiltri('aperti')"><i class="fa fa-unlock" aria-hidden="true"></i></button></label>
    </div>
 
  <!--        
     <div *ngIf="!filtri.aperti">
       <label><button class='btn btn-outline-primary' name="aperti" disabled={{!filtri.chiusi}} data-toggle="tootip" title="Aperti" (click)="selFiltri('aperti')"><i class="fa fa-unlock" aria-hidden="true"></i></button></label>
    </div>   -->
     <div *ngIf="filtri.chiusi==true && filtri.aperti==false">
            <label><button class='btn btn-primary' aria-disabled="true" name="chiusi" data-toggle="tootip" title="Chiusi"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button></label>
     </div>        
   
     <div *ngIf="filtri.chiusi==true && filtri.aperti==true">         
          <label><button class='btn btn-primary' name="chiusi" data-toggle="tootip" title="Chiusi" (click)="selFiltri('chiusi')"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button></label>
     </div>
     <div *ngIf="filtri.chiusi==false && filtri.aperti==true">         
            <label><button class='btn btn-outline-primary' name="chiusi" data-toggle="tootip" title="Chiusi" (click)="selFiltri('chiusi')"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button></label>
     </div>
  <!--   <div *ngIf="filtri.chiusi==false && filtri.aperti==false">         
            <label><button class='btn btn-primary' enabled="true" name="chiusi" data-toggle="tootip" title="Chiusi" (click)="selFiltri('chiusi')"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button></label>
     </div>  -->
  
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div *ngIf="filtri.interni==true && filtri.esterni==false">
        <label><button class='btn btn-primary'  aria-disabled="true" name="interni" data-toggle="tootip" title="Interni"><i class="fa fa-home" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="filtri.interni==true && filtri.esterni==true">
    
          <label><button class='btn btn-primary' name="interni" data-toggle="tootip" title="Interni" (click)="selFiltri('interni')"><i class="fa fa-home" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="filtri.interni==false && filtri.esterni==true">         
              <label><button class='btn btn-outline-primary' name="interni" data-toggle="tootip" title="Interni" (click)="selFiltri('interni')"><i class="fa fa-home" aria-hidden="true"></i></button></label>
      </div>


      <div *ngIf="filtri.esterni==true && filtri.interni==false">
        <label><button class='btn btn-primary' aria-disabled="true" name="esterni" data-toggle="tootip" title="Esterni"><i class="fa fa-globe" aria-hidden="true"></i></button></label>
      </div>        

      <div *ngIf="filtri.esterni==true && filtri.interni==true">         
         <label><button class='btn btn-primary' name="esterni" data-toggle="tootip" title="Esterni" (click)="selFiltri('esterni')"><i class="fa fa-globe" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="filtri.esterni==false && filtri.interni==true">         
         <label><button class='btn btn-outline-primary' name="esterni" data-toggle="tootip" title="Esterni" (click)="selFiltri('esterni')"><i class="fa fa-globe" aria-hidden="true"></i></button></label>
      </div>

       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div *ngIf="filtri.nonPresidiati && filtri.interventi">
           <label><button class="btn btn-outline-primary active"  type="button" name="presidiati" data-toggle="tootip" title="Presidiati" (click)="selFiltri('presidiati')"><i class="fa fa-user-plus" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="!filtri.nonPresidiati && filtri.interventi">
          <label><button class="btn btn-primary" aria-disabled="true" type="button" name="presidiati" data-toggle="tootip" title="Presidiati"><i class="fa fa-user-plus" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="filtri.presidiati && filtri.interventi">
           <label><button class="btn btn-outline-primary active"  type="button" name="nonPresidiati" data-toggle="tootip" title="Non Presidiati" (click)="selFiltri('nonPresidiati')"><i class="fa fa-user-times" aria-hidden="true"></i></button></label>
      </div>
      <div *ngIf="!filtri.presidiati && filtri.interventi">
           <label><button class="btn btn-primary" aria-disabled="true" type="button" name="nonPresidiati" data-toggle="tootip" title="Non Presidiati"><i class="fa fa-user-times" aria-hidden="true"></i></button></label>
      </div>
     </span> 
    </div>  
   <div class="card-block col-3">
     <span class="input-group">
     <input type="text" class="form-control" placeholder="Cerca..." [(ngModel)]="filtri.chiaveDiRicerca" (keyup)="selFiltri('ricerca')">
     <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="clearSearchText()"><i class="fa fa-times" aria-hidden="true"></i></button>
     </span>
    </span>
   </div>
</div>
</div>



   
   
  
