
<div class="col-12">
<div class="card">
    <div class="card-block">
       
    <!--  <div class="btn btn-secondary btn-lg" role="button" aria-pressed="true" >
          <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
      </div>
    
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-lg">
            <input type="checkbox" autocomplete="off">Ch.
        </label>
        <label class="btn btn-secondary btn-lg">
            <input type="checkbox" autocomplete="off">Int.
        </label>
      </div>-->

      <div class="btn-group col-12" data-toggle="buttons">
        <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="btn btn-outline-danger">
            <input type="checkbox" autocomplete="off">Ch.
        </label>
        <label class="btn btn-outline-info">
            <input type="checkbox" autocomplete="off">Int.
        </label>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
     
        <div class="form-check form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="option1"> In corso
        </label>
        </div>
       
 
        <span class="col-7"></span>
         <span class="input-group col-3">
                <input type="text" class="form-control" placeholder="Cerca...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </span>
      </span>
      </div>
   

 </div>

</div>
</div>

