
<div class="card col-12">
  <div class="row">
    <div class="card-block col-9">
      <span class="btn-group" data-toggle="button">
       <label class="btn btn-outline-primary" data-toggle="tootip" title="Nuova Chiamata"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i></label>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
       <!--<label><input [checked]="filtri_chiamate" class="fa fa-user-circle-o" aria-hidden="true" type="button" autocomplete="off" (click)="selChiamate($event)"></label>  -->
       <label><button class="btn btn-outline-primary active" type="button" name="chiamate" data-toggle="tootip" title="Chiamate" (click)="selFiltri('chiamate')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       <label><button class="btn btn-outline-primary active" type="button" name="interventi" data-toggle="tootip" title="Interventi" (click)="selFiltri('interventi')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label><button class="btn btn-outline-primary active"  type="button" name="aperti" data-toggle="tootip" title="Aperti"  (click)="selFiltri('aperti')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       <label><button class="btn btn-outline-primary"  type="button" name="chiusi" data-toggle="tootip" title="Chiusi" (click)="selFiltri('chiusi')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label><button class="btn btn-outline-primary active"  type="button" name="interni" data-toggle="tootip" title="Interni" (click)="selFiltri('interni')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       <label><button class="btn btn-outline-primary"  type="button" name="esterni" data-toggle="tootip" title="Esterni" (click)="selFiltri('esterni')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label><button class="btn btn-outline-primary active"  type="button" name="presidiati" data-toggle="tootip" title="Presidiati" (click)="selFiltri('presidiati')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       <label><button class="btn btn-outline-primary active"  type="button" name="nonPresidiati" data-toggle="tootip" title="Non Presidiati" (click)="selFiltri('nonPresidiati')"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button></label>
       <!--
   <label class="btn btn-outline-primary"> <input [checked]="filtro_chiamate" type="checkbox" (click)="selChiamate($event)" /> Ch.</label>
     -->
    </span>
    </div>
   <div class="card-block col-3">
     <span class="input-group">
                <input type="text" class="form-control" placeholder="Cerca...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </span>
    </span>
   </div>
</div>
</div>



