<div class="container-fluid">
    <div class="row p-2 pb-0">
        <div class="col px-0" *ngIf="listaEntiIntervenuti">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Enti Intervenuti</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let enteIntervenuto of listaEntiIntervenuti">
                    <td>{{enteIntervenuto.descrizione}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col px-0" *ngIf="listaEntiPresaInCarico">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Enti Presa In Carico</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entePresaInCarico of listaEntiPresaInCarico">
                    <td>{{entePresaInCarico.descrizione}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
