<div class="container-fluid">
    <div class="row p-2 pb-0">
        <div class="col px-0">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <div class="text-center">
                            Enti Intervenuti
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let enteIntervenuto of listaEntiIntervenuti">
                    <td>
                        <div class="clearfix">
                            <div class="float-left">
                                {{ enteIntervenuto.descrizione }}
                            </div>
                            <div class="float-right">
                                <app-numeri-ente [telefoni]="enteIntervenuto?.telefoni"></app-numeri-ente>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!listaEntiIntervenuti">
                    <td>
                        <div class="text-center text-danger">
                            Nessun ente presente
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col px-0">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <div class="text-center">
                            Enti Presa In Carico
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entePresaInCarico of listaEntiPresaInCarico">
                    <td>
                        <div class="clearfix">
                            <div class="float-left">
                                {{ entePresaInCarico.descrizione }}
                            </div>
                            <div class="float-right">
                                <app-numeri-ente [telefoni]="entePresaInCarico?.telefoni"></app-numeri-ente>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!listaEntiPresaInCarico">
                    <td>
                        <div class="text-center text-danger">
                            Nessun ente presente
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
