<div class="row">
  <div class="col-12 border-bottom border-top scroll-y pt-2 pb-1" style="max-height:440px;">
    <div class="row">
      <app-preaccoppiato class="col-3" *ngFor="let preAcc of preAccoppiati" [preAcc]="preAcc" [richiesta]="richiesta"
        [preAccoppiatiSelezionati]="preAccoppiatiSelezionati" (selezionato)="preAccoppiatoSelezionato($event)"></app-preaccoppiato>
    </div>
  </div>
</div>

<!-- <span *ngIf="preAccoppiatiSelezionati">{{preAccoppiatiSelezionati | json}}</span> -->