<div class="row">
    <div class="col-4 pl-3 pr-1">
        <button class="btn btn-warning btn-block card-shadow mt-2" (click)="_confirmPrenota()"
                [disabled]="disableConfirmPrenota">
            <span class="mr-1">Prenota</span>
        </button>
    </div>
    <div class="col-8 pl-1 pr-3">
        <button class="btn btn-success btn-block card-shadow mt-2" (click)="_confirmPartenza()"
                [disabled]="disableConfirmPartenza">
            <span class="mr-1">Conferma partenza</span>
            <span class="badge badge-light">{{boxPartenzaLenght}}</span>
        </button>
    </div>
</div>
