<div class="clearfix">
    <div class="float-left w-50 px-2">
        <ng-template [ngIf]="dettaglioSoccorsoAereo">
            <button class="btn btn-warning btn-block btn-no-hover" style="outline: none"
                    ngbTooltip="Richiesta AFM in corso. Annullare richiesta per poterne creare una nuova"
                    placement="top" (click)="openSoccorsoAereoModal($event)" [disabled]="dettaglioSoccorsoAereo">
                <i class="fas fa-helicopter"
                   style="font-size: 130%; color: white; transform: translate(0px, 2.5px)"></i>
            </button>
        </ng-template>
        <ng-template [ngIf]="!dettaglioSoccorsoAereo">
            <button class="btn btn-warning btn-block btn-no-hover"
                    ngbTooltip="Intervento aereo"
                    placement="top" (click)="openSoccorsoAereoModal($event)">
                <i class="fas fa-helicopter"
                   style="font-size: 130%; color: white; transform: translate(0px, 2.5px)"></i>
            </button>
        </ng-template>
    </div>
    <div class="float-left w-50 px-2">
        <button class="btn btn-success btn-block btn-no-hover"
                [disabled]="disableConfirmPartenza"
                (click)="_confirmPartenzaInViaggio()">
            <span class="d-inline-block mr-2">Conferma</span>
            <span class="badge badge-light">{{ boxPartenzaLenght }}</span>
        </button>
    </div>
</div>
