<div class="btn-group mx-5" ngbDropdown role="group" placement='top' style="width: 25%">
  <span *ngIf="richiesta.richiestaSoccorsoAereo" class="w-100" tabindex="0" style="outline: none" ngbTooltip="Richiesta AFM in corso. Annullare richiesta per poterne creare una nuova">
    <button class="btn btn-warning btn-block card-shadow mt-2 btn-no-hover font-comp-xl" style="outline: none"
            ngbTooltip="Intervento aereo"
            placement="top" (click)="openSoccorsoAereoModal($event)" [disabled]="richiesta.richiestaSoccorsoAereo">
    <i class="guida fa fa-plane" style="font-size: 130%; color: white; transform: translate(0px, 2.5px)"></i>
    </button>
  </span>
   <button *ngIf="!richiesta.richiestaSoccorsoAereo" class="btn btn-warning btn-block card-shadow mt-2 btn-no-hover font-comp-xl"
           ngbTooltip="Intervento aereo"
           placement="top" (click)="openSoccorsoAereoModal($event)">
   <i class="guida fa fa-plane" style="font-size: 130%; color: white; transform: translate(0px, 2.5px)"></i>
   </button>
</div>
<div class="btn-group w-50" ngbDropdown role="group" placement='top'>
  <button class="btn btn-success btn-block card-shadow mt-2 btn-no-hover font-comp-xl" [disabled]="disableConfirmPartenza"
          ngbDropdownToggle>
    <span class="d-inline-block mr-2">Conferma</span>
    <span class="badge badge-light">{{boxPartenzaLenght}}</span>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button ngbDropdownItem (click)="_confirmPartenzaInViaggio()">Conferma come In Viaggio</button>
    <button ngbDropdownItem (click)="_confirmPartenzaInUscita()">Conferma come In Uscita</button>
  </div>
</div>
