<div class="row">
  <div class="col-12 bg-light mb-2">
    <app-nav [preAccoppiatiSelezionati]="preAccoppiatiSelezionati"></app-nav>
  </div>
  <div class="col-3" *ngFor="let preAcc of preAccoppiati">
    <div class="card cursor-pointer p-2 mb-2" [ngClass]="cardClasses(preAcc)" (click)="preAccoppiatoSelezionato(preAcc)">
      <div class="row">
        <div class="col">
          <small><i class="guida fa fa-truck mr-1"></i></small><span class="h6">{{preAcc.mezzo.codice}} <small>{{preAcc.mezzo.genere}}</small></span>
        </div>
        <div class="col">
          <small><i class="guida fa fa-group mr-1"></i></small><span class="h6">{{preAcc.squadra.nome}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col nowrap">
          <i class="guida fa fa-road mr-1"></i><small>{{preAcc.km}} Km</small>
        </div>
        <div class="col">
          <i class="guida fa fa-clock-o mr-1"></i><small>{{preAcc.tempoPercorrenza}}</small>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
            <i class="guida fa fa-map-marker mr-1"></i><small>Dist. di {{preAcc.distaccamento}}</small>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- <span *ngIf="preAccoppiatiSelezionati">{{preAccoppiatiSelezionati | json}}</span> -->