<div class="container pt-4 pb-2">
  <div class="row">
    <div class="col-12 mb-2">
      <h2>
        Gestione Utenti
        <small *ngIf="(user$ | async)">({{(user$ | async).sede.descrizione}})</small>
      </h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary ml-2 mb-2 font-weight-bold" (click)="onAddUtente()">
            <i class="fa fa-plus mr-1"></i>
            Aggiungi Utente
          </button>
        </div>
        <div class="col text-right">
          <app-ricerca-utenti (ricercaChange)="onRicercaUtenti($event)"></app-ricerca-utenti>
        </div>
      </div>
    </div>
    <div class="col-12 mx-auto">
      <app-tabella-utenti [ruoli]="ruoli$ | async" [listaUtenti]="listaUtenti$ | async"
        [totalItems]="totalItems$ | async" [pageSize]="pageSize$ | async" [page]="page$ | async"
        [loading]="loading$ | async" [pageSizes]="pageSizes$ | async" (detail)="onDetailUtente($event)"
        (removeUser)="onRemoveUtente($event)" (removeRoleUser)="onRemoveRuoloUtente($event)"
        (addRuoloUtente)="onAddRuoloUtente($event)" (pageChange)="onPageChange($event)">
      </app-tabella-utenti>
    </div>
  </div>
</div>
