.animation-questionmark {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
    animation-name: bounce;
    cursor: pointer; 
    color: #dc3534; 
    font-size: smaller;
    text-decoration: none;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-25);}
    60% {transform: translateY(-13px);}
  }
