<div class="modal-header">
    <div class="w-100">
        <app-filtri-eventi-richiesta [codiceRichiesta]="codiceRichiesta$ | async"
                                     [listaTargaMezzo]="listaTargaMezzo$ | async"
                                     [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                     [initValue]="targheSelezionate"
                                     [elencoEventi]="eventiRichiesta$ | async"
                                     (toggleIconeNomeClasseEvento)="toggleIconeNomeClasseEvento()"
                                     (targheSelezionate)="onSelezioneTarga($event)">
        </app-filtri-eventi-richiesta>
    </div>
</div>
<div class="modal-body">
    <app-partial-loader *ngIf="loading$ | async"></app-partial-loader>
    <ng-container *ngIf="!targheSelezionate?.length">
        <div class="mb-3">
            <app-add-evento-richiesta [codiceRichiesta]="codiceRichiesta$ | async"
                                      (addEvento)="onAddEvento()">
            </app-add-evento-richiesta>
        </div>
    </ng-container>
    <!-- <hr> -->
    <app-lista-eventi-richiesta [elencoEventi]="eventiRichiesta$ | async"
                                [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                [loading]="loading$ | async"
                                (targheSelezionate)="onSelezioneTarga($event)">
    </app-lista-eventi-richiesta>
</div>
<div class="modal-footer">
    <div class="row w-100">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder" style="width: 10%"
                    (click)="close('ko')">
                {{ 'Chiudi' | uppercase }}
            </button>
        </div>
    </div>
</div>
