<div class="modal-header">
    <div class="w-100">
        <app-filtri-eventi-richiesta [idRichiesta]="idRichiesta$ | async"
                                     [codiceRichiesta]="codiceRichiesta$ | async"
                                     [listaTargaMezzo]="listaTargaMezzo$ | async"
                                     [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                     [initValue]="targheSelezionate$ | async"
                                     [elencoEventi]="eventiRichiesta$ | async"
                                     (toggleIconeNomeClasseEvento)="toggleIconeNomeClasseEvento()"
                                     (targheSelezionate)="onSelezioneTarga($event)"></app-filtri-eventi-richiesta>
    </div>
</div>
<div class="modal-body">
    <app-lista-eventi-richiesta [elencoEventi]="eventiRichiesta$ | async"
                                [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                [loading]="loading$ | async"
                                (targheSelezionate)="onSelezioneTarga($event)"></app-lista-eventi-richiesta>
</div>
