<div class="modal-header" [ngClass]="onNightMode()">
    <div class="w-100">
        <app-filtri-eventi-richiesta [codiceRichiesta]="codiceRichiesta$ | async"
                                     [listaTargaMezzo]="listaTargaMezzo$ | async"
                                     [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                     [initValue]="targheSelezionate$ | async"
                                     [elencoEventi]="eventiRichiesta$ | async"
                                     (toggleIconeNomeClasseEvento)="toggleIconeNomeClasseEvento()"
                                     (targheSelezionate)="onSelezioneTarga($event)"></app-filtri-eventi-richiesta>
    </div>
</div>
<div class="modal-body" [ngClass]="onNightMode()">
    <app-lista-eventi-richiesta [elencoEventi]="eventiRichiesta$ | async"
                                [nightMode]="nightMode$ | async"
                                [iconeNomeClasseEvento]="visualizzazioneIconeNomeClasseEvento$ | async"
                                [loading]="loading$ | async"
                                (targheSelezionate)="onSelezioneTarga($event)"></app-lista-eventi-richiesta>
</div>
