<ng-container *ngIf="!useCheckbox">
    <button class="btn btn-block mb-1"
            [class.btn-outline-primary]="!selezionato"
            [class.btn-success]="selezionato"
            [disabled]="disabled"
            [debounceTime]="1"
            appDebounceClick
            (debounceClick)="onSelezione(filtro)">
        {{ filtro.descrizione | truncate:70 }}
    </button>
</ng-container>
<ng-container *ngIf="useCheckbox">
    <div class="d-inline-flex">
        <app-checkbox
                [checkboxState]="{id: filtro.categoria, descrizione: filtro.descrizione, status: selezionato, label: filtro.descrizione | truncate:70, disabled: disabled, disableFiltri: disableFiltri}"
                [debounceTime]="1"
                appDebounceClick
                (debounceClick)="onSelezione(filtro)">
        </app-checkbox>
        <ng-container *ngIf="filtro.categoria === 'Chiuse'">
            <button class="btn btn-sm btn-no-hover btn-secondary ml-3"
                    ngbTooltip="Filtra in dettaglio"
                    placement="right"
                    style="inline-size: max-content; height: max-content; font-size: 15px; width: 50px"
                    [disabled]="!selezionato"
                    (click)="chiusiModal.emit({value: true, richiesta: filtro.descrizione})">
                <i class="fas fa-calendar"></i>
            </button>
        </ng-container>
        <ng-container *ngIf="filtro.name === 'zonaEmergenza'">
            <button class="btn btn-sm btn-no-hover btn-secondary ml-3"
                    style="inline-size: max-content; height: max-content; font-size: 15px; width: 50px"
                    ngbTooltip="Filtra in dettaglio"
                    placement="right"
                    [disabled]="!selezionato"
                    (click)="zonaEmergenzaModal.emit(true)">
                <i class="fas fa-exclamation-triangle"></i>
            </button>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="filtro.name === 'chiamate' && periodoChiuseChiamate">
    <div class="mt-1" style="cursor: default; font-size: 15px; display: grid;">
        <ng-container *ngIf="periodoChiuseChiamate['data']">
            <b>Selezione:</b>
            <div>
                Del {{periodoChiuseChiamate['data']}}
            </div>
        </ng-container>
        <ng-container *ngIf="periodoChiuseChiamate['daA']">
            <b>Selezione:</b>
            <div>
                Periodo {{periodoChiuseChiamate['daA']}}
            </div>
        </ng-container>
        <ng-container *ngIf="periodoChiuseChiamate['turno']">
            <b>Selezione:</b>
            <div>
                Turno {{periodoChiuseChiamate['turno']}}
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="filtro.name === 'interventi' && periodoChiusiInterventi">
    <div class="mb-1" style="cursor: default; font-size: 15px; display: grid;">
        <ng-container *ngIf="periodoChiusiInterventi['data']">
            <b>Selezione:</b>
            <div>
                Del {{periodoChiusiInterventi['data']}}
            </div>
        </ng-container>
        <ng-container *ngIf="periodoChiusiInterventi['daA']">
            <b>Selezione:</b>
            <div>
                Periodo {{periodoChiusiInterventi['daA']}}
            </div>
        </ng-container>
        <ng-container *ngIf="periodoChiusiInterventi['turno']">
            <b>Selezione:</b>
            <div>
                Turno {{periodoChiusiInterventi['turno']}}
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="listaZoneEmergenzaSelezionate?.length > 0">
    <div class="mt-1" style="cursor: default; font-size: 15px; display: grid;">
        <b>Selezione:</b>
        <span *ngFor="let z of listaZoneEmergenzaSelezionate">{{ z }}</span>
    </div>
</ng-container>
