<!-- DEBOUNCE INPUT -->
<div class="input-group">
    <input *ngIf="debounce"
           id="ricercaDebounce"
           type="text"
           name="ricercaDebounce"
           class="form-control"
           appDebounceKeyUp
           [(ngModel)]="ricerca"
           [debounceTime]="600"
           [placeholder]="placeholder ? placeholder : ''"
           (debounceKeyUp)="onSearch()"
           [disabled]="disableSearch"
           [class.cursor-not-allowed]="disableSearch">
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="fas fa-search"></i>
        </span>
    </div>
</div>
<!-- NO DEBOUNCE INPUT -->
<input *ngIf="!debounce"
       class="form-control"
       type="text"
       [(ngModel)]="ricerca"
       [placeholder]="placeholder ? placeholder : ''" name="ricercaNoDebounce" id="ricercaNoDebounce"
       (ngModelChange)="onSearch()">
