<!-- DEBOUNCE INPUT -->
<input *ngIf="debounce"
       id="ricercaDebounce"
       type="text"
       name="ricercaDebounce"
       class="form-control font-xlarge"
       appDebounceKeyUp
       [(ngModel)]="ricerca"
       [debounceTime]="600"
       [placeholder]="placeholder ? placeholder : ''"
       (debounceKeyUp)="onSearch()"
       [disabled]="disableSearch"
       [class.cursor-not-allowed]="disableSearch">
<!-- NO DEBOUNCE INPUT -->
<input *ngIf="!debounce" [(ngModel)]="ricerca" class="form-control" type="text"
       [placeholder]="placeholder ? placeholder : ''" name="ricercaNoDebounce" id="ricercaNoDebounce"
       (ngModelChange)="onSearch()">
