<div>
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold text-uppercase">
            {{ 'Seleziona un Mezzo da sganciare' | uppercase }}
        </h4>
        <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
                (click)="modal.dismiss('cross')">
            <span class="text-danger"><i class="fas fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body px-4">
        <app-partial-loader *ngIf="loadingMezzi"></app-partial-loader>
        <ng-container *ngIf="mezzi?.length && !loadingMezzi">
            <div *ngFor="let m of mezzi">
                <app-mezzo-in-servizio [mezzoInServizio]="m"
                                       [richiesta]="richiesta"
                                       [truncateLenghtIndirizzoRichiesta]="40"
                                       [hideCodRichiesta]="true"
                                       [hideTextButtonEventi]="true"
                                       [hideDistaccamento]="true"
                                       [showTipologiaRichiesta]="true"
                                       [showSelectButton]="true"
                                       (dettaglioRichiesta)="onDettaglioRichiesta($event)"
                                       (visualizzaEventiRichiesta)="onVisualizzaEventiRichiesta($event)"
                                       (sgancia)="onSganciamento($event)">
                </app-mezzo-in-servizio>
                <!-- <div class="float-right">
                    <button class="btn btn-outline-danger btn-no-hover"
                            (click)="onSganciamento(m.mezzo.mezzo)">
                        {{ 'info' | uppercase }}
                    </button>
                </div> -->
            </div>
        </ng-container>
        <ng-container *ngIf="!mezzi?.length && !loadingMezzi">
            <div class="px-2">
                <div class="alert alert-danger mb-0">
                    {{ 'Nessun Mezzo disponibile' }}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="float-right">
                <button class="btn btn-lg btn-secondary btn-no-hover"
                        (click)="close('ko')">
                    {{ 'Chiudi' | uppercase }}
                </button>
            </div>
        </div>
    </div>
</div>
