<div class="row border rounded shadow-sm p-2 h-100 font-xxlarge bg-mezzo-in-servizio"
     [ngClass]="cardClasses(mezzoInServizio.mezzo.mezzo.stato, mezzoInServizio.mezzo.mezzo.codice)"
     (mouseenter)="hoverIn.emit(mezzoInServizio.mezzo.mezzo.codice)"
     (mouseleave)="hoverOut.emit()"
     (click)="selezionato.emit(mezzoInServizio.mezzo.mezzo.codice)">
    <ng-template [ngIf]="loadingArray.includes(mezzoInServizio.mezzo.mezzo.codice)">
        <app-partial-loader></app-partial-loader>
    </ng-template>
    <div class="col-12" style="min-height: 45.6px">
        <div class="row">
            <div class="col-4">
                <div class="clearfix">
                    <!-- Mezzo -->
                    <div class="float-left" style="height:35px">
                        <app-mezzo [mezzo]="mezzoInServizio.mezzo.mezzo"
                                   [mezzoInServizioPage]="true"
                                   [actionsAttive]="mezzoInServizio.mezzo.mezzo.stato !== StatoMezzo.InSede"
                                   (actionMezzo)="actionMezzo.emit({'a': mezzoInServizio.mezzo.mezzo, 'b': $event})">
                        </app-mezzo>
                    </div>
                    <!-- Squadra/e sul Mezzo -->
                    <div class="float-right pt-1">
                        <div *ngIf="mezzoInServizio?.squadre?.length"
                             class="d-inline-block text-right mb-0 font-weight-bold">
                            <i class="fas fa-users text-{{statoMezzoColor(mezzoInServizio.mezzo.mezzo.stato)}} mr-1"></i>
                            <div class="d-inline-block"
                                 ngbTooltip="{{mezzoInServizio.squadre[0].nome}}"
                                 [disableTooltip]="mezzoInServizio.squadre[0].nome.length <= 6">
                                {{ mezzoInServizio.squadre[0].nome | truncate: 6}}
                            </div>
                            <button class="btn btn-sm btn-light border ml-1" ngbTooltip="Elenco squadre"
                                    (click)="onListaSquadrePartenza(); $event.stopPropagation()">
                                <div *ngIf="mezzoInServizio.squadre?.length"
                                     class="d-inline-block">
                                    <i class="fas fa-search"
                                       [class.mr-1]="mezzoInServizio.squadre.length > 1"></i>
                                    <div *ngIf="mezzoInServizio.squadre.length > 1"
                                         class="d-inline-block">
                                        +{{ mezzoInServizio.squadre.length - 1 }}
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Indirizzo -->
            <div class="col-3 pt-1">
                <div *ngIf="mezzoInServizio.mezzo.infoRichiesta?.indirizzo">
                    <i class="fas fa-map-marker-alt text-{{statoMezzoColor(mezzoInServizio.mezzo.mezzo.stato)}}"></i>
                    {{ mezzoInServizio.mezzo.infoRichiesta.indirizzo | truncate: 28 }}
                </div>
            </div>
            <div class="col-3">
                <div class="clearfix">
                    <!-- Codice Richiesta -->
                    <div class="float-left pr-3">
                        <button *ngIf="mezzoInServizio.mezzo.infoRichiesta?.codiceRichiesta"
                                class="btn btn-block btn-light font-weight-bold"
                                (click)="dettaglioRichiesta.emit(mezzoInServizio.mezzo.mezzo.idRichiesta)">
                            <i class="fas fa-hashtag"></i>
                            {{ mezzoInServizio.mezzo.infoRichiesta.codiceRichiesta }}
                        </button>
                    </div>
                    <!-- Eventi -->
                    <div class="float-left">
                        <button *ngIf="mezzoInServizio.mezzo.mezzo.idRichiesta"
                                class="btn btn-block btn-light"
                                (click)="visualizzaEventiRichiesta.emit(mezzoInServizio.mezzo.mezzo)">
                            <i class="fas fa-list"></i>
                            Eventi
                        </button>
                    </div>
                </div>
            </div>
            <!-- Distaccamento -->
            <div class="col-2 px-0 text-right">
                <div class="badge badge-secondary"
                     [ngbTooltip]="mezzoInServizio.mezzo.mezzo.distaccamento.descrizione"
                     [disableTooltip]="mezzoInServizio.mezzo.mezzo.distaccamento.descrizione.length <= 13">
                    {{ mezzoInServizio.mezzo.mezzo.distaccamento.descrizione | slice: 0:15 }}
                </div>
            </div>
        </div>
    </div>
</div>
