.footer-bg {
  background-color:rgba(206,43,55,0.9);
}

.footer-bg-test {
  background-color: rgba(199, 206, 3, 0.9);
}

.footer-fixed {
  bottom:0;
  left:0;
  position: fixed !important;
}

.footer-problemi {
  position: absolute !important;
  padding-top: 5px;
  right: 3px;
  color: rgba(255, 255, 255, 0.74) !important;
  font-size: x-small !important;
}

.footer-problemi a {
  color: #ffffff !important;
}
