<ng-container *ngIf="false">
    <div class="footer position-relative footer-bg text-white" [ngClass]="{'footer-fixed': fixed}">
        <div *ngIf="isTest" class="footer-bg-test text-center text-white font-weight-bolder">
            <i class="fas fa-exclamation-triangle mr-1"></i>
            ATTENZIONE, E' UNA VERSIONE DI TEST!
        </div>
        <div class="clearfix">
            <div class="float-left py-1">
                <div class="border-right border-light px-4">
                    <img class="img-fluid animation-test-img" src="../../../../assets/img/logo_vvf_200x.png" width="50">
                </div>
            </div>
            <div class="float-left px-4" style="padding-top:10px">
                <app-versione></app-versione>
            </div>
            <div class="float-right pr-4 footer-problemi" style="padding-top:18px">
                <span class="font-weight-bolder pr-2 animation-test">Problemi?</span>
                <span class="font-weight-bolder pr-2" style="text-decoration: underline;"><a
                        href="http://intranet.dipvvf.it/SOWEB/VideoIntro.mp4"
                        target="_blank">Visualizza Video Manuale</a></span>
                <span class="font-weight-bolder pr-2">oppure</span>
                Scrivi a
                <div class="d-inline-block">
                    <a href="{{ 'mailto://' + emailProblemi }}">
                        {{ emailProblemi }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
