.footer-bg {
  background-color: rgba(206, 43, 55, 0.9);
}

.footer-bg-test {
  background-color: rgb(52, 58, 64);
}

.footer-fixed {
  bottom: 0;
  left: 0;
  position: fixed !important;
  width: 100%;
}

.footer-problemi a {
  color: #ffffff !important;
}

.footer {
  transition: opacity 300ms;
  opacity: .86;
  cursor: pointer;
}

.footer:hover {
  opacity: 1;
  cursor: pointer;
}
