<ng-container *ngIf="isVisible">
    <div class="text-center w-100 py-0 mt-2"
         [ngClass]="{'footer-bg': !isTest, 'footer-bg-test': isTest,'text-white': !isTest, 'text-black': isTest, 'footer-fixed': fixed}">{{isTest}}
        <i class="mr-1"></i>Sala Operativa VV.F. Web - Direzione Centrale per le Risorse Logistiche e Strumentali <span
                *ngIf="version && version.number && version.date">(vers. {{version.number}}
            - {{version.date | date :'dd/MM/yyyy HH:mm'}})</span> {{isTest}}<span class="footer-problemi">Problemi? Scrivi a <a href="mailto://assistenza.sovvf@vigilfuoco.it">assistenza.sovvf@vigilfuoco.it</a></span>
    </div>
</ng-container>
