
.font-composizione-avanzata {
  font-size: 115% !important;
}

.squadra-bloccata-hr {
  position: absolute;
  width: 53rem;
  border-top-color: #dc3545;
  border-top-style: dashed;
  border-width: thin;
  transform: translate(0px, 0px);
}

.opacity-6 {
  opacity: 0.6;
}

.squadra-bloccata {
  z-index: 1 !important;
  position: absolute !important;
  transform: translate(13rem, -6px) !important;
  font-size: 25px !important;
}
