<div class="container-fluid pt-3 pb-2">
    <div *ngIf="zonaEmergenzaById"
         class="row">
        <div [class.col-12]="!doubleMonitor"
             [class.col-6]="doubleMonitor">
            <div class="col-12">
                <h4>
                    <i class="fas fa-exclamation-triangle mr-1"></i>
                    <span class="font-weight-bold cursor-pointer" (click)="goToGestioneEmergenze()">Gestione Emergenze</span> - CRA, DOA e PCA Emergenza {{ zonaEmergenzaById?.codEmergenza }}
                </h4>
            </div>
            <hr>
            <div class="col-12">
                <h5>
                    <span class="text-muted">
                        Tipologia:
                    </span>
                    {{ zonaEmergenzaById.tipologia.emergenza[0] }}
                </h5>
                <h5>
                    <span class="text-muted">
                        Indirizzo:
                    </span>
                    {{ zonaEmergenzaById?.localita.indirizzo }} -
                    Lat: {{ zonaEmergenzaById?.localita.coordinate.latitudine }} -
                    Lon: {{ zonaEmergenzaById?.localita.coordinate.longitudine }}
                </h5>
                <h5>
                    <span class="text-muted">
                        Cod. Sede Richiedente:
                    </span>
                    {{ zonaEmergenzaById.codComandoRichiedente }}
                </h5>
                <h5>
                    <span class="text-muted">
                        Descrizione:
                    </span>
                    {{ zonaEmergenzaById.descrizione }}
                </h5>
            </div>
            <hr>
            <div class="row">
                <div class="col-10 mx-auto">
                    <ng-wizard [config]="config">
                        <ng-wizard-step
                                [title]="'CRA'"
                                [description]="'Componi il CRA'"
                                [canEnter]="true"
                                [canExit]="craZonaEmergenzaForm.valid">
                            <div class="row py-2 px-3">
                                <div class="col-12">
                                    <form [formGroup]="craZonaEmergenzaForm"
                                          ngxsForm="zoneEmergenza.craZonaEmergenzaForm">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input id="nome"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Nome CRA"
                                                   formControlName="nome"/>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="latitudine">Indirizzo</label>
                                                    <app-ricerca-indirizzo [indirizzo]="f.indirizzo?.value"
                                                                           [requiredFieldClass]="false"
                                                                           (selectCandidate)="onSetIndirizzo($event)">
                                                    </app-ricerca-indirizzo>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="latitudine">Latitudine</label>
                                                    <input id="latitudine"
                                                           class="form-control"
                                                           type="tel"
                                                           placeholder="Latitudine"
                                                           formControlName="latitudine"/>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="longitudine">Longitudine</label>
                                                    <input id="longitudine"
                                                           class="form-control"
                                                           type="tel"
                                                           placeholder="Longitudine"
                                                           formControlName="longitudine"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="comandanteRegionale">Comandante Regionale</label>
                                            <input id="comandanteRegionale"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Comandante Regionale"
                                                   formControlName="comandanteRegionale"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="responsabileDistrettoAreaColpita">Responsabile Distretto Area
                                                Colpita</label>
                                            <input id="responsabileDistrettoAreaColpita"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Responsabile Distretto Area Colpita"
                                                   formControlName="responsabileDistrettoAreaColpita"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="responsabile">Responsabile</label>
                                            <input id="responsabile"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Responsabile"
                                                   formControlName="responsabile"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="responsabileCampiBaseMezziOperativi">Responsabile Campi Base e
                                                Mezzi
                                                Operativi</label>
                                            <input id="responsabileCampiBaseMezziOperativi"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Responsabile Campi Base e Mezzi Operativi"
                                                   formControlName="responsabileCampiBaseMezziOperativi"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="responsabileGestionePersonaleContratti">Responsabile Gestione
                                                Personale e Contratti</label>
                                            <input id="responsabileGestionePersonaleContratti"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Responsabile Gestione Personale e Contratti"
                                                   formControlName="responsabileGestionePersonaleContratti"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step
                                [title]="'DOA e PCA'"
                                [description]="'Componi i DOA e i PCA'"
                                [canEnter]="craZonaEmergenzaForm.valid"
                                [canExit]="craZonaEmergenzaForm.valid">
                            <div class="row py-2 px-3">
                                <div class="col-12">
                                    <button class="btn btn-primary mb-3"
                                            (click)="onAddDoa()">
                                        <i class="fas fa-plus"></i>
                                        Inserisci DOA
                                    </button>
                                    <ng-container *ngIf="!doa?.length">
                                        <div class="alert alert-danger">
                                            Nessun DOA Creato per il CRA {{ f.nome.value }}
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="doa?.length">
                                        <ngb-accordion>
                                            <ngb-panel *ngFor="let d of doa"
                                                       [id]="d.codice"
                                                       [title]="d.nome">
                                                <ng-container *ngIf="!doa?.length">
                                                    <div class="alert alert-danger">
                                                        Nessun DOA Creato per il CRA {{ f.nome.value }}
                                                    </div>
                                                </ng-container>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </ng-container>
                                    <ng-container *ngIf="f?.listaDoa?.length">
                                        <ngb-accordion>
                                            <ngb-panel *ngFor="let d of f?.listaDoa"
                                                       [id]="d.codice"
                                                       [title]="d.nome">
                                                <ng-container *ngIf="!doa?.length">
                                                    <div class="alert alert-danger">
                                                        Nessun DOA Creato per il CRA {{ f.nome.value }}
                                                    </div>
                                                </ng-container>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </ng-container>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <div class="clearfix">
                                        <div class="float-right">
                                            <button class="btn btn-success"
                                                    (click)="saveCraZonaEmergenza()">
                                                Salva Modifiche
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
        <div *ngIf="doubleMonitor" class="col-6">
            <div class="mt-2"
                 style="height:920px">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
