<a class="card text-muted">
  <div class="row">
    <span class="col col-md-4">
      <i class="fa fa-users fa-4x" style="color:#337ab7; text-shadow:  4px -2px 3px rgb(127, 137, 245); margin-left:15px; margin-top:15px; margin-bottom:15px; border-color:transparent; border-radius:15px; "></i>
    </span>
    <span class="col col-md-8">
      <ul>
        <li class="card-text" style="font-size:14px; color:#337ab7; padding-top:5px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 248);">Squadre</li>
        <li class="card-text" style="font-size:12px; color:#337ab7; padding-top:5px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 248);">In Sede
          <span class="badge badge-pill badge-secondary pull-right">{{squadre.squadreInSede}}</span>
        </li>
        <li class="card-text" style="font-size:12px; color:#337ab7; padding-top:5px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 248);">In Viaggio
          <span class="badge badge-pill badge-success pull-right">{{squadre.squadreInViaggio}}</span>
        </li>
        <li class="card-text" style="font-size:12px; color:#337ab7; padding-top:5px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 248);">Sul posto
          <span class="badge badge-pill badge-success pull-right">{{squadre.squadreSulPosto}}</span>
        </li>
        <li class="card-text" style="font-size:12px; color:#337ab7; padding-top:5px; padding-bottom:8px; font-weight: bold; text-shadow:  4px -2px 3px rgb(184, 190, 248);">In Rientro
          <span class="badge badge-pill badge-primary pull-right">{{squadre.squadreInRientro}}</span>
        </li>
      </ul>
    </span>
  </div>
</a>
