<a class="card text-muted">
  <div class="row">
    <span class="col col-md-4">
      <i class="fa fa-users fa-4x" style="color:#0d47a1; text-shadow:  4px -2px 3px rgb(127, 137, 245); margin-left:15px; margin-top:20px; border-color:transparent; border-radius:15px; "></i>
    </span>
    <span class="col col-md-8">
      <ul>
        <li class="card-text" style="font-size:13px; color:#0d47a1; padding-top:5px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">Squadre</li>
        <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Sede
          <span class="badge badge-pill badge-default pull-right">{{squadre.squadreInSede}}</span>
        </li>
        <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Viaggio
          <span class="badge badge-pill badge-success pull-right">{{squadre.squadreInViaggio}}</span>
        </li>
        <li class="card-text" style="color:#0d47a1; padding-top:4px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">Sul posto
          <span class="badge badge-pill badge-success pull-right">{{squadre.squadreSulPosto}}</span>
        </li>
        <li class="card-text" style="color:#0d47a1; padding-top:4px; padding-bottom:8px; font-weight: bold; text-shadow:  4px -2px 3px rgb(151, 158, 250);">In Rientro
          <span class="badge badge-pill badge-primary pull-right">{{squadre.squadreInRientro}}</span>
        </li>
      </ul>
    </span>
  </div>
</a>