<div class="container-fluid">
    <div class="row">
        <div class="col-6 mx-auto my-5 px-3">
            <div class="w-100 mx-auto text-center my-3">
                <img class="img-fluid rounded" [src]="images.Disconnected" alt="Disconnesso">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto mb-5 px-3">
            <div class="text-center">
                <h3 class="font-300" style="color: #DE002F">Al momento sei offline.</h3>
                <h6>Questa finestra si chiuderà automaticamente, non appena tornerai online.</h6>
            </div>
        </div>
    </div>
</div>
