<div>
    <ng-template [ngIf]="elencoEventi?.length > 0">
        <table class="table table-striped mb-0">
            <thead class="h5">
                <th scope="col" style="width:22%">
                    Evento
                </th>
                <th scope="col" style="width:16%">
                    Quando
                </th>
                <th scope="col" style="width:12%">
                    Targa
                </th>
                <th scope="col" style="width:16%">
                    Operatore
                </th>
                <th scope="col" style="width:26%">
                    Note
                </th>
            </thead>
            <tbody class="h5">
                <tr app-evento-richiesta *ngFor="let r of elencoEventi; let i = index" [eventoRichiesta]="r"
                    [nomeClasseEvento]="r.nomeClasseEvento"
                    [visualizzaIconeNomeClasseEvento]="iconeNomeClasseEvento"
                    [operatore]="r.operatore"
                    (filtroTarga)="setRicercaTargaMezzo($event)"></tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template [ngIf]="!loading && !elencoEventi?.length">
        <div class="alert alert-danger font-weight-bold h5">Non ci sono eventi associati alla richiesta</div>
    </ng-template>
</div>
