<div class="modal-header">
  <h4 class="modal-title" style="font-weight: 700">
    {{ 'DETTAGLIO RICHIESTA SOCCORSO AEREO' }}
  </h4>
  <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
          (click)="chiudiModalSoccorsoAereo('ko')">
    <i class="fa fa-times text-danger"></i>
  </button>
</div>

<div class="modal-body pb-0">
  <div class="row" style="justify-content: center; font-size: x-large">
    <div class="clearfix d-inline-flex">
      <span class="badge h6 w-100 badge-primary mb-0" style="font-size: x-large; padding: 10px">Richiesta Soccorso Aereo</span>
      <i ngbTooltip="Dati ricevuti dal Sistema AFM" placement="right" class="fa fa-question-circle-o pl-1" style="color: #c23535" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row my-4 align-items-center">
    <div class="col-4">
      <div class="h6 mb-1 nowrap font-soccorso-lg" style="text-align-last: center">
        <i class="guida fa fa-hashtag fa-fw mr-1"
           ngbTooltip="Identificativo richiesta" placement="bottom"></i>
        <a class="h6 cod-int">
          <span *ngIf="richiesta?.codiceRichiesta" class="font-soccorso-lg">{{ richiesta?.codiceRichiesta.slice(0, -5)}}
            <span style="font-weight: 700; font-size: 130%">{{ richiesta?.codiceRichiesta.slice(richiesta?.codiceRichiesta.length - 5)}}</span>
          </span>
          <span *ngIf="!richiesta?.codiceRichiesta" class="font-soccorso-lg">{{ richiesta?.codice.slice(0, -5) }}
            <span style="font-weight: 700; font-size: 130%">{{ richiesta?.codice.slice(richiesta?.codice.length - 5)}}</span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="h6 mb-1 nowrap font-soccorso-lg" style="text-align-last: center">
        <i class="guida fa fa-rss fa-fw mr-1"
           ngbTooltip="Data Trasmissione" placement="bottom"></i>
        <a class="h6 cod-int">
          <span *ngIf="richiesta?.operatore" class="font-soccorso-lg"> 12/12/2012 00:00:00
          </span>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="h6 mb-1 nowrap font-soccorso-lg" style="text-align-last: center">
        <i class="guida fa fa-address-book fa-fw mr-1"
           ngbTooltip="Operatore SO115" placement="bottom"></i>
        <a class="h6 cod-int">
          <span *ngIf="richiesta?.operatore" class="font-soccorso-lg">{{ richiesta?.operatore.nome }} {{ richiesta?.operatore.cognome }}
          </span>
        </a>
      </div>
    </div>
  </div>

  <!-- DETTAGLIO -->
  <div class="row"><div class="w-100 bg-secondary text-white font-xlarge font-weight-bold" style="padding-left: 15px">Dettaglio</div></div>
  <div class="row my-3">
    <div class="row">
      <div class="clearfix input-soccorso-format mr-3" style="width: 40%; margin-left: 2.5rem">
        <label for="localita" class="d-none">Località</label>
        <i class="guida fa fa-map-marker fa-fw mr-1" ngbTooltip="Località" placement="bottom" style="font-size: 185%; padding-bottom: 5px"></i>
        <input id="localita" [(ngModel)]="richiesta.localita.indirizzo" type="text" placeholder="localita" class="form-control font-xlarge " disabled>
      </div>
      <div class="clearfix input-soccorso-format mr-2" style="width: 16%">
        <label for="latitudine" ngbTooltip="Latitudine" placement="bottom" style="font-size: 140%; font-weight: 400; padding-right: 5px">Lat.</label>
        <input id="latitudine" [(ngModel)]="richiesta.localita.coordinate.latitudine" type="text" placeholder="000.00" class="form-control font-xlarge" disabled>
      </div>
      <div class="clearfix input-soccorso-format mx-2" style="width: 16%">
        <label for="longitudine" ngbTooltip="Longitudine" placement="bottom"  style="font-size: 140%; font-weight: 400; padding-right: 5px">Long.</label>
        <input id="longitudine" [(ngModel)]="richiesta.localita.coordinate.longitudine" type="text" placeholder="000.00" class="form-control font-xlarge" disabled>
      </div>
      <div class="clearfix input-soccorso-format">
        <!-- COMPETENZE -->
        <ng-template [ngIf]="richiesta.competenze?.length > 0">
          <div class="float-left" style="font-size: xx-large; transform: translate(0, -5px);">
            <app-competenza *ngFor="let c of richiesta.competenze; let i = index"
                            [competenza]="c" [i]="i"></app-competenza>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row my-4 d-inline-flex">
      <div class="clearfix mr-3 input-soccorso-format" style="width: 23%; margin-left: 2.5rem" >
        <label for="aggiornamento" class="d-none">Aggiornamento alle</label>
        <i class="guida fa fa-clock-o fa-fw mx-1" ngbTooltip="Data aggiornamento" placement="bottom" style="font-size: 185%; padding-bottom: 5px"></i>
        <input id="aggiornamento" [(ngModel)]="richiesta.istanteRicezioneRichiesta" type="text" placeholder="aggiornamento" class="form-control font-xlarge" disabled>
      </div>
      <div class="clearfix mr-2 input-soccorso-format" style="width: 30%" >
        <label for="tipologia" class="d-none">Tipologia Intervento</label>
        <i class="guida fa fa-exclamation-triangle fa-fw mx-1" ngbTooltip="Tipologia intervento" placement="bottom" style="font-size: 185%; padding-bottom: 5px"></i>
        <input id="tipologia" [(ngModel)]="richiesta.tipologie[0].descrizione" type="text" placeholder="tipologia" class="form-control font-xlarge ml-1" disabled>
      </div>
      <div class="clearfix mx-2 input-soccorso-format" style="width: 20%" >
        <label for="richiedente" class="d-none">Richiedente</label>
        <i class="guida fa fa-address-book-o fa-fw mx-1" ngbTooltip="Richiedente" placement="bottom" style="font-size: 185%; padding-bottom: 5px"></i>
        <input id="richiedente" [(ngModel)]="richiesta.richiedente.nominativo" type="text" placeholder="richiedente" class="form-control font-xlarge" disabled>
      </div>
      <div class="clearfix input-soccorso-format" style="width: 15%" >
        <label for="telefono" class="d-none">Telefono</label>
        <i class="guida fa fa-phone fa-fw mx-1" ngbTooltip="Richiedente" placement="bottom" style="font-size: 185%; padding-bottom: 5px"></i>
        <input id="telefono" [(ngModel)]="richiesta.richiedente.telefono" type="text" placeholder="telefono" class="form-control font-xlarge" disabled>
      </div>
    </div>
    <div class="row d-inline-flex w-100">
      <div class="clearfix mr-4" style="text-align: center; width: 46%; margin-left: 2.5rem">
        <label class="d-none" for="noteintervento">Note Intervento</label>
        <textarea id="noteintervento" type="text"
                  placeholder="Inserisci note intervento"
                  class="form-control font-xlarge area-size"></textarea>
      </div>
      <div class="clearfix" style="text-align: center; width: 46%">
        <label class="d-none" for="motivazioneRichiesta">Motivazione della richiesta</label>
        <textarea id="motivazioneRichiesta" type="text"
                  placeholder="Inserisci motivazione della richiesta"
                  class="form-control font-xlarge area-size"></textarea>
      </div>
    </div>
  </div>

  <!-- ATTIVITA' -->
  <div class="row">
    <div class="mt-2 w-100 bg-secondary text-white font-xlarge font-weight-bold" style="padding-left: 15px">Attività
    <i (click)="onShowAttivita()" [class.fa-chevron-up]="!showAttivita" [class.fa-chevron-down]="showAttivita" class="fa"
       style="cursor: pointer; transform: translate(63rem, 0px)"></i>
    </div>
  </div>
  <table *ngIf="showAttivita" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Stato</th>
      <th scope="col">Aggiornata alle</th>
      <th scope="col">Nucleo</th>
      <th scope="col">Velivolo</th>
      <th scope="col">Categorie</th>
      <th scope="col">Tempo Stimato</th>
      <th scope="col">Accettazione</th>
      <th scope="col">Decollo</th>
      <th scope="col">Arrivo</th>
      <th scope="col">Rientro</th>
      <th scope="col">Sede</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of attivita; index as i">
      <th scope="row">{{a.stato}}</th>
      <td>{{a.aggiornamento}}</td>
      <td>{{a.nucleo}}</td>
      <td>{{a.velivolo}}</td>
      <td>{{a.categorie}}</td>
      <td>{{a.tempoStimato}}</td>
      <td>{{a.accettazione}}</td>
      <td>{{a.decollo}}</td>
      <td>{{a.arrivo}}</td>
      <td>{{a.rientro}}</td>
      <td>{{a.sede}}</td>
    </tr>
    </tbody>
  </table>


</div>

<div class="modal-footer">
  <div class="row w-100">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-lg btn-success btn-no-hover font-weight-bolder float-left"
              (click)="chiudiModalSoccorsoAereo('ok')">
        {{ 'Modifica Richiesta'.toLocaleUpperCase() }}
      </button>
      <button type="button" class="btn btn-lg btn-danger btn-no-hover font-weight-bolder float-left ml-2"
              (click)="chiudiModalSoccorsoAereo('ok')">
        {{ 'Annulla Richiesta'.toLocaleUpperCase() }}
      </button>
      <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-2" ngbTooltip="Refresh" style="width: 10%">
        <i class="fa fa-refresh"></i>
      </button>
      <button type="button" class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder" style="width: 10%"
              (click)="chiudiModalSoccorsoAereo('ko')">
        {{ 'Chiudi'.toLocaleUpperCase() }}
      </button>
    </div>
  </div>
</div>
