<div class="card cursor-pointer p-2 mb-2" (click)="partenzaoppiatoSelezionato(partenza)" [ngClass]="cardClasses(partenza)">
  <div class="row">
    <div class="col">
      <div class="nowrap">
        <small *ngIf="partenza.mezzoComposizione">
          <i class="guida fa fa-truck mr-2"></i>
          <span *ngIf="partenza.mezzoComposizione.mezzo" class="font-weight-bold mr-1">{{partenza.mezzoComposizione.mezzo.descrizione}}</span>
          <span *ngIf="partenza.mezzoComposizione.mezzo" class="font-weight-normal">{{partenza.mezzoComposizione.mezzo.genere}}</span>
        </small>
      </div>
    </div>
    <div *ngIf="partenza.squadra.length === 0" class="col text-danger">
      <i class="fa fa-group mr-1"></i><small>Nessuna</small>
    </div>
    <div *ngIf="partenza.squadra.length === 1" class="col">
      <div class="nowrap">
        <i class="guida fa fa-group mr-1"></i><small *ngIf="partenza.squadra">{{partenza.squadra[0].nome}}</small>
      </div>
    </div>
    <div *ngIf="partenza.squadra.length > 1" class="col">
      <span [ngbPopover]="piusquadre" popoverTitle="Squadre" triggers="mouseenter:mouseleave"><i class="guida fa fa-group mr-1"></i><small>{{partenza.squadra.length}}
          squadre</small></span>
      <ng-template #piusquadre>
        <div *ngFor="let s of partenza.squadra" class="text-center nowrap">
          <span class="d-inline-block mb-1">{{s.nome}}</span>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col nowrap">
      <i class="guida fa fa-road mr-1"></i><small *ngIf="partenza.mezzoComposizione.km">{{partenza.mezzoComposizione.km}}</small>
    </div>
    <div class="col">
      <i class="guida fa fa-clock-o mr-1"></i><small *ngIf="partenza.mezzoComposizione.tempoPercorrenza">{{partenza.mezzoComposizione.tempoPercorrenza}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <i class="guida fa fa-map-marker mr-1"></i><span *ngIf="partenza.mezzoComposizione.distaccamento" class="badge"
        [ngClass]="compotenzaClasses(partenza)">{{partenza.mezzoComposizione.distaccamento}}</span>
    </div>
  </div>
</div>