<div class="row">
    <div [ngClass]="col">
        <div class="row">
            <div class="col-2 text-left">
                <app-tasto-chiamata></app-tasto-chiamata>
            </div>
            <div *ngIf="!disableFiltri" class="col-2 px-0 text-left">
                <app-filtri-richieste></app-filtri-richieste>
            </div>
            <div *ngIf="!disableSearchBar" class="col-8">
                <app-ricerca-richieste></app-ricerca-richieste>
            </div>
            <div *ngIf="disableSearchBar" class="col-4 ml-auto">
                <app-tasto-comp-partenza (cambioModalita)="cambioModalita($event)"></app-tasto-comp-partenza>
            </div>
        </div>
    </div>
    <div *ngIf="!disableViewButtons" class="col-2">
        <div class="row">
            <div class="col-12">
                <app-view-mode></app-view-mode>
            </div>
        </div>
    </div>
    <div [ngClass]="col">
        <div class="row">
            <div class="col-3">
                <!--spazio disponibile-->
            </div>
            <div class="col-4 pr-0">
                <app-marker-meteo-switch></app-marker-meteo-switch>
            </div>
            <div class="col-5">
                <app-filtri-mappa></app-filtri-mappa>
            </div>
        </div>
    </div>
</div>