<h1>
  {{title}}
</h1>


<div class="row">

<!-- VALORI-->
  <div>
    <div class="card card-outline-primary mb-3">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <h3 class="card-title text-center">@OUTPUT<br>(dopo click sulla mappa) </h3>
          <input ng-model="lati" class="card-text" value="{{lat}}"/>
          <input class="card-text" value="{{lon}}" />
        </blockquote>
      </div>
    </div>
    <div class="card card-outline-danger mb-3">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <h3 class="card-title text-center">@INPUT</h3>
          <p class="card-text" *ngFor="let i of puntiMappaGoogleInput">{{i.codice}} - {{i.tipologia}} - Lat:{{i.latitudine}} - Lon:{{i.longitudine}}</p>
        </blockquote>
      </div>
    </div>
  </div>
  
<!-- MAPPA -->  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block google-mappa" (click)="setCoordinataFake()"></div>
    </div>
  </div>


</div>