.align-center-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 100%;
    align-items: center;
}
