.m-h-boxes-avanzata {
    height: 590px;
    max-height: 590px;
}

.m-h-no-boxes-avanzata {
    height: 445px;
    max-height: 445px;
}

.align-center-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 100%;
    align-items: center;
}

.clear-search-mezzi {
    transform: translate(175px, -26px);
    position: fixed;
    cursor: pointer
}

.clear-search-squadre {
  transform: translate(78px, -26px);
  position: fixed;
  cursor: pointer
}

.font-comp-xl {
  font-size: 130% !important;
}

