<div class="row min-h-comp">
    <div *ngIf="loadingInvioPartenza"
         class="col-12 h-100">
        <app-partial-loader></app-partial-loader>
    </div>
    <div *ngIf="!loadingInvioPartenza" class="col-3 px-0">
        <div class="card min-h-comp">
            <app-partial-loader *ngIf="loadingListe || !squadreComposizione"></app-partial-loader>
            <div class="card-header clearfix px-2 py-1">
                <div class="float-left pt-2">
                    <i class="fa fa-users mr-2"></i>
                    Squadre
                </div>
                <div class="float-right w-50">
                    <label for="ricercaSquadre"
                           class="d-none"></label>
                    <input id="ricercaSquadre"
                           class="form-control"
                           [ngClass]="{'border-danger': ricercaSquadre?.length}"
                           type="text"
                           name="ricercaSquadre"
                           style="font-size: 115%"
                           placeholder="Cerca..."
                           [(ngModel)]="ricercaSquadre"
                           appDebounceKeyUp
                           [debounceTime]="1000"
                           (debounceKeyUp)="onSearchSquadre()"
                           (search)="onClearSearchSquadre()">
                    <i *ngIf="ricercaSquadre"
                       class="fa fa-times text-danger clear-search-squadre"
                       ngbTooltip="Cancella Ricerca Squadre"
                       (click)="onClearSearchSquadre()"></i>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush min-h-comp">
                    <li *ngIf="!squadreComposizione?.length"
                        class="list-group-item border">
                        <span class="text-muted">Nessun risultato...</span>
                    </li>
                    <ng-template [ngIf]="squadreComposizione?.length">
                        <app-squadra-composizione
                                *ngFor="let sC of squadreComposizione"
                                [nightMode]="nightMode"
                                [squadraComp]="sC"
                                [boxPartenzaList]="boxPartenzaList"
                                [itemSelezionato]="checkSquadraSelezione(sC.id)"
                                [itemHover]="checkSquadraHover(sC.id)"
                                [richiesta]="richiesta"
                                (selezionata)="squadraSelezionata($event)"
                                (selezionataInRientro)="squadraSelezionataInRientro($event)"
                                (selezionataPreAccoppiati)="squadraSelezionataPreAccoppiati($event)"
                                (deselezionata)="squadraDeselezionata($event)"
                                (deselezionataInRientro)="squadraDeselezionataInRientro($event)"
                                (deselezionataPreAccoppiati)="squadraDeselezionataPreAccoppiati($event)"
                                (hoverIn)="squadraHoverIn($event)"
                                (hoverOut)="squadraHoverOut($event)"></app-squadra-composizione>
                    </ng-template>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col"
                 style="display: flex; place-content: center; margin-top: 10px;">
                <ngb-pagination
                        [(page)]="currentPageSquadre"
                        [pageSize]="pageSizeSquadre"
                        [collectionSize]="totalItemsSquadre"
                        [maxSize]="2"
                        [disabled]="loadingListe"
                        (pageChange)="squadrePageChange($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="!loadingInvioPartenza" class="col-5 pr-0">
        <div class="card mx-auto min-h-comp">
            <app-partial-loader *ngIf="loadingListe || !mezziComposizione"></app-partial-loader>
            <div class="card-header clearfix px-2 py-1">
                <div class="float-left pt-2">
                    <i class="fa fa-truck mr-2"></i>
                    Mezzi
                </div>
                <div class="float-right"
                     style="width: 35%">
                    <label for="ricercaMezzi"
                           class="d-none"></label>
                    <input id="ricercaMezzi"
                           class="form-control"
                           [ngClass]="{'border-danger': ricercaMezzi?.length}"
                           type="text"
                           name="ricercaMezzi"
                           style="font-size: 115%"
                           placeholder="Cerca..."
                           [(ngModel)]="ricercaMezzi" appDebounceKeyUp
                           (debounceKeyUp)="onSearchMezzi()"
                           [debounceTime]="1000">
                    <i *ngIf="ricercaMezzi"
                       class="fa fa-times text-danger clear-search-mezzi"
                       ngbTooltip="Cancella Ricerca Mezzi"
                       (click)="onClearSearchMezzi()"></i>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush min-h-comp">
                    <li *ngIf="!mezziComposizione?.length"
                        class="list-group-item border">
                        <span class="text-muted">Nessun risultato...</span>
                    </li>
                    <ng-template [ngIf]="mezziComposizione?.length">
                        <div *ngFor="let mC of mezziComposizione">
                            <ng-template [ngIf]="mC.mezzo.stato !== statoMezzo.OperativoPreaccoppiato">
                                <app-mezzo-composizione [mezzoComp]="mC"
                                                        [nightMode]="nightMode"
                                                        [boxPartenzaList]="boxPartenzaList"
                                                        [itemSelezionato]="checkMezzoSelezione(mC.id)"
                                                        [itemHover]="checkMezzoHover(mC.id)"
                                                        [itemInPrenotazione]="idMezziInPrenotazione ? idMezziInPrenotazione.indexOf(mC.id) !== -1 : false"
                                                        [itemPrenotato]="idMezziPrenotati ? idMezziPrenotati.indexOf(mC.id) !== -1 : false"
                                                        [itemBloccato]="idMezziBloccati ? idMezziBloccati.indexOf(mC.id) !== -1 : false"
                                                        [richiesta]="richiesta"
                                                        (selezionato)="mezzoSelezionato($event)"
                                                        (selezionatoInRientro)="mezzoSelezionatoInRientro($event)"
                                                        (selezionatoPreAccoppiati)="mezzoSelezionatoPreAccoppiati($event)"
                                                        (deselezionato)="mezzoDeselezionato($event)"
                                                        (deselezionatoInRientro)="mezzoDeselezionatoInRientro($event)"
                                                        (deselezionatoPreAccoppiati)="mezzoDeselezionatoPreAccoppiati($event)"
                                                        (hoverIn)="mezzoHoverIn($event)" (hoverOut)="mezzoHoverOut()"
                                                        (mezzoCoordinate)="mezzoCoordinate($event)"
                                                        (mezzoCoordinateClear)="mezzoCoordinateClear()"
                                                        (sganciamento)="sganciamento.emit($event)">
                                </app-mezzo-composizione>
                            </ng-template>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col"
                 style="display: flex; place-content: center; margin-top: 10px;">
                <ngb-pagination
                        [(page)]="currentPageMezzi"
                        [pageSize]="pageSizeMezzi"
                        [collectionSize]="totalItemsMezzi"
                        [maxSize]="5"
                        [disabled]="loadingListe"
                        (pageChange)="mezziPageChange($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="mezziComposizione && squadreComposizione && !loadingInvioPartenza" class="col-4 pr-0">
        <!-- Lista Partenze Richiesta -->
        <div style="height:33%">
            <div class="card h-100"
                 [class.card-shadow]="!nightMode">
                <div class="card-header py-2">
                    <i class="fa fa-list-ul mr-2" style="vertical-align:sub"></i>
                    <span style="vertical-align:sub">
                        Partenze
                        <span *ngIf="richiesta.codiceRichiesta" style="float: right">{{ richiesta.codiceRichiesta.slice(0, -5)}}
                            <span class="pb-1"
                                  style="font-size: 25px; font-weight: 700;">{{ richiesta.codiceRichiesta.slice(richiesta.codiceRichiesta.length - 5)}}</span>
                        </span>
                        <span *ngIf="!richiesta.codiceRichiesta" style="float: right">{{ richiesta.codice.slice(0, -5) }}
                            <span class="pb-1"
                                  style="font-size: 25px; font-weight: 700;">{{ richiesta.codice.slice(richiesta.codice.length - 5)}}</span>
                        </span>
                    </span>
                </div>
                <div class="card-body px-3 pt-1 pb-2" style="overflow: auto">
                    <app-lista-partenze [partenze]="richiesta.partenzeRichiesta">
                    </app-lista-partenze>
                </div>
            </div>
        </div>
        <!-- Box Partenza -->
        <div class="w-100 py-2 px-1" style="height:56%">
            <!-- bottone nuova partenza -->
            <div *ngIf="boxPartenzaList?.length && boxPartenzaList.length <= 2" class="text-center mb-2">
                <button class="btn btn-primary btn-no-hover"
                        (click)="nuovaPartenza()"
                        [disabled]="disableNuovaPartenza || boxPartenzaList.length > 2"><i
                        class="fa fa-plus mr-2"></i><span
                        style="vertical-align: text-bottom;">Aggiungi</span>
                </button>
            </div>
            <!-- lista box partenze -->
            <div *ngIf="boxPartenzaList?.length">
                <div *ngFor="let p of boxPartenzaList.slice().reverse(); let index = index">
                    <app-box-nuova-partenza [partenza]="p" [richiesta]="richiesta" [elimina]="true"
                                            [nightMode]="nightMode"
                                            [disableDividi]="checkDoubleDividi(p)"
                                            [itemSelezionato]="p.id === idBoxPartenzaSelezionato"
                                            [compPartenzaMode]="Composizione.Avanzata"
                                            [alert]="true" (selezionato)="boxPartenzaSelezionato($event)"
                                            (eliminato)="eliminaBoxPartenza($event)"
                                            (squadraShortcut)="squadraShortcut($event)"
                                            (deselezionato)="onClearDirection()"></app-box-nuova-partenza>
                </div>
            </div>
        </div>
        <!-- Soccorso aereo triage-->
        <div class="clearfix">
            <div class="float-left w-100 pl-2" style="width: 2%">
                <div class="clearfix">
                    <div class="float-left">
                        <ngb-rating [rate]="getSoccorsoAereoTriage(triageSummary)?.value"
                                    [max]="4"
                                    [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <div class="circle d-inline-block font-double-monitor"
                                     [class.filled]="fill === 100"
                                     [class.bad]="index > 2 && fill === 100">
                                    <i class="fa fa-circle mr-1"></i>
                                </div>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottoni Composizione -->
        <app-composizione-confirm-button [boxPartenzaLenght]="boxPartenzaList.length"
                                         [richiesta]="richiesta"
                                         [disableConfirmPartenza]="disableConfirmPartenza"
                                         (confirmPartenzaInViaggio)="confermaPartenzeInViaggio()">
        </app-composizione-confirm-button>
    </div>
</div>
