<div *ngIf="mezziComposizione.length > 0 && squadreComposizione.length > 0" class="row">
    <div class="col-5 pr-0">
        <div class="card card-shadow mx-auto">
            <div class="card-header">
                <i class="fa fa-truck mr-2"></i><span class="h6">Mezzi</span>
            </div>
            <ul class="list-group list-group-flush border-bottom scroll-y"
                style="max-height:345px; min-height:345px">
                <app-mezzo-composizione *ngFor="let mC of mezziComposizione" [mezzoComp]="mC"
                                        [itemSelezionato]="mC.id === idMezzoSelezionato"
                                        [itemHover]="mC.id === idMezzoHover"
                                        [itemPrenotato]="idMezziPrenotati.indexOf(mC.id) !== -1"
                                        [itemBloccato]="idMezziBloccati.indexOf(mC.id) !== -1"
                                        [richiesta]="richiesta"
                                        (selezionato)="mezzoSelezionato($event)"
                                        (deselezionato)="mezzoDeselezionato($event)"
                                        (hoverIn)="mezzoHoverIn($event)"
                                        (hoverOut)="mezzoHoverOut($event)"
                                        (mezzoCoordinate)="mezzoCoordinate($event)"></app-mezzo-composizione>
            </ul>
        </div>
    </div>
    <div class="col-3 pr-0">
        <div class="card card-shadow mx-auto">
            <div class="card-header">
                <i class="fa fa-group mr-2"></i><span class="h6">Squadre</span>
            </div>
            <ul class="list-group list-group-flush border-bottom scroll-y"
                style="max-height:345px; min-height:345px">
                <app-squadra-composizione *ngFor="let sC of squadreComposizione" [squadraComp]="sC"
                                          [itemSelezionato]="checkSquadraSelezione(sC.id)"
                                          [itemHover]="sC.id === idSquadraHover"
                                          [richiesta]="richiesta"
                                          (selezionata)="squadraSelezionata($event)"
                                          (deselezionata)="squadraDeselezionata($event)"
                                          (hoverIn)="squadraHoverIn($event)"
                                          (hoverOut)="squadraHoverOut($event)"></app-squadra-composizione>
            </ul>
        </div>
    </div>
    <div class="col-4">
        <div class="w-100 py-2 px-1 scroll-y" style="max-height:350px; min-height:350px">
            <!-- nessuna partenza -->
            <div *ngIf="boxPartenzaList.length <= 0" class="text-center mt-3">
                <h6 class="font-weight-normal">Seleziona un mezzo o una squadra per crearne una.</h6>
                <button class="btn btn-primary mt-2" (click)="nuovaPartenza()"><i class="fa fa-plus mr-2"></i>Aggiungi
                    partenza
                </button>
            </div>
            <!-- bottone nuova partenza -->
            <div *ngIf="boxPartenzaList.length > 0" class="text-center mb-2">
                <button class="btn btn-primary" (click)="nuovaPartenza()"><i class="fa fa-plus mr-2"></i>Aggiungi
                    partenza
                </button>
            </div>
            <!-- lista box partenze -->
            <div *ngIf="boxPartenzaList.length > 0">
                <div *ngFor="let p of boxPartenzaList.slice().reverse()">
                    <app-box-nuova-partenza [partenza]="p" [richiesta]="richiesta" [elimina]="true"
                                            [itemSelezionato]="p.id === idBoxPartenzaSelezionato"
                                            [compPartenzaMode]="Composizione.Avanzata"
                                            [alert]="true" (selezionato)="boxPartenzaSelezionato($event)"
                                            (eliminato)="eliminaBoxPartenza($event)"
                                            (deselezionato)="annullaPartenza(true); centraMappa.emit();"></app-box-nuova-partenza>
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-block card-shadow mt-2" [disabled]="!boxPartenzaList <= 0">
            <span class="mr-1">Conferma partenze</span>
            <span class="badge badge-light">{{boxPartenzaList.length}}</span>
        </button>
    </div>
</div>
<div class="row">
    <div *ngIf="mezziComposizione.length <= 0 && squadreComposizione.length <= 0" class="col-12 mt-5">
        <div class="text-center">
            <i class="fa fa-spinner fa-3x fa-spin"></i>
            <h6 class="m-0 mt-2">Caricamento...</h6>
        </div>
    </div>
</div>
