<app-lista-mezzi (inviaApp)="riceviStato($event)"></app-lista-mezzi>
<div *ngIf="statoPrec() == '2'">
 <p-dialog [positionTop]="0"   [style]="{'background-color':'white'}" [closable]="false" [resizable]="true"
    [(visible)]="display" [modal]="true" [responsive]="true" [showHeader]="false">Annullamento effettuato
 </p-dialog>
</div>

<div *ngIf="statoPrec() == '1'">
  <p-dialog [positionTop]="0"   [style]="{'background-color':'white'}" [closable]="false" [resizable]="true"
      [(visible)]="display" [modal]="true" [responsive]="true" [showHeader]="false">Lo stato del mezzo é stato aggiornato. <button class="btn btn-primary" type="button" pButton icon="fa-check" (click)="annullare('1')" label="Annulla"></button>
  </p-dialog>
</div>

    


