<button type="button" class="btn font-weight-bolder mr-2"
        [ngClass]="coloreTasto()"
        [ngbTooltip]="tipToggleSchedeContatto"
        placement="bottom-right"
        (click)="toggleSchedeContatto()">
    <i class="fa fa-address-card mr-2"></i>
    <span class="badge"
          [ngClass]="coloreBadgeContatore()">
        {{ contatoreSchedeContatto?.totaleSchede.contatoreDaGestire }}
    </span>
</button>
<ng-template #tipToggleSchedeContatto>
    <div>
        Differibili: {{ contatoreSchedeContatto?.differibileSchede.contatoreTutte ? contatoreSchedeContatto?.differibileSchede.contatoreTutte : 0 }}
    </div>
    <div>
        Competenza: {{ contatoreSchedeContatto?.competenzaSchede.contatoreTutte ? contatoreSchedeContatto?.competenzaSchede.contatoreTutte : 0 }}
    </div>
    <div>
        Conoscenza: {{ contatoreSchedeContatto?.conoscenzaSchede.contatoreTutte ? contatoreSchedeContatto?.conoscenzaSchede.contatoreTutte : 0 }}
    </div>
    <div>
        <b>
            TOTALE DA GESTIRE:
            {{ contatoreSchedeContatto?.totaleSchede.contatoreTutte ? contatoreSchedeContatto?.totaleSchede.contatoreTutte : 0 }}
        </b>
    </div>
</ng-template>
