<div class="modal-header">
    <h4 class="modal-title" style="font-weight: 700">
        <!-- <i class="fa fa-fw fa-trash text-danger mr-1"></i> -->
        {{ 'Elimina Partenza' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="eliminaPartenzaForm">
        <div class="form-group">
            <label for="codMotivazione">Motivazione</label>
            <ng-select id="codMotivazione" [items]="motivazioni" [multiple]="false" [searchable]="false"
                       [clearable]="false" notFoundText="Nessuna motivazione presente, riprova!"
                       formControlName="codMotivazione" bindLabel="descrizione" bindValue="codice"
                       placeholder="Seleziona una motivazione" (change)="onSelezioneMotivazione($event)"></ng-select>
        </div>
        <div *ngIf="testoMotivazioneVisible" class="form-group">
            <label for="testoMotivazione">Testo Motivazione</label>
            <textarea type="text" class="form-control" id="testoMotivazione" placeholder="Inserisci la motivazione"
                      formControlName="testoMotivazione"></textarea>
            <small *ngIf="submitted && f.testoMotivazioneVisible.errors.required" id="testoMotivazioneAlert"
                   class="form-text text-danger">Campo obbligatorio</small>
        </div>
        <div *ngIf="codRichiestaSubentrataVisible" class="form-group">
            <label for="codRichiestaSubentrata">Codice Richiesta Subentrata</label>
            <ng-select id="codRichiestaSubentrata" [items]="codiciRichieste" [multiple]="false" [searchable]="false"
                       [clearable]="false" [virtualScroll]="true" formControlName="codRichiestaSubentrata"
                       placeholder="Seleziona una richiesta"
                       notFoundText="Nessun codice richiesta presente, riprova!"></ng-select>
            <small *ngIf="submitted && f.codRichiestaSubentrataVisible.errors.required" id="codRichiestaSubentrataAlert"
                   class="form-text text-danger">Campo obbligatorio</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-secondary text-right btn-no-hover" style="font-weight:600" (click)="onCancel()">
        {{ 'Annulla' | uppercase }}
    </button>
    <button class="btn btn-lg btn-danger text-right btn-no-hover" style="font-weight:600" [disabled]="!eliminaPartenzaForm.valid"
            (click)="onSubmit()">
        {{ 'Elimina Partenza' | uppercase }}
    </button>
</div>
