<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i
            class="fa fa-fw fa-trash text-danger mr-1"></i>Elimina Partenza</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <span class="text-danger"><i class="fa fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="eliminaPartenzaForm">
        <div class="form-group">
            <label for="codMotivazione">Motivazione</label>
            <ng-select id="codMotivazione" [items]="motivazioni" [multiple]="false" [searchable]="false"
                       [clearable]="false" notFoundText="Nessuna motivazione presente, riprova!"
                       formControlName="codMotivazione" bindLabel="descrizione" bindValue="codice"
                       placeholder="Seleziona una motivazione" (change)="onSelezioneMotivazione($event)"></ng-select>
        </div>
        <div *ngIf="testoMotivazioneVisible" class="form-group">
            <label for="testoMotivazione">Testo Motivazione</label>
            <textarea type="text" class="form-control" id="testoMotivazione" placeholder="Inserisci la motivazione"
                      formControlName="testoMotivazione"></textarea>
            <small *ngIf="submitted && f.testoMotivazioneVisible.errors.required" id="testoMotivazioneAlert"
                   class="form-text text-danger">Campo obbligatorio</small>
        </div>
        <div *ngIf="codRichiestaSubentrataVisible" class="form-group">
            <label for="codRichiestaSubentrata">Codice Richiesta Subentrata</label>
            <ng-select id="codRichiestaSubentrata" [items]="codiciRichieste" [multiple]="false" [searchable]="false"
                       [clearable]="false" [virtualScroll]="true" formControlName="codRichiestaSubentrata"
                       placeholder="Seleziona una richiesta"
                       notFoundText="Nessun codice richiesta presente, riprova!"></ng-select>
            <small *ngIf="submitted && f.codRichiestaSubentrataVisible.errors.required" id="codRichiestaSubentrataAlert"
                   class="form-text text-danger">Campo obbligatorio</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success text-right" [disabled]="!eliminaPartenzaForm.valid" (click)="onSubmit()">
        Conferma
    </button>
</div>
