<div style="height: 760px; max-height: 760px; overflow-y: auto; overflow-x: hidden">
  <table class="table table-striped app-shadow mt-2">
      <thead>
      <tr>
          <th scope="col" width="15%">Azioni</th>
          <th scope="col" width="20%">Lista voci rubrica</th>
          <th scope="col" width="40%">Informazioni</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>
           <button class="btn btn-sm btn-danger font-weight-bold float-left mt-1 mr-2" ngbTooltip="Rimuovi Voce"
                   placement="bottom"
                   >      
               <i class="fa fa-trash"></i>
           </button>
           <button class="btn btn-sm btn-warning font-weight-bold float-left mt-1 mr-2" ngbTooltip="Modifica Voce"
           placement="bottom" style="color: white;"
           >      
           <i class="fa fa-pencil-square-o"></i>
          </button>
          </td>
          <td width="40%" class="pb-1">
              <div class="h5 font-weight-bold mt-1 pt-1">
                  <span >Nome Voce</span>
              </div>
          </td>
          <td width="60%">
              <div class="row">
                  <div class="col-1" style="display: flex; align-items: center;">
                      <button class="btn btn-primary btn-sm font-weight-bold"
                              >
                          <i class="fa fa-plus"></i> 
                      </button>
                  </div>
                  <div class="col-11">
                      <ul class="list-unstyled p-2 mb-0" style="max-height: 210px; overflow-y: auto">
                          <li class="border-bottom p-2">
                              <div class="clearfix">
                                  <div class="float-left mt-1">
                                  <span class="mr-3 font-weight-bold" style="font-size:1.3rem"
                                        placement="top"></span>
                                      <span class="font-weight-bolder mr-1">nome proprieta</span>
                                      :
                                      <span class="font-weight-bolder ml-1">descrizione proprieta</span>
                                  </div>
                                  <div class="float-right">
                                      <button class="btn btn-danger btn-sm float-right ml-2" placement="bottom"
                                              >
                                          <i class="fa fa-sm fa-sm fa-trash"></i>
                                      </button>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </td>
      </tr>
      <tr>
          <td></td>
          <td>
              <ng-template [ngIf]="!loading">Nessuna Voce trovata</ng-template>
              <ng-template [ngIf]="loading">Caricamento risultati in corso...</ng-template>
          </td>
          <td></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="d-flex justify-content-between p-2">
    <app-voci-rubrica-per-pagina></app-voci-rubrica-per-pagina>
    <!--
    <pagination-controls class="mt-1 mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'"
    (pageChange)="pageChange.emit($event)"></pagination-controls>
    -->
</div>
