<table class="table table-striped bg-white">
    <thead>
    <tr>
        <th scope="col" style="width:10%"><i class="fas fa-bolt mr-2"></i>Azioni</th>
        <th scope="col" style="width:20%"><i class="fas fa-university mr-2"></i>Nome</th>
        <th scope="col" style="width:15%"><i class="fas fa-microphone mr-2"></i>Telefono</th>
        <th scope="col" style="width:20%"><i class="fas fa-map-marker-alt mr-2"></i>Indirizzo</th>
        <th scope="col" style="width:15%"><i class="fas fa-envelope mr-2"></i>Email</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="vociRubrica?.length">
        <tr *ngFor="let voce of vociRubrica">
            <!-- Bottoni Azione -->
            <td>
                <button class="btn btn-sm btn-danger font-weight-bold mr-2"
                        ngbTooltip="Rimuovi Voce"
                        placement="bottom"
                        (click)="onDeleteVoceRubrica(voce?.id, voce?.descrizione)">
                    <i class="fas fa-trash"></i>
                </button>
                <button class="btn btn-sm btn-warning font-weight-bold text-white"
                        ngbTooltip="Modifica Voce"
                        placement="bottom"
                        (click)="onEditVoceRubrica(voce)">
                    <i class="far fa-edit"></i>
                </button>
            </td>
            <!-- Descrizione -->
            <td class="align-middle"
                style="width:25%">
                <h5 class="font-weight-bold mb-0"
                    [ngbTooltip]="voce?.descrizione?.length > 30 ? voce.descrizione.toLocaleUpperCase() : null">
                    {{ (voce?.descrizione | uppercase) | truncate: 30 }}
                </h5>
            </td>
            <!-- Numeri -->
            <td class="align-middle"
                [class.p-0]="voce?.telefoni?.length"
                style="width:20%">
                <ng-container *ngIf="voce?.telefoni?.length">
                    <app-numeri-ente [telefoni]="voce?.telefoni">
                    </app-numeri-ente>
                </ng-container>
                <ng-container *ngIf="!voce?.telefoni?.length">
                    <small class="ml-1 text-muted">
                        Non presente/i
                    </small>
                </ng-container>
            </td>
            <!-- Indirizzo -->
            <td class="align-middle"
                style="width:13%">
                <div class="d-inline-block"
                     [ngbTooltip]="voce?.indirizzo?.length > 20 ? voce.indirizzo : null">
                    {{ voce?.indirizzo | truncate: 20 }}
                </div>
                <ng-container *ngIf="voce?.indirizzo && voce?.cap">
                    <span class="ml-1"> - </span>
                    <span class="ml-1">{{ voce.cap }}</span>
                </ng-container>
                <ng-container *ngIf="!voce?.indirizzo && !voce?.cap">
                    <small class="text-muted">
                        Non presente
                    </small>
                </ng-container>
            </td>
            <!-- Email -->
            <td class="align-middle"
                style="width:22%">
                <div class="d-flex align-items-center justify-content-between">
                    <ng-container *ngIf="voce?.email">
                        <div class="d-inline-block ml-1"
                             [ngbTooltip]="voce?.email?.length > 20 ? voce.email : null">
                            {{ voce.email | truncate: 20 }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!voce?.email">
                        <small class="ml-1 text-muted">
                            Non presente
                        </small>
                    </ng-container>
                    <i class="mx-3 fas"
                       [class.fa-level-down-alt]="voce.ricorsivo"
                       [ngbTooltip]="'In profondità'"
                       placement="top"></i>
                </div>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
<ng-container *ngIf="vociRubrica?.length">
    <div class="d-flex justify-content-between pt-2 px-2">
        <app-select-elementi-per-pagina [pageSize]="pageSize"
                                        [pageSizes]="pageSizes"
                                        [placeholderElementi]="'voci'"
                                        (pageSizeChange)="pageSizeChange.emit($event)">
        </app-select-elementi-per-pagina>
        <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="totalItems"
                [maxSize]="5"
                [disabled]="loading"
                (pageChange)="pageChange.emit($event)">
        </ngb-pagination>
    </div>
</ng-container>
