<div class="container-fluid pt-4 pb-2">
    <div class="row">
        <div [class.col-12]="!doubleMonitor"
             [class.col-6]="doubleMonitor">
            <div class="row">
                <div class="col-12 col-md-9 mx-auto mb-3">
                    <h2>
                        <i class="far fa-newspaper"></i>
                        Informazioni sugli Aggiornamenti
                    </h2>
                </div>
                <div *ngFor="let changelog of listaChangelog; let i = index"
                    class="col-11 col-md-10 col-lg-9 col-xl-7 mx-auto mb-3 py-4">
                    <app-changelog-item [changelog]="changelog"
                                        [changelogId]="''+i"
                                        [ultimoChangelog]="i === 0"
                                        [disableIndice]="changelog?.capitoli?.length <= 0"></app-changelog-item>
                </div>
                <div *ngIf="!listaChangelog?.length" class="col-12 col-md-9 mx-auto">
                    <div class="alert alert-danger">
                        Informazioni sugli aggiornamenti non disponibili
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="doubleMonitor" class="col-6">
            <div class="mt-2"
                 style="height:920px">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
