<div class="container-fluid pt-4 pb-2">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto mb-3">
            <h2>
                <i class="fa fa-newspaper-o"></i>
                Informazioni sugli Aggiornamenti
            </h2>
        </div>
        <div *ngFor="let changelog of listaChangelog; let i = index"
             class="col-11 col-md-10 col-lg-9 col-xl-7 mx-auto mb-3">
            <app-changelog-item [changelog]="changelog"
                                [ultimoChangelog]="i === 0"></app-changelog-item>
        </div>
        <div *ngIf="!listaChangelog?.length" class="col-12 col-md-8 mx-auto">
            <div class="alert alert-danger">
                Informazioni sugli aggiornamenti non disponibili
            </div>
        </div>
    </div>
</div>
