.moduli-assegnati-h-180 {
    max-height: 180px;
    overflow-y: auto;
}

.moduli-assegnati-h-245 {
    max-height: 245px;
    overflow-y: auto;
}

.moduli-assegnati-h-260 {
    max-height: 260px;
    overflow-y: auto;
}
