<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'Conferma raggruppamento' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let schedaContatto of schedeContatto">
        <ul class="my-2 list-unstyled">
            <app-scheda-contatto [scheda]="schedaContatto"
                                 [disableCreaRichiesta]="true"
                                 [disableGestisci]="true"
                                 (dettaglioScheda)="onDettaglioScheda($event)">
            </app-scheda-contatto>
        </ul>
    </div>
</div>
<div class="modal-footer" style="place-content: space-between;">
    <button type="button" class="btn  btn-lg btn-danger btn-no-hover"
            style="font-weight:600" (click)="close('ok')">
        {{ 'Conferma' | uppercase }}
    </button>
    <button type="button" class="btn btn-lg btn-secondary btn-no-hover"
            style="font-weight:600" (click)="close('ko')">
        {{ 'Annulla' | uppercase }}
    </button>
</div>
