<div class="row">
    <div *ngIf="centroMappa" class="col-12">
        <app-agm [viewStateMappa]="viewStateMappa"
                 [centroMappa]="centroMappa"
                 [richiesteMarkers]="richiesteMarkers"
                 [sediMarkers]="sediMarkers"
                 [mezziMarkers]="mezziMarkers"
                 [chiamataMarker]="chiamataMarker"
                 [composizioneMarker]="composizioneMarker"
                 (mapFullyLoaded)="mapIsLoaded($event)"></app-agm>
    </div>
</div>