agm-map {
    height: 750px;
}

.tutto-schermo-mappa {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .20);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99998;
}

.tutto-schermo-mappa .loader-centrato-mappa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -37px;
    margin-top: -37px;
}
