<div class="row">
    <div *ngIf="centroMappa" class="col-12">
        <app-agm [viewStateMappa]="viewStateMappa"
                 [centroMappa]="centroMappa"
                 [richiesteMarkers]="richiesteMarkers"
                 [sediMarkers]="sediMarkers"
                 [mezziMarkers]="(mezziMarkers$ | async)"
                 [chiamataMarkers]="(chiamataMarkers$ | async)"
                 [composizioneMarkers]="(composizioneMarkers$ | async)"
                 (mapFullyLoaded)="mapIsLoaded($event)"></app-agm>
    </div>
</div>
