<div class="modal-header">
    <h4 class="modal-title font-weight-bolder">Cambio Sede Unità Operativa</h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="dismissModale()">
        <span class="text-danger"><i class="fa fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    Sei sicuro di voler cambiare U.O. in
    <span class="text-primary font-weight-bolder">{{sede['descrizione']}}</span> ?
    <div class="d-inline-block text-danger mt-2 font-weight-bolder">
        Questa operazione comporterà il riavvio dell'applicazione.
    </div>
</div>
<div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-lg btn-secondary" style="font-weight:600"
            (click)="dismissModale()">
        {{ 'Annulla' | uppercase }}
    </button>
    <button type="button" class="btn btn-lg btn-danger" style="font-weight:600" (click)="cambioSede()">
        {{ 'Cambia Sede' | uppercase }}
    </button>
</div>
