<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ getTitle() | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="onDismiss()">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body height py-4 px-5">
    <div class="modal-body height py-4 px-5">
        <form [formGroup]="documentoAreaDocumentaleForm"
              ngxsForm="documentoAreaDocumentaleModal.documentoAreaDocumentaleForm"
              autocomplete="off">
            <div class="form-group">
                <label for="descrizione">
                    Descrizione Documento
                    <small class="text-danger">*</small>
                </label>
                <input type="text"
                       id="descrizioneDocumento"
                       class="form-control-lg w-100"
                       formControlName="descrizioneDocumento"
                       placeholder="Inserisci descrizione del Documento"/>
            </div>
            <div class="form-group">
                <label for="categoria">
                    Categoria
                    <small class="text-danger">*</small>
                </label>
                <ng-select id="descrizioneCategoria"
                       class="form-control-lg px-0"
                       formControlName="descrizioneCategoria"
                       [items]="categorie"
                       [hideSelected]="true"
                       placeholder="Seleziona una categoria di Documento">
                </ng-select>
            </div>
            <ng-template [ngIf]="editDocumento">
                <div class="clearfix mt-4"
                     [class.mb-4]="!modifyFDFile">
                    <div *ngIf="!modifyFDFile" class="float-left pt-1">
                        {{ documento?.fileName }}
                    </div>
                    <div class="float-right">
                        <button class="btn"
                                [class.btn-primary]="!modifyFDFile"
                                [class.btn-danger]="modifyFDFile"
                                (click)="toggleModifyFDFile()">
                            <span *ngIf="!modifyFDFile">Modifica</span>
                            <span *ngIf="modifyFDFile">Annulla Modifica File</span>
                        </button>
                    </div>
                </div>
                <ng-template [ngIf]="modifyFDFile" class="mb-4">
                    <div class="form-group">
                        <label for="fileUpdate">
                            Modifica File
                        </label>
                        <input type="file"
                               id="fileUpdate"
                               class="w-100 input-file-update"
                               accept=".docx, .doc, .pdf"
                               (change)="onFileSelected($event)"/>
                    </div>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="!editDocumento">
                <div class="form-group">
                    <label for="file">
                        Carica un File
                        <small class="text-danger">*</small>
                    </label>
                    <input type="file"
                           id="file"
                           class="w-100 input-file-update"
                           accept=".docx, .doc, .pdf"
                           (change)="onFileSelected($event)"/>
                </div>
            </ng-template>
        </form>
        <h6 class="text-danger">* Campi Obbligatori</h6>
    </div>
</div>
<div class="modal-footer" style="place-content: space-between;">
    <button type="button"
            class="btn btn-lg btn-danger btn-no-hover"
            ngbTooltip="Riempi tutti i campi obbligatori"
            [disableTooltip]="formValid"
            [disabled]="!formValid"
            (click)="onConfirm()">
        {{ 'Salva' | uppercase }}
    </button>
    <button type="button"
            class="btn btn-lg btn-secondary btn-no-hover"
            (click)="closeModal()">
        {{ 'Non salvare' | uppercase }}
    </button>
</div>
