<div class="col-12 px-0 scroll-y font-xlarge">
    <ng-template [ngIf]="ricerca">
        <app-risultati-ricerca [ricerca]="ricerca"></app-risultati-ricerca>
    </ng-template>
    <ngb-tabset [activeId]="tabAttivo" (tabChange)="onSelectTab($event)">
        <ngb-tab [id]="ClassificazioneEnum.Competenza">
            <ng-template ngbTabTitle>
                <div [ngbTooltip]="tipCompetenza" placement="top-left">
                    <i class="fa fa-square text-danger mr-2"></i>
                    <b>Competenza ({{ contatoriSchedeContatto?.competenzaSchede?.contatoreDaGestire }})</b>
                </div>
                <ng-template #tipCompetenza>
                    <div>Tutte: {{ contatoriSchedeContatto?.competenzaSchede?.contatoreTutte }}</div>
                    <div><b>
                        Da gestire: {{ contatoriSchedeContatto?.competenzaSchede?.contatoreDaGestire }}
                    </b></div>
                </ng-template>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div *ngIf="idVisualizzati?.length === 0" class="col-12 mt-4">
                        <h6 class="text-center">Non ci sono Schede Contatto per Competenza</h6>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="ClassificazioneEnum.Differibile">
            <ng-template ngbTabTitle>
                <div [ngbTooltip]="tipDifferibile" placement="top-left">
                    <i class="fa fa-square text-secondary mr-2"></i>
                    <b>Differibile ({{ contatoriSchedeContatto?.differibileSchede?.contatoreDaGestire }})</b>
                </div>
                <ng-template #tipDifferibile>
                    <div>Tutte: {{ contatoriSchedeContatto?.differibileSchede?.contatoreTutte }}</div>
                    <div><b>Da gestire: {{ contatoriSchedeContatto?.differibileSchede?.contatoreDaGestire }}</b>
                    </div>
                </ng-template>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div *ngIf="idVisualizzati?.length === 0" class="col-12 mt-4">
                        <h6 class="text-center">Non ci sono Schede Contatto Differibili</h6>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="ClassificazioneEnum.Conoscenza">
            <ng-template ngbTabTitle>
                <div [ngbTooltip]="tipConoscenza" placement="top-left">
                    <i class="fa fa-square text-warning mr-2"></i>
                    <b>Conoscenza ({{ contatoriSchedeContatto?.conoscenzaSchede?.contatoreDaGestire }})</b>
                </div>
                <ng-template #tipConoscenza>
                    <div>Tutte: {{ contatoriSchedeContatto?.conoscenzaSchede?.contatoreTutte }}</div>
                    <div><b>
                        Da gestire: {{ contatoriSchedeContatto?.conoscenzaSchede?.contatoreDaGestire }}
                    </b></div>
                </ng-template>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div *ngIf="idVisualizzati?.length === 0" class="col-12 mt-4">
                        <h6 class="text-center">Non ci sono Schede Contatto per Conoscenza</h6>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="Tutte">
            <ng-template ngbTabTitle>
                <div [ngbTooltip]="tipTutte" placement="top-left">
                    <i class="fa fa-list mr-2"></i>
                    <b>Tutte ({{ contatoriSchedeContatto?.totaleSchede?.contatoreDaGestire }})</b>
                </div>
                <ng-template #tipTutte>
                    <div>Tutte: {{ contatoriSchedeContatto?.totaleSchede?.contatoreTutte }}</div>
                    <div><b>Da gestire: {{ contatoriSchedeContatto?.totaleSchede?.contatoreDaGestire }}</b></div>
                </ng-template>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div *ngIf="schedeContatto.length === 0" class="col-12 mt-4">
                        <h6 class="text-center">Non ci sono Schede Contatto</h6>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <ul class="my-2 list-unstyled">
        <app-scheda-contatto
                *ngFor="let scheda of schedeContatto | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }"
                [scheda]="scheda"
                [nightMode]="nightMode"
                [idVisualizzati]="idVisualizzati"
                [idCollapsed]="idCollapsed"
                [idSchedaContattoHover]="codiceSchedaContattoHover"
                [editSchedaContatto]="statoModalita"
                [schedeContattoSelezionate]="idSelezionatiMerge"
                [classificazione]="classificazioneMerge"
                [disableCreaRichiesta]="permessiFeature.CreaRichiestaSchedaContatto | checkPermissionSchedaContatto: scheda.codiceSede"
                [disableGestisci]="permessiFeature.GestisciSchedaContatto | checkPermissionSchedaContatto: scheda.codiceSede"
                [disableRaggruppamento]="permessiFeature.RaggruppamentoSchedeContatto | checkPermissionSchedaContatto: scheda.codiceSede"
                [disableEliminaRaggruppamento]="permessiFeature.EliminazioneRaggruppamentoSchedeContatto | checkPermissionSchedaContatto: scheda.codiceSede"
                (hoverIn)="onHoverIn($event)"
                (hoverOut)="onHoverOut()"
                (collapsed)="onCollapsed($event)"
                (undoRaggruppamento)="onUndoMergeSchedaContatto($event)"
                (dettaglioScheda)="onDettaglioScheda($event)"
                (editSelezionata)="onEditSchedaSelezionata($event)"
                (checkBoxError)="onCheckboxError()"
                (setSchedaContattoTelefonata)="onSetSchedaContattoTelefonata($event)"
                (setSchedaContattoGestita)="onSetSchedaContattoGestita(scheda, $event)">
        </app-scheda-contatto>
    </ul>
</div>
<div class="col-12 px-0">
    <div class="clearfix">
        <div class="float-left">
            <div class="d-inline-block" ngbDropdown #dropdownVisualizzazione="ngbDropdown" placement="top">
                <ng-template [ngIf]="!hideRaggruppa">
                    <button *ngIf="statoModalita" class="btn btn-outline-danger mr-3" [disabled]="loading"
                            (click)="onToggleModalitaMerge()">
                        <i class="fa fa-undo mr-1"></i>
                        Annulla
                    </button>
                    <button *ngIf="statoModalita"
                            class="btn mr-3"
                            [class.btn-outline-success]="idSelezionatiMerge?.length <= 1 || loading"
                            [class.btn-success]="idSelezionatiMerge?.length > 1 && !loading"
                            [disabled]="idSelezionatiMerge.length <= 1 || loading"
                            (click)="onSaveMerge()">
                        <i class="fa fa-save mr-1"></i>
                        Raggruppa selezionate
                    </button>
                    <button *ngIf="!statoModalita"
                            class="btn btn-outline-primary mr-3"
                            (click)="onToggleModalitaMerge()">
                        <i class="fa fa-object-group mr-1"></i>
                        Raggruppa
                    </button>
                </ng-template>
                <ng-template [ngIf]="!hideRangeVisualizzazione && !statoModalita">
                    <button ngbDropdownAnchor class="btn mr-2"
                            [class.btn-primary]="rangeVisualizzazione !== RangeVisualizzazione.DaSempre"
                            [class.btn-outline-primary]="rangeVisualizzazione === RangeVisualizzazione.DaSempre"
                            (focus)="dropdownVisualizzazione.open()">
                        <i class="fa fa-clock-o mr-1"></i>
                        {{ rangeVisualizzazione }}
                    </button>
                    <div ngbDropdownMenu>
                        <button *ngFor="let r of rangeSchedeContattoEnumValues" ngbDropdownItem
                                [ngClass]="{'bg-primary text-light': r === rangeVisualizzazione}"
                                (click)="onSetFiltroRange(r)">
                            {{ r }}
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="float-right">
            <div class="text-right">
                <pagination-controls class="mt-1 mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'"
                                     [autoHide]="true" (pageChange)="onPageChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
