<div class="col-12 px-0 scroll-y" [ngClass]="heightListaRischieste()">
    <ng-template [ngIf]="ricerca">
        <app-risultati-ricerca [ricerca]="ricerca"></app-risultati-ricerca>
    </ng-template>
    <ngb-tabset [activeId]="tabAttivo" (tabChange)="onSelectTab($event)">
        <ngb-tab [id]="ClassificazioneEnum.Competenza">
            <ng-template ngbTabTitle>
                <div>
                    <i class="fas fa-square text-danger mr-2"></i>
                    <b>Competenza ({{ contatoriSchedeContatto?.competenzaSchede?.contatoreFiltroAttivo }})</b>
                </div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-risultati-alert [items]="!!(schedeContatto?.length)"
                                     [filters]="!!(filtriSelezionati?.length)"
                                     [ricerca]="!!(ricerca?.length)"
                                     [loading]="loading">
                </app-risultati-alert>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="ClassificazioneEnum.Differibile">
            <ng-template ngbTabTitle>
                <div>
                    <i class="fas fa-square text-secondary mr-2"></i>
                    <b>Differibili ({{ contatoriSchedeContatto?.differibileSchede?.contatoreFiltroAttivo }})</b>
                </div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-risultati-alert [items]="!!(schedeContatto?.length)"
                                     [filters]="!!(filtriSelezionati?.length)"
                                     [ricerca]="!!(ricerca?.length)"
                                     [loading]="loading">
                </app-risultati-alert>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="ClassificazioneEnum.Conoscenza">
            <ng-template ngbTabTitle>
                <div>
                    <i class="fas fa-square text-warning mr-2"></i>
                    <b>Conoscenza ({{ contatoriSchedeContatto?.conoscenzaSchede?.contatoreFiltroAttivo }})</b>
                </div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-risultati-alert [items]="!!(schedeContatto?.length)"
                                     [filters]="!!(filtriSelezionati?.length)"
                                     [ricerca]="!!(ricerca?.length)"
                                     [loading]="loading">
                </app-risultati-alert>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="Tutte">
            <ng-template ngbTabTitle>
                <div>
                    <i class="fas fa-list mr-2"></i>
                    <b>Tutte ({{ contatoriSchedeContatto?.totaleSchede?.contatoreFiltroAttivo }})</b>
                </div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-risultati-alert [items]="!!(schedeContatto?.length)"
                                     [filters]="!!(filtriSelezionati?.length)"
                                     [ricerca]="!!(ricerca?.length)"
                                     [loading]="loading">
                </app-risultati-alert>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <ul class="my-2 list-unstyled">
        <app-scheda-contatto
                *ngFor="let scheda of schedeContatto"
                [scheda]="scheda"
                [nightMode]="nightMode"
                [idVisualizzati]="idVisualizzati"
                [idCollapsed]="idCollapsed"
                [idSchedaContattoHover]="codiceSchedaContattoHover"
                [idSchedaContattoSelezionata]="codiceSchedaContattoSelezionata"
                [editSchedaContatto]="statoModalita"
                [schedeContattoSelezionate]="idSelezionatiMerge"
                [classificazione]="classificazioneMerge"
                [disableCreaRichiesta]="(permessiFeature.CreaRichiestaSchedaContatto | checkPermissionCodSedeAppartenenza: scheda.codiceSede) || (tipoConcorrenzaEnum.RegistrazioneSchedaContatto | checkConcorrenzaLocked: [scheda.codiceScheda]) || scheda.gestita"
                [disableGestisci]="permessiFeature.GestisciSchedaContatto | checkPermissionCodSedeAppartenenza: scheda.codiceSede"
                [disableRaggruppamento]="(permessiFeature.RaggruppamentoSchedeContatto | checkPermissionCodSedeAppartenenza: scheda.codiceSede) || (tipoConcorrenzaEnum.RaggruppamentoSchedeContatto | checkConcorrenzaLocked: [scheda.codiceScheda])"
                [disableEliminaRaggruppamento]="permessiFeature.EliminazioneRaggruppamentoSchedeContatto | checkPermissionCodSedeAppartenenza: scheda.codiceSede"
                (hoverIn)="onHoverIn($event)"
                (hoverOut)="onHoverOut()"
                (selezionata)="onSelezione($event)"
                (deselezionata)="onDeselezione()"
                (collapsed)="onCollapsed($event)"
                (undoRaggruppamento)="onUndoMergeSchedaContatto($event)"
                (dettaglioScheda)="onDettaglioScheda($event)"
                (editSelezionata)="onEditSchedaSelezionata($event)"
                (setSchedaContattoTelefonata)="onSetSchedaContattoTelefonata($event)"
                (setSchedaContattoGestita)="onSetSchedaContattoGestita(scheda, $event)">
        </app-scheda-contatto>
    </ul>
</div>
<div class="col-12 px-0">
    <div class="clearfix">
        <div class="float-left">
            <ng-container *ngIf="!hideRaggruppa">
                <ng-container *ngIf="statoModalita">
                    <button class="btn btn-lg mr-3"
                            [class.btn-outline-danger]="!nightMode"
                            [class.btn-outline-light]="nightMode"
                            [disabled]="loading"
                            (click)="onToggleModalitaMerge()">
                        <i class="fas fa-undo mr-1"></i>
                        Annulla
                    </button>
                    <button class="btn btn-lg mr-3"
                            [class.btn-outline-success]="(idSelezionatiMerge?.length <= 1 || loading) && !nightMode"
                            [class.btn-success]="(idSelezionatiMerge?.length > 1 && !loading) && !nightMode"
                            [class.btn-outline-light]="(idSelezionatiMerge?.length <= 1 || loading) && nightMode"
                            [class.btn-light]="(idSelezionatiMerge?.length > 1 && !loading) && nightMode"
                            [class.btn-no-hover]="idSelezionatiMerge.length <= 1 || loading"
                            [disabled]="idSelezionatiMerge.length <= 1 || loading"
                            (click)="onSaveMerge()">
                        <i class="fas fa-save mr-1"></i>
                        Raggruppa selezionate
                        <ng-container *ngIf="idSelezionatiMerge?.length">({{ idSelezionatiMerge.length }})
                        </ng-container>
                    </button>
                </ng-container>
                <ng-container *ngIf="!statoModalita">
                    <button class="btn btn-lg mr-3"
                            [class.btn-outline-primary]="!nightMode"
                            [class.btn-outline-light]="nightMode"
                            (click)="onToggleModalitaMerge()">
                        <i class="fas fa-object-group mr-1"></i>
                        Raggruppa
                    </button>
                </ng-container>
            </ng-container>
        </div>
        <div class="float-right">
            <ngb-pagination
                    class="float-right"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="totalItems"
                    [maxSize]="5"
                    [disabled]="loading"
                    (pageChange)="pageChange.emit($event)">
            </ngb-pagination>
        </div>
    </div>
</div>
