<div class="row pt-2 pb-1 px-3">
  <div class="col-8">
    <h4 class="mt-2 font-weight-bold">
      <i class="fa fa-hashtag guida mr-2"></i>{{idRichiesta}}
    </h4>
  </div>
  <div class="col-4">
    <div class="input-group">
      <input [(ngModel)]="filtroTargaMezzo.targa" type="text" class="form-control" placeholder="Targa Mezzo"
        (input)="onSearch()">
      <div class="input-group-append">
        <button class="btn btn-dark" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
