/* You can add global styles to this file, and also import other style files */
body {
    margin: 10px;
}
.selected {
    border-left: 5px solid palevioletred;
    border-right: 5px solid palevioletred;
}

.active-target {
    border: 2px red dotted;
}