<div class="modal-header">
    <h4 class="modal-title"
        [class.font-weight-bolder]="domandaTitle">
        {{ getTitle() | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="closeModal('ko')">
        <i class="fa fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body height bg-light py-4">
    <form [formGroup]="addItemTriageForm">
        <ng-template [ngIf]="rispostaTitle">
            <h3 class="text-center">
                Se la risposta è <b>{{ rispostaTitle | uppercase }}</b>
            </h3>
        </ng-template>
        <div class="card card-shadow p-4" [class.mt-3]="rispostaTitle">
            <ng-template [ngIf]="!primaDomanda">
                <div>
                    <label for="mezzi" class="font-xlarge">
                        <i class="fa fa-truck mr-1"></i>
                        Generi Mezzo Appropriati
                    </label>
                    <ng-select id="mezzi"
                               placeholder="Seleziona uno o più Generi Mezzo"
                               formControlName="generiMezzo"
                               [items]="['ABP', 'AS']"
                               [hideSelected]="true"
                               [multiple]="true">
                    </ng-select>
                </div>
                <div class="mt-3">
                    <label for="soccorsoAereo" class="font-xlarge">
                        <i class="fa fa-plane mr-1"></i>
                        Richiesta Soccorso Aereo
                    </label>
                    <ng-select id="soccorsoAereo"
                               placeholder="Seleziona la necessità di Soccorso Aereo"
                               formControlName="soccorsoAereo"
                               [items]="['Non Necessario', 'Utile', 'Molto Utile', 'Indispensabile']"
                               [hideSelected]="true"
                               [multiple]="false">
                    </ng-select>
                </div>
                <div class="mt-3">
                    <label for="prioritaConsigliata" class="font-xlarge">
                        <i class="fa fa-thermometer mr-1"></i>
                        Priorità Intervento
                    </label>
                    <ng-select id="prioritaConsigliata"
                               placeholder="Seleziona un livello di Priorità"
                               formControlName="prioritaConsigliata"
                               [items]="['Molto Bassa', 'Bassa', 'Media', 'Alta']"
                               [hideSelected]="true"
                               [multiple]="false">
                    </ng-select>
                </div>
            </ng-template>
            <div [class.mt-4]="!primaDomanda">
                <ng-template [ngIf]="primaDomanda">
                    <label for="domandaSeguente" class="font-xlarge">Inserisci il testo della Prima Domanda</label>
                </ng-template>
                <ng-template [ngIf]="!primaDomanda">
                    <label for="domandaSeguente" class="font-xlarge">
                        <i class="fa fa-return mr-1"></i>
                        Domanda Seguente
                    </label>
                </ng-template>
                <input id="domandaSeguente"
                       [placeholder]="primaDomanda ? 'Scrivi il testo della Domanda' : 'Scrivi il testo per la Domanda Seguente'"
                       formControlName="domandaSeguente"
                       type="text"
                       class="form-control form-control-lg">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="clearfix w-100">
        <div class="float-right">
            <button type="button"
                    class="btn btn-lg btn-secondary btn-no-hover font-weight-bolder mr-2"
                    (click)="closeModal('ko')">
                {{ 'Annulla' | uppercase }}
            </button>
        </div>
        <div class="float-left">
            <button type="button"
                    class="btn btn-lg btn-success btn-no-hover font-weight-bolder"
                    ngbTooltip="Riempi tutti i campi obbligatori"
                    [disableTooltip]="!formIsInvalid()"
                    [disabled]="formIsInvalid()"
                    (click)="onConferma()">
                {{ 'Conferma' | uppercase }}
            </button>
        </div>
    </div>
</div>
