<div class="card card-inverse row_text p-1 scroll-y" style="max-height: calc(100vh - 60px)">
  <table class="table table-striped">
    <thead class="h5">
      <th scope="col">Evento</th>
      <th scope="col">Quando</th>
      <th scope="col">Targa</th>
      <th scope="col">Note</th>
    </thead>
    <tbody class="h6">
        <tr app-evento-richiesta *ngFor="let r of elencoEventi; let i = index" [eventoRichiesta]="r" [nomeClasseEvento]="r.nomeClasseEvento" [istantePrimoEvento]="istantePrimoEvento" [istanteEventoPrecedente]="setIstanteEventoPrecedente(i)"></tr>
      </tbody>
  </table>
</div>
