<div class="row mt-2">
    <div class="col-12 pt-1 px-0">
        <div *ngIf="richiesta" class="col-12 mb-2">
            <div class="w-100 rounded card-shadow" [ngClass]="cardClasses(richiesta)">
                <app-sintesi-richiesta [richiesta]="richiesta" [fissata]="false" [espanso]="true" [partenza]="true"
                                       [listaEventi]="true"
                                       (dismissNuovaPartenza)="dismissPartenza()"></app-sintesi-richiesta>
            </div>
        </div>
        <div *ngIf="richiesta && compPartenzaMode === 'faster'" class="col-12">
            <app-composizione-veloce [richiesta]="richiesta" (centroMappaEmit)="getCentroMappa($event)"
                                     [dismissEvents]="dismissPartenzaSubject.asObservable()"></app-composizione-veloce>
        </div>
        <div *ngIf="richiesta && compPartenzaMode === 'slower'" class="col-12">
            <app-composizione-avanzata [richiesta]="richiesta" (centroMappaEmit)="getCentroMappa($event)"
                                       [dismissEvents]="dismissPartenzaSubject.asObservable()"></app-composizione-avanzata>
        </div>
    </div>
</div>
