<!-- ESRI Map Container -->
<div #mapViewNode
     [class.cursor-crosshair]="tastoChiamataMappaActive">
    <!-- ContextMenu ESRI Container -->
    <div #contextMenu
         class="p-2"
         style="display: none; background-color: #232323; position: absolute; z-index: 9999999999999">
        <ul class="list-unstyled m-0">
            <li class="cursor-pointer item-contextMenu"
                (click)="startNuovaChiamata()">
                Nuova Chiamata
                <span *ngIf="eventClick?.mapPoint">({{ eventClick.mapPoint?.latitude }}, {{ eventClick.mapPoint?.longitude }})</span>
                <span *ngIf="!eventClick?.mapPoint">(Zona Disegnata)</span>
            </li>
            <!-- <li class="cursor-pointer item-contextMenu">
                Opzione 2
            </li>
            <li class="cursor-pointer item-contextMenu">
                Opzione 3
            </li> -->
        </ul>
    </div>
    <!-- End ContextMenu ESRI Container -->
</div>
<!-- End ESRI Map Container -->
