<div class="row mt-1">
    <!-- Loader (!richieste) -->
    <div *ngIf="loaderRichieste" class="col-12 position-relative m-h-750">
        <div class="loader-centrato">
            <img src="assets/img/pink_loader_resized.gif">
        </div>
    </div>
    <!-- Lista di singole Richieste -->
    <div class="col-12 px-0 border-bottom" [ngClass]="heightControl()">
        <cdk-virtual-scroll-viewport [itemSize]="itemSize" style="min-height:300px; height:100%">
            <div class="pt-1">
                <div *cdkVirtualFor="let r of richieste | filterBy: ricerca; templateCacheSize: 0"
                     [ngClass]="{'col-double': !_split, 'col-12': _split}">
                    <div *ngIf="r !== richiestaFissata" class="w-100 rounded card-shadow" [ngClass]="cardClasses(r)">
                        <app-sintesi-richiesta [richiesta]="r" [fissata]="false" [fissabile]="true"
                                               [espanso]="isEspanso(r.id)"
                                               [espandibile]="true"
                                               [listaEventi]="true"
                                               [inGestione]="richiestaGestione?.id === r.id"
                                               (hoverIn)="richiestaHoverIn($event)"
                                               (hoverOut)="richiestaHoverOut($event)"
                                               (fissaInAlto)="onFissaInAlto($event)"
                                               (clickRichiesta)="richiestaClick($event)"
                                               (doubleClickRichiesta)="richiestaDoubleClick($event)"
                                               (nuovaPartenza)="nuovaPartenza($event)"
                                               (eventiRichiesta)="visualizzaEventiRichiesta($event)"
                                               (modificaRichiesta)="onModificaRichiesta($event)"
                                               (gestioneRichiesta)="onGestioneRichiesta($event)"
                                               (actionMezzo)="actionMezzo.emit($event)"
                                               (actionRichiesta)="actionRichiesta.emit($event)"
                                               (outEspansoId)="outEspansoId.emit($event)"></app-sintesi-richiesta>
                    </div>
                    <div *ngIf="r === richiestaFissata" class="w-100 rounded card-shadow" [ngClass]="cardClasses(r)">
                        <app-sintesi-richiesta-sm [richiesta]="r" (mouseover)="richiestaHoverIn(r)"
                                                  (mouseout)="richiestaHoverOut(r)"></app-sintesi-richiesta-sm>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div *ngIf="loaderNuoveRichieste" class="col-12 text-center mt-1">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
</div>
