#listaRichieste {
  max-height: 700px;
  overflow-y: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.scale-sintesi-richiesta:hover {
  transform: scale(1.01);
}

.scale-sintesi-richiesta-selezionata {
  transform: scale(1.01);
}

::-webkit-scrollbar { 
  //display: none; /* Chrome Safari */
   width: 0;
}

.overlap-size {
  width: 1909px !important;
  height: 187px !important;
}

.normal-size {
  width: 1909px !important;
  height: 103px !important;
}
