.badge-notify {
  background: red;
  position: absolute;
  top: -8px;
  left: 12px;
  font-size: .6em;
}

.col-6big {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-double {
  float: left;
  width: 50%;
  padding: 0px 15px;
}

#listaRichieste {
  max-height: 700px;
  overflow-y: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

/* Custom scroll bar */
/* .scroll-y::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar-thumb{
	background-color: #000000;
	border: 2px solid #555555;
}
 */
@media (min-width: 2560px) {
  .col-6big {
    width: 50%;
    float: left;
  }
}

@media (max-width: 2559px) {
  .col-6big {
    width: 100%;
    float: left;
  }
}

cdk-virtual-scroll-viewport {
  height: 100%;

  li .non-fissata{
    height: 98px;
  }

  li .fissata{
    height: 20px;
  }

  // Bonus points
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
  }
}
