<div class="row mt-1">
    <app-partial-loader *ngIf="loading"></app-partial-loader>
    <!-- Lista di singole Richieste -->
    <div class="col-12 px-0 py-1"
         [ngClass]="heightControl()"
         style="overflow-x: hidden; overflow-y: auto">
        <ng-container *ngIf="richieste?.length">
            <div *ngFor="let r of richieste | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }"
                 class="col-12 scale-sintesi-richiesta">
                <div *ngIf="!richiestaFissata || (r.id !== richiestaFissata.id)"
                     id="richiesta"
                     class="w-100 rounded" [class.card-shadow]="!nightMode"
                     [ngClass]="cardClasses(r)">
                    <app-partial-loader *ngIf="actionRichiestaArray.includes(r.id)"></app-partial-loader>
                    <app-sintesi-richiesta class="non-fissata"
                                           [richiesta]="r"
                                           [fissata]="false"
                                           [fissabile]="true"
                                           [boxAzioni]="true"
                                           [sostituzioneFineTurno]="true"
                                           [nightMode]="nightMode"
                                           [inGestione]="richiestaGestione?.id === r.id"
                                           [disabledModificaRichiesta]="permessiFeature.ModificaRichiesta | checkPermissionRichiesta: r.codUOCompetenza : r.codSOCompetente : r.codSOAllertate"
                                           [disabledGestisciRichiesta]="permessiFeature.GestisciRichiesta | checkPermissionRichiesta: r.codUOCompetenza : r.codSOCompetente : r.codSOAllertate"
                                           [disabledAzioniRichiesta]="permessiFeature.GestisciRichiesta | checkPermissionRichiesta: r.codUOCompetenza : r.codSOCompetente : r.codSOAllertate"
                                           [disabledComposizionePartenza]="(permessiFeature.ComposizionePartenzaRichiesta | checkPermissionRichiesta: r.codUOCompetenza : r.codSOCompetente : r.codSOAllertate) || r.stato === statoRichiesta.Chiusa"
                                           [disableTooltips]="scrolling"
                                           [disableFissaInAlto]="richieste.length === 1"
                                           [loadingEliminaPartenza]="loadingEliminaPartenza"
                                           (deseleziona)="onDeselezionaRichiesta($event)"
                                           (hoverIn)="richiestaHoverIn($event)"
                                           (hoverOut)="richiestaHoverOut($event)"
                                           (fissaInAlto)="onFissaInAlto($event)"
                                           (clickRichiesta)="richiestaClick($event)"
                                           (doubleClickRichiesta)="richiestaDoubleClick($event)"
                                           (nuovaPartenza)="nuovaPartenza($event)"
                                           (modificaRichiesta)="onModificaRichiesta($event)"
                                           (gestioneRichiesta)="onGestioneRichiesta($event)"
                                           (actionMezzo)="actionMezzo.emit($event)"
                                           (eliminaPartenza)="eliminaPartenza.emit($event)">
                    </app-sintesi-richiesta>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!loading && richieste?.length === 0">
            <div class="col-12 mt-3 text-center">
                <div class="row">
                    <div class="col-6 mx-auto">
                        <div class="px-3 pt-3">
                            <img class="img-fluid rounded"
                                 src="assets/img/404-img.png"
                                 alt="Spiacente, nessun risultato con i parametri di ricerca selezionati">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mx-auto" style="background-color: #475773">
                        <div class="p-3">
                        <span class="font-weight-bolder text-white">
                            {{ 'Spiacente, nessun risultato con i parametri di ricerca selezionati' | uppercase }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-12">
        <div class="clearfix">
            <div class="float-left">
                <button class="btn btn-lg btn-block btn-no-hover"
                        [class.color-refresh]="nightMode && !needRefresh"
                        [class.btn-outline-primary]="!needRefresh"
                        [class.btn-primary]="needRefresh"
                        [disabled]="!needRefresh || loading"
                        (click)="refresh.emit(true)">
                    <ng-template [ngIf]="needRefresh && !loading">
                        <i class="fa fa-refresh mr-1"></i>
                        <span class="font-weight-bold">
                            Aggiornamento Richiesto
                        </span>
                    </ng-template>
                    <ng-template [ngIf]="!needRefresh && !loading">
                        <i class="fa fa-check mr-1"></i>
                        La lista è aggiornata
                    </ng-template>
                    <ng-template [ngIf]="loading">
                        <i class="fa fa-refresh fa-spin mr-1"></i>
                        Caricamento...
                    </ng-template>
                </button>
            </div>
            <div class="float-right pt-1">
                <ngb-pagination
                        class="float-right"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [collectionSize]="totalItems"
                        [maxSize]="5"
                        [disabled]="loading"
                        (pageChange)="pageChange.emit($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
