<div class="row mt-2">
    <app-partial-loader *ngIf="loading"></app-partial-loader>
    <!-- Lista di singole Richieste -->
    <div *ngIf="richieste && richieste.length > 0" class="col-12 py-1 px-0 overflow-auto" [ngClass]="heightControl()">
        <div *ngFor="let r of richieste | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }"
             [ngClass]="{'col-double': !_split, 'col-12': _split}">
            <div id="richiesta" *ngIf="r !== richiestaFissata" class="w-100 rounded card-shadow"
                 [ngClass]="cardClasses(r)">
                <app-sintesi-richiesta class="non-fissata" [richiesta]="r" [fissata]="false" [fissabile]="true"
                                       [espanso]="isEspanso(r.id)"
                                       [espandibile]="true" [listaEventi]="true"
                                       [inGestione]="richiestaGestione?.id === r.id"
                                       [disabledModificaRichiesta]="disabledModificaRichiesta"
                                       [disabledGestisciRichiesta]="disabledGestisciRichiesta"
                                       [disabledComposizionePartenza]="disabledComposizionePartenza || r.stato === statoRichiesta.Chiusa"
                                       [disableTooltips]="scrolling"
                                       (hoverIn)="richiestaHoverIn($event)"
                                       (hoverOut)="richiestaHoverOut($event)"
                                       (fissaInAlto)="onFissaInAlto($event)"
                                       (clickRichiesta)="richiestaClick($event)"
                                       (doubleClickRichiesta)="richiestaDoubleClick($event)"
                                       (nuovaPartenza)="nuovaPartenza($event)"
                                       (eventiRichiesta)="visualizzaEventiRichiesta($event)"
                                       (modificaRichiesta)="onModificaRichiesta($event)"
                                       (gestioneRichiesta)="onGestioneRichiesta($event)"
                                       (actionMezzo)="actionMezzo.emit($event)"
                                       (actionRichiesta)="actionRichiesta.emit($event)"
                                       (outEspansoId)="outEspansoId.emit($event)">
                </app-sintesi-richiesta>
            </div>
        </div>
    </div>
    <div *ngIf="richieste && richieste.length > 0" class="col-12 mt-3">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-block"
                        [ngClass]="{'btn-outline-primary': !needRefresh, 'btn-primary': needRefresh}"
                        [disabled]="!needRefresh || loading" (click)="refresh.emit(true)">
                    <ng-template [ngIf]="needRefresh && !loading">
                        <i class="fa fa-refresh mr-1"></i>
                        <span class="font-weight-bold">
                            Aggiornamento Richiesto
                        </span>
                    </ng-template>
                    <ng-template [ngIf]="!needRefresh && !loading">
                        <i class="fa fa-check mr-1"></i>
                        La lista è aggiornata
                    </ng-template>
                    <ng-template [ngIf]="loading">
                        <i class="fa fa-refresh fa-spin mr-1"></i>
                        Caricamento...
                    </ng-template>
                </button>
            </div>
            <div class="col-9 text-center pt-1">
                <pagination-controls class="mb-0" [previousLabel]="'Precedente'" [nextLabel]="'Successiva'"
                                     (pageChange)="pageChange.emit($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
