<div class="modal-header">
    <h4 class="modal-title font-weight-bold">
        {{ 'Dettaglio Fonogramma' | uppercase }}
    </h4>
    <button type="button" class="btn btn-light close" style="margin: 2px 2px 0 0; padding: 2px 4px 4px 4px"
            (click)="modal.dismiss('cross')">
        <i class="fas fa-times text-danger"></i>
    </button>
</div>
<div class="modal-body px-0">
    <div class="mb-3">
        <div class="clearfix w-100 badge badge-secondary" style="font-size: 25px; border-radius: 0">
            <span class="float-left">{{titolo}}</span>
        </div>
        <div class="font-weight-bolder mx-3">{{ codiceRichiesta }}</div>
    </div>
    <div class="mb-3">
        <div class="clearfix w-100 badge badge-secondary" style="font-size: 25px; border-radius: 0">
            <span class="float-left">Numero Fonogramma</span>
        </div>
        <div class="font-weight-bolder mx-3">{{ fonogramma.numeroFonogramma }}</div>
    </div>
    <div class="mb-3">
        <div class="clearfix w-100 badge badge-secondary" style="font-size: 25px; border-radius: 0">
            <span class="float-left">Protocollo Fonogramma</span>
        </div>
        <div class="font-weight-bolder mx-3">{{ fonogramma.protocolloFonogramma }}</div>
    </div>
    <div class="mb-3">
        <div class="clearfix w-100 badge badge-secondary" style="font-size: 25px; border-radius: 0">
            <span class="float-left">Destinatari</span>
        </div>
        <div class="font-weight-bolder mx-3">{{ fonogramma.destinatari }}</div>
    </div>
    <div class="mb-3">
        <div class="clearfix w-100 badge badge-secondary" style="font-size: 25px; border-radius: 0">
            <span class="float-left">Stato</span>
        </div>
        <div class="font-weight-bolder mx-3">{{ getStatoFonogrammaStringByEnum(fonogramma.stato) }}</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-danger btn-no-hover text-right" style="font-weight:600" (click)="onClose()">
        {{ 'Chiudi' | uppercase }}
    </button>
</div>
