<!--<div class="card card-inverse row_text p-1" style="background-color:lightblue" >
  <div class="row align-items-center">
    <div class="col-md-12">-->
<td>
  <div>
    <!--<i class="fa {{iconeClasseEventoCorrente}} fa-fw" aria-hidden="true" title="{{eventoRichiesta.tipo}}"></i>-->
    <i *ngFor="let ii of iconeClasseEventoCorrente" class="fa {{ii}} fa-fw" aria-hidden="true" title="{{eventoRichiesta.nomeClasseEvento}}">
    </i>
  </div>
</td>
<td>
  <!--<div class="h5">{{eventoRichiesta.dataEvento.toLocaleDateString()}} {{eventoRichiesta.dataEvento.toLocaleTimeString()}}</div>-->
  <span class="h6 text-muted">{{eventoRichiesta.dataEvento | friendlyDate}} {{eventoRichiesta.dataEvento | friendlyHour}}</span>
  <!--<div class="h5">{{eventoRichiesta.dataEvento.toLocaleDateString()}} {{eventoRichiesta.dataEvento.toLocaleTimeString()}}</div>-->
  <!--<div class="h5">{{eventoRichiesta.dataEvento | distanzaTemporale : istanteEventoPrecedente }}</div>-->
  <span>(+26s) </span>
  <span>{{eventoRichiesta.dataEvento | distanzaTemporale : istantePrimoEvento }}</span>
</td>
<td>
  {{eventoRichiesta.targa}}
</td>
<td>
  <span *ngIf="eventoRichiesta.note">
    <i class="fa fa-sticky-note" aria-hidden="true"></i>
    <a href="{{eventoRichiesta.HTMLLinkElement}}" title="Descrizione">
      {{eventoRichiesta.note}}
    </a>
  </span>
  <!--<i class="fa fa-arrow-circle-o-right" aria-hidden="true" title="Vedi dettaglio" (click)="clickDettaglio($event)"></i>-->
</td>

<!--     </div>      
  </div>    
</div>-->