<!--<div class="card card-inverse row_text p-1" style="background-color:lightblue" >
  <div class="row align-items-center">
    <div class="col-md-12">-->
      <td>        
        <div  class="h5">
            <div >
                <!--<i class="fa {{iconeClasseEventoCorrente}} fa-fw" aria-hidden="true" title="{{eventoRichiesta.tipo}}"></i>-->                
                <i *ngFor="let ii of iconeClasseEventoCorrente" class="fa {{ii}} fa-fw" aria-hidden="true" title="{{eventoRichiesta.tipo}}">
                </i>
            </div>            
        </div>
      </td>
      <td>
        <!--<div class="h5">{{eventoRichiesta.dataEvento.toLocaleDateString()}} {{eventoRichiesta.dataEvento.toLocaleTimeString()}}</div>-->
        <div class="h5">{{eventoRichiesta.dataEvento | friendlyDate}} {{eventoRichiesta.dataEvento | friendlyHour}}</div>
      </td>
      <td>
        <!--<div class="h5">{{eventoRichiesta.dataEvento.toLocaleDateString()}} {{eventoRichiesta.dataEvento.toLocaleTimeString()}}</div>-->
        <!--<div class="h5">{{eventoRichiesta.dataEvento | distanzaTemporale : istanteEventoPrecedente }}</div>-->
        <div class="h5">{{eventoRichiesta.dataEvento | distanzaTemporale : istantePrimoEvento }}</div>
      </td>
      <td>
        <div class="h5">{{eventoRichiesta.targa}}</div>
      </td>
      <td>
        <a class="h5" href="{{eventoRichiesta.HTMLLinkElement}}" title="Descrizione">
            {{eventoRichiesta.note}}
        </a>
        <!--<i class="fa fa-arrow-circle-o-right" aria-hidden="true" title="Vedi dettaglio" (click)="clickDettaglio($event)"></i>-->
      </td>

<!--     </div>      
  </div>    
</div>-->
