<div class="row p-4">
    <div class="col-12">
        <h3>Modifica Richiesta</h3>
        <hr>
        <form [formGroup]="modificaRichiestaForm" (ngSubmit)="onConfermaModifica()">
            <div class="form-group mb-2">
                <label>Tipologia intervento</label>
                <ng-select class="border"
                           bindLabel="descrizione"
                           [items]="tipologie"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           formControlName="tipoIntervento"
                           placeholder="Seleziona Tipologia Intervento">
                </ng-select>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-2">
                        <label>Tipologia Richiedente</label>
                        <div ngbDropdown class="d-block" autoClose="outside" placement="bottom-left">
                            <button type="button" class="btn btn-block btn-outline-primary" id="dropdownBasic1"
                                    ngbDropdownToggle>
                                <span *ngIf="tipologiaRichiedente === 'Nome-Cognome'">Nome - Cognome</span>
                                <span *ngIf="tipologiaRichiedente === 'RagioneSociale'">Ragione Sociale</span>
                            </button>
                            <div ngbDropdownMenu class="bg-light">
                                <div class="row">
                                    <div class="col-11 mx-auto my-2">
                                        <button type="button" class="btn btn-block"
                                                [ngClass]="{ 'btn-primary text-light': tipologiaRichiedente === 'Nome-Cognome', 'btn-outline-primary': tipologiaRichiedente !== 'Nome-Cognome'}"
                                                (click)="cambiaTipologiaRichiedente('Nome-Cognome')" ngbDropdownItem>
                                            Nome - Cognome
                                        </button>
                                        <button type="button" class="btn btn-block"
                                                [ngClass]="{'btn-primary text-light': tipologiaRichiedente === 'RagioneSociale', 'btn-outline-primary': tipologiaRichiedente !== 'RagioneSociale'}"
                                                (click)="cambiaTipologiaRichiedente('RagioneSociale')" ngbDropdownItem>
                                            Ragione Sociale
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tipologiaRichiedente === 'Nome-Cognome'" class="col">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" placeholder="nome" formControlName="nome" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"/>
                        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                            <div *ngIf="f.nome.errors.required">Il Nome è richiesto</div>
                            <div *ngIf="f.nome.errors.troppiDati">La ragione sociale deve essere vuota</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tipologiaRichiedente === 'Nome-Cognome'" class="col">
                    <div class="form-group">
                        <label>Cognome</label>
                        <input type="text" placeholder="cognome" formControlName="cognome" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.cognome.errors }"/>
                        <div *ngIf="submitted && f.cognome.errors" class="invalid-feedback">
                            <div *ngIf="f.cognome.errors.required">Il Cognome è richiesto</div>
                            <div *ngIf="f.cognome.errors.troppiDati">La ragione sociale deve essere vuota</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tipologiaRichiedente === 'RagioneSociale'" class="col-6">
                    <div class="form-group">
                        <label>Ragione Sociale</label>
                        <input type="text" placeholder="ragione sociale" formControlName="ragioneSociale"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.ragioneSociale.errors }"/>
                        <div *ngIf="submitted && f.ragioneSociale.errors" class="invalid-feedback">
                            <div *ngIf="f.ragioneSociale.errors.required">La ragione sociale è richiesta</div>
                            <div *ngIf="f.ragioneSociale.errors.troppiDati">Nome e Cognome devono essere vuoti</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" placeholder="telefono" formControlName="telefono" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"/>
                        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                            <div *ngIf="f.telefono.errors.required">Il Telefono è richiesto</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Indirizzo</label>
                        <input type="text" placeholder="indirizzo" formControlName="indirizzo" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.indirizzo.errors }"/>
                        <div *ngIf="submitted && f.indirizzo.errors" class="invalid-feedback">
                            <div *ngIf="f.indirizzo.errors.required">L'indirizzo è richiesto</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Latitudine</label>
                        <input type="text" placeholder="Latitudine" formControlName="latitudine" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.latitudine.errors }"/>
                        <div *ngIf="submitted && f.latitudine.errors" class="invalid-feedback">
                            <div *ngIf="f.latitudine.errors.required">La latitudine è richiesta</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Longitudine</label>
                        <input type="text" placeholder="Longitudine" formControlName="longitudine" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.longitudine.errors }"/>
                        <div *ngIf="submitted && f.longitudine.errors" class="invalid-feedback">
                            <div *ngIf="f.longitudine.errors.required">La longitudine è richiesta</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Etichette</label>
                        <input type="text" placeholder="etichette" formControlName="etichette" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.etichette.errors }"/>
                    </div>
                </div>
                <!--<div class="col-2">-->
                <!--<div class="form-group">-->
                <!--<label>Priorità</label>-->
                <!--<input type="number" max="5" min="1" placeholder="priorità" formControlName="priorita"-->
                <!--class="form-control"-->
                <!--[ngClass]="{ 'is-invalid': submitted && f.priorita.errors }"/>-->
                <!--<div *ngIf="submitted && f.priorita.errors" class="invalid-feedback">-->
                <!--<div *ngIf="f.priorita.errors.required">La priorità è richiesta</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-1">
                    <div class="form-group">
                        <label>Rilevanza</label>
                        <div>
                            <ui-switch [checked]="richiestaModifica.rilevanza !== null"
                                       (change)="setRilevanza()"></ui-switch>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div *ngIf="richiestaModifica.rilevanza || f.rilevanza.value" class="pl-2">
                        <label>Rilevante dal</label>
                        <span *ngIf="f.rilevanza.value">{{f.rilevanza.value.toLocaleString()}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Note Pubbliche</label>
                        <textarea type="text" placeholder="Note Pubbliche" formControlName="notePubbliche"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.notePubbliche.errors }"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Note Private</label>
                        <textarea type="text" placeholder="Note Private" formControlName="notePrivate"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.notePrivate.errors }"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Motivazione</label>
                        <textarea type="text" placeholder="Motivazione" formControlName="motivazione"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.motivazione.errors }"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Note Indirizzo</label>
                        <textarea type="text" placeholder="Note" formControlName="noteIndirizzo"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.noteIndirizzo.errors }"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Zone emergenza</label>
                <input type="text" placeholder="Zona Emergenza" formControlName="zoneEmergenza" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.zoneEmergenza.errors }"/>
            </div>
            <hr>
            <div class="form-group">
                <button class="btn btn-primary float-right">Conferma
                    Modifica
                </button>
                <button class="btn btn-danger float-right mr-2" (click)="onAnnullaModifica()">Annulla</button>
            </div>
        </form>
    </div>
</div>
