<div class="row mt-2 px-0" style="height:750px">
    <div *ngIf="schedeContatto" class="col-12 scroll-y" style="height:700px">
        <ngb-tabset>
            <ngb-tab id="tab-tutte">
                <ng-template ngbTabTitle>
                    <div [ngbTooltip]="tipTutte">
                        <b>Tutte ({{contatoriSchedeContatto.totaleSchede.contatoreDaGestire}})</b>
                    </div>
                    <ng-template #tipTutte>
                        <div>Tutte: {{contatoriSchedeContatto.totaleSchede.contatoreTutte}}</div>
                        <div><b>Da gestire: {{contatoriSchedeContatto.totaleSchede.contatoreDaGestire}}</b></div>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <ul *ngIf="schedeContatto.length > 0" class="col-12 my-2 list-unstyled">
                            <app-scheda-contatto *ngFor="let scheda of schedeContatto"
                                                 [scheda]="scheda"
                                                 [idSchedaContattoHover]="codiceSchedaContattoHover"
                                                 (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                                 (dettaglioScheda)="dettaglioScheda($event)"
                                                 (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                                 (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
                            </app-scheda-contatto>
                        </ul>
                        <div *ngIf="schedeContatto.length <= 0"
                             class="col-12 mt-4">
                            <h6 class="text-center">Non ci sono Schede Contatto</h6>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-competenza">
                <ng-template ngbTabTitle>
                    <div [ngbTooltip]="tipCompetenza">
                        <i class="fa fa-square text-danger mr-2"></i>
                        <b>Competenza</b>
                    </div>
                    <ng-template #tipCompetenza>
                        <div>Tutte: {{contatoriSchedeContatto.competenzaSchede.contatoreTutte}}</div>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <ul *ngIf="schedeContattoCompetenza.length > 0" class="col-12 my-2">
                            <app-scheda-contatto *ngFor="let scheda of schedeContattoCompetenza"
                                                 [scheda]="scheda"
                                                 [idSchedaContattoHover]="codiceSchedaContattoHover"
                                                 (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                                 (dettaglioScheda)="dettaglioScheda($event)"
                                                 (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                                 (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
                            </app-scheda-contatto>
                        </ul>
                        <div *ngIf="schedeContattoCompetenza.length <= 0" class="col-12 mt-4">
                            <h6 class="text-center">Non ci sono Schede Contatto per Competenza</h6>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-differibile">
                <ng-template ngbTabTitle>
                    <div [ngbTooltip]="tipDifferibile">
                        <i class="fa fa-square text-secondary mr-2"></i>
                        <b>Differibile ({{contatoriSchedeContatto.differibileSchede.contatoreDaGestire}})</b>
                    </div>
                    <ng-template #tipDifferibile>
                        <div>Tutte: {{contatoriSchedeContatto.differibileSchede.contatoreTutte}}</div>
                        <div><b>Da gestire: {{contatoriSchedeContatto.differibileSchede.contatoreDaGestire}}</b></div>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <ul *ngIf="schedeContattoDifferibili.length > 0" class="col-12 my-2">
                            <app-scheda-contatto *ngFor="let scheda of schedeContattoDifferibili"
                                                 [scheda]="scheda"
                                                 [idSchedaContattoHover]="codiceSchedaContattoHover"
                                                 (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                                 (dettaglioScheda)="dettaglioScheda($event)"
                                                 (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                                 (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
                            </app-scheda-contatto>
                        </ul>
                        <div *ngIf="schedeContattoDifferibili.length <= 0" class="col-12 mt-4">
                            <h6 class="text-center">Non ci sono Schede Contatto Differibili</h6>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-conoscenza">
                <ng-template ngbTabTitle>
                    <div [ngbTooltip]="tipConoscenza">
                        <i class="fa fa-square text-warning mr-2"></i>
                        <b>Conoscenza</b>
                    </div>
                    <ng-template #tipConoscenza>
                        <div>Tutte: {{contatoriSchedeContatto.conoscenzaSchede.contatoreTutte}}</div>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <ul *ngIf="schedeContattoConoscenza.length > 0" class="col-12 my-2">
                            <app-scheda-contatto *ngFor="let scheda of schedeContattoConoscenza"
                                                 [scheda]="scheda"
                                                 [idSchedaContattoHover]="codiceSchedaContattoHover"
                                                 (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                                 (dettaglioScheda)="dettaglioScheda($event)"
                                                 (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                                 (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
                            </app-scheda-contatto>
                        </ul>
                        <div *ngIf="schedeContattoConoscenza.length <= 0" class="col-12 mt-4">
                            <h6 class="text-center">Non ci sono Schede Contatto per Conoscenza</h6>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="col-12 clearfix">
        <button class="btn btn-primary mt-2 float-left" (click)="tornaIndietro()">
            <i class="fa fa-arrow-left mr-2"></i>
            Torna Indietro
        </button>
        <div class="d-inline-block float-right" ngbDropdown #myDrop="ngbDropdown" placement="top">
            <button class="btn mr-2"
                    [ngClass]="{'btn-primary': rangeVisualizzazione !== RangeVisualizzazione.DaSempre, ' btn-outline-primary': rangeVisualizzazione === RangeVisualizzazione.DaSempre}"
                    id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
                <i class="fa fa-clock-o mr-1"></i>
                {{rangeVisualizzazione}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button *ngFor="let r of rangeSchedeContattoEnumValues"
                        [ngClass]="{'bg-primary text-light': r === rangeVisualizzazione}" (click)="setFiltroRange(r)"
                        ngbDropdownItem>{{r}}</button>
            </div>
        </div>
    </div>
</div>
