<div class="row mt-2 px-0" style="height:750px">
  <div *ngIf="schedeContatto" class="col-12 scroll-y" style="height:700px">
    <ngb-tabset>
      <ngb-tab id="tab-tutte">
        <ng-template ngbTabTitle>
          <b>Tutte ({{contatoriSchedeContatto.totaleSchede.contatoreDaGestire}})</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div *ngIf="schedeContatto.length > 0" class="col-12 my-2">
              <app-scheda-contatto *ngFor="let scheda of schedeContatto"
                                   [scheda]="scheda"
                                   [idSchedaContattoHover]="codiceSchedaContattoHover"
                                   (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                   (dettaglioScheda)="dettaglioScheda($event)"
                                   (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                   (setSchedaContattoLetta)="setSchedaContattoLetta(scheda.codiceScheda, $event)"
                                   (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
              </app-scheda-contatto>
            </div>
            <div *ngIf="schedeContatto.length <= 0"
                 class="col-12 mt-4">
              <h6 class="text-center">Non ci sono Schede Contatto</h6>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-competenza">
        <ng-template ngbTabTitle>
          <i class="fa fa-square text-danger mr-2"></i>
          <b>Competenza ({{contatoriSchedeContatto.competenzaSchede.contatoreDaGestire}})</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div *ngIf="schedeContattoCompetenza.length > 0" class="col-12 my-2">
              <app-scheda-contatto *ngFor="let scheda of schedeContattoCompetenza"
                                   [scheda]="scheda"
                                   [idSchedaContattoHover]="codiceSchedaContattoHover"
                                   (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                   (dettaglioScheda)="dettaglioScheda($event)"
                                   (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                   (setSchedaContattoLetta)="setSchedaContattoLetta(scheda.codiceScheda, $event)"
                                   (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
              </app-scheda-contatto>
            </div>
            <div *ngIf="schedeContattoCompetenza.length <= 0" class="col-12 mt-4">
              <h6 class="text-center">Non ci sono Schede Contatto per Competenza</h6>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-conoscenza">
        <ng-template ngbTabTitle>
          <i class="fa fa-square text-warning mr-2"></i>
          <b>Conoscenza ({{contatoriSchedeContatto.conoscenzaSchede.contatoreDaGestire}})</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div *ngIf="schedeContattoConoscenza.length > 0" class="col-12 my-2">
              <app-scheda-contatto *ngFor="let scheda of schedeContattoConoscenza"
                                   [scheda]="scheda"
                                   [idSchedaContattoHover]="codiceSchedaContattoHover"
                                   (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                   (dettaglioScheda)="dettaglioScheda($event)"
                                   (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                   (setSchedaContattoLetta)="setSchedaContattoLetta(scheda.codiceScheda, $event)"
                                   (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
              </app-scheda-contatto>
            </div>
            <div *ngIf="schedeContattoConoscenza.length <= 0" class="col-12 mt-4">
              <h6 class="text-center">Non ci sono Schede Contatto per Conoscenza</h6>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-differibile">
        <ng-template ngbTabTitle>
          <i class="fa fa-square text-secondary mr-2"></i>
          <b>Differibile ({{contatoriSchedeContatto.differibileSchede.contatoreDaGestire}})</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div *ngIf="schedeContattoDifferibili.length > 0" class="col-12 my-2">
              <app-scheda-contatto *ngFor="let scheda of schedeContattoDifferibili"
                                   [scheda]="scheda"
                                   [idSchedaContattoHover]="codiceSchedaContattoHover"
                                   (hoverOut)="hoverOut()" (hoverIn)="hoverIn($event)"
                                   (dettaglioScheda)="dettaglioScheda($event)"
                                   (setSchedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                   (setSchedaContattoLetta)="setSchedaContattoLetta(scheda.codiceScheda, $event)"
                                   (setSchedaContattoGestita)="setSchedaContattoGestita(scheda.codiceScheda, $event)">
              </app-scheda-contatto>
            </div>
            <div *ngIf="schedeContattoDifferibili.length <= 0" class="col-12 mt-4">
              <h6 class="text-center">Non ci sono Schede Contatto Differibili</h6>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-12">
    <button class="btn btn-primary mt-2" (click)="tornaIndietro()">
      <i class="fa fa-arrow-left mr-2"></i>
      Torna Indietro
    </button>
  </div>
</div>
