<div class="row"
     [class.mt-2]="!ricerca">
    <app-partial-loader *ngIf="loadingSchedeContatto$ | async"></app-partial-loader>
    <div class="col-12">
        <app-lista-schede-contatto [ricerca]="ricerca"
                                   [page]="page$ | async"
                                   [pageSize]="pageSize$ | async"
                                   [totalItems]="totalItems$ | async"
                                   [nightMode]="nightMode"
                                   [boxAttivi]="boxAttivi"
                                   [tabAttivo]="tabAttivo$ | async"
                                   [schedeContatto]="schedeContatto"
                                   [contatoriSchedeContatto]="contatoriSchedeContatto"
                                   [idVisualizzati]="idVisualizzati$ | async"
                                   [idCollapsed]="idCollapsed$ | async"
                                   [codiceSchedaContattoHover]="codiceSchedaContattoHover"
                                   [codiceSchedaContattoSelezionata]="codiceSchedaContattoSelezionata"
                                   [statoModalita]="statoModalita"
                                   [idSelezionatiMerge]="idSelezionatiMerge"
                                   [classificazioneMerge]="classificazioneMerge"
                                   [loading]="loading$ | async"
                                   [rangeVisualizzazione]="rangeVisualizzazione"
                                   (tabSelected)="onSelectTab($event)"
                                   (hoverIn)="onHoverIn($event)"
                                   (hoverOut)="onHoverOut()"
                                   (selezionata)="onSelezione($event)"
                                   (deselezionata)="onDeselezione()"
                                   (collapsed)="onCollapsed($event)"
                                   (editSchedaSelezionata)="onEditSchedaSelezionata($event)"
                                   (undoMergeSchedaContatto)="onUndoMergeSchedaContatto($event)"
                                   (dettaglioScheda)="onDettaglioScheda($event)"
                                   (checkboxError)="onCheckboxError()"
                                   (schedaContattoTelefonata)="setSchedaContattoTelefonata($event)"
                                   (schedaContattoGestita)="setSchedaContattoGestita($event.scheda, $event.value)"
                                   (indietro)="onTornaIndietro()"
                                   (toggleModalitaMerge)="onToggleModalitaMerge()"
                                   (saveMerge)="onSaveMerge()"
                                   (changeFiltroRange)="setFiltroRange($event)"
                                   (pageChange)="onPageChange($event)">
        </app-lista-schede-contatto>
    </div>
</div>
